[2020-06-04 09:46] Willyfrog commented on #1310
feels weird that you can't find that library, I can access the segment's CDN without much problem.
is there something intercepting the network call?

[2020-06-04 15:42] h-methlouthi opened #1314 "Popup to open downloaded files on mattermost desktop"
Hello,
 on several chat application that installed on the desktop we are offered to directly open the file downloaded from the application without the need to go to the download folder.
Why not add it to your famous application.
thank you in advance

[2020-06-04 17:32] derek-shnosh commented on #1310
Pihole was blocking that URL from home (via default Gravity list), the URL loads fine from a different environment. I'm unsure if the desktop app is intended to show a blank white screen if that is unreachable, but at least that explains the 404 error.

I will test from Linux in this environment shortly.

[2020-06-04 18:53] Willyfrog commented on #1310
No, since it was having ssl problems, it reached a different bug https://mattermost.atlassian.net/browse/MM-25364

[2020-06-04 22:03] derek-shnosh commented on #1310
Alright, I am not experiencing the blank white window issue while using Linux in this different network environment (without pihole).

I did check the dev tools > console and noticed that its not trying `cdn.segment.com` though, instead it's going to `cdn.rudderlabs.com` and getting HTTP/500 status.

![image](https://user-images.githubusercontent.com/21090563/83815028-43ac3d80-a674-11ea-8470-cf066

[2020-06-05 08:50] Willyfrog commented on #1310
we recently changed (v5.23) from segment to rudderlabs, so this server must be using the latest version.

once you don't have the certificate problem it doesn't try to navigate into the page (that wasn't html so it showed as blank)

[2020-06-05 08:50] #1310 closed

[2020-06-05 12:05] csankhala opened #1316 "Add 'Mark Read' option in right click of Channel to clear notification icon"

[2020-06-05 13:26] Willyfrog commented on #1316
hello @csankhala this repo holds issues/request that are not related to our webapp (meaning it is not reproducible on the browser, but only on the desktop app).
would you mind opening this one on the [server repo](https://github.com/mattermost/mattermost-server/issues) where it can be seen better?

Closing the issue, but let me know if you think it should be kept open

[2020-06-05 13:26] #1316 closed

[2020-06-05 15:51] knackjason commented on #1231
YES! Please do this. Not having the system titlebar has broken my normal workflow of having my chat windows visible on all my workspaces. Also, I have no desire to see the tabs when I only have a single server I'm connected to (which will always be the case for me). Give me that vertical space back!

[2020-06-05 16:27] ubhide commented on #1101
I have the same problem with the latest windows client (v4.4.2). Even MM's internal "help" url does not open due to the same error.

[2020-06-08 23:38] gildas commented on #27
This is an even bigger issue on a 4K 28" monitor...

[2020-06-09 07:17] JtheBAB opened #1320 "Desktop App allows to browse to other websites"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-06-09 22:57] fleXible commented on #874
@amyblais I'm sorry, but I'm not that deep into software development. I'm much more into System Engineering and Operations.

[2020-06-11 19:28] esethna commented on #1231
@knackjason @suwalski, if we hid the server tab bar if there was only one server connected, how would you expect to access the menu items (file, edit, view etc)? Would it be expected to reintroduce a menu bar row below the native OS window frame? If so, wouldn't that consume a similar amount of vertical real estate as the current tab bar?
![image](https://user-images.githubusercontent.com/14333569

[2020-06-12 09:54] mountainash opened #1324 "Notification Sound not working"
**Summary**
Alert notification sound/audio not heard.

**Environment**
- Operating System: macOS 10.15.5
- Mattermost Desktop App version: 4.4.0 & 4.4.2
- Mattermost Server version: 5.20.2

**Steps to reproduce**

1. Open Mattermost
1. Wait for someone/thing to send a message to a channel you don't have muted

**Expected behaviour**

I expect a "ping/alert" sound to play when a new message arrives

[2020-06-12 14:17] Jeffreyjelly commented on #1228
This same problem is happening with a left aligned taskbar in windows.

(two monitor setup)
Minimize on the non-main display and it reopens on the main monitor display (seems to have forgotten location) while being hidden behind the taskbar

Mattermost Version: 5.16.2
Database Schema Version: 5.16.0
Database: mysql

[2020-06-12 14:24] amyblais commented on #1228
Our supported server versions include v5.19 and later versions. Would you be open to upgrading to see if it helps with the issue? Also, are you currently on desktop app v4.4.1?

[2020-06-12 14:34] Jeffreyjelly commented on #1228
I'm on 4.4.0 for the desktop app, I'll try and see if I can push for some updates

[2020-06-12 14:35] amyblais commented on #1228
The latest version of the desktop app can be dowloaded here https://mattermost.com/download/#mattermostApps.

[2020-06-12 14:38] Jeffreyjelly commented on #1228
4.4.2 fixed it. Thanks.

[2020-06-12 19:04] suwalski commented on #1231
The tab-bar is still twice as tall as the menu bar that was there.

The only items in there of any use are "Settings" and "Sign in to another server". These are the kinds of things that normally go into the Application Menu:

https://developer.gnome.org/ApplicationMenu/

Chrome and Firefox, for example, have options in there to open a new window and switch windows. Mattermost has the option there

[2020-06-15 09:31] mountainash commented on #1324
This could be a macOS only issue as Linux loving colleges have reported that sound works for them.

[2020-06-16 09:23] csankhala commented on #1316
As you suggested, created in server repo: https://github.com/mattermost/mattermost-server/issues/14828

as you said, it is reproducible in Desktop app, don't we need the change in this repo?

[2020-06-16 13:20] bvhme opened #1325 "Mattermost takes up screen space even when hidden in Pop_os tiling"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-06-16 13:34] Willyfrog commented on #1325
it would probably be solved by https://github.com/mattermost/desktop/pull/1279

[2020-06-16 13:42] amyblais commented on #1324
Would you be able to gather any logs via https://docs.mattermost.com/install/desktop.html#reporting-issues?

[2020-06-16 13:43] Willyfrog commented on #1316
both repos are related, as the desktop app displays the webapp, if it is fixed there usually it is fixed on the desktop (if it appears on both)

[2020-06-16 13:49] ntwrkguru commented on #921
Can't say. I don't use MM any longer. Sorry.

[2020-06-17 11:41] cyruzin opened #1326 "Font missing in Fedora 32"
How can I fix thix issue? It happens when I try to save a file.

OS: Linux
Arch: x64
Distro: Fedora 32 (Wayland)
Kernel: 5.6.18-300.fc32.x86_64
Mettermost version: 4.4.2

![image](https://user-images.githubusercontent.com/2396581/84893543-cae6b180-b075-11ea-8143-213e49ce4e2b.png)

[2020-06-17 12:17] Willyfrog commented on #1326
Hello, thanks for the report

If you open a browser, does it show the same behavior?

If not, could you go to the menu, open the developer tools for current server and see if there is any error?

[2020-06-17 13:12] cyruzin commented on #1326
Hi, works fine on browser. And there is no error in the development tools. Maybe this is a Fedora issue.

[2020-06-17 14:14] Willyfrog commented on #1326
looking again at the screenshot, that doesn't seem to be mattermost's client, but rather gnome's file explorer (don't know it's exact name)

how does this relate with mattermost?

[2020-06-17 14:48] esethna commented on #1231
Appreciate the feedback @suwalski, we're investigating options

[2020-06-17 16:39] cyruzin commented on #1326
Indeed. I'm using Gnome v3.36.3. Perhaps this is an isolated issue, I'm going to close the issue and switch to browser.

[2020-06-17 16:39] #1326 closed

[2020-06-18 08:09] mountainash commented on #1324
Good idea. I've updated to latest 4.5.0.6629 release, but still no sound.
[code]
No issues there.

I'm starting to think it could be an OS X issue rather than Mattermost. Can anyone confirm that Mattermost Desktop (>4.0.0) on macOS is playing audible notifications for them?

[2020-06-18 12:34] mountainash commented on #1324
I'm going to close this. I've tested with "mattermost-desktop-4.3.2-mac" & "mattermost-desktop-4.2.3-mac" and still have the same issue - no sound on "Mac1". I've tested "4.2.3.79" & "4.5.0.6629" on another Mac ("Mac2") and the sound **is working**. So it's something wrong with the Mac1 - but it's a strange issue as other apps notification sounds work and all the settings Notifications System Pref

[2020-06-18 12:34] #1324 closed

[2020-06-19 21:46] bbodenmiller opened #1328 "Unable to debug "ERR_BAD_SSL_CLIENT_AUTH_CERT""
Trying to sign in to Mattermost Desktop using Smart Badge with certificate. I'm getting the following error message:

![image](https://user-images.githubusercontent.com/1192780/85181668-5c535080-b23b-11ea-8eaf-f495cbe7a544.png)

I've tried debugging via Developer tools for application wrapper and current server but neither return any useful details. Security sections are all showing items as valid

[2020-06-20 09:20] lkraav opened #1329 "Drop gconf2 and/or python-2.7 dependencies"
Hi

Many distros are phasing or have already phased out python-2.7.

It's possible that Mattermost desktop client might be the only package on a Linux system still pulling these outdated packages in.

Do we know what it would take to drop them?

[2020-06-22 16:53] bbodenmiller commented on #1328
@Willyfrog @lieut-data @devinbinnie @jgilliam17 this seems to have started around https://github.com/mattermost/desktop/pull/1169. Ideas?

[2020-06-22 17:02] Willyfrog commented on #1328
is this with the latest version?
that code is for handling certificate problems, do you see any error being raised or in the console logs?

[2020-06-23 00:36] jf-jflo opened #1330 "macOS: Not able to access microphone, video, screen recording permissions"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-06-23 09:05] bbodenmiller commented on #1328
@Willyfrog yes this is with 4.5.0. I do not see any further errors in Developer tools for application wrapper and current server. Should I be looking for logs somewhere else?

[2020-06-23 09:19] Willyfrog commented on #1328
if you look where the config is saved (depends on OS and install method), there might be some extra logs.

Do you get a dialog like the one shown here: https://github.com/mattermost/desktop/pull/1148#issuecomment-575390778

in the network tab, are there differences between the one on the desktop (current server) and the one on chrome?

[2020-06-23 11:55] MathiasMagnus opened #1331 "Cannot type ~ˇ^˘°˛`˙´ with Hungarian keyboard layout"
- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I have read [contributing guidelines](https://gi

[2020-06-23 14:15] Willyfrog commented on #1331
hello and thanks for the report!
first question that comes to mind is: does this happen only on the desktop app or also on the browser? have you tried with a more recent version of the app?

[2020-06-23 14:21] cyruzin opened #1332 "Pixelated Icon on Arch Linux KDE"
Hi, the Mattermost icon is pixelated on Arch Linux KDE. Is this a KDE issue?

![image](https://user-images.githubusercontent.com/2396581/85415330-970efe80-b543-11ea-8619-00285104893c.png)

![image](https://user-images.githubusercontent.com/2396581/85415377-a42bed80-b543-11ea-9e81-f97ebeb5a218.png)

[2020-06-23 21:33] bbodenmiller commented on #1328
@Willyfrog Yes...

![image](https://user-images.githubusercontent.com/1192780/85438197-9c1e7e80-b540-11ea-81f5-796a41e89432.png)

then get prompted for PIN

then get

![image](https://user-images.githubusercontent.com/1192780/85181668-5c535080-b23b-11ea-8eaf-f495cbe7a544.png)

App Wrapper dev tools show

![image](https://user-images.githubusercontent.com/1192780/85440503-fb7d8e00-b542-11ea-8e20-e2

[2020-06-24 07:37] MathiasMagnus commented on #1331
- This happens only in the desktop app. Doesn't happen in Firefox.
- I don't regularily search for updates. There was an [issue opened](https://github.com/mattermost/desktop/issues/492) about this which I've also mentioned it was closed too soon, as the accompanying [JIRA ticket](https://mattermost.atlassian.net/browse/MM-14067) has been on the backlog for more than a year now. Auto-updates is an

[2020-06-24 07:37] #1331 closed

[2020-06-24 08:53] Willyfrog commented on #1331
there are plans to deliver apps through stores, but we still have to work through some tickets to get there (like having the option on mac to use nsuserdefaults)

[2020-06-24 09:07] nazavode commented on #997
Same here, just switching to an empty channel makes Mattermost disappear from `top`. Mattermost desktop v4.5.0.6629 on macOS 10.15.5.

[2020-06-24 09:14] Willyfrog commented on #1328
A couple of things to try:
- disable antivirus/firewall and try to connect. if it does connect, you'll need to configure it to allow SSL connections with mattermost app.
- go to the APPDATA/Mattermost directory and remove anything that is not a `*.json` file. that way you'll keep your config but remove any cached data that might be corrupted.

[2020-06-24 14:00] amyblais commented on #1330
@rollitoJFLO Do you see the same issue on desktop v4.5?

[2020-06-24 14:29] jaycee commented on #962
This is still an issue.

[2020-06-24 19:15] rollitoJFLO commented on #1330
Hello, I wasn't even aware there was a new version. Downloaded and yes still same issue

[2020-06-24 19:23] amyblais commented on #1330
I was browsing through the issues in the Jitsi plugin repo and noticed that our QA team just opened an issue for this, so the team will be triaging the issue: https://github.com/mattermost/mattermost-plugin-jitsi/issues/120.

[2020-06-24 20:47] #1288 closed

[2020-06-25 06:30] bbodenmiller commented on #1328
@Willyfrog I will try the troubleshooting ideas in the morning. In the mean time worth noting it used to work but I'm not sure the exact version nor if it's strictly caused by a new version or something else . Also worth noting is that only smart badge login fails and I can still login using using username and password. Many people in my company have reported the same issue. The hidden URL isn't a

[2020-06-25 08:38] r3ggi commented on #1330
Hey,

In order to be able to request for camera & microphone permissions you have to sign the client with the following entitlements:
- https://developer.apple.com/documentation/bundleresources/entitlements/com_apple_security_device_camera
- https://developer.apple.com/documentation/bundleresources/entitlements/com_apple_security_device_microphone

BTW. Mattermost uses also an excessive entitlemen

[2020-06-25 12:56] dpanic commented on #1330
Probably duplicate of https://github.com/mattermost/desktop/issues/1288

Audio and Video permisions are solved in this PR https://github.com/mattermost/desktop/pull/1311

Origin permission must be obeyed here.

[2020-06-25 13:07] xnox commented on #958
@amyblais removing general font setting is fine, but we need to use our corporate font for our corporate deployment of mattermost.

Do custom themes allow providing / using webfonts, irrespective of what the default settings are? Cause ideally, together with corporate CSS we should be able to override the fonts to use too.

[2020-06-25 15:02] amyblais commented on #1328
FYI there is a similar report here https://github.com/mattermost/mattermost-server/issues/14863.

[2020-06-26 00:02] rollitoJFLO commented on #1330
happy to test any possible solutions as we're looking to replace our current chat system with mattermost

[2020-06-26 02:34] rollitoJFLO commented on #1330
i was able to clone, build, and test and video and microphone permissions now work. The only thing that still doesn't work is screen sharing

[2020-06-26 06:52] dpanic commented on #1330
Well that screen sharing thing I will handle later, but I have it in my todo list

[2020-06-26 19:50] rollitoJFLO commented on #1330
awesome, thank you for the help

[2020-06-27 08:26] globalqss commented on #980
Hello, I gave a second try to the desktop app in my ubuntu 20.04 and found a solution for this:

*

[2020-07-01 10:31] Willyfrog commented on #1329
i think python v2.7 is the minimum required version. it might be needed for node-gyp and problably electron-builder, but I don't think it is restricted to v2.7

[2020-07-01 10:36] lkraav commented on #1329
Could someone skilled enough here run an experiment setting the minimum to Python 3.6?

[2020-07-01 12:16] bhartvigsen opened #1333 "ERR_NAME_NOT_RESOLVED"
Mattermost OSX 4.5.0.6629

I recently switched my machine's DNS server. As a result I get this error in the Mattermost app on OSX Catalina:

ERR_NAME_NOT_RESOLVED

This is a typical DNS error and could easily be fixed in Chrome by purging the DNS cache. Unfortunately Mattermost does not surface the ability to do so in the application. Removing the chat server and re-adding it does nothing. Removin

[2020-07-01 13:05] Willyfrog commented on #1333
A couple of options:
1. menu -> view -> clear cache and reload
1. menu -> view -> developer tools (not sure what would be best if current server or application wrapper). from there application-> clear storage
1. go to ~/Library/Application Support/Mattermost and delete anything that is not a .json file

[2020-07-02 08:55] ojacquet opened #1334 "Multi-server (slash) commands"
During the day I'm logged in into multiple mattermost servers. This means that when I want to change my status I have to click on each server and set my status to the desired state. Doing this every start and end of a meeting is not fun.

It would be great if it was possible to change my status in multiple servers at once. Either via a slash command or a UI widget in the application wrapper.

Mayb

[2020-07-02 13:46] sonsofabraxas opened #1336 "MM with apache2 Proxy / Windows Client / Links to another path of subdomain not working"
- [x ] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x ] I have read [contributing guidelines](https:/

[2020-07-03 14:10] bvhme commented on #1325
This was solved 😃 thanks!

[2020-07-03 14:10] #1325 closed

[2020-07-04 02:14] starlightknight opened #1337 "Mattermost Desktop No Longer Remembers Last Download Location"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-07-04 07:16] M-ZubairAhmed commented on #1264
Let me take a stab at this one

[2020-07-04 07:43] M-ZubairAhmed commented on #1273
Can i please try this for a start?

[2020-07-04 21:32] Willyfrog commented on #1273
sure!

[2020-07-06 14:19] bhartvigsen commented on #1333
-- No effect

-- No effect

-- No effect. In fact I deleted the entire directory and reinstalled the application.

It appears that the app is storing some config elsewhere on the filesystem, or it's using a shared library or something that is caching this configuration.

[2020-07-06 17:18] M-ZubairAhmed commented on #1232
Let me work on this.

[2020-07-06 19:11] dontlaugh commented on #90
Let us quit the app, guys

[2020-07-07 00:19] bbodenmiller commented on #1328
@Willyfrog

Disabling this is prevented on my system.

Still not working

I uninstalled and starting installing versions going backwards until I found one that works. **Works in 4.3.2 but 4.4.0 does not work.**

Added in 4.4.0 but could be unrelated.

[2020-07-07 14:22] M-ZubairAhmed commented on #1232
this seems to be still open issue from electron itself https://github.com/electron/electron/issues/10955 , all the solutions mentioned in the issue just seems to be work around not solution itself.

[2020-07-08 10:59] hiejulia opened #1340 "Seen feature support"
Can we have new feature for knowing is your message has been seen.

[2020-07-08 11:06] svelle commented on #1340
Hi @hiejulia this feature is being discussed here: https://mattermost.uservoice.com/forums/306457-general/suggestions/12595398-read-receipts-implement-a-visual-indication-for-m

I'd suggest to move join the conversatin over there to make sure it's reaching the right channels.

[2020-07-08 11:06] #1340 closed

[2020-07-08 13:47] amyblais commented on #1337
Thanks, opened a ticket here: https://mattermost.atlassian.net/browse/MM-26788.

[2020-07-10 21:46] cguess commented on #1095
Running 5.24.0 on MacOS and seeing this in Firefox, Safari, Chrome and desktop app.

[2020-07-13 12:09] amyblais commented on #1095
What desktop app version are you on?

[2020-07-14 05:12] M-ZubairAhmed commented on #1070
@Nfinger do you still plan to work on this one ?

[2020-07-14 14:40] Willyfrog commented on #1333
i'm afraid there is a lot of ways that something like that can be cached, it should eventually solve itself, as the cache might expire. if it doesn't it is not being cached but being solved by a different provider, in any case electron apps doesn't try to do anything with the dns cache as far as I know, so it is most likely something related your machine.

as I mention, the only way I know to clea

[2020-07-14 20:59] bbodenmiller commented on #1328
@Willyfrog @amyblais this is causing issues for a significant number of users for us. How can we help get this prioritized? Note about this worked in 4.3.2 and stopped working in 4.4.0.

[2020-07-15 07:43] restena-sw opened #1346 "Impossible to login with SSO solution requiring FIDO2/WebAuthN two-factor auth"
I confirm (by marking "x" in the [ ] below: [x]):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-07-15 08:33] Willyfrog commented on #1346
recent versions of the desktop app should have webauthn support (seems it was added in chrome 67 as beta and seems to be in electron [since v4](https://github.com/electron/electron/issues/15404)).

I'm wondering if it might be related to https://mattermost.atlassian.net/browse/MM-26807

[2020-07-15 08:38] svelle commented on #1346
@restena-sw another thing that comes to mind, have you tried a non-flatpak release? just to be sure.

[2020-07-15 09:07] restena-sw commented on #1346
I have now tried 4.5.1 on macOS - no WebAuthN API triggered.
Also, on a Windows 10 VM, I used the windows build of 4.5.1. It does trigger the WebAuthN API call (the key still isn't actually activated, but I am ready to blame that on VMWare's USB port emulation).

[2020-07-15 09:29] restena-sw commented on #1346
Nice! I tried the "proper" tarball release 4.5.1 on Linux now. It does not display the browser popup, but: the authenticator key starts flashing, so it seemingly activated the 2FA process "silently". Tapping the key actually worked and I'm logged in.

[2020-07-15 19:24] amyblais commented on #1328
The dev team is working on investigating this,

[2020-07-15 22:40] Willyfrog commented on #1328
@bbodenmiller would you be open to run one of the versions found here: https://app.circleci.com/pipelines/github/mattermost/desktop/1329/workflows/388b9766-3df9-4ce5-a927-5dc651db4e6e/jobs/6845/artifacts
it has a small fix (which might help or not with your problem) and some extra logging around the process of authenticating via client certificate so it would be great to run it from a terminal (le

[2020-07-16 06:54] bbodenmiller commented on #1328
@amyblais thank you! @Willyfrog can do in ~12 hours or so.

How would I go about running it from terminal? I normally run setup exe so I assume you mean just unzip files and launch `Mattermost.exe` from command prompt so we can get logs to command prompt?

[2020-07-16 07:09] Willyfrog commented on #1328
Yes, also make sure you have exited any other mattermost app before running this one.

Bear in mind that the logs will contain sensitive information, so feel free to contact me on the community server to send them

[2020-07-16 07:48] 2019-05-10 opened #1348 "systray icon -> left click -> open immediatelly"
I confirm (by marking "x" in the [ ] below: [x]):

- [ x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [ x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
-

[2020-07-17 12:25] toreanderson commented on #765
Same issue on Fedora 32 with GNOME desktop environment.

Mattermost Destkop was installed using the GNOME software utility, which installs the following Flatpak under the hood:

[code]

`gnome-shell-extension-appindicator` is installed and appears to work fine, at least other apps such as Signal and Slack (both installed using Flatpak) do have their icons shown there.

There are a couple of Gtk er

[2020-07-17 13:58] PanderMusubi opened #1350 "Offer Debian/Ubuntu repository"
Please offer a dep repository foor Debian/Ubuntu. Also as PPA is welcome. Offering deb files in this way eases upgrading for users on Debian/Ubuntu.

[2020-07-22 20:14] lpsinger opened #1352 "Repeating modal dialog box if telemetry URL pdat.matterlytics.com is blocked"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-07-23 08:12] Willyfrog commented on #1352
hi there!
quick question: which desktop version are you using? i'm afraid you pasted the same version for the os and the desktop app.

if you click on "more details" and then "trust" does it still keep popping up?

regarding your notes on possible fixes:

telemetry is not managed by the desktop, but by the webapp. you might want to make that suggestion [here](https://github.com/mattermost/mattermo

[2020-07-23 08:13] Willyfrog commented on #1350
@metanerd do you know if this is something we can do easily? I haven't messed with PPAs

[2020-07-23 08:14] Willyfrog commented on #1348
i like this suggestion. I'll create a ticket for it, but most likely will be set as help wanted so someone from the community can help deliver :)

[2020-07-23 12:06] metanerd commented on #1350
I created a ticket for this: Sounds like a good idea! https://mattermost.atlassian.net/browse/DOPS-170

[2020-07-23 14:16] lpsinger commented on #1352
Oops! I corrected it. It's 4.5.2.

Well, it's not doing it anymore. Maybe my employer finally unblocked it (without confirming).

[2020-07-23 16:12] lpsinger commented on #1352
Yes, it does. (Besides, I don't *really* trust the third party that is doing the filtering.)

So, it turns out that what had really happened was that the person who maintains our on-premise Mattermost deployment (@skymoo) turned off analytics. I asked him to turn it back on temporarily, and I am still seeing the dialog boxes.

I'd really rather not trust this certificate.

[2020-07-23 16:52] Willyfrog commented on #1352
so, if I understood you right, you want exactly the opposite behaviour to what's implemented, a "never trust" button so it doesn't ask you again.

thinking through it, it makes some sense as we are not a browser and we are not trying to scare people off some page, it is within mattermost, so it makes sense to not load something you don't trust but not to be bugged by that again since it might be a

[2020-07-24 10:01] Willyfrog commented on #1080
i can't repro this neither in 20.04 nor 18.04
alt+shift isn't a valid shortcut and can't be set but it doesn't trigger the behaviour described, only by pressing an releasing alt does focus go to three dot menu.

closing the issue, but feel free to reopen if you have any more details.

[2020-07-24 11:32] thanosk commented on #1080
Steps to reproduce:
1. fresh (or not) install of vanilla gnome ubuntu, choose 2 or more keyboard layouts (i.e. English and Greek or Russian, etc.)
2. install and launch gnome-tweaks
3. in gnome-tweaks ui: Keyboard & Mouse -> Additional Layout Options -> Switching to another layout -> enable Alt + Shift
4. launch mattermost-desktop > 4.2.3 and press Alt + Shift to change keyboard layout.

The short

[2020-07-24 20:37] jbkatz opened #1353 "Mattermost 4.5.1 Does Not Start on Windows Startup"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-07-27 14:04] Willyfrog commented on #1328
i've created this PR which doesn't show the certificate request if there is only one valid certificate: https://github.com/mattermost/desktop/pull/1354

can you check if this one works? you can find a build in the artifacts section of circleci's build: https://app.circleci.com/jobs/github/mattermost/desktop/6908

[2020-07-27 14:06] Willyfrog commented on #1353
have you checked if this still happens on [v.4.5.2](https://github.com/mattermost/desktop/releases/tag/v4.5.2)? we added a small fix for linux that might also affect your case.

Also, have you checked the tray? when autostarting, it goes directly to the tray whithout popping a window, so that might be confusing if you expect the window to show.

[2020-07-27 14:07] #1346 closed

[2020-07-27 14:11] Willyfrog commented on #1336
there is a future trusted resources feature for next version that would help alleviate this, as it is exactly the case you are describing. But in order for it to work you would have to add the path to buildconfig.js and recompile the sources.

you can find the future documentation about it in this other PR: https://github.com/mattermost/docs/pull/3720/files

[2020-07-27 21:26] jbkatz commented on #1353
It does look like it's in the tray.  Previously, it would show up as a regular entry on the taskbar, so it was obvious.  I was pointed to a registry edit here: Computer\HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Run.  By removing the "--hidden" the MM window now opens as normal with a regular taskbar entry.  Since the setting in MM says that MM will start up minimized, I do think

[2020-07-27 22:39] bbodenmiller commented on #1353
I agree this is confusing. It definitely used to open in taskbar when this option was checked.

[2020-07-28 08:34] bbodenmiller commented on #1328
@Willyfrog that test build works! Verified on two machines. Just to make sure nothing else changed I also verified that https://app.circleci.com/pipelines/github/mattermost/desktop/1329/workflows/388b9766-3df9-4ce5-a927-5dc651db4e6e/jobs/6845/artifacts still does not work on those machines as well. So it seems something must be flawed in the current `handleSelectCertificate` logic? 🤔 Also I think

[2020-07-28 09:36] Willyfrog commented on #1328
the problem is that if it's asking you the pin number for the certificate, there isn't anything else left for us to do. It is already being managed by electron or the OS so I'm not aware of anything we can do to prevent that.

i'll reconvert the PR to be a proper one so it is available for the next version :)

[2020-07-28 14:06] jbkatz commented on #1353
I just installed 4.5.2 and the issue remains.  If you manually removed "--hidden" from the registry entry, that remains until the "Start app on login" setting is cycled.  Any time that setting is checked in MM Settings, the registry key is updated to contain --hidden, which results in MM being present as a small icon on the tray, but not present on the Taskbar itself.

[2020-07-28 16:13] esethna commented on #1348
@2019-05-10 can you clarify on what operating system you are referring to? Screenshot would help too.

On Windows this is already the observed behavior and on Mac it is native behaviour to open the option dropdown when clicking the icon at the top of the screen.

[2020-07-28 18:20] michaelswope opened #1355 "Icon Badge and Highlight missing from Private Channels - Mac - 4.5.2"
I confirm (by marking "x" in the [ ] below: [x]):

- [ ] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [ ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-07-29 08:16] Willyfrog commented on #1355
does this only happen on private channels (no DM/GM/public)? does the post contain a mention? what are the settings for notifications on that channel?

[2020-07-29 08:37] 2019-05-10 commented on #1348
Linux/Plasma 5.17.5
mattermost-desktop 4.5.2

This I see both with left and right click:

![Screenshot_20200729_102937](https://user-images.githubusercontent.com/50481865/88776870-d3f39400-d186-11ea-8199-d3fcb689aec7.png)

If it helps: it's the same with Slack's desktop client, which is AFAIK based on Electron as well.

[2020-07-29 08:39] 2019-05-10 commented on #1074
Would it be possible to plug in KeePassXC or such?

[2020-07-29 08:50] 2019-05-10 commented on #1348
Seems to be a known issue, related to libappindicator, and if I understand correctly, fixed in Electron 8:

[2020-07-29 09:47] padeken commented on #997
Hi, I just noticed that the corresponding jira ticket https://mattermost.atlassian.net/browse/MM-16626 was closed. I know this is difficult to trace down and debug, but shouldn't the issue be kept open?

[2020-07-29 12:19] amyblais commented on #997
Thanks, re-opened,

[2020-07-29 13:47] jbkatz commented on #1353
Additional follow-up: I followed these instructions (https://support.microsoft.com/en-us/help/4558286/windows-10-add-an-app-to-run-automatically-at-startup) with 4.5.2, and even with the registry entry set to --hidden, MM did open on startup as desired, the same way it opened when I removed --hidden manually.  The MM window isn't minimized on startup, but that was never a problem in my eyes; MM op

[2020-07-30 08:50] #1328 closed

[2020-07-30 08:51] #1273 closed

[2020-07-30 10:34] bbodenmiller commented on #1328
@Willyfrog Not sure I'm following... it doesn't ask for the pin until **after a certificate is selected**. I'd think that when certificate is selected it should kick of normal process that happens when there is only 1 certificate but it seems like somehow it's being treated differently?

[2020-07-30 10:58] Willyfrog commented on #1328
exactly, and it shouldn't. Once the certificate is selected, we ask electron to take care of it, so it asks you the pin number.

[2020-07-30 14:38] Willyfrog commented on #1074
I'm afraid I don't use keepassxc, so I'm not sure what would be needed to integrate, but if you know how it works, a PR for such a feature would be great :)

[2020-07-30 22:40] skewty commented on #90
@cookiengineer has even done a PR for the fix.  Is the PR not acceptable?  What is holding this up?

[2020-07-31 12:35] cookiengineer commented on #90
@skewty The current status is that I'm building my own fork because nobody answered on the UI/UX implications for this change and I cannot answer these questions, as I am not affiliated with mattermost anyhow.

The settings UI is currently differently rendered on each platform whereas Windows doesn't even have the option, and therefore is behaving wrong in my opinion; and MacOS has this setting bu

[2020-07-31 15:05] dontlaugh commented on #90
Thanks for your work so far on this. I'm not affiliated with Mattermost, either. But, as a GNOME desktop user, this is a major quality of life issue for me.

[2020-07-31 17:48] esethna commented on #1348
Cool, we're working on the upgrade to electron 8 right now. https://mattermost.atlassian.net/browse/MM-25765

[2020-07-31 17:48] #1348 closed

[2020-07-31 22:08] amyblais commented on #1353
I can reproduce it. @Willyfrog Is there a ticket similar to this open or do I create a ticket for this?

[2020-07-31 22:10] Willyfrog commented on #1353
@amyblais I created this one https://mattermost.atlassian.net/browse/MM-27332 but feel free to add any extra details

[2020-08-03 09:49] infacto commented on #909
Yes this is annoying and still present when hovering the time stamp. A few solutions:

- Remove the link from the timestamp. This is the permalink for the post, which can also be accessed via the "More" menu (...).

- Navigate using JavaScript to hide the url and / or wrap it in a button-tag.

- Add more space at the bottom for this app to prevent hiding the state like "user is typing..."

- Hide

[2020-08-03 09:52] riggasconi opened #1356 "Easier change of focus for threads"
Currently the right section of the app (thread) changes only if I click on "reply". It'd be good if it changed whenever I clicked on any message, be that part of a thread or a single one (it'd be coupled in both the mid and right sections).

[2020-08-03 09:55] Willyfrog commented on #1356
hello there! thanks for taking the time to suggest this feature, but that would be related to the webapp repo. Can you please reopen it [here](https://github.com/mattermost/mattermost-server/issues) (webapp shares issues with the server repo)
another option would be to add it to our [uservoice list of suggested features](https://mattermost.uservoice.com/forums/306457-general)

I'm closing the issu

[2020-08-03 09:55] #1356 closed

[2020-08-03 10:02] riggasconi opened #1357 "Automatically join new public channels"
By default, new public channels are joined by all members. At channel creation, channel creator can choose not to.

[2020-08-03 10:04] Willyfrog commented on #1357
hello there! thanks for taking the time to suggest this feature, but that would be related to the webapp repo. Can you please reopen it [here](https://github.com/mattermost/mattermost-server/issues) (webapp shares issues with the server repo)
another option would be to add it to our [uservoice list of suggested features](https://mattermost.uservoice.com/forums/306457-general)

I'm closing the issu

[2020-08-03 10:04] #1357 closed

[2020-08-04 13:54] philip-n commented on #1314
This is what I just came here to post as well. After downloading a file to a selected location, a possibility to directly open the file at that location would be highly appreciated.

[2020-08-05 19:08] esethna commented on #909
Thanks @infacto, requeued the ticket for discussion

[2020-08-08 09:59] ktpx opened #1359 "Window bar follow theme color (dark theme)"
The top window/tab bar is always glaring white, regardless of selected theme.  This is very tough for photosensitive eyes, when using dark themes.  I do not see any way to customize that in the css settings.

Thanks,

[2020-08-08 14:43] ktpx commented on #1359
Nevermind, found the setting under the dot menu..  Thanks.

[2020-08-08 14:43] #1359 closed

[2020-08-09 08:03] ageekhere opened #1360 "Auto check/download updates"
Is there an auto updater for mattermost desktop app in the works?

[2020-08-09 09:23] Willyfrog commented on #1360
it is in the roadmap, but not currently being worked on. Would you like to help in that regard?

Closing as it is not an issue but a question, feel free to reopen with more details if there is an issue

[2020-08-09 09:23] #1360 closed

[2020-08-09 18:55] 9cat commented on #1090
still not working, any one solved the problem?

[2020-08-10 08:49] ageekhere commented on #1360
how about using this https://github.com/iffy/electron-autoupdate-example

[2020-08-10 09:50] Willyfrog commented on #1360
yes, that's partially the idea, but it also requires having user configuration, check if it works with installers not based on squirrel (not all our options do), etc.

[2020-08-10 22:04] bbodenmiller commented on #1328
@Willyfrog any ideas when https://github.com/mattermost/desktop/pull/1354 might be able to be released?

[2020-08-11 07:25] JinZhuXing commented on #1220
Thanks.
This issue was fixed.

[2020-08-11 07:25] #1220 closed

[2020-08-13 08:20] cryoff commented on #980
@globalqss thank you for the hint!
However on my Ubuntu 18.04 +XFCE after taking the same actions I have tray icon and taskbar icon. Still have no idea how to hide it from taskbar

[2020-08-13 12:33] andrsharov opened #1361 "Unblock Downloaded Files from Mattermost Desktop Application on Windows 10"
Hello!

I have some problem with Mattermost desktop application on Windows 10

OS: Windows 10 Pro x64 ver 2004 buid 18361.1016
Mattermost Application: 4.5.2

On Windows 10 all downloaded from Internet files classifies Attachment Manager by 3 types: High Risk , Moderate Risk, Low Risk .
To disables this feature I use registry tweak from aticle https://www.tenforums.com/tutorials/85418-disable-downl

[2020-08-14 02:02] Regul777 commented on #997
It's funny, but I think I found the problem of idle cpu using. It's the CSS animation of the ".loading-screen .loading__content .round" elements. It's a spinner animation with 3 circles at the top of a channel (used for the chat infinity scroll). It is an infinity animation at an invisible area, but browser render it all the time. It's easy to check. After a loading any chat with a big list of mes

[2020-08-14 06:13] frerich commented on #997
I can confirm that setting `display: none` on the element matching the selector `div.loading-screen` greatly helps with the CPU usage of the Mattermost 4.5.0.6629 client on macOS.

[2020-08-14 08:21] lkraav commented on #997
@Regul777 you deserve an award of some kind :rocket: :partying_face:

I can confirm @frerich experience: CPU use *instantly* drops to 0.

[2020-08-14 08:22] lkraav commented on #997
I'm not sure when 4.6.0 is planned to be released, but if this hotfix was patched up into 4.5.2 asap, I think nature would sincerely appreciate it.

[2020-08-17 09:07] Willyfrog commented on #1328
I'm afraid I dont have a timeline for that, my guess is september, but that's quite broad

[2020-08-17 10:08] Willyfrog commented on #997
I've created a [jira bug](https://mattermost.atlassian.net/browse/MM-27889) after some investigations. I can confirm this behaviour both in desktop and firefox.

Please, be aware that when this change is merged it will require a server upgrade, not a desktop upgrade as it is not related to desktop source code.

Also, once it is merged I'll keep the issue opened, as I'm sure there will be other fac

[2020-08-17 16:40] skewty commented on #1231
Have you considered moving / merging them into the hamburger menu?  Or have both menu buttons side-by-side if somebody is still of the belief that they both make good sense.

[2020-08-17 16:48] suwalski commented on #1231
I think the issue is that the blue-area hamburger menu is rendered in HTML from the server, while the tabs are the local electron application.

That said, it should be possible for electron to send a signal through Javascript, making it possible to open the menu from a native widget.

[2020-08-18 16:35] esethna commented on #1070
@M-ZubairAhmed I think this one is all yours if you want to pick it up?

[2020-08-20 03:17] mhoffmeyerDC commented on #765
Might be related to [this issue](https://github.com/electron/electron/issues/10427) in Electron.

I was able to get my icons for this and others working with the [KStatusNotifierItem/AppIndicator Support ](https://extensions.gnome.org/extension/615/appindicator-support/) extension.

[2020-08-20 07:49] lkraav commented on #997
While we're on this subject, I've noticed opening thread pane also increases continous CPU churn on one of the app threads, at least on Linux. It's not as bad as our main CSS animation guest star here, only about 1+% or so, but still - maybe there's something similar going on? Can anyone else confirm this happening?

[2020-08-20 10:49] cTxplorer commented on #1122
This is what I was exactly searching for. Is there any update on this?

My notification drawer is always flooded with 'already read' mattermost messages

I feel that it will be a great user experience if those notifications get cleared once I read the message (even without clicking on the notification)

--------
Mattermost Version: 5.24.0
maxOs Catalina: 10.15.16

[2020-08-20 11:08] henricook commented on #1320
The proposed fix further compounds Mattermost's poor support for IAP and other secure-border offerings

https://github.com/mattermost/desktop/pull/1321#issuecomment-677530942

[2020-08-20 16:15] aarowman commented on #1328
Also very interested in this fix - is there a way to find out the release time more accurately? Or even make sure it's soon?

[2020-08-20 17:05] diego-caceres commented on #1330
Hi everyone, just a question, I see that a PR has been merged to fix this, is that supposed to be in the latest release (4.5.2)?
I have that version and I still have the issue that the Mattermost Mac App didn't request for camera or microphone permission.

Thanks!

[2020-08-20 23:20] Willyfrog commented on #1328
we created a dot release containing this PR. Would you mind to give it a spin and see if everything works as expected? You can find the RC in the [release page](https://github.com/mattermost/desktop/releases/tag/v4.5.3-rc1)

[2020-08-25 11:52] dpanic commented on #1330
Product manager set milestone to 4.6.0. I don't know when that will happen.

https://github.com/mattermost/desktop/pull/1311

[2020-08-25 12:57] amyblais commented on #1328
Final release is here: https://github.com/mattermost/desktop/releases/tag/v4.5.3.

[2020-08-26 06:42] AiTranXuan opened #1363 "Build .dmg file for macOS error"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-08-26 11:09] Willyfrog commented on #1363
seems like it is rejecting signing the package, but I'm afraid it doesn't give much info on that.
please make sure you follow the steps and requirements from [electron builder's guide](https://www.electron.build/code-signing)

[2020-08-26 15:20] NgoHuy opened #1364 "Upgrade electron to 9 or later"
Hi team,
I have noticed that electron 7 is end of support now. And on Archlinux I built with electron 9 fine, but when I clicked any menu it crashed with message
[code]
We should move to electron 8 or 9 but electron 8 will be end of support soon.

[2020-08-26 15:25] Willyfrog commented on #1364
Our policy is to be one version behind the current one, to prevent running into new bugs and have a more stable experience.
there are several breaking changes to be considered between 7 and 9, next release will most likely be using 9 (we are currently working in a major rework of the app and plan is to ship with this new version)
you can take a look at electron's [breaking changes](https://www.ele

[2020-08-26 15:25] #1364 closed

[2020-08-27 05:48] bozicm commented on #1330
Camera doesn't work in my case too:

    Operating System: Fedora 32
    Mattermost Desktop App version: 4.5.2
    Mattermost  Server version: 5.24.2 (came with GitLab)

[2020-08-27 08:31] Willyfrog commented on #1363
Since you are also getting help on[community server](https://community.mattermost.com/core/pl/1ir3iu9fqtf8x8gzbqzoqnit3c) un closing this issue to focalize efforts

[2020-08-27 08:31] #1363 closed

[2020-08-28 20:16] mcarthur-cpt opened #1365 "Support ARM-based macOS"
As ARM-based macOS devices are the future of Apple devices, there needs to worked on a version for ARM-based Apple devices.

[2020-08-28 21:09] Willyfrog commented on #1365
it is [supported by electron](https://github.com/electron/electron/issues/24306) already. Are you aware of any issues or incompatibilities?

I'm closing this for the time being, but feel free to reopen with any more details you have that need to be worked on.

[2020-08-28 21:09] #1365 closed

[2020-08-29 07:04] bbodenmiller opened #1366 "Duplicate program entries and installations after upgrade"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-08-31 17:26] laxmy commented on #1264
Hi, I am interested to take this up! Can I take a look?

[2020-09-02 05:31] laxmy commented on #1259
hi hanzei,
I am interested in this one. Can I take a look?

[2020-09-02 08:41] gggomg commented on #1090
Same for me still not working.

[2020-09-03 11:03] ingomohr opened #1367 "Links don't Work in Windows Desktop Client 4.5.3"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-09-03 11:26] Willyfrog commented on #1367
hi! thanks for the report, when you say that it works on 4.5.2, is it the same link?

is the link behind some sort of authentication or requires accepting a certificate?

[2020-09-03 21:44] ingomohr commented on #1367
Hi! Thx for the quick reply!
Sorry, I should've added those info.
Yes, the link was the same, and it was a link to a Jira issue - in both cases I was already logged in to Jira on the browser (Chrome (default browser)). A link to the Jira server typically works w/o authentification or certificates, as well: if you're not logged in, the link will bring you to a page where you can log in / or an erro

[2020-09-03 21:46] ingomohr commented on #1367
It was not only that one link. Other links (w/o authentification or certificates) didn't work before, either.

[2020-09-04 06:27] KlavsKlavsen commented on #569
this is still a HUGE problem - and I have to remove the mattermost server (of several I am connected to with my mattermost-desktop app) - to even be able to actually use mattermost again :(

[2020-09-04 06:29] KlavsKlavsen commented on #569
I see the backend issue has been closed ? I am running snap: mattermost-desktop       4.5.3 - which is the latest afaik ?

[2020-09-04 06:31] KlavsKlavsen commented on #569
I can choose "trust insecure connection" - but I can't say "stop connecting" or disregard the message (if I f.ex. wanted to wait until issue was fixed to use that server again.. And how do I remove this "trust" that I now have to manually remove so the SSL security layer actually works again?

[2020-09-04 10:09] Willyfrog commented on #569
Hello @KlavsKlavsen
Thanks for reporting.

To remove trust, you'll have to go to the folder where configuration is stored. There should be a file called trustedcertificates.json (or trusted connections I can't check my machine right now) and remove the entry. It is a bit cumbersome, but for the time being is the only way.

Regarding your issue,are you getting a ton of messages when the server is t

[2020-09-04 10:17] KlavsKlavsen commented on #569
Its when its set to NOT ignore certificate warnings - that it keeps popping up the same error - so I can't use mattermost-desktop app AT ALL - on any of the servers connected.
If I choose "more details"-> trust, then it goes away - but thats a very very bad solution - I'd rather just wait until cert is fixed :)

[2020-09-06 12:18] toreanderson commented on #765
I have found that this issue is specific to the Flatpak distribution, and that it can be worked around by simply reloading the AppIndicator GNOME Shell extension while Mattermost Desktop is running. Issue filed at flathub/com.mattermost.Desktop#15.

[2020-09-07 06:33] sjeeva opened #1368 "Copy and Paste results in multiple Paste"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-09-07 07:45] le-yams commented on #1153
I still have the same issue with 4.5.2.
__Environment__
* Operating System: Windows 10 Version 1809
* Mattermost Desktop App version: 4.5.2
* Mattermost Server version: 5.23.1

[2020-09-07 08:25] Willyfrog commented on #569
So, what you are asking for is a way to ignore an invalid certificate without connecting to it, is that right? So you would have the server configured on your settings, but no connection is made to it and it doesn't ask to trust it.

[2020-09-07 08:39] Willyfrog commented on #1367
would you share that link with me through a private DM in the community server? so I can see if there is anything special about it?

i've retested with our own jira and I don't seem to have any problem opening

[2020-09-07 08:42] KlavsKlavsen commented on #569
Well.. f.ex. an option "delay connection for 30 min" - or "disable automatic reconnect" - which would make mattermost-desktop stop trying to connect (in an inifinity loop) - and not adding "trust insecure cert" in settings :)
If one choose "disable automatic reconnect" - if I choose reload - it could then connect and complain as usual - if issue isn't fixed.

[2020-09-07 08:42] Willyfrog commented on #1368
can you share your server version to see if there is a problem there? I've been trying to copy and paste several images but couldn't find anything that pasted multiple times.

[2020-09-07 09:50] holle commented on #986
The community at openSUSE created RPMs for:

* openSuSE
* Fedora 32
* CentOS/RHEL 8

available at: https://software.opensuse.org/package/mattermost-desktop (you may have to follow the "manual" instructions)

[2020-09-07 11:05] DanielWeigl commented on #997
Hacky fix in the meantime until the proper fix is released: on the server, search for the `client/root.html` file and remove the three lines
[code]
( https://github.com/mattermost/mattermost-webapp/blob/cf5326bf5df6766d2a41cdd5ac718ddda98c6363/root.html#L73-L75 )

and "Clear Cache and reload" on the clients.

It seems to tame the CPU-demand of the mattermost electron app on linux quite a bit (it s

[2020-09-07 19:56] ingomohr commented on #1367
Thank you @Willyfrog for getting back. I don't have the link anymore - but it was just a typical Jira issue link.
If you cannot reproduce it, maybe the problem was not on the Mattermost client but on the browser.

Meanwhile (i.e. today), I also had problems with Lotus Notes not opening links. And that problem could be fixed by simply restarting the browser.

I suggest to drop this issue then. You

[2020-09-08 09:01] Willyfrog commented on #1367
Sure! feel free to reopen if you find the issue again :D

[2020-09-08 09:01] #1367 closed

[2020-09-08 13:34] IzeQube opened #1370 "No Toast Messages with Windows 10 when used portable"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-09-08 13:37] Willyfrog commented on #1370
the way windows notifications work right now requires an installation path to match AppId, I don't think a portable version is going to make it work, unless there are any other ways to generate notifications in windows.

[2020-09-08 13:40] IzeQube commented on #1370
Any way to create the needed entries manually without the installer? If you know where the portable exe is located of course...

[2020-09-08 13:47] Willyfrog commented on #1370
you can find info here: https://www.electronjs.org/docs/tutorial/notifications#windows

closing the issue, as we are not currently supporting portable apps for the moment. Please reopen if you have any more info or think it is relevant.

[2020-09-08 13:47] #1370 closed

[2020-09-09 17:01] nmschulte opened #1371 "PIV / CAC / smart card authentication not working on GNU/Linux"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-09-09 17:30] Willyfrog commented on #1371
Are you able to use PIV card with the browser?
If it works, can you test with the previous version?

[2020-09-09 17:41] nmschulte commented on #1371
I am able to use PIV card with the web client, in both Chromium and Firefox, yes.

I tested with v4.5.3, v4.5.2, v4.5.1, v4.5.0, and v4.4.2; PIV card does not appear to work with any of these versions on my system.

[2020-09-10 13:59] gitfizicist opened #1372 "Notifications for currently active channel"
I keep missing messages in my currently active channel as the window is minimized or behind another window.
Please have notifications for these messages too!

Suggest features in the Mattermost feature idea forum so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html).

[https://mattermost.uservoice.com](https://mattermost.use

[2020-09-10 14:06] Willyfrog commented on #1372
can you provide info on the environment?
os, app version, server version, what kind of channel are we talking (public, private, GM, DM), how are the nnotification settings of that channel configured?

[2020-09-10 14:09] gitfizicist commented on #1372
Hi Willyfrog,
this is Windows 10, Matermost 5.24.2. This is setup for my work with Gitlab signin, so I think it is a public channel in a private session?
I have notifications configured for desktop notifications, which pop up when I get notifications for any channel other than the active channel.

[2020-09-10 14:26] Willyfrog commented on #1372
sorry, I have more questions:
do messages contain at-mentions (like `@gitfizicist`)?
which desktop app version are you using?
does this happen also with the browser?

[2020-09-10 17:06] St333p commented on #997
I'm having a similar issue with the Linux client installed from `snap` (version 4.5.3). However, my CPU load is way higher than in the comments I see above, for me it just eats a whole CPU all the time, no matter whether the window is minimized or not.

I'm not in control of the server, so I have no clue which version they are running or their setup.

[2020-09-10 19:50] esethna commented on #1372
@gitfizicist are you using our [latest desktop version](https://mattermost.com/download/#mattermostApps)? Can you attempt to upgrade as see if your issue persists? We recently fixed this: https://mattermost.atlassian.net/browse/MM-23215

[2020-09-11 07:41] sjeeva commented on #1368
I have a strong feeling that it is an UI bug. The Server Current version is 5.23.0

[2020-09-11 08:09] gitfizicist commented on #1372
Thank you esethna that sorted it!

[2020-09-11 08:09] #1372 closed

[2020-09-11 10:04] andrsharov commented on #765
On Xubuntu 20.04 I have same problem.
[code]
[code]
Install package **libappindicator-dev** was resolved the problem.
[code]
@hozblok , Thanks

[2020-09-11 13:43] Willyfrog commented on #1368
i've tested with a windows 10, server version 5.23 but couldn't reproduce the issue.

Does this happen if you use the browser? Any hints on what can I do to repro the issue?

[2020-09-13 15:06] rwst commented on #997
Resolved for me with version 5.26.1. I had >20% CPU over background in two processes, as soon as I switched to the tab in Chrome / OpenSuSE.

Thanks!

[2020-09-13 20:10] Willyfrog commented on #997
Can you try disabling GPU in the mattermost config and see if that helps?
The snap installer uses a different path and I'm not sure if it's able to access the same libs as a regular application installed through .deb or others.

If you click on the menu there should be an option called 'about mattermost' which will give you this info

Any other issue I'd have asked to fill a separate one, but in t

[2020-09-14 03:15] dharapl commented on #997
You should know by  now chrome uses most of RAM

On Sun, Sep 13, 2020, 17:06 Ralf Stephan <notifications@github.com> wrote:

[2020-09-16 03:34] jfrerich commented on #1144
@saturninoabril, I see that a PR was started for this ticket and then closed.  I'm wondering if we can finish the PR or perhaps open this issue as `Up For Grabs` and reference the PR authors ticket.  What do you think?

[2020-09-17 05:20] sjeeva commented on #1368
Perhaps it is very specific to my environment, wherein the control keys are way too sensitive. In web browser I don't see any such behavior.

Again, this happens only with Control + Keys... I can consistently reproduce ctrl + v and ctrl + z repeating itself. I can show it on a video call if needed...

[2020-09-17 18:29] amyblais commented on #1368
@sjeeva Are you able to reproduce this on our [community server](https://community.mattermost.com/)? It is currently on the latest release v5.27.

[2020-09-18 08:15] Willyfrog commented on #1368
if you could record it, that would be useful

[2020-09-20 20:52] palikacska commented on #958
Shame on you @amyblais for removing customization options. This is the very wrong direction you should not be heading.

[2020-09-22 16:13] ahmaddanialmohd commented on #1355
Hello, @michaelswope

I will start by checking the settings of the app first by clicking on the following:

<img width="223" alt="Screenshot 2020-09-23 at 00 11 39" src="https://user-images.githubusercontent.com/49461314/93908616-70728680-fd31-11ea-9712-a91d0757c279.png">

You should then be able to see the following:

<img width="1071" alt="Screenshot 2020-09-23 at 00 10 58" src="https://user-ima

[2020-09-23 20:23] esethna commented on #1264
@laxmy, apologies for the delay. Absolutely you can take this! Let us know if you're still interested and I'll assign this to you and remove the "Up for Grabs" label

[2020-09-24 02:18] laxmy commented on #1264
@esethna Thanks. I would like to give  it a go. Please assign it to me.

[2020-09-24 02:20] esethna commented on #1264
@laxmy you got it! Let me know if you have any questions. You can also ask our desktop devs if you have any questions at https://community-release.mattermost.com/core/channels/desktop-app

[2020-09-24 02:26] esethna commented on #1264
@Willyfrog can help answer any technical questions. Once you've had a chance to dive in we're also happy to review your proposed approach before you get too deep into the coding

[2020-09-24 02:37] laxmy commented on #1264
Sure thing. Will get back to you or @Willyfrog once I wrap my head around it

[2020-09-28 11:16] PontusTideman opened #1377 "Mattermost Helper (Renderer) is not working under macOS Big Sur!"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-10-02 14:57] erkinalp opened #1380 "Panel indicator is blank if no unread posts exist"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] I have read [contributing guidelines](https://github.com/mattermost/desktop/blob/master/CONTRIBUTING.md).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it

[2020-10-02 16:30] Willyfrog commented on #1380
hello @erkinalp thanks for reporting

could you provide a screenshot/video of the problem? I'm not really sure what you mean with "panel indicator"

[2020-10-02 16:48] erkinalp commented on #1380
![resim](https://user-images.githubusercontent.com/5833034/94948478-0fdd0980-04e8-11eb-9865-b0fab1b8b91d.png) Unread posts
![resim](https://user-images.githubusercontent.com/5833034/94948543-284d2400-04e8-11eb-8001-fc734ffe8ab5.png) No unread posts (The space allocated for indicator is blank)

[2020-10-02 22:09] daniloff200 opened #1381 "Add Ukrainian language in the spellcheck list"
I saw today, that Russian language was added for spellcheck in  https://github.com/mattermost/desktop/pull/1375, and also, **simple-spellchecker** was updated to 1.0.1. In this version also Ukrainian was added, and, as a person from Ukraine I also would like to add my native language to the spellcheck list

P.s. also wondering, can it be counted as a Hacktoberfest PR, if it will be my first contri

[2020-10-05 14:28] Willyfrog commented on #1380
can you try switching to the light icon theme and see if that helps?

[2020-10-05 15:04] erkinalp commented on #1380
GNOME 3's activity bar is black even in the light theme, so I did not get how that would help.

[2020-10-06 09:14] 3scava1i3r commented on #1182
let me work on this one

[2020-10-06 10:07] Willyfrog commented on #1380
i've created a ticket to take a look at some point https://mattermost.atlassian.net/browse/MM-29343

thanks for reporting

[2020-10-06 21:36] preethi900 commented on #1203
Can i look into this issue ??

[2020-10-07 02:51] nikhilreddyx commented on #322
why cant i able to add a hactoberfest-label to my repo?
fyi- i already registered on hactoberfest.com by my github profile.

[2020-10-07 03:27] jasonblais commented on #322
@nikhilreddyx if you go to "Issues" in your GitHub repo, then go to "Labels", you can create a new "hacktoberfest" label for your repo.

![image](https://user-images.githubusercontent.com/13119842/95284119-64a3bb80-082b-11eb-882a-8dfd58d60e7c.png)

[2020-10-07 03:48] nikhilreddyx commented on #322
oh! thanks mate. i thought that was a built-in label.

[2020-10-07 09:28] jerryjaimon commented on #1203
Hey can  I work on this?

[2020-10-08 05:52] jerryjaimon commented on #1259
Hi Hanzei,
Can I work on this one?

[2020-10-08 20:13] hanzei commented on #1203
Sure @preethi900, please take a look. Sorry @jerryjaimon, could you please look for another issue?

[2020-10-09 10:32] jerryjaimon commented on #1070
Can I work on this one?

[2020-10-09 15:17] esethna commented on #1070
@jerryjaimon it's all yours!

[2020-10-10 15:17] jerryjaimon commented on #1070
@esethna Thank you! :)

[2020-10-14 15:06] #909 closed

[2020-10-14 15:08] #1381 closed

[2020-10-14 15:15] amyblais commented on #1381
Ticket for reference: https://mattermost.atlassian.net/browse/MM-29652

[2020-10-15 02:41] mrleblanc101 opened #1389 "[macOS] Big Sur icon support"
Hi,
It would be great to have a Big Sur assets so that Mattermost is ready when the OS launch.
You could reuse the iOS as-is or add the new drop shadow like apple did on it's icons.

[2020-10-16 12:59] SemaiCZE opened #1391 "Window title regression on Linux"
**Summary**
Mattermost desktop 4.6.0 doesn't have nice compact window border as version 4.5.4 and adds border from my window manager (Gnome).

**4.5.4:**
![Screenshot from 2020-10-16 14-53-17](https://user-images.githubusercontent.com/12883607/96260845-e0d29780-0fbf-11eb-8c90-0c7e5eecbba9.png)

**4.6.0:**
![Screenshot from 2020-10-16 14-51-23](https://user-images.githubusercontent.com/12883607/962

[2020-10-16 23:15] esethna commented on #1391
Hi @SemaiCZE, thanks for the feedback. This was recently changed as a result of feedback from many users that they prefer having the native window frame wrapped around the tab bar interface in Linux.

With that said, we're looking into improvements to make the tab bar not show if you only have one server connected: https://mattermost.atlassian.net/browse/MM-25961

[2020-10-17 02:58] jsg2021 commented on #1391
I rather liked the custom title bar tbh. I would like the option to choose the macos & windows 10 styles for myself on Linux.
![image](https://user-images.githubusercontent.com/577453/96326957-b05c1f00-0ffa-11eb-98cc-d1edf9a93fcc.png)
Esp, since my theme looks like macOS...

[2020-10-17 08:06] SemaiCZE commented on #1391
Hi @esethna,
thanks for your clarification. I didn't know that it's intentional, for me it's just useless space on my screen. But I respect what people want and closing this issue 🙂

[2020-10-17 08:06] #1391 closed

[2020-10-20 23:59] wget commented on #962
I think this is related to electron. Maybe bumping that version could help. We are /way/ out of date on that regard. We are usually on release - 1, but at this time of writing, latest stable is v 10, so we should be at v 9, but we are effectively still at v 7 :(

@Willyfrog what would be the work required to bump the electron platform? This is becoming a major issue. On Arch, the package is at ris

[2020-10-21 10:05] Willyfrog commented on #962
i'm currently working on migrating to browserview and it will bump to electron 10, but no plans to migrate while keeping webview.
you can check electron's [breaking changes](https://www.electronjs.org/docs/breaking-changes) to get an overview of needed work (mostly taking care of ipcCommunications and try to minimize usage of remote

[2020-10-22 10:58] cbrand-ludlums opened #1395 "4.6.0 does not play notification sound on Windows OS"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-10-22 13:51] amyblais commented on #1395
I've opened a ticket and asked a dev to investigate this today https://mattermost.atlassian.net/browse/MM-29921.

[2020-10-22 16:35] wget commented on #962
@Willyfrog What's the advantage of browserview? Will it allow (int he future) to bind to the system Chromium based engine?
e.g.: https://twitter.com/MSEdgeDev/status/1318248720530460674

[2020-10-22 18:40] cbrand-ludlums commented on #1395
Thanks!

[2020-10-22 18:56] Willyfrog commented on #962
no, I'm afraid the one you linked seems to be a windows only thing.

we are currently using webview tag, which is a google chrome's feature that is not really stable and compatibility sometimes break. It was the only option to embed a browser in electron, but figma added this other to electron which has a better support although is less configurable

[2020-10-23 14:20] markgitset commented on #1101
I didn't have this problem until I upgraded to 4.5.0 (on a Mac).  Now, I have to copy links and paste them in my browser.
Clicking the link seems to change the focus to my browser, but not follow the link.
![image](https://user-images.githubusercontent.com/282985/97015269-fa6c6580-1510-11eb-8491-5a879dbb00b5.png)

[2020-10-23 18:52] mobesgithub opened #1398 "All of my text is being labeled as misspelled or has the red underline."
All or most of my words are marked as misspelled.

https://www.loom.com/share/cff6a86c7def42da9501f7a77e09d945

I updated the app to the latest version but still have the issue.

[2020-10-23 18:58] amyblais commented on #1398
@mobesgithub Which spelling language do you have enabled (right-click on any word you're typing > Spelling language)?
Which language do you have enabled in Account Settings > Display > Language?

[2020-10-23 19:02] mobesgithub commented on #1398
Oh I see, didn't notice that before. Looks like it got switched to Portuguese. Thanks Amy!

[2020-10-23 20:45] #1398 closed

[2020-10-23 22:07] #1395 closed

[2020-10-26 21:45] steve-todorov opened #1399 "Changing language forces menu focus and makes it hard to write multi-language messages"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-10-28 08:53] Willyfrog commented on #1399
Hi, while not directly addressing what you say, we do have a plan to hide the custom window in case of having only one server. You can see more details in the [Jira ticket](https://mattermost.atlassian.net/browse/MM-25961)

[2020-10-29 00:18] steve-todorov commented on #1399
Thank you very much for pointing me to the jira ticket! I've dropped a message there as well! :)

[2020-10-29 08:38] dpanic opened #1401 "Broken PR feature "[MM-25748]Allow access to managed resources #1311""
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-10-29 09:05] Willyfrog commented on #1401
now that I see the error, shouldn't the url path be managed by the proxy before going to the server? that's a server response, so it is searching for the path as if it were a team.

[2020-10-29 09:07] dpanic commented on #1401
It is managed by Nginx.

1. Click on link gives error
2. Open link in new tab, works ok

On Thu, Oct 29, 2020 at 10:06 AM Guillermo Vayá <notifications@github.com>
wrote:

[2020-10-29 09:08] Willyfrog commented on #1401
@dpanic i updated my original comment as I forgot a second option, which seems to be what you describe

[2020-10-29 09:09] dpanic commented on #1401
Ok so looks like now is clear where and what is the issue?

[2020-10-29 09:17] Willyfrog commented on #1401
i've created a [jira ticket](https://mattermost.atlassian.net/browse/MM-30090)

[2020-10-29 13:40] mavct opened #1402 "Windows desktop notification icon barely readible"
I confirm (by marking "x" in the [ ] below: [x]):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-10-29 14:15] Willyfrog commented on #1402
thanks for reporting, I'll bring this up with the team.

[2020-10-30 07:10] vimmerru commented on #997
I doesn't see on any difference in 5.26.1. Still 15-20% CPU usage on all platforms due loading_indicator animation. Do we expect any progress with this?

[2020-10-30 10:25] Willyfrog commented on #997
removal of loading indicator was added into 5.27, so you'll need to upgrade to at least that version in order to see the improvement.

[2020-10-30 13:15] hmhealey commented on #1401
Hi @dpanic. To confirm something, was the link that you clicked in a post that someone made?

[2020-10-30 13:58] hmhealey commented on #1401
Also, is this something that worked before, or is it something you want to make work?

Unfortunately, when we first started including the team name in the URL path, we didn't think to include a `/teams` prefix so everything directly under `/` outside of some special cases like `/api` and `/plugins` is considered as the name of a team, so that's what's causing the problem here.

[2020-10-30 13:59] dpanic commented on #1401
It was created by modified Jitsi plugin

[2020-10-30 13:59] dpanic commented on #1401
This is something @Willyfrog and I made work 3 months ago. I submited PR for this

[2020-10-30 19:31] hmhealey commented on #1401
So the reason this broke is because we changed how we detect internal vs external links in posts in the web/desktop app. Anything internal is opened in the app or browser tab, and everything external is opened outside of that. Before, we only treated a few cases as internal (like `/<team>/channels/<channel>`), but we kept running into issues because people would want to link to different things li

[2020-10-30 21:00] dpanic commented on #1401
Hey, If I wanted to run custom build, than I would not submit PR to you. I will not wait 3-4 months for PR to be released :-)

I am pretty sure we can find a solution for this. As there is ONLY one url which needs to be whitelisted, /trusted
Perhaps @jespino can jump in, as he is aware of the feature https://github.com/mattermost/mattermost-server/issues/15136

[2020-11-01 15:23] fliedonion commented on #1270
Hi, this is only report I searched and tested to solve this problem.
Hope this helps someone.

As a preliminary note, in older versions (Electron around the time of Mattermost Desktop 4.1), the `file://servername\link`
were allowed. This is now also considered a local resource and is blocked.
In addition, it was possible to open URIs containing Japanese text.

## To come to the point,
you can modi

[2020-11-03 09:35] dpanic commented on #1401
Any updates on this?

[2020-11-03 15:36] Willyfrog commented on #1270
thanks for the thorough response!

[2020-11-04 19:59] #1206 closed

[2020-11-05 00:08] hmhealey commented on #1401
Apologies. @Willyfrog and I discussed the followup for this yesterday, and I updated the Jira ticket on this, but I forgot to put those changes here. I saw you chatted about that with him though about it.

Since the web app can't get the values configured in the desktop app, we had to add a separate server setting for this that can be configured to have the web app treat those links as external wh

[2020-11-05 02:24] AKorezin opened #1408 "Merge request #1379 removes ability to start hidden to tray."
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-11-05 08:06] dpanic commented on #1401
Saw it, and commented there. Thanks

[2020-11-05 10:13] Willyfrog commented on #1408
hello and thanks for reporting, but that was the actual expected behaviour of that PR, it was decided that starting minimized was a confusing experience for most people.

[2020-11-05 13:03] AKorezin commented on #1408
Maybe you can revert `--hidden` flag for people who want app to start minimized?

[2020-11-05 16:30] alex-taffe opened #1410 "Spell check being overly aggressive"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-11-05 16:43] Willyfrog commented on #1410
do you have osx to automatically correct the spelling? https://support.apple.com/en-hk/guide/mac-help/mchlp2299/mac

[2020-11-05 17:04] alex-taffe commented on #1410
![image](https://user-images.githubusercontent.com/6820226/98272385-07e90d00-1f5f-11eb-8ae2-c9c976b2cc44.png)
I do yes, but it still shouldn’t be correcting until after space is pressed

[2020-11-05 17:34] alex-taffe commented on #1410
For what it’s worth, I have `im` a a manual replacement to `I’m` in system preferences. But it doesn’t cause problems in any other app
![image](https://user-images.githubusercontent.com/6820226/98275890-2ea94280-1f63-11eb-9d29-efa91f75ab10.png)

[2020-11-06 10:08] Willyfrog commented on #1410
if you remove the correct spelling automatically, does it behave properly?

[2020-11-06 13:17] alex-taffe commented on #1410
That does not cause it behave properly. But if I remove my `replace im with I'm` rule, it does behave properly, so seems to be related to the replacement

[2020-11-06 17:05] esethna commented on #1408
@AKorezin thanks for the feedback. I've opened a ticket to make the behaviour on launch configurable. Let us know if you're interested in taking it! https://mattermost.atlassian.net/browse/MM-30336

[2020-11-06 17:32] AKorezin commented on #1408
@esethna it'll be a nice feature.

As for me I autolaunch the app at boot time and autoclose it on shutdown. So most of time it runs in the background.
Most of my apps have this feature.
Some apps like steam has console flag to start minimized.
Some apps like thunderbird has no tray support, but have mods or hacks like birdtray.

[2020-11-09 10:51] Willyfrog commented on #1410
that seems to hint that the os is the problem not so much the app, not sure how to help you here :/

[2020-11-09 13:13] alex-taffe commented on #1410
It’s only recent versions of Mattermost where it’s occurring though. It doesn’t occur in older versions, nor any other app on my system. Every other app respects how the behavior is supposed to work

[2020-11-10 10:47] Willyfrog commented on #1410
is there anything else affecting this replacements? I've added a rule for `im` to be replaced by `I'm` and it is suggested but not forced. also if I hit any key other than space the suggestion gets removed. if I hit space it does get replaced.

[2020-11-11 11:31] Willyfrog commented on #1402
ticket created: https://mattermost.atlassian.net/browse/MM-30409

[2020-11-11 13:33] micah opened #1412 "Consuming 100% CPU trying to stat files that do not exist"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-11-13 17:46] afknapping opened #1413 "Emoji in Channelheader produce a weird glitch on hover"
MacOS 10.15.7, Mattermost 10.15.7

![image](https://user-images.githubusercontent.com/170145/99103785-67d75780-25e0-11eb-921d-264737bd6c20.png)

[2020-11-13 17:49] amyblais commented on #1412
@micah What Mattermost server version are you on?

[2020-11-13 17:49] amyblais commented on #1413
@afknapping What Mattermost server version are you on? What Mattermost desktop app version are you on?

Do you have example reproduction steps?

[2020-11-13 18:15] micah commented on #1412
Hi, it looks like it is Mattermost Version: 5.27.0

[2020-11-13 18:36] amyblais commented on #1412
@Willyfrog Do the errors above indicate what the issue may be?
Possibly unrelated to https://mattermost.atlassian.net/browse/MM-27889 as it was fixed in v5.27.

[2020-11-13 23:04] micah commented on #1412
Happy to provide any additional info, debugging etc. just tell me what
you need!

[2020-11-14 08:25] Willyfrog commented on #1412
That seems to be the temporary files chromium uses for caching and managing state

Can you check if the process can write there or if it is space restricted?

Another suggestion would be to clean the cache and the files that are not `.json` in the configuration folder

[2020-11-15 01:18] micah commented on #1412
I can write to `/tmp` no problem, there is space and permissions.

The gnome icons ones are not in a writable directory, but I suspect its
looking for them to read.

If you notice in the strace I provided, the directories are changing
names every single time, and none of those exist.

There are quite a few non `.json` files in ~/.config/Mattermost, should
I remove everything that is not a file end

[2020-11-15 11:18] tdimeco commented on #1389
Hi,

Here is a suggestion. What do you think?

![mattermost-bigsur-v1](https://user-images.githubusercontent.com/3112087/99183503-95d1ae80-273c-11eb-9ba3-a8db2233c792.png)

<img width="364" alt="dock-bigsur-v1" src="https://user-images.githubusercontent.com/3112087/99183492-7a66a380-273c-11eb-810e-5086f30763d0.png">

[2020-11-16 08:31] PontusTideman commented on #1377
This is still an issue in the latest release of Big Sur!

[2020-11-16 10:20] Willyfrog commented on #1412
take a look at the user mattermost uses to run, it might be different, if it is the same as yours then it can write there. if it's a different one, you'll need to take a second look at it :)

Yeah, don't worry about those, they are open because it is using them, but they are not giving any trouble

yes, that is exactly the reason why it is going nuts in the CPU, it is probably trying to open a fil

[2020-11-16 11:45] tdimeco commented on #1389
Here is the source Sketch file, in case it's needed for further use...

[Mattermost.sketch.zip](https://github.com/mattermost/desktop/files/5545979/Mattermost.sketch.zip)

[2020-11-16 13:30] afknapping commented on #1413
I don't know, would have to ask

Apologies, ~~I mispasted~~ seems I cannot correctly *copy* from the About box: **4.4.2.6224**

Edit something into the channel header like `[👀 Emoji Test](https://www.google.com/)`, save, hover over the link.

[2020-11-16 14:22] micah commented on #1412
Guillermo Vayá <notifications@github.com> writes:

Its the same user.

Well, except they do not exist on my system, and I can see that the
client is trying to stat() them every second.

Ok, I've stopped mattermost-desktop, saved the .json files, removed the
entire ~/.config/Mattermost directory, put those .json files back and
have restarted the client.

It usually takes some time for the CPU probl

[2020-11-16 14:57] amyblais commented on #1413
@afknapping Would you be open to checking that your server version is at least v5.25.0 (minimum supported version)?
Also, do you see the same issue on the latest desktop app version (v4.6.0)?

[2020-11-16 20:12] micah commented on #1412
and now its here again:

[code]

[2020-11-17 08:31] plaperdr commented on #90
The problem is still present on Mattermost 4.6.1 on GNOME 3.36.3. Isn't it possible to provide a fix for the Linux version in the meantime so that clicking on the X closes the window (or minimizes it depending on settings)?

[2020-11-17 08:52] plaperdr opened #1415 "Can't close the application window on Linux"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-11-17 09:44] Willyfrog commented on #1412
so chromium is actually looking at gnome theme and trying to figure out the cache for those items, those are not files that we supply with mattermost as those belong to the OS and Desktop Environment (gnome in this case)

maybe this helps? https://askubuntu.com/questions/1241948/gnome-custom-desktop-file-with-icon-not-showing
or is it missing an icon theme package?

[2020-11-17 13:50] Willyfrog commented on #1415
hello! and thanks for reporting.
we are aware of the issue and working to fix it in a future release.

Meanwhile, I'll close the issue as it is already reported [here](https://github.com/mattermost/desktop/issues/90)

Feel free to reopen if you feel it is a different kind of issue.

[2020-11-17 13:50] #1415 closed

[2020-11-17 14:19] greyltc opened #1416 "[feature request] newer electron"
Looks like this needs electron 7 today
https://github.com/mattermost/desktop/blob/83bae0c2b8e3b479988cd3c9507bb47eab0c3422/package.json#L57

Version 11 is the stable release of electron now. I wonder if you folks could bump up the electron version that mattermost builds on.

Thanks!

[2020-11-17 14:20] micah commented on #1412
Guillermo Vayá <notifications@github.com> writes:

Well its not just these icons that it is complaining about, it spends a
lot of cpu looking for things like `/tmp/.org.chromium.Chromium.M2mAPa`
(the suffix changes everytime, see the logs posted above).

--
        micah

[2020-11-17 14:44] Willyfrog commented on #1416
it is planned to upgrade in a future release. newer versions have some breaking changes that need to be worked on.

Closing the issue for now, but feel free to reopen if you feel it wasn't addressed

[2020-11-17 14:44] #1416 closed

[2020-11-17 18:12] alex-taffe commented on #1410
I don’t see anything else that could be causing it, but not sure

[2020-11-17 23:59] esethna commented on #1415
@Willyfrog do we have a JIRA bug ticket to track this? If not let's open one?

[2020-11-18 11:17] Willyfrog commented on #1415
there are different complains depending on how people is used to close the app.

i've [created a ticket](https://mattermost.atlassian.net/browse/MM-30713) to try and fix all of them and try to be consistent.

[2020-11-18 11:23] Willyfrog commented on #1410
i've just rechecked in big sur and I can't reproduce this behaviour either.

When I type `Im` it suggests using `I'm`, but doesn't replace right away, if I type space it gets corrected, if I type any other letter the suggestion dissappears and doesnt substitute anything. AFAIK this is the expected behaviour.

I'm leaving the issue open in case someone can provide more details, but without being ab

[2020-11-18 11:25] Willyfrog commented on #1412
yeah, but that's a folder, if it didn't add anything in there the folder might not be created as it is not needed.

[2020-11-19 08:46] Kalaschnik commented on #893
It seems the issue was closed: https://mattermost.atlassian.net/browse/MM-8463
But was this ever rolled out?

[2020-11-19 09:22] noonedeadpunk commented on #893
Epic has been created instead of this issue https://mattermost.atlassian.net/browse/MM-23120
So it seems not yet implemented

[2020-11-20 14:21] dpanic commented on #1330
Works on 4.6.1 Client APP...
But you must open url as /trusted and must be same origin as mattermost...

I solved this by enabling NGINX proxy to Jitsi.

[code]

[2020-11-20 14:38] dpanic commented on #1330
I just tested following:

Ubuntu 20.04
Mattermost Desktop App version: 4.6.1
Mattermost  Server version: 5.29.0
**Camera: NOT WORKING**
Microphone: WORKING

MacOS: 10.15.7
Mattermost Desktop App version: 4.6.1
Mattermost  Server version: 5.29.0

**Camera: NOT WORKING
Microphone: NOT WORKING**

[2020-11-20 20:43] JoeMurray opened #1419 "How to change language of dictionary in UI?"
I use the app with several Mattermost sites. I typed a message in French in one and I vaguely recall that something came up that made all the spelling mistakes go away. However, I normally use English, and now all of my English words are underlined in red. How do I switch back to English? There are no sections in the User's Guide for Language https://docs.mattermost.com/guides/user.html

[2020-11-20 20:46] amyblais commented on #1419
You can right-click on any word you're typing > Spelling language.

Please see: https://docs.mattermost.com/help/apps/desktop-guide.html#app-options ("Check spelling")

[2020-11-20 21:19] JoeMurray commented on #1419
Merci beaucoup!

[2020-11-20 21:19] #1419 closed

[2020-11-21 00:12] esethna commented on #893
@Kalaschnik we had duplicate epics, please follow this one: https://mattermost.atlassian.net/browse/MM-23120

[2020-11-28 19:34] svewag commented on #1365
[This app](https://github.com/DigiDNA/Silicon/releases) claims that Mattermost `Version 4.6.1 (4.6.1.7401)` is running  on a `Intel 64` code base.
![image](https://user-images.githubusercontent.com/155578/100524437-7dd84100-31b8-11eb-8dfc-e776b40336b8.png)

For me it looks like that Mattermost is not running optimized 🤔

I'm using macOS 11.0 on a Apple M1 Chip.

[2020-11-30 12:37] Willyfrog commented on #1365
most likely using rosetta to run, I guess.

have you noticed any problems?

[2020-11-30 16:15] svewag commented on #1365
So far no problems noticed

[2020-11-30 17:43] RandallFlagg commented on #1229
Maybe this will help maybe it won't:
https://gist.github.com/Manouchehri/fd754e402d98430243455713efada710

[2020-12-01 10:03] Willyfrog commented on #1365
eventually we'll get M1 builds, but for now I don't think circle will support it. Feel free  to reopen or open a new issue if you notice any odd behaviour that might be related to running through rosetta so we can take a look and consider doing a specific build

[2020-12-04 11:11] dpanic commented on #893
+1

[2020-12-04 13:22] pierrehenrymuller opened #1422 "Linux --version doesn't work"
Hello,

The Linux version of Mattermost desktop respond to --version or -v with correct information, we receive "unknow".

**Environment**
- Operating System: Debian 10
- Mattermost Desktop App version: 4.6.1

**Steps to reproduce**

For tgz archive :

[code]

For Appimage :
[code]

**Expected behavior**

[code]

Actually I can't check the current version of desktop client and the script who look

[2020-12-07 09:32] Willyfrog commented on #1422
what was the last version that worked for you?

I've created a [jira ticket](https://mattermost.atlassian.net/browse/MM-31129) for it

[2020-12-07 13:41] joho1968 commented on #27
It's an issue on a 14" 2560x1440 laptop screen too :smile: (where the font size is way too small).

[2020-12-07 17:59] pierrehenrymuller commented on #1422
I don't know, before I have a script who download the latest stable from github. Now I would like to optimize this to download the archive only if version differ from latest release.

[2020-12-08 18:02] trainey-dsa opened #1425 "Categories lose child items periodically"
I confirm (by marking "x" in the [ ] below: [x]):

- [x ] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [ ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
-

[2020-12-10 13:17] MichalVasut commented on #1217
still have the same issue - client was installed 2020-12-01, on clean PC (without any previous Mattermost installations)

- Win10 v2004 x64
- client: 4.5.2
- server: 5.29.1

[2020-12-10 18:15] andresbase opened #1426 "Unread Filtering by Categories Back"
I have noticed with the latest update on our Mattermost that it went from keeping the grouping of messages to not keeping it.

What I mean is previously when clicking on "Filter by unread" I would obviously only see unread messages but listed and grouped by favourites and other groups I created. This was incredibly useful, specially if you are in an organization large enough that there are many ch

[2020-12-10 18:16] Willyfrog commented on #1426
Hello and thanks for reporting, I'll move this into the server repo where it can be looked at.

[2020-12-14 09:30] licaon-kter commented on #1211
Could you implement a toggle/option/command to disable this? It's horrendous :(

[2020-12-15 01:09] esethna commented on #1211
@licaon-kter can you help me understand what you're referring to? Is your preference to have the native frame or not? Do you have more than one server? What OS are you using?

[2020-12-15 05:58] licaon-kter commented on #1211
One server, multiple teams, and there's no need for an extra titlebar, imha, yes it doesn't look "native" but doesn't look any better with it. Windows 7 and 8. Will make some screenshots.

[2020-12-15 11:44] bmalkow opened #1429 "Disappearing unread counter"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-12-15 20:01] esethna commented on #1211
Got it. @licaon-kter we have a ticket open to remove the tab bar if only one server is configured, so in your case you would only have the native windows frame: https://mattermost.atlassian.net/browse/MM-25961

[2020-12-16 14:00] Willyfrog commented on #1429
do you switch the app from the background to the foreground? this might cause the current channel to be marked as read.

[2020-12-16 14:06] bmalkow commented on #1429
No. I don't. A you can see on screencast, focus is on iTerm all the time.

[2020-12-17 08:27] bcag2 opened #1430 "desktop client doesn't memorized credentials anymore?"
**Summary**
After update to [mattermost-desktop-4.6.1-linux-x64.tar.gz](https://releases.mattermost.com/desktop/4.6.1/mattermost-desktop-4.6.1-linux-x64.tar.gz?src=dl) (when run mattemost-desktop --version, it returns v4.3.2 !), I set back my accounts but it require enters login each day when I start my computer. With previous version, login was memorized.

**Environment**
- Operating System: Ubun

[2020-12-17 10:05] Willyfrog commented on #1430
Hello and thanks for reporting

if you do a file->about does it also say 4.3.2?

does the program have write permissions in the config folder (it is usually in `~/.config/mattermost`)

[2020-12-17 10:37] Willyfrog commented on #1429
ah! I missed the screencast, sorry about that and thanks for providing it as it makes everything more clear.

I've tested 4.5.4 and doesn't show this behaviour so it is clearly a regression. I've created a [ticket to work on it](https://mattermost.atlassian.net/browse/MM-31429) feel free to add any details there.

[2020-12-17 10:52] bcag2 commented on #1430
yes, it is also 4.3.2

I have `~/.config/Mattermost` folder with mod 755 on my $USER: account.
with folder (blob_storage for example), files and links modified today

[2020-12-18 10:51] Willyfrog commented on #1430
does this login everyday also happens with the browser? It might be the session cookie not having a long life span. If the authentication server (wether that's mattermost server or third party) was upgraded/reconfigured recently the value might have changed

[2020-12-19 21:49] Tamberlox opened #1432 "Maximized window leaks to other monitors (fixed in Electron 8.5.3)"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-12-21 08:12] bcag2 commented on #1430
Hello, I backuped last Friday my  `~/.config/Mattermost` and launch back mattemost-desktop and this Monday morning, it doesn't ask me logins.

[2020-12-21 08:12] #1430 closed

[2020-12-22 13:47] vintprox commented on #765
I have this issue on Ubuntu 20.04 as well.

Another 256 MB of disk space for tray icon? Fascinating.

[2020-12-22 14:03] shiftgeist commented on #765
If I am not mistaken this package is not available on Debian 10.

[2020-12-23 13:28] alexdevos commented on #914
Hello @amyblais, I'm very interested in this feature request suggestion of @florianeichin to be able to sign in to one server with two accounts in Desktop Client : do you know if a feature request on Uservoice has been opened (I didn't find any with the search) ?

[2020-12-26 21:33] anebi opened #1435 "GitLab Login broken because of CloudFlare checks"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-12-27 17:24] Willyfrog commented on #1435
hello and thanks for reporting!

most likely we are blocking some requests that are preventing gitlab to operate. can you try again with the server console opened and see what's going on in the network tab?

[2020-12-27 20:35] anebi commented on #1435
Hi,

Thank you very much for your fast reply.

From what I see it fails on GitLab sign_in returning 503.

I am attaching screenshot from network tab and also the export. I hope that this info will be useful.

Regards,
Ali Nebi

[devtools-export.har.zip](https://github.com/mattermost/desktop/files/5745145/devtools-export.har.zip)
<img width="1440" alt="Screenshot 2020-12-27 at 22 31 39" src="https:

[2021-01-02 18:44] bastien-solutions opened #1436 "Support apple m1"
Now Electron v11 support Apple M1 ARM cpu on OSX is it possible to upgrade Mattermost version in order to get a native version of them on M1?

[2021-01-04 12:14] Willyfrog commented on #1436
not right now, we have a policy of staying one version behind the current version of electron, to try and be as stable as we can.
We are also looking into adding some native modules to help with notifications in windows, which would prevent us from moving from v9.3.3 until a patch is added to allow building of windowsRT modules.

As far as I know, previous versions of electron work using the new R

[2021-01-04 12:14] #1436 closed

[2021-01-04 12:34] bastien-solutions commented on #1436
I confirm Intel version work through Rosetta 2.
But it's always better to use native program.

Anyway, thank you for your response.

[2021-01-04 14:06] Willyfrog commented on #1436
I agree and we'll get there :)

[2021-01-04 15:23] amyblais commented on #1435
@Willyfrog Do the errors above indicate an issue? Is this affecting all Gitlab logins?

[2021-01-04 15:26] Willyfrog commented on #1435
no, they don't

I made a couple of quick tests and could reproduce, but I still have to dig into the issue. Most likely something is catching the requests and dropping them.

[2021-01-04 15:30] Willyfrog commented on #1435
created a ticket for it: https://mattermost.atlassian.net/browse/MM-31626

[2021-01-08 15:30] akomakom commented on #544
@boistordu FYI, I had to reload (View->Reload) my front end app (Linux v4.3.1, in my case) after disabling reporting in the System Console.  Errors went away after that.

[2021-01-11 15:12] pauloacosta commented on #1271
This same problem reported here happens to me on a machine using Windows 10.

[2021-01-13 22:23] pashdown commented on #1365
![mm-power](https://user-images.githubusercontent.com/175150/104517422-30226700-55b3-11eb-8436-637f46ebd617.jpg)

I don't know if an M1 build would help the power consumption, but if it is eating nearly as much as my Firefox, with umpteen tabs open, that is something to consider.

[2021-01-17 00:01] wck0 opened #1446 "Directory symlinks not followed when selecting an attachment"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-01-18 02:31] elsiehupp commented on #317
I came to this issue from [one on the Electron GitHub](https://github.com/electron/electron/issues/9642), and in my limited experience with Ubuntu AppIndicator icons, basing the margins on the ones used by [GNOME's "symbolic" icons](https://developer.gnome.org/hig/stable/icon-design.html.en) seems to work reasonably well. Specifically, these are based on a 16x16 grid (though the dimensions of the

[2021-01-18 11:07] Willyfrog commented on #1446
Hello and thanks for the feedback.

Quick question: does this behavior reproduces if you are using the browser for accessing mattermost?

[2021-01-18 16:16] wck0 commented on #1446
It does not. The browser behaves as expected.

-------- Original Message --------
On Jan 18, 2021, 03:08, Guillermo Vayá wrote:

[2021-01-19 09:43] ahttraga commented on #38
In linux client 4.6.1 I don't have the option to disable sound.

![image](https://user-images.githubusercontent.com/54644739/105016589-1bc2ec00-5a43-11eb-9bb4-cd72489df4c3.png)

[2021-01-21 09:06] Jenjen1324 opened #1451 "Oauth / SAML authentication should never take place in an embedded browser"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-01-21 09:10] Jenjen1324 commented on #1435
Would also be resolved by implementing OAuth securely: #1451

[2021-01-22 11:42] Willyfrog commented on #1435
yes, I agree and that's one of the big changes I'd like to see this year, but implementing OAuth would take some resources that we currently don't have as we are working on some other features. In the meantime, this is a patch to enable users to use their mattermost instance. I hope that makes sense, but as always feel free to discuss it either here or in the [dekstop channel in the community serv

[2021-01-22 11:43] Willyfrog commented on #1435
closing the issue, we are currently in the process to generate an RC with this patch

[2021-01-22 11:43] #1435 closed

[2021-01-22 11:48] Willyfrog commented on #1451
Hello and thanks for reportting, we totally agree and we currently have a [ticket](https://mattermost.atlassian.net/browse/MM-23511) for tracking it.

I look forward to see that change implemented this year :)

[2021-01-22 14:26] PanderMusubi commented on #1350
Any progress on this one? Because of the manual update process, I missed a few versions :grin: Creating a PPA at Launchpad is fairly straight forward and doesn't require you host it yourself.

[2021-01-22 21:39] Jenjen1324 commented on #1451
@Willyfrog that's great to hear. Just to clarify, this also affects the current GitLab authentication which is already in place. I didn't see it mentioned in the linked ticket.

[2021-01-22 23:05] Willyfrog commented on #1451
the idea is to work on Oauth for any service, nothing especific for gitlab, google or some other. I'm afraid the linked ticket is more a reminder that we need to work on that than a full description and scope of the feature, that'll will come once we start to work on it.

[2021-01-25 14:16] Willyfrog commented on #1350
I don't think any progress has been done, AFAIK

[2021-01-28 16:49] esethna commented on #1264
@laxmy are you still interested in taking this on?

[2021-01-29 11:42] xurei commented on #765
I noticed that `sudo apt-get install libappindicator3-1` also fixes it (Debian Stable, GNOME 3.30)

[2021-02-01 12:58] akmet commented on #1350
I would welcome a repository as it would be much easier for our users to update.

@assafmo has created a very nice [tutorial](https://assafmo.github.io/2019/05/02/ppa-repo-hosted-on-github.html) on how to set up a PPA repository with GitHub Pages - maybe it's worth considering? I would assume it would integrate easily into the existing release workflow

[2021-02-01 14:14] Willyfrog commented on #1350
that looks nice! I've shared that with our devops team and see if that would be possible.

[2021-02-03 16:28] AKorezin commented on #1408
Update: used PKGBUILD from aur with reverted patch #1379.
`wget https://patch-diff.githubusercontent.com/raw/mattermost/desktop/pull/1379.diff -O 1379_hide_on_startup.patch`

[code]

Works ok for me.

[2021-02-04 13:03] 2019-05-10 opened #1464 "Spell checker: enable "add to dictionary""
spell checker does underline words it doesn't know -- but there's no way to add the word to its dictionary.
![image](https://user-images.githubusercontent.com/50481865/106896246-99e4eb00-66f1-11eb-80f0-a6cf26be9626.png)
Thus the same word will be marked over and over again, rendering spell checking somewhat pointless.

[2021-02-04 13:08] 2019-05-10 opened #1465 "Add update check"
Since there's no repository to be checked together with other repos when routinely looking for updates, one has to remember to check https://github.com/mattermost/desktop/releases manually.

Unless there's a repository that integrates with common update facilities like APT or YUM, the client should be able to check for updates on its own and notify the user.

[2021-02-05 07:40] Willyfrog commented on #1464
hi, this is not possible with our current dictionary implementation, but we are working on adding a chrome-like one that will have this option. there is already a [ticket for that](https://mattermost.atlassian.net/browse/MM-27545)

[2021-02-05 07:54] Willyfrog commented on #1465
not sure if this helps, but you can check the latest version of our products in https://notices.mattermost.com/

for yum-like packages there is a community repo mentioned here: https://github.com/mattermost/desktop/issues/986

and for deb-like packages, we are considering [creating a PPA from github pages](https://github.com/mattermost/desktop/issues/1350)

I'm closing this issue, as it is basical

[2021-02-05 07:54] #1465 closed

[2021-02-08 12:29] goligo commented on #1101
I have this issue in the latest 4.6.2 version on Windows. Left-click on links does not give any reaction, right-click on links shows "Copy Link" as the only context menu option. This makes Mattermost desktop almost useless, opening links is essential functionality.

[2021-02-12 22:03] ryantm opened #1474 "URLs with `^` in query string do not open when clicked."
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-02-12 22:33] ryantm commented on #1474
`>` also breaks it.

https://en.wikipedia.org/wiki/Percent-encoding#Character_data is a good source for common percent encodings you can use as a workaround.

[2021-02-15 12:30] chief-wrench opened #1476 "Support for ARM64 Architecture"
Having just received my PinePhone (Arm64 CPU) I want to start using the native Mattermost client.

With Apple going ARM as well now, also Electron starts supporting ARM. Will someone start porting the Mattermost client to ARM?

Being a total n00b to this topic, I can contribute nothing but ideas, unfortunately.

[2021-02-16 10:12] tbille opened #1478 "Preview site with invalid certificate fails"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-02-16 11:31] Willyfrog commented on #1478
if you hit cancel, does it fail gracefully?
we added the option to handle invalid certificates, as there are situations when there is the need to bypass the certificate validation

[2021-02-16 14:24] tbille commented on #1478
It does fail gracefully.
But every time we go back on the channel we get the popup.

[2021-02-16 17:35] Willyfrog commented on #1478
Ok, I reopened [this ticket](https://mattermost.atlassian.net/browse/MM-24815) to discuss again with the team.

[2021-02-17 09:44] CoOpCouch opened #1480 "Windows --hidden parameter missing >=4.6.0"
Hello,

we noticed that the desktop app does not start to system tray anymore and also the parameter "--hidden" seems to be gone

Is this intended? We couldn't find anything about it in the changelog.

4.5.4
![grafik](https://user-images.githubusercontent.com/79195436/108185428-93e90400-710c-11eb-8746-11f3cba16e88.png)

4.6.2
![grafik](https://user-images.githubusercontent.com/79195436/108185556-b

[2021-02-17 09:49] Willyfrog commented on #1480
It was intended as some users were finding the behaviour confusing. You can see the PR here: https://github.com/mattermost/desktop/pull/1379

@amyblais maybe we missed adding that to the changelog?

[2021-02-17 10:34] Sandalas commented on #1480
Is there a possibility to get the hidden feature as an extra option next to the "Start app on login"?

[2021-02-17 13:13] amyblais commented on #1480
It is in the changelog here https://docs.mattermost.com/help/apps/desktop-changelog.html#id1, but I can clarify the text,

[2021-02-17 14:03] amyblais commented on #1474
@Willyfrog Should I create a ticket for this or is there a related ticket already open?

[2021-02-17 14:20] Willyfrog commented on #1474
thanks Amy, I just created https://mattermost.atlassian.net/browse/MM-32946

[2021-02-18 09:28] dlecina commented on #1480
In my case, I first installed it yesterday, and it was showing up in the tray. Today, it started in a window, and when I close it, it does not minimize to the tray. Strangely, the process seems to be running still, according to the task manager, but I need to reopen the app from a shortcut, as if I had closed it.

I would also keep the feature, even if it must be enabled as a setting.

[2021-02-18 09:59] Willyfrog commented on #1480
I'll bring the topic to the team and see if we can get some sort of compromise solution :)

[2021-02-19 08:00] artiommorozov commented on #1080
Reproduces on 4.6.2 with windows 10. Issue didn't exist prior to upgrade, i was on 4.1. Workaround with three-dot-menu helps.

[2021-02-21 20:59] AKorezin commented on #1480
Possibly dupe of #1408

[2021-02-22 08:56] 2019-05-10 opened #1485 ""Cancel connection" does not cancel repaeted attempst and dialogs"
**Summary**
I am connected to eactly one Mattermost server.
Today I am greeted with "Certificate error" since apparently the Let's Encrypt certificate on the server has expired -- there's nothing I can do about except waiting for the admin to do so.
Yet Mattermost keeps bugging me with the same "Warning" over and over again despite hitting "Cancel Connection" everytime.

This is pointless. If I ca

[2021-02-23 22:17] estebanz01 commented on #1330
just echoing what I posted in https://github.com/mattermost/mattermost-plugin-jitsi/issues/120 it works on version 4.6.2 with MacOS Cataline (10.15.17)

[2021-02-24 13:50] amyblais commented on #1485
@Willyfrog Let me know if you're able to help test this or if we need QA assistance.

[2021-02-25 11:20] Willyfrog commented on #1485
thanks @amyblais , I'll create a ticket and discuss this with @esethna

[2021-02-25 11:29] Willyfrog commented on #1485
this is a similar report to #1478
there was [already a ticket for discussion](https://mattermost.atlassian.net/browse/MM-28387) but somehow it never got to be discussed, requeuing again for next week.

[2021-02-25 13:31] gpopesc opened #1491 "no close button on images links"
I confirm (by marking "x" in the [ ] below: [x]):

- [x ] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [ x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
-

[2021-02-25 13:37] gpopesc opened #1492 "m4v files not play"
m4v video files (sent from whatsapp) are not played automatically in mattermost window
I can download them locally and play or another option: copy external link and past in browser.

They are played automatically in android version of mattermost

Thank you

[2021-02-27 20:06] hwellmann opened #1497 "Menu language"
I'm on MacOS. My system language and my Mattermost account setting is German, but the menu bar entries are all in English.

There is no language setting in the application preferences (Cmd-,).

Is there any other config setting to change the menu language?

[2021-03-01 09:06] Willyfrog commented on #1497
So far there hasn't been an effort to internationalise the desktop app, so I'm afraid there is no option to switch languages for the time being.

[2021-03-03 10:57] imaspeer opened #1500 "Links to the server's domain outside of its path open inside the app"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-03-03 13:37] amyblais commented on #1491
This is queued for fixing in the next desktop app version https://mattermost.atlassian.net/browse/MM-32039.

[2021-03-03 13:39] amyblais commented on #1492
@gpopesc What Mattermost desktop app version and Mattermost server version are you using? What OS and version is this on?

[2021-03-04 00:30] Roy-Orbison commented on #1465
@Willyfrog Please re-open this issue, it's not really resolved. A client will happily chug along forever, bugs and all, without ever letting the user know there's a newer version. Mattermost should not require thousands of users to manually check a web page to get an update.

Certainly, having a yum repo helps and having deb repo will help. That doesn't solve the problem for users who choose or ha

[2021-03-04 08:12] Willyfrog commented on #1465
Server notifies of new desktop clients (among other things) since 5.28, you can check the full changelog in https://docs.mattermost.com/administration/changelog.html

[2021-03-04 09:00] Roy-Orbison commented on #1465
Thanks, @Willyfrog.

I just installed an old version to see. It seems some users on our server have been conveniently ignoring those. I stopped using the dedicated app since before server v5.28 so had never seen that.

[2021-03-04 09:03] Willyfrog commented on #1465
The update notice for the desktop only appears if the user is actually using the desktop and version doesn't match with the current one. Once the user dismisses it, it won't reappear.

[2021-03-04 09:10] gpopesc commented on #1492
Mattermost windows version : 4.61
Windows 10 ver 18363 and windows 7
Mattermost server: 5:32

I installed matterbridge and I get a lot of video files. mp4 can be played, m4v it can't

[2021-03-04 09:11] #1491 closed

[2021-03-04 10:19] 2019-05-10 commented on #1465
@Willyfrog I don't see how this relates to the desktop client.
As far as I can tell, server and client are not released in sync, so an updated server wouldn't necessarily imply an updated client.
OTOH the client may experience new release while the server stays at the same version.

Additionally, an update notice (in what shape ever) has the tendency to appear at the most inconvenient times, hence

[2021-03-04 10:50] Willyfrog commented on #1465
sorry if I expressed myself wrong, the server doesn't have the desktop version built in, but checks for it and compares to the version the desktop being used.

that's part of a future plan of having the client to autoupdate, but not something we are working on ATM, but as always PRs to improve the client are welcome :)

[2021-03-04 13:30] amyblais commented on #1492
I can reproduce but not sure if it has always been like this. @Willyfrog Do you know if this is a bug or a "feature request"?

[2021-03-04 14:14] Willyfrog commented on #1492
it would be a feature request for web app, I believe it might depend on the browser you are in that it is enabled out of the box

[2021-03-05 18:17] vegerot commented on #1492
I'm trying to find the place in the source code where it checks whether to play the video or just prompt for download.  I see https://github.com/mattermost/mattermost-webapp/blob/b670eca198c5e5a97878bf85160d480ead20ae61/e2e/cypress/integration/files_and_attachments/helpers.js#L45 it "checks if the video element exists".

Could it be for some reason that running in the `<webview />` Mattermost cann

[2021-03-05 19:54] vegerot commented on #1492
I have figured it out:

tl;dr: Chromium does not support `.mov` files, but Safari does

Upon looking a bit more, it looks like whether it shows the video preview or not happens here https://github.com/mattermost/mattermost-webapp/blob/master/components/audio_video_preview.jsx#L84-L91 .  This is determined from here https://github.com/mattermost/mattermost-webapp/blob/master/components/audio_video_

[2021-03-05 20:08] gpopesc commented on #1492
@vegerot Yes, is exactly what I am doing: I copy the link as external link and paste in browser. It works in both chrome and firefox.
you can take a sample from[ here](https://filesamples.com/formats/m4v) and send it. In mattermost for windows asks for downloading or get external link. In mattermost for android it plays straight away.

[2021-03-05 20:44] vegerot commented on #1492
@gpopesc try seeing how mattermost interprets the file, and whether it thinks that the mime_type is playable

[2021-03-05 21:18] gpopesc commented on #1492
if I run in console log:
var obj = document.createElement('video');
console.log(obj.canPlayType('video/mp4'));
I get: VM146:2 maybe

if I run:
var obj = document.createElement('video');
console.log(obj.canPlayType('video/m4v'));
the answer is empty

if I run:
document.createElement('video').canPlayType('video/quicktime');
""
document.createElement('video').canPlayType('video/mp4');
"maybe"
documen

[2021-03-10 17:01] Willyfrog commented on #1500
not right away that I know of, but we could probably try to add some other routes to the subpath server so we can try and reproduce.

[2021-03-11 05:55] sjeeva opened #1505 "List unread messages on the top"
In a server with larger number of groups and user, it is difficult to find the unread messages.  It would be helpful to list the unread Public/Private/Direct message on the top of the nav bar.

Suggest features in the Mattermost feature idea forum so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html).

[https://mattermost.us

[2021-03-11 09:37] Willyfrog commented on #1500
I created a ticket to track it: https://mattermost.atlassian.net/browse/MM-33738

[2021-03-11 09:57] Willyfrog commented on #1505
hi there, and thanks for the feedback.
If I'm not mistaken that feature already exists, since several versions. With the new sidebar it looks like this
<img width="230" alt="Screenshot 2021-03-11 at 10 56 24" src="https://user-images.githubusercontent.com/1515906/110769521-8b41a480-8258-11eb-98bd-e4332bd74de9.png">

I'm closing the issue, but please reopen if you feel I missunderstood your request

[2021-03-11 09:57] #1505 closed

[2021-03-12 16:19] archiekennedy commented on #1067
This bug is still present

[2021-03-17 11:59] JanKaifer opened #1510 "[Linux] [Tiling WM] Close button doesn't work."
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-03-17 12:15] JanKaifer commented on #1510
The issue is here: https://github.com/mattermost/desktop/blob/3182a9d0b1296f1cfb977532958c6f6b74b529af/src/main/mainWindow.js#L123

Confirmed that `Ctrl+Q` does close the application.

However  these:

Still do not work.

[2021-03-18 08:56] gggeek opened #1513 "[win 20] vertical scrollbar unusable with mouse as it is too thin"
- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I have read [contributing guidelines](https://gi

[2021-03-18 19:24] JanKaifer commented on #1510
Cool, sorry that I missed those.
Closing this one as duplicate of:
#1415
#1266
#90
#962

[2021-03-18 19:24] #1510 closed

[2021-03-23 15:07] timkpaine opened #1518 "Mattermost does not recognize the word "gauge", thinks it is mispelled"
- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I have read [contributing guidelines](https://gi

[2021-03-23 15:10] Willyfrog commented on #1518
Hi, next desktop version is not going to use simple-spellchecker anymore, so it should be fixed there.

I'll close the issue, but feel free to reopen if you have any concerns.

[2021-03-23 15:10] #1518 closed

[2021-03-23 15:12] timkpaine commented on #1518
@Willyfrog thanks!

[2021-03-23 16:26] timkpaine commented on #1518
Looks like if you switch to electron's as planned it will leverage chromium's spellchecker, which in turn will use native Mac APIs (solving my problem) and hunspell which has the word present.

[2021-03-29 03:32] renchili opened #1521 "Mattermost win desktop windows size not correct"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-03-29 03:35] renchili commented on #1521
this made the scrollbar size on the split of the screen in the third screenshot can see there is a | at the bottom
![image](https://user-images.githubusercontent.com/33677006/112783873-e231e100-9082-11eb-80ea-8c8f50104ea9.png)

[2021-03-29 08:25] Willyfrog commented on #1521
hi! thanks for reporting, is this happening in windows 10? or any other OS?

[2021-03-30 18:53] zpersichetti opened #1523 "MSI install possibly creating malformed shortcut that prevents notification onclick behavior"
I confirm (by marking "x" in the [ ] below: [x]):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-03-31 09:22] Willyfrog commented on #1523
we already have an [issue for that](https://mattermost.atlassian.net/browse/MM-19511), but i added a comment to it, as I think you provided valuable info.

thank you! :)

[2021-03-31 13:28] zpersichetti commented on #1523
Neat. FYI I attached a picture of what led me in this direction. I was trying to figure out what caused it by unistalling / reinstalling the exe and MSI and at some point the MSI popped this error during install (install still finished) and notification click through worked.

![error](https://user-images.githubusercontent.com/17482716/113145756-d407d000-91fc-11eb-849e-a684b2aa4efc.PNG)

[2021-03-31 13:52] Stanley-G opened #1525 "Upgrade to Desktop 4.6.2 deletes user-defined categories"
This isn't reproducible since the categories are gone. Not sure if the problem is on the server or desktop client.

[2021-03-31 13:55] Willyfrog commented on #1525
hello and thanks for reporting!

it is unlikely that the desktop generated the problem, most likely it'll be either the webapp or the server having something to do. I'm transfering the issue to the server repo where it will get proper attention. Feel free to reopen or ask to transition it back to this repo if it is indeed a problem with the desktop client

[2021-04-06 11:46] runejuhl opened #1528 "Shift+arrow up only opens thread pane if input field has focus"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-04-06 13:38] Willyfrog commented on #1528
hello and thanks for reporting.

this can be reproduced as well in the browser, so it is not a desktop issue but a webapp issue. Although I believe it is intended to work that way.

Anyway I'll transfer this issue to the server repo, where it will get more attention. Let me know if you think it should remain here.

[2021-04-12 08:22] distante opened #1533 "Mattermost taskbar icon is black on black background (macOS 11.2.3)"
I confirm (by marking "x" in the [ ] below: [x]):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-04-13 00:54] bbodenmiller opened #1534 "Support for NTLM authentication"
Needed to support numerous login providers:

https://www.electronjs.org/docs/api/session#sesallowntlmcredentialsfordomainsdomains

`session.defaultSession.allowNTLMCredentialsForDomains('*')`

[2021-04-13 09:15] Willyfrog commented on #1534
thanks for the report and info. I've created a [ticket](https://mattermost.atlassian.net/browse/MM-34793)

[2021-04-13 13:51] MH42069 opened #1535 "Channel notifications are hard too see"
Channels with unread messages can be hard to see when you have a multitude of channels, especially if you have a low-res monitor or a poor sight.

It would be really useful to have a bettere highlight method instead of just making channels with unread messages in bold font

I suggest to add an unread messages counter just like for DMs, which also makes it easier to spot (
![example](https://user-i

[2021-04-13 14:30] mattermod opened #2036 "Handle desktop builds outside of a git repo gracefully"
While most people would fork and build the app from there, there are cases where a pipeline might just get the zip code (either via github’s button/api or from release) to get the latest stable source code.

Our current pipeline expects it to run from a git repo (see [https://github.com/mattermost/desktop/blob/master/webpack.config.base.js#L15](https://github.com/mattermost/desktop/blob/master/web

[2021-04-14 15:32] cbrand-ludlums commented on #1535
I too have found these hard to notice easily, especially when the monitor contrast isn't to good..  What I've told users who ask about this is to set the Sidebar Unread Text to a different color from the Sidebar Text.  Doing this you can really make unread messages stand out. To do this, go to your account settings, Display, Custom Theme and Sidebar Styles.  From here you can change the colors to

[2021-04-14 15:40] MH42069 commented on #1535
Thanks @cbrand-ludlums I will tell my users to use this solution too.

However i think that it could still be useful to have a better method to highlight channels just like the unread counter for direct messages or to have a different color for unread channels already in the default themes.

[2021-04-14 16:44] amyblais commented on #1533
@distante Are the notes here helpful https://github.com/mattermost/desktop/issues/317#issuecomment-402703667? Not sure if this is something that could potentially be documented.

[2021-04-14 17:43] amyblais commented on #1535
Would you be open to trying grouping unread channels separately? You can set this via **Account Settings** > **Sidebar** > **Group unread channels separately** > **On**.

[2021-04-15 08:04] MH42069 commented on #1535
thank you @amyblais i asked my users who face this problem to use your solution for the time being, thanks for the help.

[2021-04-15 11:24] Kaor opened #1541 "Problem with right click for spell check"
- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I have read [contributing guidelines](https://gi

[2021-04-15 11:56] Willyfrog commented on #1541
on 4.7 we are changing how the dictionary works, and it uses either the operating system one (in mac) or the hunspell one (win/linux)

as far as I've tested it worked in this new version (we recently published beta 2 if you want to try)

closing as we won't be fixing it for 4.6.2, feel free to reopen if you think we need to work on it.

[2021-04-15 11:56] #1541 closed

[2021-04-15 15:53] nakasix opened #1542 ""Save Image" does not work on the Windows application"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-04-15 17:26] Willyfrog commented on #1542
hi, this is fixed in the upcoming v4.7, you can try the beta if you like to test.

closing for that reason, but feel free to reopen if you think we didin't address it properly.

[2021-04-15 17:26] #1542 closed

[2021-04-16 14:33] distante commented on #1533
Hi @amyblais , not really, I think my problem has more to do with MacOs light/dark modes.

[2021-04-16 15:20] amyblais commented on #1533
Does the same issue occur on v4.7.0-beta version https://github.com/mattermost/desktop/releases/tag/v4.7.0-beta2?

On Mac, I went to General > Appearance > Dark, but wasn't able to repro just now.

[2021-04-17 10:19] distante commented on #1533
@amyblais I tried v4.7.0 beta and it still happens.

But I have found a way for you to reproduce it (I think).

* First I am using [this image](https://images.wallpaperscraft.com/image/light_lines_long_exposure_198920_3840x2400.jpg) as background
* General > Appearance  -- Is not set to **Dark** but **Auto**, more important, in **Dark** mode it works correctly.
* Setting Appearance to **Light** re

[2021-04-19 16:25] Willyfrog commented on #1535
moving the issue to the server repo, where it will be more visible

[2021-04-19 16:27] Willyfrog commented on #1533
this should be fixed on 4.7.0-rc1 or greater. Although there is an issue with the tray icon being fixed in https://github.com/mattermost/desktop/pull/1549 which should make it to daily and rc2

[2021-04-20 07:11] thanosk commented on #1080
Workaround with three-dot-menu will stop being helpful after 4.7.0 releases (I'm testing with all beta and rc 4.7.0 releases), at least under Ubuntu. While the workaround will indeed keep disabling the three-dot-menu, pressing just a single Alt will still move the focus out of the text box (so, we will need to find a better workaround, perhaps).

I'm disappointed that this bug will be open probabl

[2021-04-20 09:48] #1533 closed

[2021-04-20 13:52] distante commented on #1533
@Willyfrog The initial problem is fixed but now instead of getting an black icon with black background the app just crashes when I change Appareance from 'Auto' to 'Dark'. in system -> general

![image](https://user-images.githubusercontent.com/5490201/115407236-2599ee00-a1f0-11eb-92c4-ce5a6e106aa4.png)

[code]

[2021-04-20 15:00] Willyfrog commented on #1533
yes, sorry about that, we noticed that on rc1, can you try rc2 (we released it a few minutes ago)? we should have fixed it, but let me know if it still happens

[2021-04-20 15:23] distante commented on #1533
Yes it works now

[2021-04-21 12:00] akmet commented on #1350
@Willyfrog Would you be so kind as to enlighten us as to whether there is anything new on this yet?
Perhaps the community can also help by providing a pull request.

[2021-04-21 12:59] Willyfrog commented on #1350
I'd love to have that for the next major release (5.0), for now we are focused on delivering v4.7

sorry I can't provide any dates, regarding community PRs they are always welcome, let me know if I can help with anything regarding this

[2021-04-21 14:58] GeorgLink commented on #1533
I look forward to having this when it releases and my client updates

[2021-04-22 17:16] Dartui opened #1563 "Forward and previous channel button does not change application title"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-04-23 13:21] amyblais commented on #1563
@Dartui Are you able to reproduce the same on v4.7-rc2 https://github.com/mattermost/desktop/releases?

[2021-04-23 14:19] Dartui commented on #1563
@amyblais on Xubuntu, Mattermost 4.7-rc2 does not show channel name in application title at all. There is only "Mattermost Desktop App" in title. Later I will try it on Windows installation.

![obraz](https://user-images.githubusercontent.com/2657856/115884760-8d9a3f80-a44f-11eb-90b8-cab34f1a2f9b.png)

[2021-04-24 07:40] Dartui commented on #1563
Windows installation has the same application title, no matter of which channel is selected - Mattermost Desktop App.

To be honest I kinda liked seeing what channel I had open, but displaying same title all the time is fixing this issue.

[2021-04-24 14:29] wget commented on #1229
Just got confirmation from @cloph via @arnaudversini, the LibreOffice project seems to use this provider for code signing certificates (noticeably cheaper).
https://www.certum.eu/en/code-signing-certificates/

And as for the timestamping server being used, it is not Digicert but Certum own TSA server (http://time.certum.pl/):

![Screenshot_20210424_162520](https://user-images.githubusercontent.com

[2021-04-24 21:50] hectorskypl opened #1566 "Scrambled icon on taskbar in older version of windows"
I confirm (by marking "x" in the [ ] below: [x]):

- [x ] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [ x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
-

[2021-04-24 21:55] hectorskypl opened #1567 "[4.7.0-rc2] Windows client shows as macOS"
I confirm (by marking "x" in the [ ] below: [x]):

- [ x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
-

[2021-04-25 22:38] Willyfrog commented on #1567
Hi there and thanks for reporting!

 just to clarify, do you mean the UserAgent or some other thing?

[2021-04-26 08:01] hectorskypl commented on #1567
Oh yes apparently its user-agent :)

[2021-04-26 08:38] Willyfrog commented on #1567
Thanks for reporting, I've [created an issue](https://mattermost.atlassian.net/browse/MM-35171) for it

[2021-04-26 10:28] Willyfrog commented on #1566
[ticket](https://mattermost.atlassian.net/browse/MM-35172) created for the issue

[2021-04-26 20:43] devinbinnie commented on #1205
This is fixed in v4.7 as we force the dev tools window mode to `detach`
See: https://www.electronjs.org/docs/api/web-contents#contentsopendevtoolsoptions

[2021-04-26 20:47] devinbinnie commented on #1203
Hey @preethi900, are you still looking to fix this?

[2021-04-26 20:47] #1205 closed

[2021-04-27 16:00] thurstonmore opened #1570 "Impossible to install mattermost on debian bullseye (libappindicator3-1 dependency missing)"
I confirm (by marking "x" in the [ ] below: [x]):

    [x ] This is not a troubleshooting question. Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/.
    [ x] This doesn't reproduce on web browsers (such as in Chrome). If it does, issue reports go to the Mattermost Server repository.
    [x ] I have read contributing guidelines.

hello, i cannot install mattermost-desktop

[2021-04-27 16:34] phpony commented on #1080
Confirm this on 4.6.2 with Windows 10.

Actually this bug makes Mattermost Desktop absolute unusable on multi-locale systems. When you switch layouts multiple times per each message - at some point you just close app and go to web version for how much annoying this bug is.

[2021-04-27 16:37] Willyfrog commented on #1570
Hi! is the package not available to install? I'm trying to figure out if the package needs upgrading or if its a problem especific with debian.

[2021-04-27 17:57] thurstonmore commented on #1570
Super, thanks for your quick answer. And yes i cannot manage to install it, seems not available from debian repository. (i am not a linux expert at all, so please take my info with care). I wonder if it is then more on debian side...

[2021-04-27 18:48] artiommorozov commented on #1080
Workaround is available for Windows although it takes time to get used to :). Switching layout by holding Shift first and then pressing Alt doesn't trigger menu.

[2021-04-27 19:02] thanosk commented on #1080
Holding Shift first also works on Linux (Ubuntu, etc.). Another workaround is to press Alt+Shift carefully/slowly like this: Press Alt, cool, press Shift, then release Shift, cool, then release Alt. But the whole thing is already on the ridiculous level side of things ...

[2021-04-27 20:40] phpony commented on #1080
You've dug really deep into this issue, that's great! How about we create a startup project selling people hardware patches for this issue? Similar to this ones:

![Hardware patch](https://i.imgur.com/g3nTvIO.jpg)

We'll dig some real $$$ for next few years until this issue will be addressed.

[2021-04-27 20:55] phpony commented on #1080
Going back to serious matters - here's the solution:

https://github.com/electron/electron/issues/11106#issuecomment-441350115

[2021-04-28 21:36] nmatt opened #1575 "Wrong icon color in Windows taskbar notification area with light background"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] I have confirmed this is an issue on the newest beta build [available here](https://github.com/mattermost/desktop/tags)
- [x] This issue doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I have read [contributing guid

[2021-04-29 07:03] thurstonmore commented on #1570
Hello Guillermo, i don't fully understand all the on-going process. Does it mean that the future RC4 (coming in few days perhaps) will be ok for intall? thanks, sorry for the disturbance.

[2021-04-29 07:51] Willyfrog commented on #1570
No worries, I'm happy to help clarify.

Yes, the change will be shipped in RC4

[2021-04-29 08:15] enginhu commented on #317
Using Arch Linux with Gnome 40 and have the same issue. ![2021-04-29_11-14](https://user-images.githubusercontent.com/10974453/116520947-0d0a9180-a8dc-11eb-8df1-5bc73f70d079.png)

[2021-04-29 08:47] #1570 closed

[2021-04-29 08:50] tomasnorre commented on #317
Oh. Mine is at least not cropped, but just resizing my bar.

[2021-04-29 09:54] thurstonmore commented on #1570
superbe, thanks a lot.

[2021-04-29 18:02] amyblais commented on #1575
A ticket for this is here: https://mattermost.atlassian.net/browse/MM-35302.

[2021-05-05 14:06] Chydak13 commented on #1080
reproduce on Ubuntu 20, client 4.6.2
@thanosk Thank you so much for this workaround :)

[2021-05-05 14:25] ggrrll opened #1585 "cycling back with arrows"
are there progresses on this?

https://mattermost.uservoice.com/forums/306457-general/suggestions/13744383-make-up-arrow-behavior-configurable
(it was on 2016...)

(btw, slack has that, and it is very handy :) )

[2021-05-05 15:14] Willyfrog commented on #1585
I'll move this to the right repo for it to get proper attention :)

[2021-05-05 19:56] mahdiyari opened #1588 "Mattermost opens the calculator !!!"
When I close Mattermost desktop application on windows (not entirely, just minimizing), it sometimes (very rare) opens the calculator.

It's somehow a funny and weird bug/feature. It happens very very rare so it's not easy to reproduce.

[2021-05-06 10:57] svelle commented on #1588
Hi @mahdiyari would you mind adding the version you're seeing this on?

You can check this if you go to the top right menu and go to `Help`.

Thanks!

[2021-05-06 10:59] mahdiyari commented on #1588
4.4.1

[2021-05-07 10:11] svelle commented on #1588
@mahdiyari since that version is almost one year and unsupported old I highly recommend upgrading to the latest release (4.6.2).

Feel free to reopen of the issue persists on the latest verion :)

[2021-05-07 10:18] Willyfrog commented on #1567
fixed in #1567

[2021-05-07 10:18] #1567 closed

[2021-05-07 10:21] Willyfrog commented on #1464
this is fixed in 4.7, currently on RC

[2021-05-07 10:21] #1464 closed

[2021-05-10 16:52] #1575 closed

[2021-05-12 16:28] elgrafico opened #1601 "Wrong icon color in Windows taskbar notification area with dark background"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-05-13 11:58] amyblais commented on #1601
@Willyfrog Is there a ticket for this already?

[2021-05-14 07:40] holle commented on #1601
I have the same behavior under:

* OS: openSUSE 15.2
* Desktop: KDE Plasma 5.18.6
* Mattermost Desktop: 4.6.2

My Mattermost Icon is pitch black on a black KDE System Tray ;-)

So I guess we could use some Try "Icon Set" for dark and the existing for bright backgrounds.

As far as understand it, these files are the tray icons? (Git Repo)
resources/windows/tray.svg
resources/windows/tray_mention.sv

[2021-05-14 07:57] holle commented on #1601
After poking around in the git repo I figured out that the "dark" theme icon is invisible on a "dark" themed desktop while a "light" theme icon vice versa is invisible on a "light" background.

So I switched this in my config.json:
[code]

And started Mattermost anew. Now the icon shows as expected:

(openSUSE 15.2 / KDE Plasma 5.18 / Mattermost 4.6.2)

Cheers, Holger

PS: Locations of the config.

[2021-05-14 10:03] Willyfrog commented on #1601
@amyblais we can always reopen the original one https://mattermost.atlassian.net/browse/MM-35302 as it is related/followup. Since I added a bunch of different icons i might have messed up, although my test of the original PR was showing correctly, I'll go through it just to make sure there werent any other problems.

[2021-05-16 16:02] KheroNem opened #1603 "Version number disable notifications build in the electron project."
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-05-17 07:13] Profesor08 commented on #1480
Every messanger has this feature. And only mattermost starts as an open widow. Please add an config option.

[2021-05-17 09:05] Willyfrog commented on #1603
hello and thanks for reporting.
my guess is that this is a custom build, right? did you change the name of the app by any chance? if the desktop doesn't register properly with the server, the server won't send the message for the notification and will do an html notification instead

we don't check for the version number in any way for notifications, but we need to have the expected user agent for

[2021-05-19 01:04] boistordu opened #1605 "Snap need update"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-05-19 01:26] ZDBioHazard opened #1606 "Regression: Notification sounds do not play [Windows]"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] I have confirmed this is an issue on the newest beta build [available here](https://github.com/mattermost/desktop/tags)
- [x] This issue doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I have read [contributing guid

[2021-05-19 07:13] Willyfrog commented on #1605
Hi there! Thanks for reporting. Is there an error or any context regarding of what it needs for updating?

[2021-05-19 08:54] Willyfrog commented on #1601
closing the issue as wont fix, the only way to repro this is to use custom colors on windows having the Windows mode dark and default app mode light (same goes for light/dark combination which would result in a black over black)
having the same on both values or not using custom colors fixes the problem.

feel free to reopen if this is not the case and I missed some other repro steps that might ne

[2021-05-19 11:06] elgrafico commented on #1601
So let's see if I got it right...
1. mattermost/desktop relies on electron's [nativeTheme](https://www.electronjs.org/docs/api/native-theme) API that exposes the **application** color mode (dark/light) only.
2. There [doesn't seem to exist](https://github.com/electron/electron/issues/19729) an electron API that exposes the **system** color mode, which at least for Win10 would be more applicable in

[2021-05-19 13:14] Willyfrog commented on #1601
on 4.6.2 it used that property, but now it relies on nativeTheme, yes.

thanks for the link to the electron issue, I just subscribed to it, so if there are any changes we can update the app accordingly

[2021-05-19 13:18] Willyfrog commented on #1606
Thanks for reporting!! There is a ticket for that already: https://mattermost.atlassian.net/browse/MM-35662

[2021-05-19 13:20] Willyfrog commented on #1566
Does 4.7.0-rc4 help with the issue? we did some changes in the windows icons and might yield different results

[2021-05-19 13:21] Willyfrog commented on #1523
hi! is this still happening with msi for 4.7.0-rc4?

[2021-05-20 02:33] ageekhere commented on #15
For windows users it could be distributed on the windows store

[2021-05-21 08:46] ggrrll opened #1610 "shortcut: focus on previous message in a conversation"
it would be nice to move back simply with arrows keys :arrow_down:  :arrow_up:  , to all previous messages, like here
(in slack you can choose if you want to edit or simply move and then for instance  'E' opens the editing window of the selected message)

https://slack.com/intl/en-ch/help/articles/115003340723-Navigate-Slack-with-your-keyboard-Navigate-Slack-with-your-keyboard

[2021-05-21 09:01] Willyfrog commented on #1610
thanks for the feedback, I'll transfer the issue to the appropiate repo.

[2021-05-21 10:19] kedar-joshi commented on #1533
Is there any Windows specific version of this issue ? The stated behavior isn't MacOS specific and reproducible on Windows 10 as well.

![image](https://user-images.githubusercontent.com/13585883/119122324-0808b000-ba4c-11eb-9873-cecc9665e88c.png)

I am using desktop client v4.7.0-RC5.

[2021-05-21 13:37] Willyfrog commented on #1533
@kedar-joshi that's a different issue, see https://github.com/mattermost/desktop/issues/1601

[2021-05-23 02:35] boistordu commented on #1605
Well I m not an expert of snap package but as you can see on the thread from the forum I post (where they are experts on the question), you can see also on an another thread of the forum where one of the dev directly answered me https://forum.snapcraft.io/t/snaps-show-squares-instead-of-fonts/18073/7
What needs to be updated to have a correct build.

[2021-05-23 02:38] boistordu commented on #1605
I ve update my original thread here because apparently the text was not showing properly with the link to the snapcraft forum

[2021-05-25 19:10] tchv71 opened #1614 "There is no hotkey for editing my own messages"
Please, add hotkey for editing myself messages - i mean three dotted menu on right of messages. The mouse way is too long on big windows

[2021-05-25 19:49] Willyfrog commented on #1614
Have you tried arrow up?

[2021-05-25 22:21] tchv71 commented on #1614
Hmm, indeed its working! But it’s not obvious nor displayed in the menu

Regards,
***@***.***

[2021-05-25 22:22] #1614 closed

[2021-05-26 08:08] Willyfrog commented on #1614
You have a list of available shortcuts with `command`+`/` for mac or `ctrl` + `/` for all other platforms.

[2021-06-01 16:13] mwid2020 opened #1617 "Search field does not get focus when clicking on magnifier glasse (Mac desktop)"
I confirm (by marking "x" in the [ ] below: [x]):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-06-01 16:17] amyblais commented on #1617
We have a ticket open for this here: https://mattermost.atlassian.net/browse/MM-35713.

[2021-06-01 21:15] tchv71 commented on #1614
Thanks, but this is non standard nor Windows nor Mac hotkey, how would i know it? Perhaps, something Web specific...

[2021-06-01 21:23] tchv71 opened #1618 "Crazy idea - what about editing my own messages in one click - just like in text editors"
To edit my own messages I need go to the menu on the right or press Up key, but only for the last message
Simple don't allow editing for messages from others and click-and-edit for my own inplace

[2021-06-02 09:56] Willyfrog commented on #1618
Hi! thanks for sharing the feedback, I'll move the issue to the appropiate repo so it gets more attention

[2021-06-02 09:59] Willyfrog commented on #1606
this should be fixed in https://github.com/mattermost/desktop/pull/1615

[2021-06-05 07:31] vquemener commented on #1080
I believe that the underlying problem has been fixed in [`Electron v12.0.10`](https://github.com/electron/electron/releases/tag/v12.0.10) :

Mattermost Desktop [currently uses `Electron v12.0.7`](https://github.com/mattermost/desktop/blob/master/package.json#L76):  could an upgrade be considered ?

[2021-06-05 07:33] vquemener commented on #1399
See also #1080.

[2021-06-05 08:15] steve-todorov commented on #1080
Finally! Some action on this issue! I opened up another one a while ago without knowing this one existed.

This issue is so frustrating I have stayed at a previous version of the client for what seems to be an eternity simply because my productivity drops by 80%.

I'd be more than happy to test a possible fix at any time!

[2021-06-05 18:58] hectorskypl commented on #1566
Hello,

Now is much better, except fact that icon goes black and is barely visible when its out of tray.
![image](https://user-images.githubusercontent.com/5221712/120902433-ba419980-c640-11eb-9672-4b628443cea3.png)

[2021-06-07 15:11] #317 closed

[2021-06-08 09:24] #1399 closed

[2021-06-08 13:50] teyeheimans commented on #1355
We have the same issue. Small company with 8 users. Very annoying bug as you miss the messages.

[2021-06-08 14:18] amyblais commented on #1355
@teyeheimans Would you have more details on what you're seeing as requested by devs above? ^
 - https://github.com/mattermost/desktop/issues/1355#issuecomment-665511838
 - https://github.com/mattermost/desktop/issues/1355#issuecomment-696823976

[2021-06-08 14:31] teyeheimans commented on #1355
It seems to happen only in Direct Messages. Not in channels. The post did not contain a mention.

We are unable to trigger it, because if I unfocus the window  (switch to another application), and my colleague talks to me, I do get a notification. However, I just had a case where a colleague needed to notify me over Skype because MatterMost did not notify me about his DM messages. This was after a

[2021-06-08 14:48] amyblais commented on #1355
What Mattermost server version and OS are you on?
Are there any console log errors (instructions here https://docs.mattermost.com/install/desktop.html#reporting-issues)?

[2021-06-08 15:15] teyeheimans commented on #1355
I am on Mac OS 10.15.7.  We run mattermost server version 5.35.2-0 on Ubuntu 20.04.

Here is my console log file. However, I have restarted in between. We will also make a log file after the first time it happens again.

[-1623165215068.log](https://github.com/mattermost/desktop/files/6617720/-1623165215068.log)

[2021-06-08 15:17] amyblais commented on #1355
@Willyfrog FYI for above details.

[2021-06-08 15:41] Willyfrog commented on #1355
If you open the dev tools for the current server after leaving the app in the background and missing a notification, does it show any errors?

[2021-06-08 15:49] Willyfrog commented on #1355
regarding the errors on the log, the only error is about context menu not being able to generate a URL object out of whatever is being hovered, so nothing that would cause it.

Im asuming this is with the mattermost build, not a modified one, right?

[2021-06-08 16:52] P9k opened #1622 "Use Mattermost Desktop with SOCKS5 proxy [Ubuntu 20.04]"
I would like to use the Mattermost Desktop app on Ubuntu 20.04 via a SOCKS5 proxy (established with SSH) to access a Mattermost instance running within an internal network.

With Firefox, everything works fine following these steps:

1. In a terminal, establish the SOCKS5 proxy with `ssh -D 8080 remote-server-in-internal-network`
2. In Firefox, I activate the proxy settings: 'Manual configuration'

[2021-06-09 06:33] teyeheimans commented on #1355
Correct, we just use the mattermost build.

I have asked my colleagues to share the console log whenever the issue happens again. We also thought that it might be related to the server. We use nginx as proxy. We have used your example configuration as setup: https://docs.mattermost.com/install/config-proxy-nginx.html

Thanks for your help so far. We will provide mode input when it happens again.

[2021-06-09 09:39] leoniscsem opened #1624 "How to toogle menubar?"
For troubleshooting, see [https://www.mattermost.org/troubleshoot/](https://www.mattermost.org/troubleshoot/).
Ubuntu 20.04
Mattermost 4.6.2
installed via snap from channel latest/stable

When I start the Mattermost desktop application, it comes with a collapsed / hidden menu bar, and instead it shows a "three dots menu" in the top left corner. When I (accidentally) press a key combination like Al

[2021-06-09 10:37] Willyfrog commented on #1624
Hello and thanks for reporting! It indeed is annoying, I just filled a [ticket for it](https://mattermost.atlassian.net/browse/MM-36309) feel free to add any details to it.

[2021-06-09 19:13] ZDBioHazard commented on #1606
I can confirm that this issue is fixed in `4.7.0-rc6`

[2021-06-09 19:13] #1606 closed

[2021-06-09 20:45] logiota commented on #1365
cpu cycles are reduced by at absolute minimum 30% so of course it will reduce consumption, it also enhances parallel processing a lot and hardware acceleration.

[2021-06-09 22:11] steve-todorov commented on #1080
I just tried [4.7.0-rc6](https://github.com/mattermost/desktop/releases/tag/v4.7.0-rc6) and confirm I don't seem to be having this issue anymore! Thanks so much for fixing it! :)

[2021-06-10 08:31] Willyfrog commented on #1399
you can try https://github.com/mattermost/desktop/releases/tag/v4.7.0-rc6 to see if that fixes the problem. it should be addressed there

[2021-06-10 08:33] jbub commented on #1365
Looks like the 4.7.* beta and rc versions already include mac-arm64.dmg, guess it will be released soon ?

[2021-06-10 08:33] Willyfrog commented on #1297
you can try https://github.com/mattermost/desktop/releases/tag/v4.7.0-rc6 to see if https://github.com/mattermost/desktop/pull/1619 fixes theproblem

[2021-06-10 08:34] Willyfrog commented on #1215
you can try https://github.com/mattermost/desktop/releases/tag/v4.7.0-rc6 to see if https://github.com/mattermost/desktop/pull/1619 fixes theproblem

[2021-06-10 08:34] #1215 closed

[2021-06-10 08:41] Willyfrog commented on #1365
4.7 addresses part of the power comsumption and as well will provide m1 builds (but keep in mind those are beta as we haven't had many people test them)

Right now m1 builds are the ones ending in arm64, but it will be renamed to m1 by release. Feel free to test them and report any feedback

[2021-06-10 09:26] jbub commented on #1365
Yep already running on ARM64 Version 4.7.0-rc6 (4.7.0-rc6.10554), so far so good. Thank you

[2021-06-10 11:48] Chydak13 commented on #1080
Just tried the same,  4.7.0-rc6 на ubuntu20
debends on the speed you release alt

If alt is released after the shift, the issue persists. Please help....

[2021-06-10 11:51] thanosk commented on #1080
I also tried 4.7.0-rc6 on ubuntu 20.04 LTS and I also confirm that the issue persists.

[2021-06-10 13:37] reduardo7 commented on #1090
Still not working! 😱

[2021-06-10 13:37] reduardo7 commented on #1090
/reopen ?

[2021-06-10 21:50] patric42 commented on #1297
Can confirm that it fixes the problem.

Thanks a lot :-)

[2021-06-15 10:23] teyeheimans commented on #1355
Ok, we had this problem again. See attached the requested log files.

Some things look interesting:

[code]

[application server.log](https://github.com/mattermost/desktop/files/6654830/application.server.log)
[current server.log](https://github.com/mattermost/desktop/files/6654831/current.server.log)

It is maybe related that the person who has had this issues is working on a VPN connection. Howe

[2021-06-16 17:35] amyblais commented on #1355
@Willyfrog For the log errors ^

[2021-06-18 13:13] mahdiyari commented on #1588
Updated to v4.6.2 since last discussion here and today it happened again. After closing mattermost window by clicking on the X, the calculator just opened up.

[2021-06-21 09:26] Willyfrog commented on #1355
It looks like the websocket connection is having troubles to manage the network changes, if you don't have the websocket up it won't send the message to the client and the client won't show any notification/badges changes.

Does the user have to be connected to the VPN in order to connect to the mattermost server? if he doesn't maybe it is worth tring to use it without setting up the VPN.

If he a

[2021-06-22 14:18] dmitrysamuylovpharo opened #1635 "Loosen uri validation for custom protocols launched from the app to match mattermost webapp"
### **Problem:**
Since mattermost desktop release 4.6, the desktop client applies valid URL validation to custom protocols when a user tries to launch a link with a custom protocol from the mattermost app. In the past, prior to this release, this action would simply launch any application registered with the OS to handle this custom protocol and let that application take it from there. In the vers

[2021-06-24 14:56] tmu-sprd opened #1636 "Unable to choose spelling languages in 4.7"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-06-24 15:02] amyblais commented on #1636
@Willyfrog @jgilliam17 Does this repro for you?

[2021-06-24 15:07] Willyfrog commented on #1636
with 4.7 we default to system language as we are now using the system's dictionary.

we want to add the option to select different languages in the future (see [MM-33112](https://mattermost.atlassian.net/browse/MM-33112) ) althought that will only be possible in windows and linux due to electron limitations. The plan for that ticket is to be made help wanted (which will happen next week)

[2021-06-24 15:14] Willyfrog commented on #1635
added a [ticket](https://mattermost.atlassian.net/browse/MM-36650) for reference, we'll discuss this in our sprint meeting. But tagging as help wanted as that might be the fastest way of getting it done ATM.

Thanks for bringing this to my attention :)

[2021-06-26 02:32] bbodenmiller commented on #1432
Latest release uses Electron 12 so maybe this is fixed?

[2021-06-26 14:47] alerque opened #1638 "Build from source archive impossible"
Building from the `git archive` generated source download from the last tagged release (v4.7.0) is not possible. Somewhere deep in the webpack step it assumes the build is happening from a Git clone and runs `git rev-parse --short HEAD`.

Please either:

* Add a source distribution asset to releases with the necessary meta data baked in
* Add the special repo metadata that will allow `git archive`

[2021-06-26 18:55] #1182 closed

[2021-06-26 18:55] devinbinnie commented on #1182
Taken on internally.

[2021-06-28 12:10] amyblais commented on #1638
@Willyfrog ^

[2021-06-28 12:14] Willyfrog commented on #1638
@amyblais thanks for the heads up!

@alerque hello and thanks for reporting, we made some changes to have a daily build and we added a git hash to track the daily builds. This seems to cause a problem to some users like you that build from source, so we created a [help wanted issue](https://github.com/mattermost/mattermost-server/issues/17393) to try and fix that.

[2021-06-29 06:29] DVTrast opened #1640 "Link-Window cutted if Mattermost-Desktop-Client (Version 4.7.0) is maximized"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-06-29 12:39] amyblais commented on #1640
@jgilliam17 Can you reproduce this?

[2021-06-29 13:06] jgilliam17 commented on #1640
@amyblais Yes, I can reproduce on Win 10, MSI build. I'll create a Jira ticket.

[2021-06-29 13:16] jgilliam17 commented on #1640
https://mattermost.atlassian.net/browse/MM-36727

[2021-06-29 13:30] licaon-kter opened #1642 "Why does it connect to Google on start?"
- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [ ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I have read [contributing guidelines](https://gi

[2021-06-29 13:48] Willyfrog commented on #1642
Hi there, with v4.7 we are currently using chromium's dictionary capabilities, and in order to get the dictionaries it need to connect to google's server to retrieve them. all the other are most likely mirrors.

[no info is shared with google's server](https://www.electronjs.org/docs/latest/how-to/spellchecker#does-the-spellchecker-use-any-google-services) and it is only used to download the lates

[2021-06-29 14:33] JtheBAB commented on #1642
Why not host a own repo @ mattermost or prepackage it (if possible)?

[2021-06-29 14:53] Willyfrog commented on #1642
It is possible to provide alternative download locations, but I'm not really sure which one would be a good alternative and as available as google ones.

we could probably have a config settings to download from a different source, but I'm not sure that should be the default

[2021-06-29 15:57] licaon-kter commented on #1642
It's an information leak, "look this person installed this software" sent to a corporation that gains its money from this kind of information.

With on-prem server things I thought admins are in control, now I wonder if this breaks GDPR no matter what I, the server admin, do. :(

[2021-06-29 16:00] Willyfrog commented on #1642
Would this help with that?

[2021-06-30 06:33] stefangr commented on #1636
This is a major loss of functionality for users in a multi-lingual environment.

In our (Dutch) company with English speaking colleagues for example, we have conversations in Dutch and English channels.
Before 4.7, I could switch the spelling for the text area when needed.

Now I must change the system language to have the correct spelling check??

[2021-06-30 09:14] Willyfrog commented on #1642
created a ticket for it [MM-36747](https://mattermost.atlassian.net/browse/MM-36747)

[2021-07-01 06:37] Jajcus commented on #1636
Yes, this change is a serious regression. People do use multiple languages on regular basis, often at work. Having spell checking available only for one, arbitrary selected in the OS is just wrong.
If anything was to be changed is to preserve language setting for a specific channel – that would be useful.

[2021-07-01 12:29] KlavsKlavsen commented on #1642
@Willyfrog Being dependant on external sources, also means being vulnerable to several issues, like:
- A mattermost using company - has internet access problems - hence the mattermost server cannot reach internet and does it then work at all?
- supply-chain attacks.. if someone manages to modify the files you download - they can attempt anything they can think of - to compromise the mattermost ser

[2021-07-01 12:41] Willyfrog commented on #1642
hello @KlavsKlavsen

If you don't have internet connection I don't think you are going to be able to use Mattermost unless it is in the same network. if that network is not connected to internet, then you'll loose spellchecking, not the whole functionality. Please, let us know if you are  in that scenario and having any unexpected issues.

As I mention, the plan is to provide alternative ways to g

[2021-07-01 12:44] licaon-kter commented on #1642
@KlavsKlavsen This is the Desktop app repo, the issue is limited to this app. :)

[2021-07-01 12:46] Willyfrog commented on #1642
Sorry, I missed to reply to this: how does this break GDPR? does it send any identifiable information about the user? If you really think this breaches GDPR, please contact us through [the means described in our privacy policy](https://mattermost.com/privacy-policy/) as this would be important to handle appropriately.

[2021-07-01 12:48] KlavsKlavsen commented on #1642
@Willyfrog I've tried having mattermost running in same server-setup where we had problems.. That was really bad, because we could not talk about it. Often if you try to pull something from the internet - the (bad) handling of timeouts when there is no response ( in case of internet down or remote being down) - means the service stops working - even though it SHOULD have kept on working. Its often

[2021-07-01 12:50] KlavsKlavsen commented on #1642
This actually also happens today if my client has connections to 2 mattermost servers - and one of them serves an invalid certificate.. client KEEPS pinging me about it - making the client unusable.. (there is an issue about that :)

[2021-07-01 12:54] KlavsKlavsen commented on #1642
if everybodys client fails to work (company internet access down f.ex.) - its still communications down, due to external problem - if client keeps re-trying (and hanging on timeout f.ex.)..

And IMHO yes its an information leak and increases exposure to supply-chain-attacks or local dns cache poisoning attacks

[2021-07-01 12:55] licaon-kter commented on #1642
@Willyfrog

What user agent is used? What info does taht contain? What does Google see besides IP?

My thoughts about GDPR are about a sudden connection to Google servers, that checkbox in the app Settings does not warn about anything. I'm no lawyer so my opinions are mostly confusing, yet I'm not happy about seeing connections to known monopolies that earn 98% of they're profit from data collecti

[2021-07-01 12:58] FuriousTurtle opened #1643 "Latest compiled desktop application prevent the use of gitlab sso"
I confirm:

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I have read [contributing guidelines

[2021-07-01 12:59] FuriousTurtle commented on #1643
Note that it works perfectly on chromium browser, I replicated my tokens in my desktop app to bypass the issue for now

[2021-07-01 13:02] Willyfrog commented on #1642
Do you have repro steps for this issue? if so, please fill in another github issue with repro steps as the desktop app shouldn't crash due to not being able to get the spellcheck definitions and I'd like to take a look at that.

you can probably inspect any request, but in a general sense it will contain info about the electron version, being a mattermost client and the OS running it.

I'll create

[2021-07-01 13:04] Willyfrog commented on #1642
while we can certainly host it (we would need to figure out how, but I don't feel it is technically impossible) it wouldn't fix the problem as it would just be changing google by mattermost, if you distrust connecting a third party it shouldn't matter who it is.

[2021-07-01 13:05] runejuhl commented on #1642
These two issues both result in the error messages @KlavsKlavsen talks about: https://github.com/mattermost/desktop/issues/1019 and https://github.com/mattermost/desktop/issues/569

FWIW I've had the same issue and on occasion have had to remove a Mattermost server from my client in order to be able to use the client with the working server.

[2021-07-01 13:11] Willyfrog commented on #1642
ticket for spellcheking warning: https://mattermost.atlassian.net/browse/MM-36790

those tickets should be resolved by https://github.com/mattermost/desktop/pull/1240 if they are still happening, can you please open a new issue with repro steps? Also thanks for bringing those to my attention as they seemed to have slipped and should be closed (I'll do that now)

[2021-07-01 13:13] Willyfrog commented on #1019
this should be fixed by https://github.com/mattermost/desktop/pull/1240

closing, feel free to reopen if the issue persists in the new versions

[2021-07-01 13:13] #1019 closed

[2021-07-01 13:19] Willyfrog commented on #1643
Hello there and sorry to hear about that, are you getting to a page that would "check your browser" or is this a different issue?

[2021-07-01 13:41] Willyfrog commented on #1642
Sorry, seems the browser only showed me your last comment and missed the previous two, I'll address them:

If the server is not working on a particular escenario you should [fill an issue about it]() if you haven't done so already.

It is:

<img width="713" alt="Screen Shot 2021-07-01 at 15 35 10" src="https://user-images.githubusercontent.com/1515906/124133736-6b8df080-da82-11eb-9c19-461e965f6d86

[2021-07-01 17:45] runejuhl opened #1644 "Mattermost 4.7 window steals focus on StumpWM desktop switch"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-07-02 07:28] FuriousTurtle commented on #1643
After clicking on the SSO button, I'm redirected to a page which asks me for my sso login and password, as expected, but the
connect button won't do anything. I tried to click on it, select it with tab and pressing enter, it's like it's somehow unplugged ? Yet the exact same page works perfectly on my chromium browser, I don't get why it wouldn't work on electron's chromium instance ...
![image](h

[2021-07-02 09:52] lkraav commented on #1644
On Gnome, I've noticed that 4.7 window started eagerly grabbing focus on hover. No other app does this. Someting is definitely off here.

[2021-07-02 09:56] runejuhl commented on #1644
That's probably exactly what happens here. If the cursor is above the Mattermost window when I switch groups the Mattermost window probably sees the cursor hover the window immediately after I hit the keys for changing groups, but before StumpWM has a chance to change groups.

If Mattermost grabs focus on hover I can easily see StumpWM first switching groups and the hover event getting processed b

[2021-07-02 11:56] lkraav commented on #1644
Yarr, I've been a bit lazy with filing this issue earlier. Thanks for getting the fire started.

[2021-07-03 17:14] Tamberlox commented on #1432
Yep it's not doing it anymore, thanks for the heads up!

[2021-07-03 17:14] #1432 closed

[2021-07-04 07:36] kaksikanaa opened #1645 "Desktop application top bar menu, minimize, maximize or close icons do not respond/work on 4.7.0. on Windows 10."
I confirm (by marking "x" in the [ ] below: [x]):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-07-04 07:37] kaksikanaa commented on #1645
Tested with two different machines and the behaviour is the same.

[2021-07-04 08:07] kaksikanaa commented on #1645
https://user-images.githubusercontent.com/15322015/124378040-091e3580-dcb8-11eb-9bb2-057a41bcb8fb.mp4

[2021-07-04 08:09] kaksikanaa commented on #1645
My first idea was to check if the GPU acceleration setting was enable by default and this might be the reason but cannot do that because the file menu is unaccessable.

[2021-07-04 17:20] nmatt commented on #1480
Please restore this feature. It can be really annoying to have the Mattermost window in your face on every login; this should at least be configurable.

[2021-07-04 17:24] nmatt commented on #1408
Please make `--hidden` work again. It can be really annoying to have the Mattermost window in your face on every login. The normal workaround for Windows applications of creating a shortcut with "Run: Minimized" also doesn't work with Mattermost.

[2021-07-05 05:59] jprusch commented on #1645
Not an issue with my environment:
![image](https://user-images.githubusercontent.com/9337414/124424030-94ee9b00-dd66-11eb-8bc2-19f33ae409ce.png)

Server 5.37.0 Community-Daily / 5.36.1 Company

Desktop 4.7.0

Windows 10 Build 19093

[2021-07-05 11:25] datn commented on #1563
Linux application also always displays "Mattermost Desktop App", which is way too long for my task manager and ends up hiding notification numbers. Would appreciate a configurable dynamic title --

[2021-07-05 14:15] jasperroloff opened #1646 "Open PDF attachments in the associated system app"
When opening a PDF attachment inside the Mattermost desktop app, it only shows a preview of the PDF. The preview has multiple disadvantages: on high-resolution displays (e.g. MacBooks) the preview looks blurry and pixelated. Also, it isn't possible to select and copy text.

The feature I'm requesting is to allow opening the PDF using the system-wide default application for PDF files. Currently, th

[2021-07-06 12:49] Willyfrog commented on #1646
Moving to the server repo, as it is related to the webapp and not the desktop app.

[2021-07-06 14:04] Willyfrog commented on #1643
if you go to view>developer tools for current server, does any error or log appear that might be relevant?

when you mention "default mattermost app" which version are you referring? 4.6.X or 4.7.0?

[2021-07-06 16:29] bbodenmiller opened #1648 "Unread messages icon missing from taskbar following 4.7.0 upgrade"
I confirm (by marking "x" in the [ ] below: [x]):

- [ ] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [ ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-07-06 16:35] bbodenmiller commented on #1648
Exiting Mattermost & reopening did not seem to fix issue. Nor did exiting, shutting down `explorer.exe`, reopening `explorer.exe`, then reopening Mattermost. Oddly however selecting log out in app, exiting app, reopening, then relogging in seems to have brought back unread icon.

[2021-07-06 16:44] bbodenmiller commented on #1648
Possibly related: I'm getting the taskbar icon flashing on new message arrival as well despite having that option disabled in settings.

[2021-07-06 16:52] bbodenmiller opened #1649 "Taskbar icon flashing on new message arrival despite setting being disabled following 4.7.0 upgrade #1648"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-07-06 17:16] Willyfrog commented on #1648
hello @bbodenmiller and thanks for reporting, did you use the same type of installer in both instances? if you go to the apps configuration there is only one mattermost install, right?

[2021-07-06 17:17] Willyfrog commented on #1649
most likely both issues are related, as in both cases seem to be ignoring the configuration for some reason.

[2021-07-06 17:23] bbodenmiller commented on #1648
@Willyfrog correct. I used `mattermost-desktop-setup-4.6.1-win.exe` and `mattermost-desktop-setup-4.7.0-win.exe`.

Only one Mattermost installed:

![image](https://user-images.githubusercontent.com/1192780/124641905-0d775980-de44-11eb-90b9-1e16d46e569e.png)

[2021-07-06 17:42] Willyfrog commented on #1648
yes, I can replicate with the same exes, I'll fill a [ticket to investigate further](https://mattermost.atlassian.net/browse/MM-36859)

[2021-07-06 17:46] Willyfrog commented on #1648
restarting windows seems to fix it, maybe the file was locked by the old version until restart?

[2021-07-06 19:08] amyblais commented on #1563
cc @Willyfrog

[2021-07-06 19:15] bbodenmiller commented on #1648
@Willyfrog restarting didn't fix it for me. Earlier selecting log out in app, exiting app, reopening, then relogging brought back unread icon. Now that's not even working.

[2021-07-07 09:59] ffaur commented on #1645
Hello
I'm experiencing exactly the same issue as @kaksikanaa

Windows 10 Pro version 20H2 (19042.1081)

[2021-07-07 10:02] Willyfrog commented on #1563
we removed using the title from the webapp in 4.7, in 5.0 it will be replaced by something more sensible and useful based on the state of the app.

[2021-07-07 10:04] Willyfrog commented on #1648
if you go to the config file, which value does it have? does it change if you change it within the settings?

[2021-07-07 11:35] datn commented on #1563
Good to know, thanks.

I can't currently, because for my sanity, I actually used a binary editor to modify the app.asar fle to change <title>Mattermost Desktop App</title> to <title>Mattermost</title>. (Then I added an HTML comment to soak up the spaces)

I hope this suffices:

[code]

[2021-07-07 14:35] clicksrv commented on #1645
I'm also experience the exact same issue. The notifications are also not showing on the icon for me, neither does the taskbar flash or something on receiving a new message. Used to work fine in 4.6.2.

[2021-07-07 14:58] biva commented on #579
Hello, I see that this problem is still happening while it was working in the first versions of Mattermost. @jasonblais @amyblais Would you have any plan to solve it? It would be great :) (related PR and issues: https://github.com/mattermost/desktop/pull/712 and https://github.com/mattermost/mattermost-server/issues/12042)

[2021-07-07 17:23] amyblais commented on #579
@Willyfrog Is this related to https://mattermost.atlassian.net/browse/MM-24160?

[2021-07-08 03:06] bbodenmiller commented on #1648
@Willyfrog values:

[code]

Changing settings in UI changes things in config file as expected. e.g. `"flashWindow": 2,`, `"showUnreadBadge": false,`

[2021-07-08 09:50] FuriousTurtle commented on #1643
There is no particular logs or anything, even with debug and stuff enabled
It works on 4.7.0

[2021-07-08 23:01] aagha commented on #1645
Having the same issue.

Mattermost Version: 5.35.1
Database Schema Version: 5.35.0
Database: postgres

Windows 10 Pro
Version	10.0.19043 Build 19043

[2021-07-09 03:12] gitjp commented on #1645
I'm also having the same issue.

Mattermost Version: 5.34.2
Database Schema Version: 5.34.0
Database: mysql

Desktop 4.7.0

Windows 10 Enterprise
Version: 10.0.19042 Build 19042

[2021-07-09 08:36] Willyfrog commented on #1643
I've created a [ticket to investigate](https://mattermost.atlassian.net/browse/MM-36923)

[2021-07-09 08:48] Willyfrog commented on #579
no, seems that it is trying to load the file into the window, I'll create a separate ticket for this

[2021-07-09 08:50] Willyfrog commented on #579
[MM-36924](https://mattermost.atlassian.net/browse/MM-36924)

[2021-07-09 08:58] Willyfrog commented on #1645
you can go to the config file to change it (it should be in `c:\Users\<user>\AppData\Roaming\Mattermost\`)

I'll try to investigate, but so far I haven't been able to reproduce the problem.

[2021-07-09 09:59] biva commented on #579
Great, thanks @Willyfrog :)

[2021-07-09 11:30] facundobatista commented on #1636
How are you detecting the "system language"? Which env var are you using for this? IOW, what we need to change for the mattermost process for it to select the language we want? (as a workaround).

Thanks!!

[2021-07-09 13:26] Willyfrog commented on #1636
From [electron's docs](https://www.electronjs.org/docs/tutorial/spellchecker#how-to-set-the-languages-the-spellchecker-uses):

[2021-07-09 13:40] facundobatista commented on #1636
But "the locale" is a complex thing:

[code]

So, it considers `LC_ALL`? `LANG`? `LANGUAGE`? Etc...

[2021-07-09 16:27] Willyfrog commented on #1644
ticket created for further investigation, feel free to add any details and repro steps if possible with gnome/kde environment (if not, that's ok and I'll try to figure out but I'm not used to stumpwm)

[MM-36937](https://mattermost.atlassian.net/browse/MM-36937)

[2021-07-09 16:30] Willyfrog commented on #1645
[Ticket created](https://mattermost.atlassian.net/browse/MM-36938). Feel free to add any details to it

[2021-07-12 10:22] ggutter79 commented on #1645
@kaksikanaa I had the same issue and it looks like your idea was right, i changed the GPU acceleration setting in %appdata%\Mattermost\config.json from false to true - now the menu works again. seems like a workaround for now.
Thanx @Willyfrog for the tip where to find the setting.

[2021-07-12 15:02] gitjp commented on #1645
This same fix worked for me too. Thank you!

[2021-07-12 16:04] Willyfrog commented on #1645
yes, seems that some of the config is taking longer to read in windows, so it is breaking with disabling GPU acceleration as this needs to be done before the app initializes

[2021-07-13 17:54] A248 commented on #1333
I was having this same issue. For me, clearing the system-wide DNS cache solved the issue.

How you clear your system's DNS cache depends on which OS you use. Usually, a device restart should solve the problem.

[2021-07-14 09:14] Willyfrog commented on #1333
great to hear that you managed to solve it. I'll close the issue, but feel free to reopen if anything comes up :)

[2021-07-14 09:14] #1333 closed

[2021-07-16 09:34] giuliolastra opened #1657 "Icon barely visible on taskbar notification area"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-07-16 09:44] Willyfrog commented on #1657
hello and thanks for reporting. this is an upstream bug on electron as it doesn't give us access to both configurations, only one of them. We already have a [ticket](https://mattermost.atlassian.net/browse/MM-36058) for tracking it and will fix it as soon as electron gives us the chance.

I'll close this issue, but feel free to reopen or add details to the mentioned jira ticket.

[2021-07-16 09:44] #1657 closed

[2021-07-16 09:47] Willyfrog commented on #1648
can you go to the folder where the config is stored and remove everything but the json files? it might be something that is cached from a previous version.

the path to that folder usually is `c:\Users\<user>\AppData\Roaming\Mattermost`

[2021-07-16 13:18] mhsurfer opened #1658 "Taskbar-Icon: unread message symbol does not disappear after reading messages on 4.7.0"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-07-16 15:00] baek-sang opened #1661 "Dark Theme look bad in subscription page"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-07-16 18:55] amyblais commented on #1661
@stevemudie @jgilliam17 Can you repro this and would the bug fix be owned by the Cloud team or the Desktop team?

[2021-07-16 19:08] jgilliam17 commented on #1661
@amyblais  - I can reproduce on Firefox and Chrome, it's not exclusive to Desktop.

[2021-07-16 19:12] amyblais commented on #1661
Thanks, opened a ticket https://mattermost.atlassian.net/browse/MM-37192

[2021-07-17 00:18] bbodenmiller commented on #1649
https://github.com/mattermost/desktop/issues/1648#issuecomment-881321270

Still getting flashing system tray icon after doing above

[2021-07-17 07:27] baek-sang opened #1663 "Link url not visible when maximized"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-07-17 22:16] amyblais commented on #1663
This is likely a duplicate of https://github.com/mattermost/desktop/issues/1640.

[2021-07-17 22:51] #1663 closed

[2021-07-18 06:26] kaksikanaa commented on #1645
Willyfrog  thanks for the investigaton & workaround & pull request.

[2021-07-18 12:25] boistordu opened #1664 "Flat oak package needs update - square symbols under fedora"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-07-18 14:59] Willyfrog commented on #1664
Hello and thanks for the report, I'm afraid we are not the ones submitting the app to flathub, you should probably submit an issue [in the submitters repo](https://github.com/flathub/com.mattermost.Desktop) or even to flatpack itself. as you mention this affects multiple applications based on electron and either electron or flatpack should consider what is needed for keeping compatibility.

For an

[2021-07-18 14:59] #1664 closed

[2021-07-20 05:55] hirusi commented on #1542
Mattermost Desktop App version: 4.7.0
Mattermost Server version: 5.34.2
OS: Windows 10

I do see a new option `Save Image As` along with `Save image` and `Copy image` -- but neither of the save actions do anything with an image. Doesn't look like this is resolved.

[2021-07-20 06:00] hirusi commented on #1542
Nevermind. A full system restart did the trick. Restarting Mattermost alone did not help.

[2021-07-20 20:08] dasty commented on #1336
We have exactly the same issue on Mattermost Desktop App version: v4.7.0. I noticed, that this bug was already once reported as https://mattermost.atlassian.net/browse/MM-14446 and even fixed in the past by https://github.com/mattermost/desktop/pull/946 so if there could again be a solution, which does not involve modifying buildconfig.js and recompiling desktop app as suggested in trusted resourc

[2021-07-21 08:19] Willyfrog commented on #1336
the reason for it being in buildconfig is so it is admin enforced, for windows we could probably use a gpo policy to get similar results, but on macos and linux it would be a config file that could be modified and with that have a user open links to servers that might not be safe for them.

[2021-07-21 09:37] dasty commented on #1336
@Willyfrog - thank you for your comment. I am sorry, I did not read carefully enough original report. In Mattermost version 4.7 the observed behavior is slightly different. The link opens inside the mattermost app, which is clearly strange - please see attached screenshot, which I used to teach my colleagues to get out of the situation :)

![image](https://user-images.githubusercontent.com/411158/

[2021-07-21 12:38] Willyfrog commented on #1336
Hello @dasty , can you provide a made up example that mimics your setup?

[2021-07-21 13:51] dasty commented on #1336
@Willyfrog - uff installing completely such example somewhere may be quite difficult :( I can at least describe setup for you in detail:

https://company.com/mattermost
https://company.com/jira
https://company.com/gitlab

In mattermost configuration
=> ENVIRONMENT / site URL points to  https://company.com/mattermost
=> GitLabSettings / AuthEndpoint, TokenEndpoint, UserApiEndpoint all points to htt

[2021-07-21 20:14] philipdumont commented on #1371
I just started using Mattermost, had the same problem.  So I hit the web, found this conversation from last year.  I'm disappointed there has been no activity since.

Anyway, I did a tiny bit of debugging.  I'll share it, in case anyone is looking and cares.

It occurred to me to wonder if Mattermost was even loading the PKCS library.  So I thought I'd check:

- get the PID of every mattermost pro

[2021-07-21 20:19] philipdumont commented on #1371
By the way, I'm using version 4.7.0.