[2019-08-07 14:05] swood commented on #1010
hi @hmhealey.
Thank you for your answer. My current server version is 5.12.0 but my issue grows since version 5.6 or something like that.
In which version you have done your improvements and how could I check it?

[2019-08-07 14:05] swood commented on #994
Thank you, I will try to update my server installation. Now it is 5.12.0.

[2019-08-07 14:46] amyblais commented on #1006
We have a Help Wanted issue open for this: https://github.com/mattermost/desktop/issues/539.

[2019-08-07 14:55] echosa commented on #1006
@amyblais I think that help wanted issue is a different issue. That one is about the notifications themselves. This isn't about the notifications themselves sticking around and being available. What I'm reporting here is a DE settings issue. In GNOME, if you open the Settings program and go to Notifications, you can individually enable, disable, or change the preferences for notifications for vari

[2019-08-07 18:38] hmhealey commented on #1010
I just double checked, and the fix actually hasn't been released yet. It should be fixed in 5.14 which is scheduled for release on August 16th.

[2019-08-09 17:01] swood commented on #994
@boxed, @svelle.
I have an application console during a day. I have a lot of errors related to WebSocket. So, my question is - how can I disable this setting from the server-side or client-side? I have about 700 active users and I do not want to have a problem with doesn't work technology.
Please check the screenshot via the next link:
https://snag.gy/bWz3m9.jpg

This is a huge problem, I believe

[2019-08-12 08:30] norbertwenzel opened #1018 "Internal domains for Team Server fail URL validation"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2019-08-12 10:03] astax-t opened #1019 "WiFi with captive portal causes a lot of popups about invalid certificate"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2019-08-12 12:56] svelle commented on #994
Hey @swood, what server version is this happening on?

[2019-08-12 13:55] swood commented on #994
Hey, @svelle. As I mentioned before, not it is 5.12.0.
Before my message I have disabled option "Enable Channel Viewed WebSocket Messages". But I did not restart server after, only reload.

I assume this is the main problem of this issue. If you have a hundreds users I should disable WebSocket setting and restart server.

[2019-08-13 12:11] svelle commented on #994
You'll need to update the server for the error to disappear.
The fix should be in 5.12.5 and 5.13.2.

[2019-08-14 12:26] tschlue commented on #1018
I can confirm this issue. Our Url is like: http://serverXY/mattermost

[2019-08-14 12:36] LarsLuz opened #1020 "Drag and drop of CSV files loads instead of attaching"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2019-08-15 13:10] amyblais commented on #1006
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-17834.

[2019-08-15 13:12] amyblais commented on #1019
Ticket for reference: https://mattermost.atlassian.net/browse/MM-17835.

[2019-08-15 13:14] amyblais commented on #1020
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-17836.

[2019-08-15 13:16] amyblais commented on #1018
Ticket for reference: https://mattermost.atlassian.net/browse/MM-17837.

[2019-08-15 13:24] echosa commented on #1006
Thanks!

[2019-08-21 10:23] yossizahn opened #1022 "IDN Support lacking"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2019-08-21 14:21] amyblais commented on #794
@rakgenius What Mattermost server version are you on?

[2019-08-21 14:21] amyblais commented on #908
Hi all, what Mattermost server version are you on?

[2019-08-23 09:49] johnnyasantoss commented on #539
I didn't check the code but from the GIFs I can guess that the expiration time is being set on Linux/Mac and that's why the notifications are dismissed. If you want to show the notifications for a small period and still be able to keep them in the notification deck, it needs to use expiration `-1` and set some hints that are described [here](https://people.gnome.org/~mccann/docs/notification-spec/

[2019-08-23 15:10] nlowe commented on #1018
FYI we're also seeing this for URL's linked elsewhere in the UI (in messages / the channel header), not just the Server URL. This feels like a breaking change to me, is it related to the security update shipped in 4.2.3?

[2019-08-23 15:12] amyblais commented on #1018
@deanwhillier Can you help take a look if this is related to 4.2.3?

[2019-08-24 08:30] rakgenius commented on #794
@amyblais Sorry for the late response.. Im using the version Version 4.2.1 (4.2.1.62)

[2019-08-26 02:05] kagari2613 opened #1023 "URL is not formatted correctly."
#### url that end of 'x', e.g. 'www.example.x' is not  formatted correctly. why you limit me to input any urls through it is not correct . it's just my fault,and this program need to do what's just only remind me the url maybe incorrect,but couldn't limit me to add it, that's enough!

[2019-08-26 12:09] amyblais commented on #794
@rakgenius You can find out your server version from Mattermost > Main Menu > About Mattermost.

[2019-08-26 13:55] deanwhillier commented on #1018
@amyblais, will have a look today.

[2019-08-29 06:06] laitkor opened #1028 "Tabs in chat window"
Tabs in the chat window may provide more help with the navigation.  This can help to remember to whom we chat previously.

[2019-08-29 07:22] supernintendo commented on #90
Hello. I am not a mattermost user but stumbled upon this issue while debugging an issue with the official Slack client (on Fedora 30, 3.32.2).

It appears that there is simply a lack of commonly agreed upon rules when it comes to the UX for closing and "soft closing" applications in the GNU/Linux ecosystem. This issue doesn't really have a defined set of requirements that can be treated as a sourc

[2019-08-29 18:07] hwmatthewa commented on #925
Update, this is a bit strange, but it seems like the scrolling stops working when my mouse is below a certain pixel on the Y axis. Above that point it will scroll fine, but if I move my mouse down the screen scrolling will stop functioning.

[2019-09-03 08:50] bunower commented on #1023
Same Here, we have an own proxy and DNS-Server. Our chat Domain domain is: https://chat.w9s

[2019-09-03 16:25] lig commented on #997
This is still happening with 4.2.1 on Windows and 4.2.3 on Linux.

[2019-09-04 07:23] pfeiferbit commented on #1023
As a workaround you could use the IP `http://12.34.56.78/`, possibly with a certificate warning if HTTPS is used.

[2019-09-04 13:07] amyblais commented on #1028
Thanks, appreciate your feedback @laitkor

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and we'

[2019-09-05 01:15] caspChristian commented on #679
Seeing a weird issue on Windows desktop app which is similar.
Sometimes times of messages changes to display in GMT, even tho timezone under Account Settings are auto, and detected as Stockholm, restarting the clients, times goes back to being correctly displayed, and then a few days later, shown as GMT again. This is with client version 4.1.2

The most confusing thing here is the "random" change

[2019-09-06 08:21] MathiasMagnus commented on #492
I think the issue was a little too hastily closed, as the linked JIRA ticket has had no activity in the past 7 months. Indeed, a Microsoft Store version would be appreciated.

[2019-09-09 19:49] norbertwenzel commented on #1018
@deanwhillier Does merging #1000 mean this can be closed now?

[2019-09-09 19:50] deanwhillier commented on #1018
Yes, thanks for the reminder! Merging #1000 should address this issue, so closing.

[2019-09-09 19:50] #1018 closed

[2019-09-09 19:57] norbertwenzel commented on #1018
Thank you.

[2019-09-10 18:40] lkraav commented on #997
Confirmed, Linux 4.2.3 constantly hogs ~4% of CPU and making laptop fans spin, which means something incorrect inside Mattermost is running in a constant polling loop of some kind.

Feels like a regression from 4.2.0, because I'm monitoring for this type of stuff pretty actively, and don't think I noticed that earlier.

Slack v4 client seems to have made massive improvement strides with this, as i

[2019-09-12 07:48] Shlizer opened #1033 "Error while going back in history"
- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I have read [contributing guidelines](https://gi

[2019-09-16 17:43] hunterlester commented on #997
I'm wondering if this is not an issue at all with the desktop application but rather with the webapp, which should be very encouraging.

I cloned the master branch of `desktop` and observed upon launch that it will idle nicely at `0.0` CPU usage. I add server web URL: `https://chat.redox-os.org`. Only upon logging in to server do I see a jump in CPU usage, idling between 6% to 8%.

By comparison,

[2019-09-16 17:51] hunterlester commented on #222
This may be a `webapp` issue rather than a desktop app issue and may need to be moved to that repository. See my comment [here](https://github.com/mattermost/desktop/issues/997#issuecomment-531882279).

There doesn't initially look like much difference between accessing a server through a conventional web browser vs. through the desktop application which is also just making a web request to the se

[2019-09-16 17:52] lkraav commented on #997
@hunterlester I'm currently running webapp in Firefox 69 as daily driver, and it does not show similar CPU hogging symptoms. But I'll continue to keep an eye on this.

[2019-09-16 18:30] hunterlester commented on #997
@lkraav For the `firefox` process what is it's rough idling CPU usage when signed into server?

I also see around 6% CPU usage in webapp on Firefox once logged into server, however, interestingly the one difference is that when the Firefox window is hidden, CPU usage does return to `0.0`, unlike Chrome.

[2019-09-17 07:36] Kabouik commented on #997
Thanks for digging in that direction. I also failed to reproduce it with the webapp, but as mentioned in the first post, I did not thoroughly test this. I edited the first message to reflect this.

Your observation of a 6% CPU use seems quite good though compared to the more than 60% (or even more than 80% sometimes) in my screenshot (on an i5 7200U CPU).

[2019-09-18 00:54] hunterlester commented on #997
Quick update, I've just tested in the same manner on Ubuntu 18.04.3.

@Kabouik What is your CPU usage before logging into server and then after logging into server?
So far I observe it consistently increases upon logging in and accessing webapp, whether through Electron or Firefox, or Chrome.

I'll be testing on WIndows as well, hopefully tonight...

[2019-09-18 06:33] hunterlester commented on #997
Just tested on Windows and observing same behavior as my tests on Linux and macOS.
Of course I'm missing something. Still think it's a server/webapp issue and not specific to this desktop app.

I happen to be logging into `https://chat.redox-os.org`, which is not a very active server.
My next tests will be while connected to the Mattermost community server.

To help narrow down this issue I'll be

[2019-09-18 09:14] bitdessert opened #1036 "Desktop Notification is not working"
I confirm (by marking "x" in the [ ] below: [x]):

- [ ] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [ ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2019-09-18 13:19] amyblais commented on #1036
@bitdessert We have this ticket open: https://mattermost.atlassian.net/browse/MM-18131. Let me know if this sounds like the same issue you're seeing.

[2019-09-18 13:25] amyblais commented on #1033
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-18630.

[2019-09-18 19:40] lkraav commented on #997
Confirmed, my Linux client is definitely a CPU hogger

![image](https://user-images.githubusercontent.com/147228/65180322-4bd03880-da65-11e9-9207-6a97c84c469f.png)

Nothing visibly exciting going on in the active chat window, just some text and static images pasted.

[2019-09-19 05:04] bitdessert commented on #1036
Yes.
So when can I install version 4.3?

Version 4.2.3 has other issues too.
eg. If terminate and launch the App(mattermost-desktop) in a Windows 10, the session may expire.

[2019-09-20 00:23] StackKorora opened #1038 "Crash on startup with 4.3.0-develop-2762"
I confirm (by marking "x" in the [ ] below: [x]):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2019-09-20 05:10] bitdessert opened #1039 "session expired on relaunch"
I confirm (by marking "x" in the [ ] below: [x]):

- [ ] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [ ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2019-09-20 05:13] bitdessert commented on #1036
Perhaps this problem is related to 'webPreferences.contextIsolation'.

[2019-09-20 13:16] norbertwenzel commented on #1018
Just for your information: Tested with 4.3.0-rc1 and it works on our internal server again. Thank you.

[2019-09-20 13:18] deanwhillier commented on #1036
This issue should be fixed by this PR: https://github.com/mattermost/desktop/pull/1040

[2019-09-20 15:35] mattermod opened #1068 "Mac Desktop App reopens window on Cmd+Tab"
**Environment**
- Mattermost Desktop: Mac version 4.2.1.62
- macOS Mojave 10.14.6

**Steps To Reproduce**

1. With the Mattermost application in focus, click the 'X' or `Cmd` + `W` to close the app window
2. `Cmd` + `Tab` to navigate to another application
3. `Cmd` + `Tab` to navigate back to Mattermost

**Expected Behavior**

Mattermost window reopens when returning to the app

**Observed Behavio

[2019-09-21 13:02] hunterlester commented on #997
Update:
Not enough web socket events to account for the consistent CPU usage.

Next is tracing sys calls. I'll need help understanding as this is new ground for me. 

System rebooted with `csrutil disabled`.

Running `dtruss -s -ap <Electron PID>` for 60 seconds.

Summary sys calls:
[code]

Will read about `kevent`, to find out what effect it has on CPU.
The `write` events I would think are signif

[2019-09-23 13:40] Elvaron commented on #1023
Same issue here, no TLD just an internal DNS name, so e.g. http://foo-bar:8065 for the name and port

[2019-09-23 18:50] hunterlester commented on #997
Next step is to look up those `Electron Framework'0x...` addresses, with the goal of determining the functions which are being called, resulting in continuous `write` and `kevent` syscalls, which appear to be correlated with consistent CPU usage.

Logging thread stacks using `dtrace -p <Electron Helper PID> -n 'syscall::write:entry {ustack()}'.
Also looking at `syscall::kevent:entry`.

*Note: It's

[2019-09-24 08:10] 7-plus-t commented on #1039
I can confirm the issue on macOS.

**Environment**
- Operating System: macOS 10.14.6
- Mattermost Desktop App version: 4.2.3
- Mattermost Server version: 5.14.2

It works in Chrome, but not in the App. Same behaviour with the Mattermost community server.

[2019-09-25 13:44] amyblais commented on #1039
Can you help with more details on your session settings: https://docs.mattermost.com/administration/config-settings.html#session-lengths?

Can you also help try these troubleshooting steps: https://docs.mattermost.com/install/desktop.html#desktop-app-constantly-asks-to-log-in-to-mattermost-server?

[2019-09-25 14:04] 7-plus-t commented on #1039
Following the troubleshooting steps worked for me 👍 Can no longer reproduce the issue.

[2019-09-25 14:55] deanwhillier commented on #1038
Thanks for the report @StackKorora! Any chance you could provide me with the server URL's you have setup? Here if you don't mind, or more privately by DM'ing me on https://community.mattermost.com if you prefer? @deanwhillier

[2019-09-26 14:47] nomis opened #1045 "Unqualified hostnames are no longer accepted"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2019-09-26 18:06] amyblais commented on #1033
Closing as this is fixed for the upcoming v4.3 release. v4.3 release is currently scheduled for October 16th,

[2019-09-26 18:06] #1033 closed

[2019-09-26 18:06] amyblais commented on #1036
Closing as this is fixed for the upcoming v4.3 release. v4.3 release is currently scheduled for October 16th,

[2019-09-26 18:06] #1036 closed

[2019-09-30 12:49] #890 closed

[2019-09-30 14:17] valentinbajrami commented on #986
@duckzhouya I've packaged mattermost-desktop as rpm which does everything for you but it seems it's not yet available on the official website.

[2019-10-01 17:16] amyblais commented on #1020
@LarsLuz Do you know if this happens with other Linux distros or just with Manjaro?

[2019-10-01 17:17] amyblais commented on #977
Do we know if this is causing side effects? The reason this happens is because the draft is being saved on every keystroke.

[2019-10-02 12:36] henricook commented on #920
This is really annoying, i'm stuck on 4.1.2 with seemingly no hope of rescue

[2019-10-02 14:23] #1023 closed

[2019-10-02 14:23] amyblais commented on #1045
This is fixed with https://github.com/mattermost/desktop/pull/1000 for v4.3,

[2019-10-02 14:23] #1045 closed

[2019-10-02 15:12] lkraav commented on #977
The obvious thing to do is throttling the save / flush operation to every X keystrokes, minimum, no?

Daily driving crash risk looks low enough across the board, why do we need to save every keystroke?

[2019-10-04 03:23] cjk02025 opened #1055 "Auto Suggest Hashtags"
It would be really convenient / efficient if mattermost would auto-suggest hashtags in the same way that @user auto-suggests users...

[2019-10-09 13:33] amyblais commented on #1055
@cjk02025 Please suggest features in the Mattermost feature idea forum so it can be discussed, upvoted and considered for a [https://mattermost.uservoice.com](https://mattermost.uservoice.com/forums/306457-general?category_id=159795).

You get 10 votes in the feature idea forum, and each one influences the future of the project.

[2019-10-09 13:38] Willyfrog commented on #891
@amyblais since I'm already working on automating the whole release process, i'll do this as well.

[2019-10-10 20:53] Willyfrog commented on #891
should be fixed on https://github.com/mattermost/desktop/pull/1063

[2019-10-13 02:34] StackKorora commented on #1038
Greetings,
Sorry for the long response time. I've been traveling for work and didn't always have decent internet access. I just got home and installed 4.3.0-rc5-3227. So far it has worked across every device! Whoo!
Not sure what fixed it though.
Thanks for the response and the work on Mattermost. It is much appreciated!

[2019-10-13 02:34] #1038 closed

[2019-10-14 13:01] tanmayrajani commented on #1020
Happens to me often with `JSON` files. It sometimes takes a couple of attempts to attach the JSON file instead of loading.

What if we allow to drop the file anywhere in the chat screen and not just that (relatively small) circle?

[2019-10-15 08:14] tanmayrajani opened #1067 "Link opened by clicking notification is truncated"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [ ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2019-10-15 14:34] ReagentX opened #1069 "This specific gif does not animate when added as an emoji"
![piggy131](https://user-images.githubusercontent.com/1920666/66841209-58965e00-ef37-11e9-94a7-a3662ba61f60.gif)

[2019-10-15 15:00] ReagentX commented on #1069
Yes, it does in finder and in my editor.

[2019-10-15 15:03] ReagentX commented on #1069
Re-encoding this gif with ImageMagic (`convert -delay 20 -loop 0 img.gif img2.gif`) makes it work, I guess it was originally exported with a loop value of 1 and both my editor and Finder ignore that property.

[2019-10-15 15:03] #1069 closed

[2019-10-15 16:15] mattermod opened #1070 "Render emojis in desktop notifications"
**Steps**:
1 - Send message to trigger desktop notification containing one or more emojis

**Expected**: Emojis display in notification. Map the emojis to unicode, and if it does not exist render the text as it does now.
**Actual**: Emojis sent appears as plain text (e.g., :shamrock:, :smile: )

![Missing emojis](https://user-images.githubusercontent.com/16541325/95613780-c51e3d00-0a65-11eb-915d-6

[2019-10-15 16:55] mattermod opened #1071 "Update add new server icon on the settings page"
**Steps**:
1 - Navigate to Desktop settings screen
2 - Observe icon next to 'Add new server' link

**Expected**: "+ Add New Server"
**Observed**: Squared Plus ➜ "⊞ Add new server"

Environment: MacBook Air - macOS Mojave - 10.14.6
Platform: Mattermost Desktop Version 4.3.0-rc5 (4.3.0-rc5.3228)

----
If you're interested please comment here and come [join our "Contributors" community channel](https

[2019-10-16 09:04] tanmayrajani commented on #1067
If someone can point me on where to start looking, I'd like to try and help fix this

[2019-10-16 16:34] deanwhillier commented on #992
Apologies for the delayed response on this. We are currently working on developing a release timeline for this project moving forward similar to our primary mobile, webapp and server projects. The release schedule likely won't be as often to begin with, but should provide for more consistent, reliable and timelier releases!

That said, the v4.3.0 release version is imminent! Thanks for your patien

[2019-10-17 09:13] 2019-05-10 opened #1074 "client needs to remember credentials"
the client needs to remember credentials
i have a never-ending session (computer hibernates usually, no reboots), but mattermost nevertheless likes to unpredictably destroy my sessions, even if i communicated in that very session an hour ago or so.
when that happens i have to look up the credentials again, because the client does not store them

[2019-10-17 09:15] 2019-05-10 opened #1075 "client's new message notification does not disappear reliably from systray icon"
-    systray icon signals new message(s) by showing a fat black dot
-    open client and read message
-    close client
    dot is still there
-    open again
-    switch to another channel and back
    dot finally disappears

it does not happen always but very often, so often in fact as to render the "new message" notification almost useless, since I can never tell whether there's really a new me

[2019-10-17 09:28] 2019-05-10 commented on #986
I second that, for
Debian
based distributions, though.
Having a repo
a) is how sensible software management is done in Linux
b) ensures that dependencies are resolved upon installation
c) ensures that updates are installed whenever they are available, not just when I happen to remember to check  a web site

[2019-10-18 10:33] licensedtroubleshooter opened #1080 "Shift+Alt moves focus to top menu instead of changing keyboard layout"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2019-10-18 17:20] amyblais commented on #1074
@2019-05-10 Would you be open to trying these troubleshooting steps: https://docs.mattermost.com/install/desktop.html#desktop-app-constantly-asks-to-log-in-to-mattermost-server?

[2019-10-18 17:21] amyblais commented on #1075
@2019-05-10 What desktop app version are you currently using?

[2019-10-19 00:24] kethinov opened #1082 "Lock file out of sync"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2019-10-19 15:13] th-joerger opened #1084 "Tilde ~ not working anymore - German Keyboard Layout"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2019-10-19 15:18] HighwindProject commented on #1084
Same Problem here with Desktop App version: 4.2.1

[2019-10-19 21:43] Nfinger commented on #1070
I can take this one if it is still up for grabs

[2019-10-21 02:51] deanwhillier opened #1085 "Switch `simple-spellchecker` for `electron-spellchecker`."
Replace current `simple-spellchecker` with [`electron-spellchecker`](https://www.npmjs.com/package/electron-spellchecker) to utilize Google Chrome’s included dictionaries. Strip out any unnecessary code and files related to `simple-spellchecker` and remove the package.

Implementation should integrate with the settings and user preferences for the existing `simple-spellchecker` where possible and

[2019-10-21 09:06] hanzei commented on #1070
Sure, that would be awesome! @Nfinger

[2019-10-21 09:15] 2019-05-10 commented on #1074
@amyblais I considered that already, but while "Cookies" and "Cookies-journal" is somewhat self-explanatory, I don't know what "IndexDB" is used for ("DB" always rings a warning bell), and thus did not like to delete it. A short explanation _what_ those files contain and why it is safe (or not? Should I make a backup?) to delete them, would probably improve the entry.

[2019-10-21 18:35] nickolasdeluca opened #1087 "Hit ESC key to close the sidebar opened when I reply a message."
When I reply to a message, a sidebar opens with that message's details and a inputbox to reply said message.

What I want is that after I reply to the message I wanted, I would be able to hit ESC to close the sidebar without having to use my mouse.

It's a simple enhancement, but it would improve day-to-day usage a lot!

[2019-10-21 23:40] amyblais commented on #1087
Thanks, appreciate your feedback @nickolasdeluca,

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so

[2019-10-21 23:44] amyblais commented on #1080
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-19601.

[2019-10-22 12:36] nickolasdeluca commented on #1087
turns out someone already suggested a shortcut to close the RHS.

If someone wants to contribute, here is the link:
[keyboard shortcut to close the right hand sidebar rhs](https://mattermost.uservoice.com/forums/306457-general/suggestions/16821268-keyboard-shortcut-to-close-right-hand-sidebar-rhs‬)

[2019-10-22 14:43] #1022 closed

[2019-10-22 14:44] amyblais commented on #1028
I'll close this for now as we haven't received feedback on this, but I hope you will open a feature request issue for this,

[2019-10-22 14:44] #1028 closed

[2019-10-22 14:44] amyblais commented on #1055
I'll close this for now as we haven't received feedback on this, but I hope you will open a feature request issue for this,

[2019-10-22 14:44] #1055 closed

[2019-10-22 14:45] amyblais commented on #1039
I'll close this for now as the issue seems to be fixed, but please re-open this issue with relevant additional information if the problem persists,

[2019-10-22 14:45] #1039 closed

[2019-10-23 10:59] #1071 closed

[2019-10-23 13:43] amyblais commented on #1087
Thank you, I'll close this issue here and we can follow the progress in the future request forum,

[2019-10-23 13:43] #1087 closed

[2019-10-23 13:47] amyblais commented on #1084
Opened a bug ticket here: https://mattermost.atlassian.net/browse/MM-19659.

[2019-10-23 18:42] keithcruz commented on #1085
Hi @deanwhillier I would like to work on this.

[2019-10-23 18:43] deanwhillier commented on #1085
That's great, thanks so much @keithcruz! 🎉

[2019-10-24 05:54] bitdessert opened #1090 "Desktop notification is still not working"
I confirm (by marking "x" in the [ ] below: [x]):

- [ ] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [ ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2019-10-24 11:21] hlavki opened #1091 "Zoom in/out doesn't work in 4.3.1"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2019-10-24 11:57] amyblais commented on #1091
Hi @hlavki, this is a known issue that we are actively working on fixing for a dot release: https://docs.mattermost.com/help/apps/desktop-changelog.html.

[2019-10-24 12:08] amyblais commented on #1090
Hi @bitdessert, v4.3.0 includes a breaking change where users using non-secure Mattermost Servers (http://) will need to update to Mattermost Server versions 5.16.0+ or 5.15.1 for desktop notifications to work. I'm not sure if this applies in your case.

There are also known issues where notifications don't work properly on Windows MSI (Beta).

Please see the changelog for more: https://docs.matte

[2019-10-24 14:39] 2019-05-10 commented on #1075
Package: mattermost-desktop
Status: install ok installed
Priority: extra
Section: default
Installed-Size: 184845
Maintainer: Mattermost, Inc. <feedback@mattermost.com>
Architecture: amd64
Version: 4.2.3-79
Depends: gconf2, gconf-service, libnotify4, libappindicator1, libxtst6, libnss3, libxss1
Description: Mattermost
  Mattermost
License: Apache-2.0
Vendor: Mattermost, Inc. <feedback@mattermost.co

[2019-10-24 18:49] hlavki commented on #1091
Hi @amyblais, thanks for info. I think we can close this issue.

[2019-10-24 18:49] #1091 closed

[2019-10-24 20:17] wget commented on #977
@aeris Do you know a way to display the items like you have in the second screenshot?
When I try to display the log, this is basically binary garbage.
Tested with the community server:
[code]
I'm running on Arch Linux as well with the latest 4.3.1 I published just now.

[2019-10-24 20:20] aeris commented on #977
Documented on the first post : `strace -yy -f mattermost-desktop |& grep write | grep Index`

[2019-10-24 20:26] wget commented on #977
@aeris Yes, this is the command I used, but the latter is giving me garbage (non printage chars and without new lines). Could you check again from your side?

[2019-10-24 20:44] aeris commented on #977
Got garbage now too :thinking:

[2019-10-25 07:05] bitdessert commented on #1090
Thanks @amyblais.
I'm using a secure mattermost server(https://)
Push Notification Server's url: https://push-test.mattermost.com
Server version : 5.16.1
(Database Schema Version: 5.16.0)

I have attached a recording of what I have done below
![mr](https://user-images.githubusercontent.com/42505950/67550188-ccf3ad00-f740-11e9-8171-410e2bc7971b.gif)

When the desktop app is hidden, focusing works w

[2019-10-25 10:45] boxed commented on #617
On macOS it just always starts in the middle of the screen with the same size. It never remembers the position at all.

[2019-10-25 22:28] amyblais commented on #1075
What OS and version are you on? Would you be open to help test if you see the same issue on v4.3 desktop app version?

[2019-10-28 02:05] cielavenir opened #1094 "/opt/Mattermost/chrome-sandbox permission is wrong"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2019-10-28 09:55] borisyurkevich commented on #1085
Why we have to use electron spell checker or custom spell checker, why can't we use system spell checker form MacOS? It can be activated with `command + shift + ;`. Is this Electron limitation?
Thank you.

[2019-10-28 10:58] nickolasdeluca opened #1095 "When "start app on login" is enabled, the app starts as a blank page, only way to fix is to restart the app."
I confirm (by marking "x" in the [ ] below: [x]):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2019-10-28 10:59] svelle commented on #1095
Hi @nickolasdeluca we have this tracked on our Jira here: https://mattermost.atlassian.net/projects/MM/issues/MM-19649

if you like you can subscribe to the issue there to get updates on the status of this.

[2019-10-28 11:21] nickolasdeluca commented on #1095
Ah ok, good to know it is not just us, I was starting to wonder if I had made any mistakes when setting up the server. Thanks!

[2019-10-28 11:31] wget commented on #1094
@cielavenir Hi there. Thanks for this bug report. Do you mean that if you run the following command, the binary `chrome-sandbox` is reported as having the sticky bit enabled? If this is true this can cause security concerns and a potential privilege escalation in the event there is a feature/bug present in chrome-sandbox that could trigger some nasty actions.

[code]

I checked on my side and the

[2019-10-28 11:46] cielavenir commented on #1094
I checked and I don't see sticky bit.

I suppose mattermost-desktop is just created under 0755 and needs to be changed to 4755.

[2019-10-28 11:46] 2019-05-10 commented on #1075
Debian/SID
Installed, 4.3.1, didn't start, 4.3.0 neither:
 XDG_CURRENT_DESKTOP=Unity /opt/Mattermost/mattermost-desktop %U
[13022:1028/123918.121907:FATAL:setuid_sandbox_host.cc(157)] The SUID sandbox helper binary was found, but is not configured correctly. Rather than run without sandboxing I'm aborting now. You need to make sure that /opt/Mattermost/chrome-sandbox is owned by root and has mode

[2019-10-29 05:56] rustyscottweber opened #1096 "There is no way to permanently accept invalid certificates in the client"
Currently, users are allowed to bypass the warnings about certificate errors while opening mattermost or connecting to a mattermost server.  It should be really low hanging fruit, so to speak, to allow an additional option to permanently add the certificate error so that the warning doesn't show up every time mattermost is opened.

[2019-10-29 15:42] esethna commented on #1084
Hi @th-joerger @HighwindProject can you please upgrade to v5.15 or later and this issue should be fixed

[2019-10-29 20:00] th-joerger commented on #1084
@esethna Thanks for the update!
[The commit in question, for those interested](https://github.com/mattermost/mattermost-webapp/pull/3636)

[2019-10-29 20:00] #1084 closed

[2019-10-29 22:13] cbrand-ludlums commented on #1095
I'm seeing this too on v4.3 and v4.3.1 on multiple computers.  I've found that I can resize the window and it will display correctly.  I was about to post this same issue here.

[2019-10-31 08:38] mtgrosser opened #1098 "Option to disable spell checking"
Currently, spell checking is always enabled and cannot be disabled.

To some users, the red underlining is visually distracting. Also, the spell checker is currently unable to detect on-the-fly, in-sentence language switching, which is sometimes used in mixed-language teams or when discussing mixed-language subjects (like programming).

Therefore, I'd like to suggest adding an option to permanentl

[2019-10-31 08:56] bitdessert opened #1099 "dmg background image does not display"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2019-10-31 09:37] boschkundendienst opened #1100 "Windows App showing white/blank screen"
- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I have read [contributing guidelines](https://gi

[2019-10-31 12:16] amyblais commented on #1100
Closing as a duplicate,

[2019-10-31 12:16] #1100 closed

[2019-11-01 01:30] braineo opened #1101 "Click a link in app does not open page in browser"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2019-11-01 13:44] amyblais commented on #1096
Thank you for opening a feature suggestion for this https://mattermost.uservoice.com/forums/306457-general/suggestions/38912248-allow-certificate-errors-to-be-permanently-ignored.

[2019-11-01 13:44] #1096 closed

[2019-11-01 13:44] amyblais commented on #1098
@mtgrosser Would you be open to sharing this on our feature idea forum here https://mattermost.uservoice.com/forums/306457-general? If you're interested in implementing this, please let us know.

[2019-11-01 14:25] mtgrosser commented on #1098
I added it here: https://mattermost.uservoice.com/forums/306457-general/suggestions/38938567-option-to-disable-spell-checking

Regarding implementation, I'll first have to make myself familiar with the codebase in order to tell whether I could do it.

[2019-11-01 17:43] amyblais commented on #1098
Thank you for opening a feature request for this!

[2019-11-01 17:43] #1098 closed

[2019-11-01 18:47] deanwhillier commented on #1101
Hi @braineo, thanks for filing the report!

Couple quick questions if you are able so we can triage this properly:
1. Can you open up the dev tools for the tab in question and see if there are any console errors along the lines of `Untrusted URL blocked: https://google.com/`?
2. Can you inspect the anchor tag that is generated for the link using dev tools and see if there is a `target="blank"` att

[2019-11-02 12:24] braineo commented on #1101
Hi @deanwhillier Thanks! I'll check and get back to you.

[2019-11-04 00:05] braineo commented on #1101
hi @deanwhillier

1. Exactly: `Untrusted popup window blocked: https://google.com/`
2. Element of the link is
[code]

[2019-11-04 07:05] hannu78 commented on #1101
This is what I get in Debian 10 and mattermost-desktop 4.3.1 after starting mattermost-desktop binary from terminal:
[code]
To even start mattermost-desktop after installation, I had to change the permissions of /opt/mattermost/chrome-sandbox to 4755.

[2019-11-04 09:38] #891 closed

[2019-11-05 12:44] valentinbajrami commented on #986
@2019-05-10  and @duckzhouya  you can now install mattermost-desktop client using:
`dnf copr enable valentinb/mattermost ; dnf install mattermost-desktop`

[2019-11-05 15:29] pmalbu commented on #514
I cannot seem to figure out how to enable this bouncing. I looked through the Slack docs and could not find it there either. Would someone please enlighten me?

[2019-11-05 16:07] jasonblais commented on #514
Hi @pmalbu - you can modify app settings from **Mattermost > Preferences** in the menu bar
![image](https://user-images.githubusercontent.com/13119842/68224345-6bdb9d00-ffbc-11e9-805a-82a7321636b4.png)

then enabling in the App Options
![image](https://user-images.githubusercontent.com/13119842/68224364-772ec880-ffbc-11e9-84ae-fb03cde1a4db.png)

You mentioned Slack docs -- so I should mention that

[2019-11-06 13:09] 2019-05-10 commented on #986
a) what is `dnf`?
b) my comment was asking for a Debian repo, since deb packages are being built already

[2019-11-07 08:03] anassahmed commented on #539
Can we disable withdrawing notifications all together?

[2019-11-07 11:11] valentinbajrami commented on #986
`dnf` is a package manager for RHEL based systems so ignore the above.

[2019-11-07 13:01] nickolasdeluca opened #1102 "Hour displayed incorrectly because of daylight saving time in Brazil."
I confirm (by marking "x" in the [ ] below: [x]):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2019-11-09 10:27] felibb opened #1103 "macOS desktop 4.3.1: editor Help link opens a new browser tab in addition to pop-up"
**Summary**

macOS desktop 4.3.1: editor Help link opens a new browser tab in addition to pop-up

**Environment**
- Operating System: macOS 10.14.6
- Mattermost Desktop App version: 4.3.1 (4.3.1.3679)
- Mattermost Server version: 5.16.3

**Steps to reproduce**
Launch client, click Help link under text input field.
**Expected behavior**
Open a pop-up with editing help.
**Observed behavior**
Open a

[2019-11-11 01:53] cielavenir commented on #1094
https://github.com/mattermost/desktop/issues/1101#issuecomment-549241692

[2019-11-11 02:09] cielavenir commented on #1101
I found https://github.com/electron/electron/issues/17972#issuecomment-486927073 and this procedure fixes the issue:

- sudo chmod 0755 /opt/Mattermost/chrome-sandbox # this is the current default on deb package
- sudo sysctl kernel.unprivileged_userns_clone=1
- (restart mattermost-desktop)

However as I have little knowledge on Electron, I'm not sure if this is correct fix.

[2019-11-11 02:17] cielavenir commented on #1101
(by the way hannu78's error message was helpful to relate the (electron issue) comment to this issue)

[2019-11-11 08:47] cielavenir commented on #1101
unfortunately `sudo sysctl kernel.unprivileged_userns_clone=1` is required everytime after rebooting...

[2019-11-12 12:05] GuimingLu opened #1104 "Win desktop: Help webrtc error"
Desktop source code downloaded from the official website, local package compilation, NPM install, NPM run build, NPM run package: Windows, generated exe file, run webrtc website, report error: navigator. GetUserMedia error:NotReadableError:  MAC platform can run fine. error only on win.
 But the official version of the exe file can run fine on both win&mac . will not report an error.Access audio s

[2019-11-12 15:54] amyblais commented on #1103
We have a few related bug tickets open for this:
 - https://mattermost.atlassian.net/browse/MM-19919
 - https://mattermost.atlassian.net/browse/MM-19875

[2019-11-12 16:01] amyblais commented on #1102
This was an issue in Electron and seems that the issue is back https://github.com/electron/electron/issues/20998.

[2019-11-12 16:11] amyblais commented on #1104
@GuimingLu What Mattermost server version are you on?

Do you see errors in Console logs? https://docs.mattermost.com/install/desktop.html#reporting-issues.

[2019-11-13 03:47] GuimingLu commented on #1104
I have tried 4.3.1 and some other versions include the latest version . There is only "NotReadableError " in Console log.

[2019-11-13 13:39] amyblais commented on #1104
What Mattermost server version are you on? You can find it from Mattermost > Main Menu > About Mattermost.

[2019-11-13 19:06] nickolasdeluca commented on #1102
Apparently this is not a mattermost only issue, also noticed the same issue with Whatsapp's desktop client.

[2019-11-14 02:10] duckzhouya commented on #986
Thanks for your kindly help. @valentinbajrami
I have tried several times, but the package download speed is really slow, maybe I need to try another time while the network is stable.
I will let you know the result if I have installed the package successfully.

[2019-11-14 05:17] GuimingLu commented on #1104
Version 4.2.1 Desktop source code downloaded from the official website, local package compilation, NPM install, NPM run build, NPM run package  Or NPMstart .  run this website
 https://webrtc.github.io/samples/src/content/getusermedia/record/  .report error: navigator. GetUserMedia error:NotReadableError: MAC platform can run fine. error only on win.

![222](https://user-images.githubusercontent.c

[2019-11-14 13:26] amyblais commented on #1104
Would you be able to ask your System Administrator about which Mattermost server version you are on?

We removed support for built-in WebRTC in server v5.6, so perhaps the feature is not supported on your server: https://forum.mattermost.org/t/built-in-webrtc-video-and-audio-calls-removed-in-v5-6-in-favor-of-open-source-plugins/5998.

[2019-11-18 17:03] jberent commented on #1095
View | Reload - or Clear Cache and Reload don't help, but opening Settings and closing has rendered the page without restarting. I am trying w/ GPU-acceleration disabled to see if that helps like it did in 2018 when that option was added.

[2019-11-18 17:09] nickolasdeluca commented on #1095
It's currently being fixed already, you can check the status here: [MM-19649](https://mattermost.atlassian.net/browse/MM-19649?atlOrigin=eyJpIjoiYzg3MTMwZjA4ZGEyNDVmOGJlZTIwYjAyNzVhZWE4NjgiLCJwIjoiaiJ9)

[2019-11-18 18:26] mrleblanc101 commented on #15
Hi,
Shouldn't Mattermost Desktop be distributed via the Mac App Store (and updated there) just like the iOS version.

[2019-11-19 09:28] lredor commented on #794
Hello,

For information, I have the same problem with Desktop App version 4.3.1 (server version is  "Mattermost Édition Team 5.16.3).

The log is:

Platform: Windows_NT 10.0.17763 x64
Error: webContents 'crashed' event has been emitted
    at WebContents.handleMainWindowWebContentsCrashed (C:\Users\userName\AppData\Local\Programs\mattermost-desktop\resources\app.asar\main_bundle.js:887:9)
    at W

[2019-11-19 16:18] NOP64 opened #1107 "Using browser back key combo '⌘+[' in help crashes desktop application"
I confirm (by marking "x" in the [ ] below: [x]):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2019-11-19 23:15] amyblais commented on #991
Does this still happen on desktop v4.3.1?

[2019-11-20 01:33] amyblais commented on #1099
A ticket was opened here: https://mattermost.atlassian.net/browse/MM-20348.

[2019-11-20 14:25] amyblais commented on #1107
@NOP64 Do you see the same issue on desktop v4.3.1?

[2019-11-20 15:14] NOP64 commented on #1107
Yes, it does. It's a little worse in that it opens the independent help screen *and* it opens the same help document in a browser tab as well. Video attached.
[mm-crash-video.zip](https://github.com/mattermost/desktop/files/3869883/mm-crash-video.zip)

[2019-11-20 15:29] amyblais commented on #1107
This may be related to issues with keyboard shortcuts that we are working on fixing for v4.3.2 dot release https://github.com/mattermost/desktop/pull/1092.

[2019-11-20 16:41] baskinsy commented on #1080
I can confirm this issue also that was not existed on the 4.2.3 version I was using up to now.

[2019-11-20 19:15] uhlhosting opened #1108 "Crash on latest RC release on macOS Catalina"
For troubleshooting, see [https://www.mattermost.org/troubleshoot/](https://www.mattermost.org/troubleshoot/).
Process:               Mattermost [68451]
Path:                  /Applications/Mattermost.app/Contents/MacOS/Mattermost
Identifier:            Mattermost.Desktop
Version:               4.3.2-rc1 (4.3.2-rc1.4003)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Respons

[2019-11-21 11:47] duckzhouya commented on #986
I have installed the package successfully,
Thank you for your help. @valentinbajrami

[2019-11-21 18:36] valentinbajrami commented on #986
Glad I could help and thank you for your feedback @duckzhouya

[2019-11-21 21:25] felibb commented on #1103
@amyblais thanks, didn't think to search JIRA first.

Should I close or will you? Not sure about the correct procedure.

[2019-11-22 00:00] amyblais commented on #1103
I'm thinking we could keep this open for now as an FYI for other community members.

[2019-11-22 06:43] tonal commented on #1080
I can confirm version 4.3.2-rc1

[2019-11-22 07:12] baskinsy commented on #1080
If it helps, I want to report that this is happening on my main workstation with KDE and not on on my laptop with Ubuntu with the standard desktop environment.

[2019-11-22 13:23] stylefish opened #1109 "Plugin support for popup/dialog windows with external URL or content"
Hi Mattermost Team,

I'd like to extend the Jitsi or Meet Plugin to open up a real "Window" when a call or meeting is active. IMHO this is a much more convenient way to handle video calls and it feels "more native".
Currently the jitsi/meet plugin opens up a link, mattermost detects that this link is an external link and let the OS handle the link (e.g. open in default browser). I think this behav

[2019-11-22 15:17] trch15 commented on #794
Same issue here, white screen after upgrading Windows desktop clients from 4.2.x to 4.3.1.

- Only occurs when upgrading, not on clean installs of 4.3.1.
- Deleting appdata\local\mattermost solves the problem
- Deleting the 3 cache folders in appdata\local\mattermost doesn't solve the problem
- Resizing the window or exiting, then opening Mattermost again fixes the problem
- Closing the window, th

[2019-11-22 19:15] hunterlester commented on #1068
@amyblais I'd like to take this issue.

I was experimenting with `globalShortcut`, to no avail:
[code]

However, it made me realize that I was fighting against expected behavior on macOS.
This same behavior occurs for other macOS applications, both native Cocoa and other Electron-based.

I will open a PR shortly which seems to achieve what has been requested in JIRA ticket, but do we for certain w

[2019-11-25 08:33] T3rm1 commented on #794
Same issue. Had 4.2.1 for a very long time and no problem at all. Upgraded to 4.3.1 and after a restart of the PC I now have a white screen.

[2019-11-25 13:53] hanzei commented on #1068
@deanwhillier Can you help with this?

[2019-11-26 07:42] hunterlester commented on #871
Verified, `option+return` functions within web app in Safari.
However, it does not function within web app in Firefox nor in Google Chrome.

Verified, Slack web app does offer `option+return` function in Firefox and Google Chrome.

So, if we implement this behavior in the desktop application, we'd also have to duplicate the implementation in the web app, so that macOS users would have a consistent

[2019-11-27 09:13] tonal commented on #1080
Russian instruction for fixing Skype:
https://habr.com/ru/post/465377/

[2019-11-28 20:58] deanwhillier commented on #1068
@hunterlester, I would have to agree with your assessment, none of the apps I just tried automatically open a window when tabbing back to them if there is not window already open. I'm experiencing the exact same behaviour with the Desktop App so IMO this is not something that should need to be fixed.

@esethna, @andrewbrown00, thoughts from PM and UX perspective?

[2019-11-28 21:10] JorisPLA7 commented on #569
Details : It's also **impossible to close the software** without killing from an external tool, or trusting the unsecure certificate.

(at least from Gnome desktop env)

[2019-11-29 21:51] amyblais commented on #1095
We just released 4.3.2 dot release that fixes this issue, please upgrade and let us know if the issue is fixed,

[2019-11-30 15:29] cbrand-ludlums commented on #1095
The issue is fixed.  It's working perfectly now.  On windows restart the app starts minimized in the system tray and double clicking on the icon, it shows the application screen as expected.  No white/blank screen on startup now.  Thanks!

[2019-12-01 03:45] nickolasdeluca commented on #1095
Agreed, issue appears to be fixed.
But about the app starting minimized... it this intended? We don't have a saying on this? I liked it better when it launched just how I left it. Now I have to manually click on the taskbar to bring it back up...

[2019-12-01 18:03] cierzniak commented on #1101
@cielavenir just add this to fixed config

[code]

[2019-12-02 06:43] hannu78 commented on #1101
Fix above seems to work at least in 4.3.2 version of app (server 5.17.0).

[2019-12-02 12:43] dmarkdvt opened #1117 "Mattermost desktop v4.3.2 shows version v.4.2.0"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2019-12-02 12:46] svelle commented on #1117
Hi @dmarkdvt could you do me a favor and check if you have the following items in the `View` menu?

- Developer Tools for Application Wrapper
- Developer Tools for Current Server

[2019-12-02 13:15] dmarkdvt commented on #1117
@svelle

The funny thing is:
- my installation is fine and has these items in the View menu
- the environment from a colleague has the mentioned issues and not the items listed in the View menu

[2019-12-02 13:17] svelle commented on #1117
@dmarkdvt got it.
Thing is these items are specific to versions above 4.3 so if they're in the menu the version is 4.3.* if they're not then it's some version below 4.3.

There were some people with issues of uninstalling 4.2 correctly when upgrading to 4.3

Could you or your colleague please check the path of the mattermost shortcut that opens the 4.2.0 version and see if it points to the correct

[2019-12-02 13:33] dmarkdvt commented on #1117
That is the case. We needed to delete C:\Program Files\Mattermost\lib\net45.
Everything is fine now. Thank you.

[2019-12-02 13:33] #1117 closed

[2019-12-02 13:36] svelle commented on #1117
Of course anytime.

Happy to help

[2019-12-03 08:29] dmarkdvt opened #1118 "Mattermost desktop v4.3.2 and CTRL+v via Windows 10 does not work"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2019-12-03 15:56] theriverman opened #1119 "Windows 10 Toast Notifications Are NOT Working"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2019-12-03 16:24] JtheBAB commented on #1119
Hi

MSI or exe installer? The MSI has a know issue with toast notifications.

And if your Mattermost server is with http:// you need at least 5.15.1 or later to get it working again with the latest desktop app

[2019-12-03 16:38] theriverman commented on #1119
Hi,

Tried both the MSI and EXE installers and I've tried installing with and without administrator rights too.
Yes, the server is plain HTTP. I'll schedule a server upgrade for this week and see what happens.

Thanks a lot for the fast response and for the tip! 👍

[2019-12-03 16:52] JtheBAB commented on #1119
I am quite certain that it will work again.

See https://docs.mattermost.com/administration/important-upgrade-notes.html for 5.16

[2019-12-03 23:49] amyblais commented on #1118
Do you have an example image you're attempting to paste?

[2019-12-03 23:51] amyblais commented on #1108
@uhlhosting Are you still experiencing this issue on the latest v4.3.2 release?

[2019-12-04 01:21] amyblais commented on #1107
Actually I can still reproduce this on 4.3.2, opened a ticket here: https://mattermost.atlassian.net/browse/MM-20922.

[2019-12-04 02:35] squareBQ commented on #1118
same issue at macOs, the Matermost version is `4.3.2(4.3.2.4230)`.

[2019-12-04 08:24] dmarkdvt commented on #1118
https://i.imgur.com/nBYOnvl.jpg

[2019-12-04 14:24] amyblais commented on #1118
There is an existing ticket open that may be related to this: https://mattermost.atlassian.net/browse/MM-20822.

[2019-12-04 14:28] theriverman commented on #1119
I can confirm upgrading mattermost-server to the latest, which is v5.17.1 at the time of writing, solved this issue.
Thank you very much for your help @JtheBAB -- much appreciated!

[2019-12-04 14:28] #1119 closed

[2019-12-04 14:32] ghost opened #1121 "ComponentDownload property of MSI is outdated in 4.3.2"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2019-12-04 14:43] Ablesius commented on #1118
Confirmed on Arch Linux, too (package mattermost-desktop-bin from AUR, version 4.3.2-1, kernel 5.4.1-arch1-1)

[2019-12-04 14:45] JtheBAB commented on #1121
Also reported here: https://community.mattermost.com/core/pl/echd4mo6t7bipee8kj9458hf8y perhaps @amyblais can create some Jira Tickets?

[2019-12-04 14:54] amyblais commented on #1121
Ticket here: https://mattermost.atlassian.net/browse/MM-20931.

[2019-12-05 09:28] ktpx commented on #27
Hard to read on a big screen with high res..definitely should be a font size selection options.

[2019-12-05 17:41] lancethomps opened #1122 "persistent notifications for a message do not automatically disappear once that message is read"
On mac, with the Mattermost notification style to Alert (notification stays on screen until dismissed), the notification will stay on screen until it is either closed manually or clicked on. Ideally, the notification should automatically go away once the related message has been read.

[2019-12-05 17:48] amyblais commented on #1122
What Mattermost desktop app and Mattermost server version are you on?

[2019-12-05 17:52] lancethomps commented on #1122
Desktop version 4.3.2 and server version 5.17.1

[2019-12-05 19:45] mattermod opened #1134 "Clicking on the + to connect a new server should default focus in the input field"
On desktop app, clicking the + symbol to add a new server should focus the "Server Display Name" input field so user can start typing right away. Same thing applies to the Settings Page "Add a new server" modal.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where

[2019-12-05 22:36] esethna commented on #991
@mexin would you be able to help us confim if this still happens on v4.3.2: https://mattermost.com/download/#mattermostApps

[2019-12-06 00:32] amyblais commented on #1122
Are you referring to the desktop/push notification, or the notification number/count that appears on the left-hand sidebar?

[2019-12-06 20:17] lancethomps commented on #1122
I'm referring to the desktop notification.

[2019-12-10 16:33] andrewbrown00 commented on #1068
@esethna @deanwhillier @hunterlester this is generally the expected behavior and is the native behavior for macOS with most of the native apps.

I'm 5/5 this is a bad experience and is very frustrating for me. When I `⌘` `Tab` to navigate and switch apps I expect the I app select to open, even if I've previously closed the app window using `⌘` `W`. It bugs me to have to go manually click the App i

[2019-12-10 19:16] deanwhillier commented on #1068
Thanks @andrewbrown00! Though I've gotten used to using keyboard shortcuts to re-open windows in this kind of situation, I also find it annoying to have to do so regardless of the default Mac behaviour.

So I guess the question is, can we reliably do so in a manner that doesn't disrupt and/or lesson the experience in some other way? @hunterlester, I haven't taken a super close look at your PR yet,

[2019-12-11 00:52] amyblais commented on #1102
A bug ticket for this is here: https://mattermost.atlassian.net/browse/MM-21161.

[2019-12-11 01:23] trch15 commented on #1095
Confirming the issue is resolved on 4.3.2.

[2019-12-11 22:48] amyblais commented on #1122
@lancethomps Are you referring to an OS setting to make the notification persistent until dismissed?

[2019-12-12 15:44] uhlhosting commented on #1108
Hi @amyblais , no this was a one time issue after the launch of the beta version. I could not replicate this again.

[2019-12-12 15:58] #1108 closed

[2019-12-12 19:22] hunterlester commented on #1068
@andrewbrown00 Thank you for that input. Nice to see that Discord implemented the same behavior.
@deanwhillier So far it appears to be a reliable solution. I've been trying to manually QA various cases, such as window management with Mission Control and pad gestures, closing a window in full-screen, etc, and so far I'm not seeing the behavior conflict with other expectations.

The case where `app.

[2019-12-13 04:08] deanwhillier commented on #1068
Okay, thanks @hunterlester! I'll take a closer look now and give it a test drive!

[2019-12-13 08:50] yomguy commented on #997
Hi,
I have the same issue : the desktop app eats 15% of my i7 CPU doing nothing.
It happens ONLY when the main window is opened and decreases to 1% when closed but with the notification icon in the taskbar (app running).
As I have no change enabling GPU acceleration or not, I just suspect a bug with the display.

[2019-12-13 11:10] levigo-systems opened #1131 "Not possible to open URLs in MM linux client"
I confirm (by marking "x" in the [ ] below: [x]):

- [ x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [ x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
-

[2019-12-13 11:13] lkraav commented on #997
I've been using the MM web client in Firefox for the past few months to work around this issue.

[2019-12-13 11:27] Willyfrog commented on #1131
Hi there! Can you test on 4.3.2 as it should be fixed there?

[2019-12-13 12:09] levigo-systems commented on #1131
No change **but** i saw something while launching mm via shell.
`Untrusted popup window blocked`

Where i can change this behavior?

[2019-12-13 13:58] svelle commented on #1131
Weird, I use Fedora as a daily driver and have no issues. Maybe it's something Mint specific?

We should test this and see if it's different when using Mint. @levigo-systems what Mint version are you running?

[2019-12-13 14:31] levigo-systems commented on #1131
I am using LMDE 3 (cindy) based on Debian Stretch.

[2019-12-13 15:35] svelle commented on #1131
Great I'll see if I can repro this next week as I'm out for the weekend now. But if anybody else comes first they're more than welcome to do so.

[2019-12-13 17:38] skewty commented on #317
over 3 years and nothing has been done.  Linux and it typical minimized importance due to market share..  Does anyone have a link to any relevant Electron upstream issue(s)?

[2019-12-13 17:41] skewty commented on #90
Hey look, another >3 year old bug given low importance due to minuscule Linux market share.

Doesn't have any useful information (also showing lack of care about this issue).

Is this an upstream issue?  I don't have this issue with other Electron apps.  Is it an upstream one?  Does anyone have links to the upstream issue(s)?

[2019-12-15 15:29] mikebakke commented on #997
I'm running on a Pi3 and in normal use is absolutely fine.  However - as soon as I attempt to upload a jpg image > 1mb all 4 cores peg at 100% and the interface shows "processing". Tried by web and windows client so far. Smaller images are fine.

[2019-12-16 11:57] xalkan commented on #1134
@hanzei Can I work on this one?

[2019-12-16 12:10] hanzei commented on #1134
Surely, thanks @xalkan. Let me know, if you have any questions.

[2019-12-16 14:51] xalkan commented on #1134
The contribution guide is awesome, found all the answers there.
Just added a PR, automated build is successful.

Thanks @hanzei

[2019-12-16 22:04] hanzei commented on #1134
Great to hear @xalkan

[2019-12-18 09:50] mattermod opened #1138 "Desktop: release deb is marked as propietary on ubuntu"
The .deb packages generated for the Desktop App don't have the license set correctly, so it's displayed as proprietary instead of Apache-2.0 like on the repository.
 ![](Screenshot 2019-12-11 at 17.30.25.png|thumbnail)
The build process for those packages should be updated so that the package has the license set to match this repository.

----
If you're interested please comment here and come [joi

[2019-12-18 15:14] twistedvip commented on #1118
Can confirm that CTRL+v does not work with MatterMost (using Windows 10).
I can rightclick+paste with text, however, it does not paste images. I believe amyblais is correct, seems that ticket is related to this issue.

Going to be reverting back to v4.3.1 for now..

[2019-12-18 15:34] webparadoxer commented on #111
any news about it?! I voted on idea forum

[2019-12-19 08:02] Ablesius commented on #1118
FWIW, I can copy/paste with Ctrl+Shift+C/V, but it won't work for Cut with Ctrl+Shift+X.

[2019-12-19 10:06] levigo-systems commented on #908
We get the same error when we open email notifications.
No errors in the server logs. Only the browser DevConsole shows the

Server version 5.17.0.

[2019-12-20 12:09] levigo-systems commented on #1131
Hey @svelle did repro the problem?

[2019-12-21 19:46] navalnichnik commented on #1131
I confirm I face the same issue on Debian 10 with Gnome 3.30.2
I moved from Fedora 30 with the same Gnome and MM has been working correctly there.

Clicking on any link in MM generates the following records in the syslog:
`Dec 21 21:44:20 siarzhuk-pc mattermost-desktop.desktop[2418]: [21:44:20.235] [info] Untrusted popup window blocked: https://blablabla.com
Dec 21 21:44:20 siarzhuk-pc mattermost-

[2019-12-23 05:59] ashishpatelmi commented on #1118
MAC OS Catalina
Same here in 4.3.2 Copy paste not working

[2019-12-24 04:25] cielavenir commented on #1101
@cierzniak Adding that line and rebooting worked. Thank you so much.

[2019-12-24 04:26] cielavenir commented on #1131
dupe of #1101, which can be fixed permanently using https://github.com/mattermost/desktop/issues/1101#issuecomment-560137871.

[2019-12-24 11:11] bdrmdrsylp commented on #667
![Githuberror](https://user-images.githubusercontent.com/58975147/71410655-23f7fe80-266c-11ea-8019-d51623af3df5.jpg)

[2019-12-24 11:11] bdrmdrsylp commented on #667
i m getting page like this!!!!

[2019-12-24 11:12] bdrmdrsylp commented on #667
what went wrong?

[2019-12-24 13:09] jasonblais commented on #667
@bdrmdrsylp Hey, looks like GitHub was having issues, can you try reload the page (CTRL/CMD+R or via the "Reload this page" icon next to the URL bar?

![image](https://user-images.githubusercontent.com/13119842/71414356-934a0000-2624-11ea-929e-4b1661b714f0.png)

If you're still having issues, I recommend contacting GitHub support (https://github.com/contact) as it doesn't appear to be an issue wit

[2019-12-25 07:59] evils opened #1141 "reply opens sidebar with the cursor in search box"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2019-12-26 18:29] jasonblais commented on #1141
Thank you @Evils-Devils for the report! We had previously an open bug report for it but closed as cannot reproduce https://mattermost.atlassian.net/browse/MM-21081

@Evils-Devils does this reproduce for other members on your team?

@jgilliam17 @Willyfrog wondering if there is any other information that would help our QA team to pinpoint reproduction steps.

[2019-12-26 19:30] Willyfrog commented on #1141
I can only think of a few questions:

- Can you reproduce the problem consistently? I could for a session, but when I went to look for it again several times acted that one, couldn't.
- can you repro on any browser?
- was the window maximized, full screen, partial? Or any other related state that you could remember?

[2019-12-27 11:00] Evils-Devils commented on #1141
* @Willyfrog, the size of the the window DOES seem to have an effect!
  * as far as i can tell, the issue occurs from 1021 to 1140px width (inclusive)
  * this seems reproducible on another machine
  * and even in firefox!

Side note: if the window is narrow enough to make the channels bar go away, the search box's background is white (this is with the "Mattermost Dark" theme).

[2019-12-27 23:32] Willyfrog commented on #1141
great! I had a hunch on that, but when I tried never got the size right! thanks for reporting it 🙌

[2020-01-01 19:13] wsuranga commented on #925
Can echo @dunham finding above albeit on a slightly different screen set up.

[2020-01-02 03:40] a25814740 commented on #1118
**Windows**
Copy: Ctrl + Insert
Paste: Shift + Insert

**Mac OX ( I'm not sure )**
Copy: Command+ Insert
Paste: Shift + Insert

[2020-01-02 13:42] twistedvip commented on #1118
@a25814740 Still unable to copy/paste images using the shortcuts.

[2020-01-02 15:29] stefnats commented on #1118
I can confirm this. I cannot paste with CMD+V, but i can paste with right click->paste

[2020-01-02 18:15] mattermod opened #1144 "Improve E2E and enable skipped tests"
Community PR - https://github.com/mattermost/desktop/pull/1142

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" com

[2020-01-03 03:00] GauthierPLM opened #1143 "Undo does not work on MacOS 10.15"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-01-03 05:50] ashishpatelmi commented on #1118
Please back to version Version 4.2.1

[2020-01-03 06:50] Zubairlatif commented on #312
` relocation error: libc.so.6: symbol _dl_starting_up, version GLIBC_PRIVATE not defined in file ld-linux-x86-64.so.2 with link time reference`
I'm facing above issue. Any solutions?

[2020-01-03 07:06] stefnats commented on #1143
v4.3.2 (2019-11-29) should have fixed this. Can you confirm?

[2020-01-03 09:56] GauthierPLM commented on #1143
Indeed, my app wasn't up to date. The issue is fixed now.

[2020-01-03 09:56] #1143 closed

[2020-01-07 14:11] #1131 closed

[2020-01-07 18:07] ylluminate opened #1146 "Block formatted input is difficult in Mattermost"
Block formatting is sometimes very difficult in Mattermost.  This is especially evident with quoting things.  Currently we have to use a `>` before each line in order to quote something.  We really need to address this issue pretty quickly.

A `/quote` might be alright since that will just simply quote an entire section.

An option like a beginning and ending ``` could also help, perhaps a `>>>` a

[2020-01-07 22:11] Willyfrog commented on #1146
Are you sure it is on each new line? I know you need to do that for paragraphs (double new line) but if I press enter just once I don't have that issue.

Can you check if you are doing double new line instead of just once? If it still reproduces, can you provide info on which versions are you using as well as operating system?

[2020-01-08 00:00] ylluminate commented on #1146
What I guess I'm saying is that this shouldn't matter. We need a better way for this vs trying to make sure there are not additional spaces. For example, a lot of times users will copy an email and there is variability in terms of having multiple line breaks (ie, a signature or man other things). It should be possible to just say: "anything within this chunk needs to be quoted."

[2020-01-08 00:16] ylluminate commented on #1146
Following the methodology that Discord follows would probably be best ([link](https://support.discordapp.com/hc/en-us/articles/210298617-Markdown-Text-101-Chat-Formatting-Bold-Italic-Underline-)):
![example](https://p153.p0.n0.cdn.getcloudapp.com/items/NQuvx779/blockquote.jpg)

[2020-01-08 05:49] Zubairlatif opened #1147 "relocation error: libc.so.6: symbol _dl_starting_up, version GLIBC_PRIVATE not defined in file ld-linux-x86-64.so.2 with link time reference"

[2020-01-08 05:52] #1147 closed

[2020-01-09 06:52] Willyfrog commented on #1146
This would be a great improvement, and I think it would make writing a lot easier.
Unfortunately it is not related to the desktop app. Can you open the issue [here](https://github.com/mattermost/mattermost-server/issues) so it gets more exposure?

[2020-01-09 11:44] ylluminate commented on #1146
Thanks for the recommendation! I've done as you've requested, as you can see from the mention.

[2020-01-09 11:44] #1146 closed

[2020-01-09 16:30] #1134 closed

[2020-01-10 15:52] Evils-Devils commented on #1141
@Willyfrog, should this be moved to mattermost-server?

as a workaround for anyone else stuck with this, keeping a search term in the search box seems to help

[2020-01-10 16:02] Willyfrog commented on #1141
as you mention it is reproducible on firefox, I'd say yes. but it is already covered by one of [our jira tickets](https://mattermost.atlassian.net/browse/MM-21081), so I guess it is ok to leave it here.

[2020-01-10 16:06] Willyfrog commented on #1109
if the uri is http/s it'll open on the browser, but if it is a custom protocol it might open within the app if the deeplinking is configured properly. have you tried using any other protocols?

[2020-01-10 23:11] lancethomps commented on #1122
No - I have the OS setting enabled to make the notification persistent until dismissed. That works as expected.

I want the reading of a message within the Mattermost app to automatically dismiss the notification associated with that message. This functionality is available within the Messages application on Macs, so that can be used as an example.

[2020-01-13 05:46] hunterlester commented on #1138
The thumbnail didn't upload so I can't see where the license shows as proprietary.
The only thing I could think of was `dpkg-deb --info mattermost-desktop-4.3.0-develop-linux-amd64.deb`, which prints expected version:
[code]

[2020-01-13 15:24] jazzzz commented on #1118
I can reproduce on Windows 10 with Mattermost Desktop 4.3.2: Ctrl-c and Ctrl-v do not work but Ctrl-Insert and Shift-Insert work. With Mattermost Desktop 4.3.1 it works. On Ubuntu 19.10 it works with Mattermost Desktop 4.3.2.

[2020-01-13 20:18] jazzzz commented on #1118
I found out that the issue happens since the commit fddb891d8dbb32be7fcab75fe482128130e76255. Removing the manual handling of copy/cut/paste keyboard shortcuts in `main.js` fixes the issue.

[2020-01-14 05:06] Songxwn opened #1150 "Client comes with screenshot function?  "
Client comes with screenshot function?
 

[2020-01-15 13:57] amyblais commented on #1150
@Songxwn Can you help with more details on what issue you are seeing?

[2020-01-16 00:56] attzonko opened #1153 "Automatic Startup in Windows 10 does not work"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-01-16 08:46] svelle commented on #1153
Starting with 4.3.2 the app reverts back to the original intended behavior to start minimized.
Can you check if the application appears in the task bar when you use 4.3.2?

[2020-01-18 19:25] arjitc opened #1157 "Slight UI server tabs issue in 4.4.0-rc0"
I confirm (by marking "x" in the [ ] below: [x]):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-01-20 12:42] jby opened #1158 "Unable to download 4.4.0-rc0 for Mac"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-01-20 13:12] Willyfrog commented on #1158
Hi, on the [release page for 4.0.0-rc0](https://github.com/mattermost/desktop/releases/tag/4.4.0-rc0) you can use the assets on it which can be used for download while we solve this issue.

[2020-01-20 14:56] adduc commented on #1095
I'm not sure this is fixed on all desktop apps.

I'm currently running 4.3.2 on Ubuntu 19.10, and the application starts blank on login, and requires the restart to begin working.

[2020-01-20 15:57] luk4sk opened #1160 "Mattermost Desktop 4.4.0-rc0 is closing when you try download a file"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-01-20 16:06] arjitc commented on #1160
Facing the same issue here.

[2020-01-20 16:37] JtheBAB commented on #1160
And here is the reason: https://github.com/mattermost/desktop/pull/1159

[2020-01-21 10:23] crsologicsde opened #1161 "keyboard shortcut for search"
pls add a keyboard shortcut for search in app. thanks

[2020-01-21 13:37] Willyfrog commented on #1161
Thanks for your suggestion, in this case a search shourtcut would be handled by the webapp, can you open the request in the [server repo](https://github.com/mattermost/mattermost-server/issues)?

[2020-01-21 13:40] crsologicsde commented on #1161
done. thanks.

[2020-01-21 13:40] #1161 closed

[2020-01-22 09:59] jurgenhaas opened #1163 "Version 4.3.2 throws "process is not defined" in developer console after update"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-01-22 15:15] amyblais commented on #1099
Closing as this is fixed for upcoming v4.4 release,

[2020-01-22 15:15] #1099 closed

[2020-01-22 15:20] amyblais commented on #1157
Ticket here: https://mattermost.atlassian.net/browse/MM-21975.

[2020-01-22 16:34] andrewbrown00 commented on #1157
Hi @arjitc thanks for logging this 😄

I do see a slight pixel bump, it's not as pronounced on my end as it is in the screenshot you've included.

![image](https://user-images.githubusercontent.com/48559658/72913192-c8706d80-3d0a-11ea-93a1-fd01e1fe7430.png)

**I have a few questions to help use better understand the issue:**

- What type of display are you using?
- What is the resolution set to?
-

[2020-01-22 20:27] arjitc commented on #1157
It's a laptop 1080p, 15.6" display

1920 * 1080

Windows Display Properties lists it as 125%

[2020-01-23 10:32] lkraav commented on #997
I'm looking forward to testing the freshly released 4.4.0-rc0 for this. Still using webclient on Firefox for now.

[2020-01-23 10:53] Willyfrog commented on #1160
thanks @JtheBAB
it will be fixed for rc1

[2020-01-23 10:55] Willyfrog commented on #1158
it'll be fixed by rc1

[2020-01-23 10:55] #1158 closed

[2020-01-23 11:09] #1068 closed

[2020-01-28 13:55] DHaussermann commented on #1101
@cielavenir or @hannu78  would you be able to help out by testing an advanced build of 4.4 to confirm this issue is resolved on your OS setup?
The build is available here https://circleci.com/gh/mattermost/desktop/4909#artifacts/containers/0

[2020-01-29 18:20] believer-ufa opened #1172 "Please make history of last channels with part of last message on CTRL+K window"
Can you make history of last channels with part of last message on CTRL+K window? Because when you have many chat channels, it becomes difficult to navigate between them and remember where was your last important conversation.

I'm also made post on uservoice about it: https://mattermost.uservoice.com/forums/306457-general/suggestions/39565285-make-history-of-last-channels-with-part-of-last-me.

T

[2020-01-30 03:48] cielavenir commented on #1101
@DHaussermann sorry I cannot find the direct link to deb file.

[2020-01-30 05:12] DHaussermann commented on #1101
@cielavenir, no worries. The circleci UI is a bit awkward. if you click  `> linux/` it expands out and shows you the download links for the installers.

The links for the deb file is https://4909-43964563-gh.circle-artifacts.com/0/packages/linux/mattermost-desktop-4.3.0-develop-linux-i386.deb

[2020-01-31 10:38] Romancha commented on #1118
Same issue :(

macOS Catalina 10.15.2 (19C57)
matermost 4.3.2 (4.3.2.4230)

command+c (copy)
command+v (paster)
command+x (cut)

not working.

[2020-01-31 14:46] amyblais commented on #1118
Would you be open to trying if desktop app v4.4.0-rc1 fixes the issue for you: https://github.com/mattermost/desktop/releases/tag/v4.4.0-rc1?

[2020-01-31 14:57] twistedvip commented on #1118
@amyblais just downloaded/installed. It fixes the issue for me :) (Win10)

[2020-01-31 15:50] ztrayner commented on #1141
@Willyfrog - It looks like the JIRA ticket was marked as resolved again when it is still an issue.

This bug happens to me on the desktop app.  As mentioned, only at specific window sizes.  I like to keep my MM window just over half of my macbook pro's display size for an optimal line reading length and it happens consistently.  Let me know if you need more information to reproduce apart from what

[2020-01-31 15:52] Willyfrog commented on #1141
that's because there is already a patch merged into next release: https://github.com/mattermost/mattermost-webapp/pull/4677

[2020-01-31 18:35] andrewbrown00 commented on #1157
Thanks for the details! I'll work with the team and see what going on.

[2020-02-01 13:32] jazzzz commented on #1118
It fixes the issue for me too on Windows 10.

[2020-02-03 22:30] mattermod opened #1182 "Migrate react-bootstrap to v1"
This ticket is for upgrading our `react-bootstrap` library used in the Desktop App to v1 (which will also migrate us to Bootstrap 4)
This will require updating the package, and rewriting many components to use the new classes.

A guide on doing this can be found here:
https://react-bootstrap.github.io/migrating/

We also want to ensure that no behaviours are changed as a result of this upgrade, so

[2020-02-04 10:31] bentolor opened #1181 "Newly appearing server tab bar in v4.4.0-rc1 does not respect dark theme setting"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-02-04 10:32] bentolor commented on #1181
Maybe similar or related to the much older #844 ?

[2020-02-04 10:35] svelle commented on #1181
Same happening on Fedora 31 using Gnome 3.34

[2020-02-04 14:40] devinbinnie commented on #1181
Hey @bentolor,

Unfortunately choosing the 'Windows Dark' or 'Mattermost Dark' theme in the app is not the setting to turn on dark mode in the desktop app.
You'll have to use the 3-dot menu, go to View > Toggle Dark Mode.

[2020-02-04 16:57] esethna commented on #1181
Note we have a ticket open to follow the Windows OS theme option (as we currently do on Mac OS), but it currently blocked on us updating the Electron 7 dependencies: https://mattermost.atlassian.net/browse/MM-22279

[2020-02-04 21:10] nyclabels commented on #1118
I had the same issue crop up after switching from non-SSL to SSL communication on the server end, switching to the new release client seems to have fixed the issue.

[2020-02-05 07:47] bentolor commented on #1181
Thanks for the pointer, @devinbinnie. This actually does render the top bar in an appropriate dark color. Yes. Quite hidden, though.

[2020-02-05 14:15] DHaussermann commented on #1101
Just following up on this. @cielavenir, @hannu78 or @cierzniak  Please let me know if you're able to confirm the Circle Ci build linked above resolves the issue on your OS.

[2020-02-06 06:52] mvitaly2003 opened #1184 "Do not silently close Edit Message dialog on a mouse click outside it"
If you try to edit a message in chat and accidentally click outside Edit Message dialog, the dialog silently closes and all your changes get lost.

**Steps to reproduce**
Open a chat, find any of your messages and choose 'Edit' from 'More Actions' menu, then change text and do a click outside the edit dialog (e.g. for activating application back after switching to another one).

**Expected behavio

[2020-02-06 10:04] Willyfrog commented on #1184
hello @mvitaly2003
thanks for reporting the issue, but this is not a desktop one, can you reopen it [on the server repo](https://github.com/mattermost/mattermost-server/issues) where it belongs? thanks!

[2020-02-06 10:07] Willyfrog commented on #1181
@bentolor thanks for reporting, seems like it got solved so I'm closing the issue, feel free to reopen if there is anything else left to handle

[2020-02-06 10:07] #1181 closed

[2020-02-06 10:10] Willyfrog commented on #1172
Hi @believer-ufa thanks for reporting, but this seems to be a feature to have on the webapp as the desktop doesn't handle that part. can you reopen it on the [server's issues](https://github.com/mattermost/mattermost-server/issues)

closing the issue, but feel free to reopen if i missed something

[2020-02-06 10:10] #1172 closed

[2020-02-06 10:10] #1184 closed

[2020-02-06 10:22] Willyfrog commented on #1150
@Songxwn can you clarify on the feature you'd like to see? currently there is no screentshot function for the desktop, but you can probably use the one from the operating system in most cases, if you have a special case for this feature, can you explain your case?

[2020-02-07 15:35] moollaza commented on #1141
Just wanted to mention this has been affecting me for about a week, so I'm hoping the fix works.

I'm using the native Mac app, and no one else on my team seems to be affected, but it's consistently happening for me every time I try to reply to a message.

[2020-02-07 20:14] nyclabels commented on #1153
I had this same "issue" as well, requesting adding the same settings as krychu90.

[2020-02-07 21:41] Willyfrog commented on #1160
fixed in RC1

[2020-02-07 21:41] #1160 closed

[2020-02-07 23:18] nyclabels commented on #1118
I believe this issue may be related to enabling SSL via the nginx proxy- as soon as I enable SSL, it stops functioning, but as soon as I disable SSL, it works.

Not using letsencrypt, using local CA-generated certificates.

[2020-02-08 17:06] lkraav commented on #997
4.4.0-rc1 still continously hogs 6% CPU. Kills battery life, so AC-only.

[2020-02-10 16:45] mattermod opened #1206 "Be consistent on the use or URL and url libraries"
currently depending on the file we are using one of those libraries, which are quite close one to the other. we should probably choose one over the other.
as an argument Juho [mentioned](https://github.com/mattermost/desktop/pull/1137) to use URL because URL.origin does include the protocol scheme.

Files where url is used:

  * browser/index.jsx
  * browser/updater.jsx
  * browser/components/Main

[2020-02-10 19:01] hunterlester commented on #997
@lkraav @artfulrobot Hi all, I'm not certain but I may have found one of the performance issues, however I can't rely on my own measurements.
Really curious to know if you see any difference in these artifacts: https://circleci.com/gh/mattermost/desktop/5442#artifacts/containers/0

Base on this [PR](https://github.com/mattermost/desktop/pull/1142), in case you want to verify what you're installing

[2020-02-10 22:38] theriverman opened #1187 "Sync User Presence to Host OS's Lock Status"
I would like to improve Mattermost's presence handling when used in conjunction with the desktop application. On Windows and macOS, the user's have the opportunity to lock their workstations with a simple key combination (`Windows+L` or `Ctrl + CMD + Q`).

When a user locks their desktop, their status should become `Away` because they will not see new messages and will not be able to reply. This i

[2020-02-10 23:16] hunterlester commented on #997
Something else I want to confirm is what percentage of CPU usage the web app accounts for.
What is the extra CPU usage in your Chrome/Firefox/etc process(es) when running MM?

That's an important comparison that's consistently missing in our measurements.

[2020-02-11 04:33] lkraav commented on #997
Unfortunately there doesn't seem to be a difference.

![Peek 2020-02-11 06-29](https://user-images.githubusercontent.com/147228/74211331-1dfbc280-4c98-11ea-931a-ef877922c26e.png)

What is the extra CPU usage in your Chrome/Firefox/etc process(es) when running MM?

My observation has always been that webapp doesn't suffer from this cycle churn. Firefox has `about:performance` monitor available, MM

[2020-02-11 06:10] IanLee1521 commented on #1118
Looks like this happens on macOS too (`Version 4.3.2 (4.3.2.4230)`)

[2020-02-11 06:48] hunterlester commented on #997
@lkraav Thank you for taking the time. I really appreciate it.
I'm also noticing next to no CPU usage in Electron dev console CPU profiler.

So, my next line of investigation is through V8 profiler.
Passing `--js-flags="--prof" when executing electron to generate isolate CPU tick log files.
Then processing with `node --prof-process`.

Hopefully leads to good clues:
[code]
where most of CPU time is

[2020-02-11 07:30] Edll opened #1188 "Option to always trust self-signed certificates"
On a server that is only accessible internally with a self-signed certificate, it would be great if you could configure the client to always trust the certificate. I have not found an option like this in the documentation.
I try to import the certificate to the system store without success.

[2020-02-11 08:56] lkraav commented on #997
Nice, thanks for instructions

[code]

[2020-02-11 09:07] lkraav commented on #997
Thanks for the instructions. There are many isolate log files. How can I tell which might be relevant?

[2020-02-11 09:46] Willyfrog commented on #1188
whenever the certificate is not trusted, it is issuing a popup to notify this to the user, going into details lets you trust a previously untrusted certificate which gets stored in `certificates.json`. Once the certificate is there, it shouldn't bother you anymore.

[2020-02-11 10:11] Edll commented on #1188
@Willyfrog
Then this doesn't seem to be working right. Whenever I start the mattermost client I get a message "Certificate Error", "more Details" and "Trust Insecure Certificate" will rewrite the ```certificates.json``` file but the message will come back the next time I start mattermost client.

tested on:
Ubuntu gnome 18.04.4
Manjaro XFCE 18.1.5
Windows 10

[2020-02-11 10:16] Willyfrog commented on #1188
which version are you using? have you tried 4.4.0-rc1? we did some changes there

[2020-02-11 10:20] Edll commented on #1188
I try it in version 4.3.2  i will try version 4.4.0-rc1x and then give you feedback.

[2020-02-11 10:25] Edll commented on #1188
@Willyfrog
no, same with 4.4.0-rc1 and have to retrust again and again.

tested on:
Ubuntu gnome 18.04.4
Manjaro XFCE 18.1.5

[2020-02-11 11:13] Willyfrog commented on #1188
thanks! I've created a ticket to track it, we'll try to investigate it

[2020-02-11 12:55] amyblais commented on #1118
Would you be open to trying if desktop app v4.4.0-rc1 fixes the issue for you: https://github.com/mattermost/desktop/releases/tag/v4.4.0-rc1?

[2020-02-11 15:35] nyclabels commented on #1118
I can confirm the 4.4.0-rc1 client does resolve the issue for me.

[2020-02-11 15:43] nyclabels opened #1189 "Duplicate UI Server Tab issue on 4.4.0-rc1 when using GPO"
I confirm (by marking "x" in the [ ] below: [x]):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-02-11 16:15] mattermod opened #1205 "App window controls overlap devtools when docked to the left side of the window"
Reproducible on v4.4 on macOS only.

On the Desktop app, when the developer tools are open and docked to the left hand side of the screen, the OS window controls stay in the top left corner of the screen, overlapping the developer tools.

This is caused by our use of `titleBarStyle: 'hiddenInset'` when creating our `BrowserWindow`, which is a shortcut to allow the default macOS buttons to sit inse

[2020-02-11 16:30] mattermod opened #1203 "Pressing Enter multiple times during Basic Authentication causes a crash"
Found by <<sub>accountid:5dc030e15678870df71552a8] while testing MM-20350.

Steps to reproduce:

  1. You may need to clear your configuration to reproduce (delete `</sub>/.config/Mattermost)
  1. Set up HTTP Basic auth at `http://evil.example/`
  1. Connect to a Mattermost instance and post this message: `![let's hack>(http://evil.example/)`
    1. The image should fail to load, no auth popup is

[2020-02-11 16:31] hunterlester commented on #997
Ah yes, I'm passing `--no-logfile-per-isolate` as well as `--prof` to generate single file.
I'm not certain but it seems like the number of isolates isn't insightful and far as Electron processes are concerned.

Doc on isolate class: https://v8docs.nodesource.com/node-0.8/d5/dda/classv8_1_1_isolate.html

Without that flag I was receiving 4 isolate log files and they each had similar profile summar

[2020-02-11 17:45] mattermod opened #1204 "Fix transition when a tab is grabbed so there is no sticking effect"
The Desktop App server tab UI was recently updated, but there was an outstanding issue that was out of scope for the work due to the library.

**Current**
 ![](2019-11-15 08.23.49.gif)

**Improvement**
Fix the transition when a tab is grabbed so there is no sticking effect when the tab starts to be moved.

PR to implement server tab changes with drag and drop: https://github.com/mattermost/desktop

[2020-02-14 20:23] #1189 closed

[2020-02-16 23:51] ArchangeGabriel commented on #317
Electron 8.x completely changed the way tray icon are handled. I have not tried Mattermost Desktop with this electron version because I am currently not part of any Mattermost instance, but I guess it’s worth the try.

[2020-02-19 06:28] thanosk commented on #1080
Bug still present in 4.4.0

[2020-02-19 09:11] LoZeno opened #1201 "Mattermost v4.4.0 portable (zip file) for Windows x64 checksum is incorrect"
I confirm (by marking "x" in the [ ] below: [x]):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-02-19 10:00] #1118 closed

[2020-02-19 10:01] dmarkdvt commented on #1118
The problem is solved with https://docs.mattermost.com/help/apps/desktop-changelog.html#release-v4-4-0 on Win10, Ubuntu 18.04 and current MacOS.

[2020-02-19 12:22] baskinsy commented on #1080
4.4.0 solved the problem on my KDE desktop.

[2020-02-19 13:11] DVTrast opened #1202 "First two numbers cuted away if you write 1234. test (Output: 34. test)"
**Summary**
If you write 1234. test in the output the first two numbers are cuted away.

**Steps to reproduce**
Enter for example the text "1234. test". In the desktop version the first two numbers are cuted away (in the app the problem doesn´t exitsts).

**Expected behavior**

**Observed behavior**

![grafik](https://user-images.githubusercontent.com/61227869/74837360-9c540680-5321-11ea-9ec3-a308

[2020-02-19 13:50] JtheBAB commented on #1202
I tested on community.mattermost.com and on the personal server. Can't reproduce.
Are you on the latest desktop app (4.4)?

[2020-02-19 15:58] esethna commented on #1202
Hi @DVTrast, this is not related to the desktop app, it is actually the server version. We fixed this in v5.20 just released Feb 16th. When you have a chance please upgrade your server version and we can reopen this issue if it persists.

[2020-02-19 15:58] #1202 closed

[2020-02-19 16:00] esethna commented on #1202
https://mattermost.atlassian.net/browse/MM-18541

[2020-02-19 20:49] Willyfrog commented on #1201
thanks for noticing, I already updated the release description with the right checksums.
closing the issue, but if you notice anything else off, feel free to reopen

[2020-02-19 20:49] #1201 closed

[2020-02-20 03:26] hanzei commented on #1203
Awesome, thanks @abimael-o-o

[2020-02-20 04:39] jagerman opened #1207 "Font rendering is not using subpixel rendering (on Linux)"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-02-25 14:17] ferceg opened #1209 "Windows 10: window minimized on Monitor2, restores on Monitor1"
I confirm (by marking "x" in the [ ] below: [x]):

- [*] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [*] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-02-25 23:42] hectorskypl opened #1210 "Bugged Out Taskbar icon of Mattermost"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-02-25 23:45] hectorskypl opened #1211 "Add option to use old frame border for legacy systems"
The new Windows 10 forced border on legacy OSes looks so awfull...
Would be nice to have switch which allow to disable it. :)

[2020-02-25 23:48] amyblais commented on #1210
Thanks, I opened a ticket here: https://mattermost.atlassian.net/browse/MM-22690.

[2020-02-25 23:48] esethna commented on #1211
@devinbinnie are we able to detect the OS version? What would be involved in detecting the OS version (ie Windows 7 or 8) and adjusting the window frame accordingly?

[2020-02-26 11:35] Ubiqus-labs opened #1212 "Multiple Display Windows 10 - MM taskbar button stuck in main taskbar"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-02-27 15:34] ajantiss opened #1215 "Typing message input focus lost when using ctrl+alt+up/down on Linux"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-02-27 16:06] devinbinnie commented on #1211
@esethna Yeah we can detect the windows version and use the old frame on older versions of Windows.

[2020-02-27 17:07] amyblais commented on #925
Hey all, are you still able to reproduce this on v4.4.0?

[2020-02-27 18:24] amyblais commented on #1215
@ajantiss Would you be open to testing if you can reproduce this on a recent server version? Our most recent server is v5.20.0.

[2020-02-27 19:10] esethna commented on #1211
Thanks, @hectorskypl I opened a ticket here: https://mattermost.atlassian.net/browse/MM-22751

[2020-02-27 19:10] esethna commented on #1211
Closing this issue to follow in JIRA

[2020-02-27 19:10] #1211 closed

[2020-02-27 19:15] dunham commented on #925
I am unable to reproduce this on v4.4.0 with the same setup and procedures I described above.. seems to be fixed!

[2020-02-28 09:00] ajantiss commented on #1215
I just tried with 5.20.1 server version and still the same, here an animated gif of what happens
![focus](https://user-images.githubusercontent.com/6159881/75525794-c89e1000-5a10-11ea-8816-4ec3d4c2cd38.gif)

[2020-02-28 09:29] PetbkA opened #1217 "[Windows][4.4.0]: clicking on notification doesn't open channel if app window isn't active"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-02-28 16:21] amyblais commented on #1217
@PetbkA Are you seeing this issue also on a more recent server version? Our most recent version is v5.20.1.

[2020-02-28 16:24] amyblais commented on #1215
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-22769.

[2020-02-28 16:27] amyblais commented on #1212
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-22770

[2020-02-28 16:29] amyblais commented on #1209
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-22771.

[2020-02-28 16:31] amyblais commented on #1207
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-22772.

[2020-02-29 03:32] vectr0n commented on #1209
This is also a problem on Linux

[2020-02-29 03:52] dhanaa opened #1219 "Cannot copy/paste screenshot from clipboard to text box for version 4.3 on Windows 10"
I confirm (by marking "x" in the [ ] below: [x]):

- [x ] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [ ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
-

[2020-02-29 08:32] JtheBAB commented on #1219
Please update to the latest version (4.4) and try again.

[2020-03-01 05:48] JinZhuXing opened #1220 "Red badge on taskbar and tray icon"
I confirm (by marking "x" in the [ ] below: [x]):

- [ ] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-03-01 05:57] SheanYa commented on #1220
I have a same problem.

[2020-03-01 14:35] luk4sk commented on #1220
Same problem here.

[2020-03-02 00:43] alexei-ciobanu commented on #794
I can't believe that actually worked for me. Many thanks.

[2020-03-02 08:25] PetbkA commented on #1217
Right now I can't test it - updating of our server is planned on the end of March

[2020-03-02 11:25] martinmarques opened #1221 "Mattermost 4.4.0 not starting on Linux"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [ X ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
-

[2020-03-02 11:28] svelle commented on #1221
@martinmarques what package did you download from the releases page? Just the regular .tar.gz?

I'm also running Fedora and would like to confirm this.

[2020-03-02 11:28] martinmarques commented on #1221
It's the tarball from https://docs.mattermost.com/install/desktop.html#linux
More specifically, this one: https://releases.mattermost.com/desktop/4.4.0/mattermost-desktop-4.4.0-linux-x64.tar.gz

[2020-03-02 12:55] svelle commented on #1221
Interesting, I could start this without any issues.

@martinmarques can you try the rc4 release and see if that one works?

https://releases.mattermost.com/desktop/4.4.0-rc4/mattermost-desktop-4.4.0-rc4-linux-x64.tar.gz

[2020-03-02 13:17] devinbinnie commented on #1220
@JinZhuXing Do you see a blue badge when you receive a message that isn't a mention? Or do you see no badge at all?

[2020-03-02 13:47] martinmarques commented on #1221
Same issue. I'm going to restart my laptop later and see if it's something that's left in cache

[2020-03-02 14:07] martinmarques commented on #1221
Restarted the graphical session. No joy.
Rebooted Linux, same issue, even with the RC4 version.

[2020-03-02 14:33] JinZhuXing commented on #1220
Sometimes it works well, so I can see the red badge on tray icon.
But when this problem occurs, I can't see any badge(red, blue).

[2020-03-02 14:38] Willyfrog commented on #1221
tested on ubuntu, it works. I currently don't have fedora, but I can install it on a vm

@martinmarques  Do you have any especial config setup? different DE or anything away from the defaults?

[2020-03-02 14:44] martinmarques commented on #1221
I use the plasma environment. I don't believe I have anything special setup on this laptop.

[2020-03-02 15:00] martinmarques commented on #1221
I was able to make it work on a desktop computer with Fedora 30 and plasma desktop. What I did see there was that the look&feel is completely different from what I see here with mattermost 4.3.2. This looks very much like plasma desktop, while on the desktop computer it has more of a chrome look&feel

[2020-03-02 15:12] martinmarques commented on #1221
Maybe this helps. It's part of the strace output, at the end:
[code]

[2020-03-02 15:13] JinZhuXing opened #1222 "Progress of download file"
Please add a progress for download file.
When I send file (upload file), I can see the progress for uploading file.
![image](https://user-images.githubusercontent.com/15034343/75688938-4c8b1d00-5cdb-11ea-8045-00526c855610.png)

But, when I download file, I can't see the progress.
Also, please notify me when the downloading finished.
Thank you.

[2020-03-02 15:31] devinbinnie commented on #1222
@JinZhuXing we have an internal ticket for this already: https://mattermost.atlassian.net/browse/MM-22239
Hoping to work on it soon :)

[2020-03-02 16:27] kuenzign commented on #1153
Perhaps an additional setting could be added to allow Mattermost to open the window on startup instead of being minimized to the system tray.

[2020-03-02 19:47] cbrand-ludlums commented on #1220
I'm seeing this too.  Also, there are times when there are no notification indicators displaying in the sidebar for channels along with no badges on the taskbar/system tray icons.  I've noticed that sometimes, if I'm currently in a channel,  I'll not receive any notifications of any activity, direct notifications or otherwise.  I'm only seeing this on the 4.4 desktop client, As far as I can tell i

[2020-03-03 09:08] Willyfrog commented on #1221
given that you saw this warning:

I'm guessing you wrote over a previous installation of the app, can you try using a new directory or removing the original one and see if you still get the warning and where it is actually unarchiving the files? and also see if the problem reproduces

[2020-03-03 09:13] martinmarques commented on #1221
When I say *clean directory* I meant a newly created directory.

[2020-03-03 14:34] vimmerru commented on #997
We noticed that CPU usage is often caused by animated gifs placed in chats.

[2020-03-03 15:10] lkraav commented on #997
Correct. This issue is working on a more general problem.

[2020-03-03 16:34] Kabouik commented on #997
Not only. #222 is dedicated to CPU use caused by animated gifs, but I posted there results showing that there are CPU spikes even with channels containing no gifs, sometimes actually higher than channels with gifs being displayed in the same teams. This was one of the main reasons why I opened this issue: there are additional causes for CPU spikes that are yet to be identified.

[2020-03-03 17:16] esethna commented on #794
Should be fixed in v4.3.2, are we okay to close this issue? cc// @amyblais

[2020-03-03 17:22] lkraav commented on #997
CPU spikes vs low but constant CPU churn are also two different issues :thinking:

Title "CPU use" is rather generic for now..

[2020-03-03 17:23] esethna commented on #925
Thanks @dunham, closing this issue

[2020-03-03 17:23] #925 closed

[2020-03-03 22:19] nyclabels opened #1224 "Desktop client opens to blank white Window when using GPO-set teams"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-03-04 09:40] Kabouik commented on #997
You are correct, bad wording in my previous message. I actually experience both CPU spikes and unusually high base CPU use (and others too, right?).

[2020-03-04 09:42] Willyfrog commented on #1221
yes, i understood, but that pop up window should not happen, right? I don't know of a way to unarchive into a new directory and get it (which doesn't mean there isn't a way, it just never happened to me). So i'd recomend double checking just to ensure we are not trying to debug something that is solved by a clean install.

[2020-03-04 13:02] nigels-com commented on #962
Same problem here.  Poor user experience when the user has lost control of closing applications as appropriate.  In my case it had lost connection with the server and periodically grabbing focus and popping up alerts.  In the end I removed the package and killed with -9 at a bash prompt.  But clearly that sort of intervention shouldn't be necessary.

[2020-03-04 14:48] fdcds commented on #893
This feature is planned and can be tracked with this ticket: https://mattermost.atlassian.net/browse/MM-8463

[2020-03-04 14:58] amyblais commented on #1224
@nyclabels Do you see any console errors https://docs.mattermost.com/install/desktop.html#reporting-issues?

[2020-03-04 17:43] nyclabels commented on #1224
Yes, actually I do!

index_bundle.js:20096 Uncaught TypeError: Cannot read property 'focusOnWebView' of undefined
    at focusListener (index_bundle.js:20096)
    at CallbacksRegistry.apply (C:\Program Files\Mattermost\Desktop\resources\electron.asar\renderer\callbacks-registry.js:41)
    at C:\Program Files\Mattermost\Desktop\resources\electron.asar\renderer\api\remote.js:281
    at EventEmitter.

[2020-03-04 18:38] martinmarques commented on #1221
Oh dear. It seems there was something wrong with where `ark` was placing the target files (seems with the years I've become too lazy and keep using these GUI).

I downloaded the binary to disk and manually used `tar` from the console (what I should have done to start with, or at least after the first failure) and now it works just fine.

Sorry for the noise and the time wasted.

[2020-03-04 18:38] #1221 closed

[2020-03-04 20:26] amyblais commented on #1220
@devinbinnie Since lot of users are seeing this, do you feel we can we open a ticket to investigate this?

[2020-03-04 21:34] jshackatpair opened #1225 "Jumping window location"
I confirm (by marking "x" in the [ ] below: [x]):

- [x ] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
-

[2020-03-05 00:57] #1222 closed

[2020-03-05 05:30] deanwhillier commented on #1187
Conversation can be found here: https://community.mattermost.com/core/pl/ok3wo5gzop81bdkcg9e34zorpc

[2020-03-05 15:10] devinbinnie commented on #1220
Absolutely. Would be interested to see if I can reproduce this myself though, since I've never seen this before personally.

[2020-03-05 15:48] noonedeadpunk commented on #893
Yeah, task has been created 3 years ago, but no action on it...

[2020-03-05 23:42] hwmatthewa opened #1227 "Scrolling stops functioning after changing window scaling"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-03-06 00:05] hwmatthewa commented on #1227
Tested this on 4.4.0 and this appears to be resolved.

[2020-03-06 00:05] #1227 closed

[2020-03-06 01:41] esethna commented on #893
@crevete @mismeniet @pomegranited @fdcds @noonedeadpunk Would you guys have feedback on this draft design? https://docs.google.com/presentation/d/1RpWQRcW2QYbQy8U8Q1lEWYzSWFMYNWp05egn77PKOsk/edit?usp=sharing

Approciate you sharing the feedback on your desire for this feature, currently we just need some design time to push it through. So any feedback you'd have on that would be helpful :)

[2020-03-06 02:54] JinZhuXing commented on #1220
I think you can reproduce this problem with below steps.

First, open the mattermost program with double clicking tray icon.
And chat with someone. (for example named "John")
After finish chatting, close the window.
So, at this time, selected person is "John".
After that, you can not receive any notification of new message from "John".
But you can get notification of new message from others.

Befo

[2020-03-06 05:47] noonedeadpunk commented on #893
@esethna Actually that's exactly how I would be expecting it to work. But a bit extending `community feedback` proposal, by having option in system console, or even just via cli, to define default set of statuses, despite what's chosen for `Enable users to set custom statuses`.

[2020-03-06 15:36] amyblais commented on #1224
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-23082.

[2020-03-06 16:24] Jeffreyjelly opened #1228 "Application hides behind the taskbar upon minimize to maximize with a left window taskbar"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-03-06 16:26] wget opened #1229 "Use a non rate limited timestamp server to accelerate Windows builds"
**Summary**

Creating Windows build is taking way too much time because there is a 15 seconds sleep at each file a file needs to be signed.

This is due to the fact the public timestamp server we use is being rate limited.
https://github.com/mattermost/desktop/blob/master/scripts/Makefile.ps1#L316

Hopefully, it appears there are servers which are not rate limited. @metanerd has created an infra t

[2020-03-06 16:28] wget commented on #1229
Link to discussion on Mattermost:
https://community.mattermost.com/core/pl/mc8sdg8patbajres5s6tfwufwy

[2020-03-06 16:33] Jeffreyjelly opened #1230 "Permalink in private chat while in a team that someone doesn't have access to doesn't allow them to click the permalink"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-03-06 18:02] wget commented on #1229
The code certificates we use have been bought at GoDaddy.

Their TSA server (`tsa.starfieldtech.com`) is known to be rate limited.

[In the code](https://github.com/mattermost/desktop/blob/master/scripts/Makefile.ps1#L316), we are using `http://timestamp.digicert.com` as TSA server from Digicert which is less rate limited than the one from GoDaddy.

GoDaddy is not providing instructions about how

[2020-03-06 21:01] devinbinnie commented on #1220
@JinZhuXing so I opened a DM with another account, I had the 2 accounts talk to each other, then I closed the desktop window and I had the other account message the account running desktop. I received a notification from that account and the badge appeared.

Is there anything else I can do to make this happen?

[2020-03-07 01:09] JinZhuXing commented on #1220
@devinbinnie Open windows with double clicking tray icon.
And then, chat with only one account in "Direct Message". (for example named "John")
Also John must chat with only you in "Direct Message".
After finish chatting, close the mattermost window.
So at this moment, John and you does not select other account. John selected you, and you selected John.
After closing window, John reopen window with

[2020-03-09 13:25] devinbinnie commented on #1220
@JinZhuXing Okay so that confirms the process I took before, but to further confirm are you running 2 instances of the desktop app on one machine (one with you signed in and the other with 'John')? If not, can you clarify what you mean by 'use in same environment'?

Thanks a bunch!

[2020-03-09 13:58] JinZhuXing commented on #1220
@devinbinnie Running 2 app on seperate machines.
'Same environment' means OS, Mattermost Server and Desktop App version of two machines are same.
Operating System: Windows 10 x64 1909
Mattermost Desktop App version: 4.4.0
Mattermost Server version: 5.20.1

Thank you.

[2020-03-09 14:48] Willyfrog commented on #1230
Hellow @Jeffreyjelly thanks for reporting!
this is a webapp related issues, for those we use the https://github.com/mattermost/mattermost-server/issues/ repo.

Since I can't move the issue to another repo, could you reopen the issue there so it gets much more visibility?

[2020-03-09 14:55] Willyfrog commented on #1228
hello @Jeffreyjelly thanks for ther report!
i'm trying to reproduce but I'm sure I'm doing something wrong

can you record a video/gif on how do you get it to happen? I'd like to make sure I'm not confusing any steps.

[2020-03-09 15:49] Jeffreyjelly commented on #1228
![mattermostMinimizeFail1of2](https://user-images.githubusercontent.com/4224835/76231702-fdbe1580-61fb-11ea-895a-330c4b2b59ac.png)
![mattermostMinimizeFail2of2](https://user-images.githubusercontent.com/4224835/76231706-ff87d900-61fb-11ea-83b0-26832f46547d.png)

[2020-03-09 15:49] Jeffreyjelly commented on #1228
If that's not enough to recreate the problem let me know.

[2020-03-09 15:52] Jeffreyjelly commented on #1228
looks to be also related to #1225

[2020-03-10 15:27] #1230 closed

[2020-03-10 15:39] BumblingCoder opened #1231 "New tabbar integrates poorly with native system."
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-03-10 16:00] mattermod opened #1232 "Desktop: Font rendering is not using subpixel rendering (on Linux)"
Original report: https://github.com/mattermost/desktop/issues/1207

**Summary**
Mattermost desktop is not enabling subpixel rendering and so fonts look fuzzy compared to other applications.

**Environment**
Operating System: Debian Linux
Mattermost Desktop App version: 4.4.0
Mattermost Server version: 5.20.1

**Expected behavior**
See crisp subpixel rendered fonts.

**Observed behavior**
See blurr

[2020-03-11 09:32] SoerenHenning commented on #1225
Observing the same issue on my setup:

* Operating System: Ubuntu Linux 18.04.04
* Mattermost Desktop App version: 4.4.0
* Mattermost Server version: 5.20.1

[2020-03-11 13:21] amyblais commented on #1207
Closing as there is now a Help Wanted issue open for this here: https://github.com/mattermost/desktop/issues/1232.

[2020-03-11 13:21] #1207 closed

[2020-03-11 13:38] amyblais commented on #1228
Ticket created here: https://mattermost.atlassian.net/browse/MM-23195.

[2020-03-11 13:38] amyblais commented on #1225
Ticket created here: https://mattermost.atlassian.net/browse/MM-23195.

[2020-03-11 13:49] amyblais commented on #1231
A ticket was opened here: https://mattermost.atlassian.net/browse/MM-23196.

[2020-03-11 16:31] maxmukhin88 opened #1234 "There's no notification (task bar icon or pop-up) on Windows Desktop for currently _selected_ chat/channel"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-03-12 06:17] toha134 commented on #1234
I have some problem. Found some issue https://github.com/mattermost/desktop/issues/1220

[2020-03-12 11:31] InsOpDe opened #1235 "Mattermost crashes with Segmentation Fault"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-03-12 12:03] amyblais commented on #1235
@InsOpDe Do you see the same issue on a more recent Mattermost server version? Our most recent version is v5.20.1.

[2020-03-12 12:25] wiggin77 commented on #1235
I believe I am seeing the same thing.

Desktop app (4.4.0) is seg faulting for me every few hours on Community.  Linux Mint 19 (Cinnamon).

Syslog:
[code]
It appears to be a problem with desktop notifications adding to the panel.

[2020-03-12 14:04] kariesta opened #1236 "collapsable comments"
writing a large comment can overshadow other comments and sometimes you don't want to add it as a textfile, because it needs to be read.
It would be helpfull if we could collapse any text over, lets say, 10 lines to only show the first 2-3 lines when collapsed.

[2020-03-12 14:49] Willyfrog commented on #1236
hello! thanks for your suggestion, but that would happen also in the browser so it should be placed on our [server repo](https://github.com/mattermost/mattermost-server/issues/). Since I can't move issues from one repo to the other, can you please create the issue there? That way it will be taken into account by the right people :)

[2020-03-12 14:49] #1236 closed

[2020-03-12 14:54] kariesta commented on #1236
Oh, right.
thanks for the redirection :)

[2020-03-12 15:18] michael-vostrikov commented on #1080
Workaround, works till application exit.

Menu - View - Developer Tools for Application Wrapper (Ctrl+Shift+I)
Execute in console:
[code]
Alt does not select the button, menu continues to work.

[2020-03-12 16:56] maxmukhin88 commented on #1220
same issue here, hope to see it fixed soon

[2020-03-12 17:08] amyblais commented on #1234
Ticket was opened here: https://mattermost.atlassian.net/browse/MM-23215.

[2020-03-13 10:58] heckert-epost commented on #1209
I have additionally the issue that the restored window jumps to the location +0+0 (left top corner) of alle screens, and the screen height is calculated as the combined height of both screens (internal laptop screen is FHD (1920x1080) and external monitor has 1920x1200) and the laptop is aligned as seen in the screenshot, which means the position +0+0 is outside the laptop's screen. The client's t

[2020-03-13 11:44] heckert-epost commented on #1225
![Screenshot_20200313_115127](https://user-images.githubusercontent.com/51078317/76617981-bc917280-6527-11ea-9fae-52d362617094.png)
For me it jumps to the top-left corner of the combined screens, which is (as shown in the screenshot) above the visible area of my laptop's screen. This is severely annoying as moving the window somewhere else requires a complex interaction with the desktop environmen

[2020-03-13 12:09] pcornelissen commented on #1209
Happens on Mac as well

[2020-03-13 16:13] Willyfrog commented on #1235
[ticket created](https://mattermost.atlassian.net/browse/MM-23228)

[2020-03-13 16:15] Willyfrog commented on #1219
did 4.4 help?

[2020-03-15 10:24] PetbkA commented on #1217
I've been a little tired of this issue so I've decide то return to _4.3.2_, and then on _4.2.1_... and the issue is still there!

Moreover, one of my colleagues installed _4.3.2_ from scratch and has the issue too. His OS and MM Server are the same as mine. So I guess the issue may be not on the OS side

[2020-03-16 17:12] nyclabels opened #1239 "Mattermost Desktop Relocates itself on Taskbar"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-03-17 12:19] eldruin commented on #997
I also experience constant 13-15% CPU usage by "Mattermost Helper (Renderer)" on macOS (MBP 2019) with the desktop client (4.4.0.5682). An additional 2% is constantly used by "Mattermost Helper (GPU)" while idle, even when the window is closed but the client is still running the CPU usage stays the same, which is quite counter-intuitive.

Deactivating GPU rendering reduces CPU usage by the Rendere

[2020-03-18 11:25] svelle commented on #997
Hey folks,
thanks for all your reports.
Another very important info for all reports here is the Mattermost server version.
If you don't know how to get it, it's shown in the About Mattermost tab in your account settings (Hamburger Menu next to your username)
![image](https://user-images.githubusercontent.com/7526550/76955925-60599480-6913-11ea-84e3-5394fc765048.png)

A lot of the performance impac

[2020-03-18 14:17] Stypox commented on #1239
This seems to be duplicate of #1225

[2020-03-18 14:18] Stypox commented on #1225
This seems to be duplicate of #1209

[2020-03-18 15:22] nyclabels commented on #1239
Upon further research, it actually appears to be a duplicate of #1209. My
apologies for the duplicate issue report.

On Wed, Mar 18, 2020 at 10:17 AM Stypox <notifications@github.com> wrote:

[2020-03-18 17:43] gigawhitlocks commented on #1235
I hit this bug semi-regularly as well. Happy to share a core dump if necessary.

[2020-03-19 19:44] gigawhitlocks commented on #1235
Anybody who is seeing this issue ( @wiggin77 ), could you share the version of libappindicator3 installed on your machine?

e.g. on mine it's:
[code]

Take careful notice that I need the GTK 3 version of this library. Fedora packages libappindicator and libappindicator3 as separate packages so be careful not to get confused.

[2020-03-19 20:00] wiggin77 commented on #1235
According to the crash report I sent you, desktop is using `/usr/lib/x86_64-linux-gnu/libappindicator3.so.1.0.0`.

Finding the package that provided that lib:
[code]
Getting version info for that package:
[code]

[2020-03-19 20:02] gigawhitlocks commented on #1235
OK thank you @wiggin77 and sorry for overlooking it in the dump

[2020-03-19 21:21] InsOpDe commented on #1235
[code]

[2020-03-19 21:42] mdiller opened #1241 "Configurable background color behind your own messages"
Mattermost has a particular feature where it highlights your own messages. Multiple people (myself included) would very much prefer that it did not do this. An issue was raised on the mattermost-server repo asking to remove the feature ([Issue #5072](https://github.com/mattermost/mattermost-server/issues/5072)). The issue was closed but there are still a lot of people not happy with it. A solution

[2020-03-19 23:55] gigawhitlocks commented on #1235
I believe this is the root cause of the bug https://bugs.launchpad.net/archlinux/+source/libappindicator/+bug/1867996

[2020-03-20 18:26] gigawhitlocks commented on #1235
Current patch version isn't fixing it for me but I _think_ disabling the system tray icon in the Desktop settings works as a workaround.

More info here as well: https://bugs.archlinux.org/task/65885

[2020-03-21 15:38] Willyfrog commented on #1235
@amyblais @deanwhillier should we add this as a known problem + workaround, the library seems to be maintained infrecuently, so I'm not sure how long will it take until they fix it.

[2020-03-23 13:22] erlking commented on #1234
we experienced exactly the same issue today, took me a while to find out that
- it breaks only for current selected channel
- only the desktop app is affected

works fine in browser and andoid app, hope client gets fixed soon.

[2020-03-23 13:40] amyblais commented on #1235
Sure, I opened a doc PR here: https://github.com/mattermost/docs/pull/3471.

[2020-03-23 15:07] wiggin77 commented on #1235
Not all Electron apps that have a tray icon are crashing.  I suspect there may be a fix that doesn't require a patch to libappindicator.  For example, Wavebox (Electron app that hosts web pages) has a tray icon and does notifications that change the tray icon.  They had a crash in libappindicator but apparently fixed it via updating the version of Chromium they we building with.  https://github.co

[2020-03-23 16:55] heckert-epost commented on #1231
My main issue with this is that I have a configuration on my KDE desktop to push the topmost window to the back of the window stack and this is not possible when the app suppresses the native window title bar. Also, maximize sideways or vertical won't work.
(Not to mention the inhrent ugliness of the Windows design it implements)

[2020-03-24 11:50] bsibsi commented on #1101
It seems that the very same issue exists in the Windows desktop client too, even in v4.4

[2020-03-24 11:51] bsibsi commented on #1101
External links did not work, they're rejected with "Untrusted popup window blocked" error message in the console.

[2020-03-24 14:42] Willyfrog commented on #1235
maybe we can use `lsof -p <pid>` to check if slack is using libappindicator? it's interesting to know there might be other way

[2020-03-24 19:13] amyblais commented on #991
I'll close this for now as we haven't received feedback on this for a while, please let us know if the issue persists,

[2020-03-24 19:13] #991 closed

[2020-03-24 19:18] amyblais commented on #621
Closing as the Jira ticket is closed - please re-open if the issue persists on the latest desktop app version v4.4.0,

[2020-03-24 19:18] #621 closed

[2020-03-24 20:57] amyblais commented on #829
@ssolidus Have you still experienced this issue recently?

[2020-03-24 20:59] amyblais commented on #916
I'll close this for now as we haven't received feedback for a while. Please re-open this if the issue persists on the latest desktop version v4.4.0.

[2020-03-24 20:59] #916 closed

[2020-03-25 13:39] amyblais commented on #1241
Thanks, appreciate your feedback @mdiller.

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and we

[2020-03-25 13:40] amyblais commented on #1239
I'll close this as a duplicate,

[2020-03-25 13:40] #1239 closed

[2020-03-25 13:41] amyblais commented on #1219
I'll close this for now as we haven't received feedback for a while. Please re-open this issue if the problem persists on v4.4.0,

[2020-03-25 13:41] #1219 closed

[2020-03-25 13:44] amyblais commented on #90
Are you still experiencing this issue on desktop v4.4.0?

[2020-03-25 13:44] amyblais commented on #921
Are you still experiencing this issue on desktop v4.4.0?

[2020-03-25 13:44] amyblais commented on #1138
Are you still experiencing this issue on desktop v4.4.0?

[2020-03-25 13:46] amyblais commented on #962
Are you still experiencing this issue on desktop v4.4.0?

[2020-03-25 13:46] amyblais commented on #977
Are you still experiencing this issue on desktop v4.4.0?

[2020-03-25 14:18] aeris commented on #977
Yep, still write hammering in `/home/aeris/.config/Mattermost/IndexedDB/https_mattermost.example.org_0.indexeddb.leveldb/000462.log`

Here strace output when inputing `test` on the input field (without sending it). 2 entries per characters.

[code]

[2020-03-25 15:08] aunwin commented on #90
Yes. Both for mousclick on the close-icon as well as for alt+F4 Hotkey attempts.

[2020-03-25 16:44] ImreSzebelledi commented on #1234
Same here. Very annoying.

[2020-03-25 16:53] maxmukhin88 commented on #1234
Would it be possible to allow watching JIRA issues for external users such as myself?

[2020-03-25 21:51] esethna commented on #737
Does not repro in v4.4

[2020-03-25 21:51] #737 closed

[2020-03-25 21:54] esethna commented on #688
Please reopen if needed

[2020-03-25 21:54] #688 closed

[2020-03-25 22:37] mdiller commented on #1241
@amyblais Thanks for getting back to me on this! I checked the forum and found this post: ([Disable highlighting of own messages](https://mattermost.uservoice.com/forums/306457-general/suggestions/16635304-disable-highlighting-of-own-messages)) which has 39 votes. I could create a new one but I doubt it would get as many votes as this one has. If I was interested in implementing, could I start a p

[2020-03-25 22:47] esethna commented on #559
No longer valid with v4.4

[2020-03-25 22:47] #559 closed

[2020-03-25 22:54] esethna commented on #478
Done in v4.4

[2020-03-25 22:54] #478 closed

[2020-03-25 22:58] esethna commented on #449
No Longer Valid

[2020-03-25 22:58] #449 closed

[2020-03-25 23:04] esethna commented on #417
Please reopen if this is still an issue

[2020-03-25 23:04] #417 closed

[2020-03-25 23:05] esethna commented on #414
No longer valid

[2020-03-25 23:05] #414 closed

[2020-03-25 23:10] esethna commented on #369
No longer valid

[2020-03-25 23:10] #369 closed

[2020-03-26 09:23] flexo3001 commented on #1217
An customer is seeing this on Windows 10 as well.

[2020-03-26 16:39] BenElgar commented on #962
Yes, I'm still experiencing this in v4.4.0.

[2020-03-27 09:41] cookiengineer commented on #90
I wanted to confirm that this is still the case with GNOME 3.36 and later. Not a Unity setup, up-to-date Arch + GNOME stable.

Why doesn't mattermost instead use the appindicator API to land in systray if that's the wanted behaviour - and allow users to disable systray integration in order to close it when they want it?

Currently, users have to manually `pkill` the process, which I think is prett

[2020-03-27 19:57] tmakgit commented on #1215
I can also confirm this issue. I came about after the new interface design with the menus being condensed into the three-dot menu. When using any Alt shortcut keys common in most Linux desktops, the three-dot menu is selected, can cannot be de-selected with Alt. Either a click in the webview or pressing Enter (opening the menu) and pressing Esc to close it will allow other shortcut keys inside of

[2020-03-27 19:58] tmakgit commented on #1215
I would prefer to have the option to switch back to the OS window framing as well.

[2020-03-30 12:53] tmakgit commented on #1231
This new design also severely breaks my workflow on a Linux desktop, as any Alt shortcut keys used to move around do not work with the new window design. Please add the functionality to use the native OS window management again.

[2020-03-30 16:42] 2019-05-10 opened #1250 "make download folder configurable/remember last selected folder"
Download folder should be configurable -- I am no fan of one-folde3r-for-all apps, but need to decide where each app stores its stuff.

[2020-03-30 16:44] 2019-05-10 opened #1251 "does not remember last selected folder for downloads"
MM does not remember last selected folder for downloads, but always defauklst to some not-configurable folder instead, no matter whatever folder I selected the last time.

[2020-03-31 12:16] gvcgael commented on #1188
Same problem here.

[2020-03-31 14:14] amyblais commented on #1209
Closing as a duplicate of https://github.com/mattermost/desktop/issues/1225 as the Jira ticket for this issue was closed as a duplicate of the other Jira ticket opened for #1225.

[2020-03-31 14:14] #1209 closed

[2020-03-31 14:16] amyblais commented on #1250
@Willyfrog Do you know if this is a bug or a feature request?

[2020-03-31 14:43] Willyfrog commented on #1250
it is a feature request, currently we don't store any info of previously downloaded files, nor have a predefined location

[2020-03-31 14:45] Willyfrog commented on #1188
see https://mattermost.atlassian.net/browse/MM-22434

[2020-03-31 17:03] Willyfrog commented on #1250
also, there is a ticket for this feature: https://mattermost.atlassian.net/browse/MM-22013

[2020-04-01 09:11] alerque commented on #970
This issue is probably obsolete. Electron 6 is the current specified dependency!

[2020-04-01 10:38] Kabouik commented on #997
I got very bad CPU use with the client lately so I tried using it in a browser (not my main browser because I want a separate window), I tried Epiphany (webkit). I still get 50% CPU use on an i5 7th generation CPU, so it's not tied to the Electron application.

Server is 5.7.0, I admit I'm a bit late on that. I have no time to upgrade right now but I will report back once it is done in case there

[2020-04-01 12:15] #970 closed

[2020-04-01 13:47] lkraav commented on #997
I have upgrade 5.16 -> 5.21 and there's no difference in desktop client CPU usage.

BUT I did discover something else today: CPU churn apparently radically depends on the size of the channel history

* CPU churn all but vanished if I switch to a new / empty or a channel with very few messages (20-30+ total)

* CPU churn resumed instantly when I switched to regular work traffic level channels, hist

[2020-04-01 13:54] Willyfrog commented on #1212
I've asked several people, but noone seems to be able to reproduce the issue. So we are missing something that affects or it was a glitch due to something else.
please reopen if there is any info on how to get it to reproduce

[2020-04-01 13:54] #1212 closed

[2020-04-02 07:38] donnex commented on #1231
Is it possible to hide or diable the new tab bar/menu bar completely?

[2020-04-02 08:14] heckert-epost commented on #1231
As a workaround I managed to define a dedicated rule for my window manger to override Mattermost requesting a title-less window and force it to have a proper titlebar...

[code]

[2020-04-02 08:25] 2019-05-10 opened #1253 "Could not find the program '/usr/local/bin/firefox'"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-04-02 08:46] Willyfrog commented on #1253
Hi, thanks for the report, but mattermost does not choose the browser, it is based on OS configuration, so you'll need to check how that's configured for your distro.

If it is Ubuntu, you can check the following page: https://askubuntu.com/questions/16621/how-to-set-the-default-browser-from-the-command-line

[2020-04-02 08:49] 2019-05-10 commented on #1253
in the OS no such configuration exists:
/etc/alternatives/x-www-browser -> /usr/bin/vivaldi-stable

[2020-04-02 08:50] 2019-05-10 commented on #1253
Please, explain, how exactly MM asks the OS (and nevertheless, stuff like needs to be configurable on a per-app basis)

[2020-04-02 10:39] Kabouik commented on #997
That is something I investigated some months ago but I cannot confirm, on my end Mattermost can use 60% CPU even when showing a private channel with less than 10 messages in history.

[2020-04-02 11:55] jby opened #1254 "Mac desktop client focuses on Search-box instead of Type-box when replying to a thread"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-04-02 12:13] Willyfrog commented on #1253
we are using electron's method for it: https://www.electronjs.org/docs/api/shell#shellopenexternalurl-options

[2020-04-02 12:44] ndi123 commented on #1234
It would be nice if the problem could be solved quickly

[2020-04-02 12:54] amyblais commented on #1254
@jby This has been fixed in server v5.20 release.

[2020-04-02 14:50] esethna commented on #835
No longer repros

[2020-04-02 14:50] #835 closed

[2020-04-02 20:00] mattermod opened #1264 "Desktop App: Add a download progress bar at the bottom of the screen"
There is currently no indication to the user that after they have clicked on a file to download, and picked the download location that the file is actually downloading.

Proposed design:
https://projects.invisionapp.com/share/YDMY3VHWKTA#/screens/308612367

![image](https://user-images.githubusercontent.com/14333569/94093836-05798c00-fdd3-11ea-942a-f97a78ac599f.png)

The download bar can be reopen

[2020-04-02 20:15] mattermod opened #1259 "Desktop MacOS: Allow native text handling when text is selected"
Repro:
1. Select text and right-click

Observed: "Copy Link"
Expected: "All native text handling options, ie lookup, search, all my text services, etc.

Some info if helpful: https://electronjs.org/docs/api/menu#notes-on-macos-application-menu

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets)

[2020-04-03 07:59] Willyfrog commented on #1188
closing, will be released on 4.5

[2020-04-03 07:59] #1188 closed

[2020-04-03 08:07] jby commented on #1254
Oh, I thought it was a desktop problem since I don't see it in browser.

[2020-04-03 08:09] Willyfrog commented on #569
it also happens on osx, the original issue should be fixed either in 4.4 or future 4.5, but I'll open a [new ticket](https://mattermost.atlassian.net/browse/MM-23818) for this

[2020-04-05 09:26] marcoesposito1988 commented on #950
This seems to be due to a limitation of electron between versions 3 and 8. The click event is not handled on Linux for these versions.

I opened a PR for the same problem for Rambox [here](https://github.com/ramboxapp/community-edition/pull/2661). In their case, the fix consists in simply bumping the electron version to 8 and properly handling the click event.

Please consider doing the same when

[2020-04-06 09:32] advancingu commented on #1231
The current design also does not respect window title bar min/max/close button layout under Ubuntu 18.04 LTS. Where all other windows have these buttons on the left hand side on my system, Mattermost places them on the right.

[2020-04-08 04:53] a-wing commented on #1231
I use tiling window manager. always disable WM `min/max/close` button, Use shortcut keys to control windows

Don`t need min/max/close button. but this application carries its own window management buttons

How to disable the built-in `min/max/close` button？

![image](https://user-images.githubusercontent.com/18189138/78745538-03dc1900-7997-11ea-8ee3-9c812010f7a6.png)

[2020-04-08 09:52] frerich commented on #997
@lkraav Great finding! I see the exact same thing -- a fresh, empty, channel reduces CPU usage to a perfectly acceptable minimum (<1% CPU in my case).

[2020-04-08 13:32] PetbkA commented on #1217
May be you can share client's versions of Windows, MM Desktop App and MM Server?

[2020-04-10 19:31] wtjones opened #1265 "Red dot on taskbar icon does not appear if "Use small taskbar buttons" is enabled."
I confirm (by marking "x" in the [ ] below: [x]):

- [x ] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
-

[2020-04-10 23:36] esethna commented on #1265
Thanks for the report! @amyblais can we file a ticket for the above ^

[2020-04-13 07:28] #1254 closed

[2020-04-13 07:29] #1253 closed

[2020-04-13 07:30] Willyfrog commented on #1253
as mentioned above, closing the issue as it is most likely related to OS configuration. Linux sometimes is a bit complex for configuration (interacting configuration for different desktops for example).
Feel free to reopen if we can help in any way.

[2020-04-13 07:32] Willyfrog commented on #1251
there is already an ticket filed for that: https://mattermost.atlassian.net/browse/MM-22013

[2020-04-13 07:32] #1251 closed

[2020-04-13 07:32] #1250 closed

[2020-04-13 13:07] etienne-monier opened #1266 "The mattermost client cannot be closed."
I confirm (by marking "x" in the [ ] below: [x]):

- [x ] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
-

[2020-04-13 13:48] Willyfrog commented on #1241
Absolutely! we might have to review and see how to better benefit the whole community, but the first step is that one :)

Also, bear in mind that would be a change in the https://github.com/mattermost/mattermost-webapp/ repo, as this is not a desktop issue

[2020-04-13 15:09] PetbkA commented on #1217
We've just recently updated MM server to _5.21_. Colleagues who had problem with notifications and client earlier than _4.3.2_ received notifications from server to update to _4.3.2_, and the problem was gone after the update.

For _4.4.0_ there was no client update offer. I've restarted the client, but the problem was still there.

Then I did the following:
1. Uninstalled client;
2. Removed:
   1

[2020-04-13 15:09] #1217 closed

[2020-04-13 15:11] amyblais commented on #1265
@wtjones Do you see this issue on desktop v4.4.0?

[2020-04-13 19:11] wtjones commented on #1265
@amyblais Unfortunately the only Windows environment I have at the ready has 4.2 deployed.

[2020-04-14 07:19] flexo3001 commented on #1217
@PetbkA Mattermost 5.18.1 and 4.3.2 on Windows 10 but they probably wait until 4.5 for the mass deployment.

[2020-04-14 16:33] #871 closed

[2020-04-14 20:34] mdiller commented on #1241
Ok thanks! I might take a look at doing this sometime soon, we'll see.

[2020-04-15 08:14] GitRon commented on #1234
Same here. Only since the update to v4.4.0 for me.

[2020-04-15 08:51] torre76 commented on #1234
This bug happens also on *Mac* version.

[2020-04-15 09:04] airmaticShared commented on #1234
I can confirm that with 4.3.2 this issue is not present but 4.4 has this bug

[2020-04-15 10:49] Willyfrog commented on #1241
let us know if you want to start it, that way we might be able to help with directions on what would be the best way to handle that :)

[2020-04-15 18:01] 2019-05-10 commented on #1253
After a lot of searching I found  a configuration in some KDE config file (kdeglobals) -- a setting I don't even recall to have made.
In all these years, Mattermost is the only application ever having read/used that setting.
+1 to have that configurable in settings as all other applications do.

[2020-04-15 19:46] Willyfrog commented on #1253
you can [request it as a new feature](https://mattermost.uservoice.com/forums/306457-general) and see if others would like the same :)

[2020-04-17 16:54] gigawhitlocks commented on #1235
Funny you mention this, I decided to fire up Slack just to compare.. on the same system where I see Mattermost segfaults with the notification tray enabled, both Slack and Mattermost fail to draw the notification tray icon at all.

For what it's worth @Willyfrog and @wiggin77, I do see that (with the system tray enabled) both Mattermost and Slack are using the same underlying library. Not sure if

[2020-04-17 17:00] wiggin77 commented on #1235
Good info @gigawhitlocks .   This suggests we're possibly calling it in a different way than Slack, or their Electron build is different.  That could be good news as it may be possible to fix this in code.  Unfortunately it's going to require a deep dive into that code path.

[2020-04-17 17:46] raphaelmro commented on #90
I'm having the same experience on Pop!_OS 19.10 x86_64 and GNOME 3.34.3.
The close-icon minimizes the app and the quit button while on the dock is not triggering any close/kill action.

[2020-04-18 13:05] kaakaa opened #1270 "Clicking on a file:// including Japanese text does not open local file"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-04-18 13:32] Willyfrog commented on #1270
I'm not sure how did you manage to open the file, i tried and in both cases and two OS (mac and win) couldn't get it to open:

<img width="803" alt="Screenshot 2020-04-18 at 15 31 05" src="https://user-images.githubusercontent.com/1515906/79639112-d149d180-8189-11ea-9cbb-0fb1790fd8b9.png">

have you done something special to get it to work?

[2020-04-18 13:58] kaakaa commented on #1270
Thanks for commenting.

No, I haven't done any special instructions and settings. In my environment, message seems not to indicate error (but it looks warning).

![画像の貼り付け先_ 2020-4-18 22-55](https://user-images.githubusercontent.com/1453749/79639595-c57d0000-81c7-11ea-9a85-10a59b925b58.png)

One special situation that I didn't mention in the Issue is that the warning dialog opens after clicking on

[2020-04-20 06:45] stlvc opened #1271 "Blocked Gitlab Login Button"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-04-20 08:00] Willyfrog commented on #1271
can you provide some extra context? feel free to contact me on the community server if you feel the info is sensitive.
I've tested on one of our test servers and it does navigate correctly to the gitlab login page, but yours might be setup differently.

[2020-04-20 08:16] Willyfrog commented on #1270
trying a few more i managed to get a similar situation, and it seems it is being converted to different links
<img width="545" alt="Screenshot 2020-04-20 at 10 05 50" src="https://user-images.githubusercontent.com/1515906/79728770-bb095600-82ee-11ea-8ec8-5e4984fe2298.png">
<img width="534" alt="Screenshot 2020-04-20 at 10 06 02" src="https://user-images.githubusercontent.com/1515906/79728782-be044

[2020-04-20 08:34] stlvc commented on #1271
Hi @Willyfrog - thanks for the quick reply. I just checked with a colleague of mine with the same setup, works for him. So I assume that the problem is very specific to my own setup. I'll investigate further and post the solution if I can find one, but the Client doesn't seem at fault.

[2020-04-20 09:00] stlvc commented on #1271
I've managed to solve the issue, but I'm not sure whether I should close it or not. It seems like my connection settings went corrupt after the update to 4.4.0. Just reinstalling the Client wasn't enough, since the settings persist after a simple deletion of the app. The following steps solved the issue for me:

- remove the Server from configuration
- remove the Client application
- install the C

[2020-04-20 10:51] Willyfrog commented on #1271
Glad you solved it, the thing is that unless we had a consistent behaviour, we can't figure it out as we might be chasing ghosts.

For now, I'll close the issue, it can be reopened if we get any new info or a reproducible path.

[2020-04-20 10:51] #1271 closed

[2020-04-20 18:51] asaadmahmood commented on #1241
@mdiller We've removed it :) So this can be closed as no longer valid.

[2020-04-20 18:52] esethna commented on #1241
@mdiller thanks for the feedback, this is actually already implemented in our master branch https://mattermost.atlassian.net/browse/MM-22963

[2020-04-20 18:52] #1241 closed

[2020-04-21 08:24] Willyfrog commented on #1266
if you have the tray icon, closing on the window button, or on unity's taskbar only hides the window but doesn't close it. Disabling the tray icon on preferences menu or closing from there should close the app.

I'm closing the issue as this is expected behaviour, but feel free to reopen if you have any new info.

[2020-04-21 08:24] #1266 closed

[2020-04-21 11:40] etienne-monier commented on #1266
Well, It seems I was not clear.

I'm using [i3wm](https://i3wm.org/) which is a [tiling window manager](https://en.wikipedia.org/wiki/Tiling_window_manager). When the window is open, it takes some place at the screen. When I close it, the surrounding windows get bigger to occupy the place. I've got also a tray icon.

When I use the i3wm kill command to close the Mattermost window, it does not clos

[2020-04-21 13:18] Willyfrog commented on #1266
Hi, I know i3, although never used it, but used other tiling WM in the past.

As I said earlier, our current code has a mechanism to minimize to tray if a user closes the window. Why i3wm is keeping the window, I really don't know as I'm not sure if it differs on desktop api implementation from ubuntu's Unity or Gnome.

from a quick glance from google I'd say it's a common problem on i3: https://w

[2020-04-21 16:30] mattermod opened #1272 "Substitute tgz target for one that keeps permissions"
On <MM-21400> we added a setuid permission, this is not being kept by electron-builders target as it is using 7za on linux and does not preserve file permissions.

To overcome this, we need to remove the tgz target from our list and do it within another of the linux targets, reimplementing the feature

In order to get that, the easiest way is to interact with the beforepack scripts and create a di

[2020-04-21 16:45] mattermod opened #1273 "Have the same default protocols as the server in the autolink plugin"
Server already has several protocols automatically converted to links, we want to mark this as safe to be consistent.
Desktop already considers http, https, mailto and mattermost (defined on electron-builder.json as $protocol) as safe but the server uses http, https, ftp, mailto, tel

Any questions can be asked either on [Desktop channel](https://community-release.mattermost.com/core/channels/desk

[2020-04-22 06:37] KlavsKlavsen opened #1274 "basic auth on gitlab - makes gitlab login not work"
- [x ] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [ ] I have read [contributing guidelines](https://

[2020-04-22 09:40] 2019-05-10 commented on #1074
Any progress on this?
Just about 15 minues ago I posted a message, and about 5 minutes later Mattermost popped up a message about my connection being expired and needing to log in again.

I don't understand, what's so difficult about storuing credentials and offering them for the next login.
If for "security issues": keeping a post-it with credentials on my monitor ist not necessarily a better sol

[2020-04-22 10:07] Willyfrog commented on #1274
Hello! Sorry to hear that you have problems with basic auth.
which version of desktop are you using?

[2020-04-22 10:18] caspChristian opened #1275 "Missing copy image option in desktop client"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-04-22 10:30] Willyfrog commented on #1275
can you upgrade to 4.4 or 4.4.1 (will be available today), I see the copy option on my right click menu.

[2020-04-22 11:42] caspChristian commented on #1275
Indeed 4.4 has copy image. Thanks and sorry for the nioise.
The whole client still hangs for several minutes tho when I accidentally click on the image after it pops open, it won't respond until the save dialog is closed (but before being able to close it it takes several minutes) The dalay and hang part is a windows issue due to filesystem over a slow network link. However, opening the save dialo

[2020-04-22 11:42] #1275 closed

[2020-04-22 11:45] KlavsKlavsen commented on #1274
mattermost-desktop       4.4.0                       169   latest/stable    snapcrafters  -

[2020-04-22 15:13] jaydeland commented on #1229
We can potentially move to CloudHSM with AWS:
https://docs.aws.amazon.com/cloudhsm/latest/userguide/signtool-prereqs.html
https://docs.aws.amazon.com/cloudhsm/latest/userguide/signtool-csr.html

[2020-04-22 15:29] wget commented on #1229
Hi @jaydeland

Except that with [the instructions](https://docs.aws.amazon.com/cloudhsm/latest/userguide/signtool-sign.html), I don't see any call to a [Time Stamping Authority (TSA)](https://en.wikipedia.org/wiki/Trusted_timestamping#Trusted_(digital)_timestamping).

We can see that the `/tr "<TSA SERVER URL>"` argument to `signtool.exe` is missing.

I don't see any mention of Amazon being a TSA

[2020-04-22 15:34] jaydeland commented on #1229
Sorry - forgot to link this doc: https://aws.amazon.com/blogs/security/signing-executables-with-microsoft-signtool-exe-using-aws-cloudhsm-backed-certificates/

[2020-04-22 15:35] wget commented on #1229
Firefox is using Digicert as TSA authority:

![Screenshot_20200422_173003](https://user-images.githubusercontent.com/2997662/80001700-f78bac00-84be-11ea-843b-0c4fd4a4ef7d.png)

Google Chrome is using Digicert as well:
![Screenshot_20200422_173240](https://user-images.githubusercontent.com/2997662/80001968-4d605400-84bf-11ea-98b2-2a62e701df31.png)

Adobe seems to be using Digicert as well:
![Screen

[2020-04-22 15:36] wget commented on #1229
If all of these 3 big actors are using Digicert, that's for a reason ;)

[2020-04-22 17:15] amyblais commented on #1224
This is now fixed in v4.4.1 dot release,

[2020-04-22 17:15] #1224 closed

[2020-04-22 17:16] amyblais commented on #1225
This is now fixed in v4.4.1 dot release,

[2020-04-22 17:16] #1225 closed

[2020-04-22 17:16] amyblais commented on #1228
This is now fixed in v4.4.1 dot release,

[2020-04-22 17:16] #1228 closed

[2020-04-23 00:23] mdiller commented on #1241
Fantastic, thanks!

[2020-04-23 10:08] burnb commented on #1234
Same bug on ubuntu and 4.4 version. Version 4.3.2 doesn't has this issue. And yes it's very annoying.

[2020-04-23 11:01] tomasnorre opened #1276 "Notification icon to big in Ubuntu"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [ ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-04-23 21:24] Willyfrog commented on #1274
thanks, I'll see if we have a test server with a similar config to test or if we'd have to create the whole scenario.
Just to ensure I'm getting it right, you have the basic auth in fron of the gitlab instance, but you also need to login in the gitlab instance to authenticate into mattermost? or were you just following a link to a page within gitlab instance?

[2020-04-24 03:47] maximsnezhkov commented on #1188
@Willyfrog where can I find `certificates.json` ? I'm using mattermost 4.4.1 from deb-package and always get untrusted error with the same CAcert

[2020-04-24 07:58] KlavsKlavsen commented on #1274
Its just basic auth in front of gitlab instance..  - and gitlab login needs to be done afterwards per usual.
So basic auth comes first - and once thats correct - you reach gitlab server.

[2020-04-24 13:24] Willyfrog commented on #1188
on linux should be in "~/.config/Mattermost" but if you have this problem, it is fixed on master (you'll need to build from sources) and on future 4.5

[2020-04-26 12:29] boistordu commented on #544
Hi,
I didn't want to duplicate this issue.
So I'm going to continue on this one until advised otherwise.
The pi-hole mattermost server is configured to not have telemetry activated. Their team have shown me the screenshot of the box checked to false in the settings.
Still I have plenty of api.segment.io calls on my dns filtering system which is pi-hole or latter nextdns.

Here are the screenshots

[2020-04-27 05:17] maximsnezhkov commented on #1188
Build from master is resolved the problem. Thanks @Willyfrog

[2020-04-27 07:09] maximsnezhkov commented on #1188
I've also caught this bug on the mac client. It will be fixed on 4.5 too? @Willyfrog

[2020-04-27 13:17] Willyfrog commented on #1188
yes

[2020-04-28 00:45] kaakaa commented on #1270
Thanks for your investigation, and I'm sorry for my late replying @Willyfrog. It would be nice to have the same validation for webapp and desktop.

If webapp and desktop have the same validation, will we never be able to open the file protocol? (I feel like that's the right thing to do in terms of web security)

[2020-04-28 13:51] Willyfrog commented on #1270
if the webapp is allowing it (as it is) that would be the default behaviour, although you'll get a warning about having to trust such a link

[2020-04-28 15:21] mparuzel commented on #997
This has been observed on the browser front-end as well. Moderate CPU usage for chats with long history. Very little CPU usage on chats without history. Reproduced using Chrome.

[2020-04-28 22:07] amyblais commented on #1276
Do you see the same issue on desktop app v4.4.1?

[2020-04-29 05:33] tomasnorre commented on #1276
Unfortunately yes.
![mattermost_4 4 1](https://user-images.githubusercontent.com/1212481/80563593-c09c2580-89eb-11ea-985e-1a583a0701d0.png)

[2020-04-29 07:38] Willyfrog commented on #1274
great, I created a ticket with the info: [MM-24640](https://mattermost.atlassian.net/browse/MM-24640)

[2020-04-29 12:38] amyblais commented on #1276
Does this seem similar to this issue: https://github.com/mattermost/desktop/issues/317?

[2020-04-29 13:12] tomasnorre commented on #1276
It does a lot, I think it's a matter if we call it `tray` or `topPanel`, but from screenshots it looks like the same issue.

We can close this and mark it as duplicate.

Sorry should have investigated better for know issues before creating a new one.

[2020-04-29 19:14] ilyakonovalenko commented on #1234
I believe the problem is that MatterMost marks the messages in the selected chat as read immediately so that there are no notifications in both desktop, web and mobile clients.

[2020-04-30 13:51] smoti17 commented on #1231
This is a significant problem for me, under my preferred Linux window manager I am unable to even move or resize the mm client window. Please revert this change.

[2020-05-01 18:57] Thyrador opened #1278 "(K)Ubuntu - System tray icon stays black, even on dark theme"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-05-01 19:25] Thyrador commented on #1278
Didn't notice there's a setting for it. changed it as suggested [here](https://github.com/mattermost/desktop/issues/317#issuecomment-402703667)

[2020-05-01 19:25] #1278 closed

[2020-05-01 21:33] cfcohen commented on #90
I'm running Mattermost in KDE.  In my opinion, closing the window (with the X in the top right corner of the window that normally quits an application) should actually quit the application.  This is especially true if the "leave app running in the notification area" is not checked in the settings.  That setting is completely disabled on my system, probably because there's no actual KDE notificatio

[2020-05-04 09:02] SemaiCZE commented on #90
@yuya-oc For me it's bad design choice. I'm using Gnome on Fedora and I have UNchecked the _Leave app running in notification area_ switch in settings. On Gnome there is no such thing as notification area and minimizing applications is also not much supported. I'd love to quit Mattermost client the same way as any other app (including Slack). Please reevaluate your design choise. Thanks

[2020-05-04 09:17] volca02 commented on #90
On version 4.4.1, while using i3 WM on linux, clicking the red X, or using the i3's close application key combo (which seems to use the WM_DELETE protocol) does nothing at all. Regardless whether the option `Leave app running in notification area when application window is closed` is enabled or not.

[2020-05-04 11:21] cookiengineer commented on #90
I created the pull request #1279 and it respects the `minimizeToTray` setting correctly.

- If minimizeToTray is set to true, hide the main window.
- If minimizeToTray is set to false, close the main window.

[2020-05-04 13:10] deanwhillier commented on #623
Updated the summary with an important note about `server` vs. `team`.

[2020-05-06 12:42] savegame opened #1282 "Channel automatically marked as viewed, when app minimized (Win10, Desktop Client)"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-05-06 12:59] Willyfrog commented on #1282
There is a bug on 4.4 that refocus the window when closing/minimizing.
It is fixed by this pr https://github.com/mattermost/desktop/pull/1269

[2020-05-06 13:26] savegame opened #1284 "Popup window on notification (Windows 10, Desktop Client)"
Add option to popup mattermost application window when you have notification.

At this point, if you miss the notification, you can forget about the chat for a long time and not reply to messages. In Windows 10, the display of a new message is very low and you can't configure a more effective notification.

[2020-05-06 14:19] Alexander-Serov opened #1285 "Away from keyboard is not treated correctly on desktop"
I confirm (by marking "x" in the [ ] below: [x]):

- [x ] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [ x] This does not apply to Chrome. This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com

[2020-05-06 15:35] savegame commented on #1285
this is  duplicate of #1282

[2020-05-07 10:43] ludwig-gramberg opened #1286 "mattermost_helper kernel_panic on osx catalina, mb air 2020"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-05-07 11:49] Willyfrog commented on #1286
Hi, thank you for the report, mind if I ask you a few questions? Feel free to contact us in the community server if any response contains any sensitive info.

 is this happening consistently?

Is there any special configuration that you have?

Did you update recently to Catalina or the app?

Are you running as an admin or a regular user?

[2020-05-07 12:33] ludwig-gramberg commented on #1286
* it happened twice already, and without me even doing anything in the app
* what constitutes special?
* this is a new notebook i have for like 5 days, so everything is up to date and newly installed
* i'm running as a standard osx user, i guess thats an admin?

[2020-05-07 13:11] ImreSzebelledi commented on #1234
They claim that it is resolved by 4.4.1 but it is not.

[2020-05-07 13:12] Willyfrog commented on #1286
sorry if I'm being a bit generalist, I'm trying to figure out how it is configured as I don't have any other report of people having it to crash, so I'm guessing you have something different and trying to figure out what. Do you only log into one server or use several?

do you have any logs in `~/Library/ApplicationSupport/Mattermost/` that might show more info on the crash?

[2020-05-07 13:13] GitRon commented on #1234
I didnt see it in the changelog so I guess the bug is still there.

[2020-05-07 13:17] ImreSzebelledi commented on #1234
You are right, I have seen that it is now resolved so I assumed it is included in the new release, but true enough it is not in the changelog.

[2020-05-07 13:18] amyblais commented on #1234
This will be fixed in upcoming v4.4.2 dot release,

[2020-05-07 13:19] GitRon commented on #1234
@amyblais Could you post it here when the version is released? Thx 😃

[2020-05-07 14:21] Willyfrog commented on #1282
we have released 4.4.2-rc1 which should resolve this issue. Can you download it and check if it doesn't reproduce anymore? https://github.com/mattermost/desktop/releases/tag/v4.4.2-rc1

[2020-05-07 16:44] savegame commented on #1282
@Willyfrog , now it show notification as expected. Thanks

[2020-05-07 18:31] #1282 closed

[2020-05-08 08:25] ludwig-gramberg commented on #1286
I totally understand, I did not have any special config on the app. I just downloaded it, put in my credentials and that was it.
Files in Application Support:

**uncaughtException-1588847864869.txt**:
[code]

other than this one file all looks "normal" to me

[2020-05-08 09:08] Willyfrog commented on #1286
i can create a patch for that exception and build a test for you if you are willing to try, but I'm shocked that an electron app gets the OS to crash completely.

I'm also wondering what makes the new macbook air especial in that regard, i'm on a macbook pro using the same 10.15.4 version.

Also, does this happen when you start the app, or after a while? if it is after a while, was the window open

[2020-05-08 09:10] ludwig-gramberg commented on #1286
- seamed random, hours after the app was started
- app was running, window was minimized
- i have vmware with kernel-extension installed (otherwise its vanilla catalina)

[2020-05-08 09:13] ludwig-gramberg commented on #1286
I can try when I dont' have to work on the notebook.
Weekend of May 16.-17.  I could install again and let it run in the background.

[2020-05-08 09:17] Willyfrog commented on #1286
contact me on mattermost's community server (either direct message to me or in the desktop channel) a little bit earlier so I can create a build for you.

I'm also seeing quite a few bug fixes on electron 6.x branch but i don't see any hard crash

[2020-05-08 09:18] ludwig-gramberg commented on #1286
ok, i will add it to my calender

[2020-05-08 09:48] Willyfrog commented on #1234
there is currently an RC for the release https://github.com/mattermost/desktop/releases/tag/v4.4.2-rc1

[2020-05-08 21:05] dpanic opened #1288 "WebRTC not working"
I confirm (by marking "x" in the [ ] below: [x]):

- [ x ] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [ x ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).

[2020-05-09 11:01] ludwig-gramberg commented on #1286
i think we can close this for now, i was hit again by random crashes, I now think it was random that it happened to matter most.
its just this darn buggy catalina 10.15.4 (why did I ever update... )

[2020-05-09 11:01] #1286 closed

[2020-05-11 13:11] jcdrubay opened #1290 "Login raises "The change you requested was rejected.""
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-05-11 13:12] jcdrubay commented on #1290
After upgrading to latest Desktop client, I did not face the issue anymore.

Thanks for making Mattermost ! :)

I hope  this will help someone bumping into the same issue.

[2020-05-11 13:12] #1290 closed

[2020-05-11 15:49] amyblais commented on #1285
This is now fixed in v4.4.2 https://github.com/mattermost/desktop/releases/tag/v4.4.2.

[2020-05-11 15:49] #1285 closed

[2020-05-11 15:50] amyblais commented on #1234
This is now fixed in v4.4.2 https://github.com/mattermost/desktop/releases/tag/v4.4.2.

[2020-05-11 15:50] #1234 closed

[2020-05-11 20:08] ArnY opened #1291 "gitlab authentication not working anymore (gitlab 12.10.3)"
I confirm (by marking "x" in the [ ] below: [x]):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-05-12 06:50] ImreSzebelledi commented on #1234
It really is. Thank you very much! (:

[2020-05-12 07:27] maxmukhin88 commented on #1234
Thanks so much for fixing this!

[2020-05-12 08:28] Willyfrog commented on #1291
Hello and thanks for the report!

have you tried with a more recent release? [4.4.2 just got out](https://github.com/mattermost/desktop/releases/tag/v4.4.2)

[2020-05-12 08:33] Willyfrog commented on #1288
Hello! just to clarify: are you using jitsi as the server url or is this a url pasted in a link?

[2020-05-12 09:05] dpanic commented on #1288
**Tried both options.**

As I already mentioned, I did moved everything to same ORIGIN, same host, port protocol...Problem was in permissions. Audio is received. But nothing being sent over.

I did however managed to run once microphone and video by starting desktop app with modified code like this:

![Screenshot from 2020-05-12 11-04-39](https://user-images.githubusercontent.com/346557/81664998-7

[2020-05-12 09:07] dpanic commented on #1288
![Screenshot from 2020-05-12 11-06-42](https://user-images.githubusercontent.com/346557/81665198-ba249980-9440-11ea-988c-d5881d9fd811.png)

This one was working as I remember.

[2020-05-12 09:33] ArnY commented on #1291
Excellent, it does fix the problem! Thanks!

[2020-05-12 09:33] #1291 closed

[2020-05-12 11:11] danilkhromov commented on #1231
Yeah, this win10 style top bar make app window behave weirdly when i try to move it around with keyboard hotkeys. I think it should use os native window design and functionality.

[2020-05-12 15:03] skumblex commented on #1231
Here https://mattermost.atlassian.net/browse/MM-22751#icft=MM-22751, it is stated that  "this will require a bit of work including a bunch of testing", but I think you could already make a lot of people happy by introducing an option 'Use system titlebar'.
In fact, I used the workaround from @heckert-epost and now my window looks like this (KDE Neon User Edition 5.18).
![1](https://user-images.git

[2020-05-12 15:26] suwalski commented on #1231
How about an option for using the system titlebar, _and_ don't show the silly tab-bar when there is only one connection, as is probably the case with the vast majority of users.

[2020-05-13 07:43] Willyfrog commented on #1284
hi! thanks for the report. I'm aware of the problem and i've built a smaller project to help electron team to debug the issue.
hopefully we are able to solve it soon

[2020-05-13 11:05] rular opened #1293 "special characters used in gpo DefaultServerList"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-05-13 12:40] Willyfrog commented on #1293
ticket created: https://mattermost.atlassian.net/browse/MM-25122

[2020-05-14 10:18] aol-nnov opened #1294 "render percent encoding to readable characters in links pasted into chat"
When pasted into chat, render percent-encoded URLs into readable characters

i.e. instead of displaying https://ru.wikipedia.org/wiki/%D0%93%D0%B5%D0%BE%D0%B3%D1%80%D0%B0%D1%84%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D0%B5_%D0%BA%D0%BE%D0%BE%D1%80%D0%B4%D0%B8%D0%BD%D0%B0%D1%82%D1%8B

show https://ru.wikipedia.org/wiki/Географические_координаты

I propose changing text only, not the href of an `<a>` ta

[2020-05-16 12:47] Kabouik commented on #997
My main Windows user is reporting that the issue arises mainly when images are posted in a channel, and just a few images are enough to get to 30-50% of CPU use. I don't think the link is that obvious in Linux, I often observed very high CPU use in channels with no images visible (but maybe other channels not being displayed, or past history use CPU too?). However, it's worth investigating in that

[2020-05-16 17:05] jowilkes commented on #997
Getting the same issue on both Windows (7 pro 64, 7 ultimate 64, 10 home) and Linux (Ubuntu 18, 19, and 20). Mattermost desktop app ( or -snap app) causing 40-70% CPU load when idle, when hidden, when no messages are coming in in any of the channels. Slightly more load during actual activity.

[2020-05-16 17:08] jowilkes commented on #997
or high constant CPU churn.

[2020-05-18 10:59] Willyfrog commented on #1288
not sure about linux, but for some operating systems you need to check for permissions before using media: https://www.electronjs.org/docs/api/system-preferences#systempreferencesaskformediaaccessmediatype-macos

[2020-05-18 11:03] dpanic commented on #1288
Ok about MacOS, but I am testing and developing on Linux.
My collegues do test on MacOS.

[2020-05-18 11:11] Willyfrog commented on #1288
the problem with enabling `nodeIntegration` is that we are running remote code from the server and from plugins, and it is considered insecure: https://www.electronjs.org/docs/tutorial/security#2-do-not-enable-nodejs-integration-for-remote-content

on the other hand, there are jitsi plugins: https://integrations.mattermost.com/?s=Jitsi&submit= although I don't think they embed conferencing inside

[2020-05-18 11:16] dpanic commented on #1288
My idea is to make this work. And I will create PR for following:

/ext/insecure/jitsiURL

Something like that...
What do you think?

[2020-05-18 15:46] Kabouik commented on #997
Note that he added that disabling URL preview and extended image preview in `Account settings` > `Display` does not help.

[2020-05-19 08:34] Willyfrog commented on #1288
sorry I'm not sure i understand: what does creating a PR for that path means? you want to enable nodeintegration for that path?

[2020-05-19 08:50] dpanic commented on #1288
Idea is to implement loading external JITSI url in a popup (modal window) with audio/video permissions.

[2020-05-19 08:51] noahsmindfuck opened #1296 "Build fails with unhandled error event"
I confirm (by marking "x" in the [ ] below: [x]):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-05-19 09:12] Willyfrog commented on #1296
I think you are building the webapp+server? if so, can you reopen this on the https://github.com/mattermost/mattermost-server repo?

If you are indeed trying to get the desktop built, can you check what sources you downloaded? there is no go code on the desktop, and cross-env is actually on the [dev dependencies](https://github.com/mattermost/desktop/blob/master/package.json#L54)

[2020-05-19 09:13] Willyfrog commented on #1296
closing the issue

[2020-05-19 09:13] #1296 closed

[2020-05-19 09:15] Willyfrog commented on #1294
do you mean to have this on the post? or somewhere else? if it is in the post, that would be an issue to be tackled on the [server repo](https://github.com/mattermost/mattermost-server/issues) can you reopen it there?
closing the issue for now, but feel free to reopen if you think it is still relevant

[2020-05-19 09:15] #1294 closed

[2020-05-19 09:18] Willyfrog commented on #1288
popups are allowed to run plugin's code, maybe you should check that. Also you might find some help in the [toolkit channel](https://community.mattermost.com/core/channels/developer-toolkit) on community server

[2020-05-19 09:21] aol-nnov commented on #1294
@Willyfrog I mean the chat log - a large area where all discussion is displayed.

I thought url text rendering is performed on the client.. Okay, will reopen in the server repo.

[2020-05-19 09:23] Willyfrog commented on #1294
It is performed on the client side, but on the webapp part of it (webapp issues are in the server repo), not the desktop client.

[2020-05-19 09:24] aol-nnov commented on #1294
okay, gotcha! thanks!

[2020-05-19 10:00] patric42 opened #1297 "Alt-Key Handling broken if alt is used to switch workspaces"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-05-19 10:09] PetbkA opened #1298 "[Windows]: Full Screen mode turns off on restart"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-05-19 18:48] ronin-gw commented on #1271
Just sharing my case, I encountered this problem in the similar environment (MacOS 10.15.4, Desktop App 4.4.1, Mattermost Server 5.12.4).

When I upgraded Client application into 4.4.2, the problem did not solved. However, when I added the same Server configuration which was in trouble, I can established a connection via the additional configuration.
Then, unexpectedly, the first configuration hav

[2020-05-20 13:11] Willyfrog commented on #1271
I found the problem of this while working on a different issue. It'll be fixed once https://github.com/mattermost/desktop/pull/1295 is deployed

[2020-05-20 13:21] stlvc commented on #1271
Thanks for resolving the issue and keeping us in the loop!

[2020-05-20 13:50] Willyfrog commented on #1298
hi! thanks for the report.

I think that's the standard behaviour of windows. I've tested with chrome and edge and neither of them restart in full screen mode.

[2020-05-20 15:51] PetbkA commented on #1298
Indeed, my mistake was to think that Chrome behaves differently. Although in Chrome I can force Full Screen by setting _--start-fullscreen_ option which doesn't work in the app. Is there analogue for this?

[2020-05-20 16:06] PetbkA commented on #1298
Funny, I've found a ["reversed request"](https://github.com/mattermost/desktop/issues/538) which _required_ to restart without Full Screen.

This is very strange - usually the expected behavior is that the app should _preserve_ its settings on restart. May be this was done 'cause there were bugs with Full Screen that couldn't be fixed. For example, Full Screen mode is saved when restarting _Visual

[2020-05-22 09:39] 2019-05-10 commented on #1074
This is getting ridiculous!
Is it really that difficult to either check the timeout or at least provide a credentails manager??

[2020-05-23 09:17] globalqss commented on #980
Hi @amyblais - I think what @Yournished is reporting is different than the request you're pointing to.

I just upgraded my ubuntu to 20.04 and installed mattermost desktop 4.4.2 - and the behavior described by @Yournished appeared.

The thing is - even when I close the desktop application, the icon on my sidebar doesn't hide, and now I have two permanent mattermost icons in my screen - the icon at

[2020-05-23 16:13] tomasnorre commented on #1276
I don't know if this is of importance to you. But I've experienced this with Slack and rambox too, so don't know if it's general Ubuntubudgie problem in my case or if it's all apps having the same issue.

Sounds more like the first one.

[2020-05-23 16:14] tomasnorre commented on #317
I don't know if this is of importance to you. But I've experienced this with Slack and rambox too, so don't know if it's general Ubuntubudgie problem in my case or if it's all apps having the same issue.

Sounds more like the first one.

[2020-05-25 08:42] Willyfrog commented on #1298
Yeah, I think having a flag makes sense, so people can force it if needed.

I created [a ticket](https://mattermost.atlassian.net/browse/MM-25484) for it

[2020-05-25 19:24] Willyfrog commented on #1074
@2019-05-10 if you try on the browser, does it store the credentials or is it also asking for them? I'm wondering as it might be a server configuration issue.

What kind of authentication method are you using?

[2020-05-26 07:15] dpanic commented on #1288
I did started plugin's code by issuing popup link with /plugins prefix. But that didn't work

[2020-05-26 09:54] Willyfrog commented on #1288
using a jitsi room as a server seems to work, so I'm guessing we are most likely blocking some request. Can you open the devtools and see if there is a request that it is either failing or not being answered?

[2020-05-26 10:25] Willyfrog commented on #980
@globalqss is this stock gnome? or using a different DE? I can't see this happening on either unity or gnome.

[2020-05-26 10:59] globalqss commented on #980
Thanks @Willyfrog - this is stock ubuntu 20.04 freshly installed (not upgraded).

It seems by default gnome is installed using snap:

[code]

Regards,

Carlos Ruiz

[2020-05-26 19:56] dpanic commented on #1288
**using a jitsi room as a server seems to work** what do you mean by this?
I don't see any requests blocked.

![Screenshot from 2020-05-26 21-53-40](https://user-images.githubusercontent.com/346557/82944510-a1b59280-9f9b-11ea-9cfb-6c8274843c60.png)

[2020-05-26 20:25] dpanic commented on #1288
I managed to move little bit forward.
Problem is in permissions.

File src/main.js
 L787: session.defaultSession.setPermissionRequestHandler((webContents, permission, callback) => {

**This must be modified to return true for popup window.**

[2020-05-28 08:29] 2019-05-10 commented on #1074
See initial post - I am using the client.
Brwoser nowaday have a decent password management that would at least mitigate the issue.

[2020-05-28 09:40] Willyfrog commented on #1288
Sorry, let me rephrase: i meant going to the add new server, set a name and instead of a mattermost server url, add that of a previously created room from jitsi.
Jitsi room loads and cam and mic can be used.

Would you be open to submit a PR for it?

[2020-05-28 10:14] Willyfrog commented on #1074
hi! I understand it might be frustrating sometimes, but I don't think it is secure that the desktop stores the credentials. I'd happily create a ticket if there was a secure way to do it (feel free to suggest if you know of one)

Maybe using a password manager might aleviate your issue? I use one for quite some time and it helps with all the hassle of having to log into sites as well as the deskto

[2020-05-28 10:15] dpanic commented on #1288
Yes definitelly. But I will need some guidelines from your side.

[2020-05-28 10:18] Willyfrog commented on #1288
sure! let me know how I can help you. if needed you can reach me on the [community server](https://community.mattermost.com/)

[2020-06-02 12:26] bl33d commented on #1080
Windows 10:
4.4.0 - solved
4.4.1 - affected
4.4.2 - affected

[2020-06-03 06:09] fleXible commented on #874
@amyblais Why was this closed?
I live in Germany, we use 24-hour clock display. So right now, every users has to manually change this in the web-UI.

[2020-06-03 07:54] derek-shnosh opened #1310 "Linux desktop app - cert warning for cdn.segment.com"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2020-06-03 13:18] amyblais commented on #874
There is a feature request open for this here: https://mattermost.uservoice.com/forums/306457-general/suggestions/35193511-configurable-default-value-of-display-clock-12-h.

Would you be interested in implementing this feature?

[2020-06-03 14:10] amyblais commented on #1310
@Willyfrog Is this related to https://mattermost.atlassian.net/browse/MM-25750?

[2020-06-03 14:18] Willyfrog commented on #1310
no, MM-25750 is linked to https://mattermost.atlassian.net/browse/MM-22648

in this case is an issue with the store not trusting the CA. Since it is linux, I'm not sure if this is chrome handling the valid CA list. if that's the case, the it would need to upgrade to a more recent version of electron to remove the warning. (does 4.5.0-rc1 have this behaviour?)

I'm more concerned that it throws a b

[2020-06-03 14:29] amyblais commented on #1310
@derek-shnosh Can you help check if you see the same issue on 4.5.0-rc1 and if there are any other errors in the developer tools?

[2020-06-03 16:45] derek-shnosh commented on #1310
@amyblais Sure thing, I just installed 4.5.0-rc1-6473 (over 4.4.2-6223) and I received the same error the first time I launched it.

After trusting the insecure cert, the app still loaded with a blank page but there was a **< Back** banner at the top that loaded the UI once clicked.

I closed the app and reopened it, did not receive the cert warning; however this was in the console...

![image](ht