[2022-02-24 21:33] batonPiotr commented on #2006
@devinbinnie I removed it from the shortcuts already.

I'll wait for the update then, thanks.

[2022-02-25 19:46] vostorga commented on #997
I had high CPU usage as well and after reading all comments and checking application, discovered something:
After installing matter most, there is a green dot blinking on "Town square". Had it for weeks blinking, initially I believed it was part of "Town square" title, as you can add images or little animations to channel titles.
Then I clicked on it, to my surprise it showed a message and then th

[2022-02-28 05:35] pearj commented on #1851
This doesn't help for me. I tried disabling hardware acceleration via the UI and with `--disable-gpu`, neither made a difference.

[2022-03-01 08:56] infacto commented on #1588
Again today. It opens the Windows swttings overview window. Btw. the issue title can be changed. It's not only the calculator.

[2022-03-03 08:48] equada commented on #2002
Also experiencing the same, the client offers no nice way to reconnect. No F5, no rightclick, no button,
I have to close it via system tray as ndgayan already described.
If an automatic re-connect is too much work, maybe just add a refresh button to the error page as a first step

[2022-03-03 08:51] Saky013 commented on #844
@devinbinnie
I have a suggestion for this old closed case - would it be possible to add checkbox to settings, that would close the tab-bar (in case you have only one server you dont need it), or that can automatically hide the tab-bar?

[2022-03-06 21:45] gabrielctn opened #2011 "Unable to create Boards on Desktop App behind subdirectory reverse proxy"
- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I have read [contributing guidelines](https://gi

[2022-03-08 11:43] biva commented on #1851
On my side, this didn't help a lot unfortunately: I still have a lot of freezes :( A solution should exist though because I use so many apps based on Electron (Zettlr, Teams, WhatsApp, ...) and Mattermost is the only one freezing :(

@devinbinnie, is there a difference between 1, 2 and 5 in my post above? (https://github.com/mattermost/desktop/issues/1851#issuecomment-1047909409). Could you please

[2022-03-10 06:09] mrhmrhmr commented on #2002
Good morning!

I am also waiting since a couple of months to get this one solved.
**First connection attempt** to the server **fails**, the Desktop Client does not try to reconnect automatically.
As this potentially **affects all people working from home** and **having the need to connect via VPN manually** I would be interested to get some higher priority on it :).

If I well remember it was work

[2022-03-14 06:06] RealAstolfo commented on #1371
Any update on this issue? wondering if theres any progress before i attempt to fix it myself

[2022-03-14 13:11] gabrielctn commented on #2011
So, I was finally able to solve my problem by asking the people managing the DNS to add en entry in order to be able to have mattermost as a subdomain instead of a subdirectory.
The issue I had is not resolved per se, but I can confirm that it comes from the bad management of a subdirectory configuration of Mattermost. What I don't really understand is that the issue does not appear in the browser

[2022-03-14 14:19] #2006 closed

[2022-03-15 10:45] grisuthedragon commented on #1500
The problem still exists in the 5.x series under linux. Is there any progress on this?

[2022-03-15 16:07] devinbinnie commented on #1994
@teger I'm having trouble reproducing your issue. Can you step me through what you're seeing, possibly with some screenshots or a video? Thanks!

[2022-03-17 07:10] thorseye commented on #1371
Me and @devinbinnie tried to debug this in november, but could not get past the fact that the event for [selecting client certificate](https://www.electronjs.org/docs/latest/api/app#event-select-client-certificate) does not seem to fire for me. If you do have time to try to fix this @RealAstolfo , that would be really appreciated since this is still an issue.

[2022-03-17 10:11] namazso commented on #1842
Also affected by this. Bug seems to be here:
https://github.com/mattermost/desktop/blob/fc13f877f2a4fdb4988b568737dac645ceea2a0e/src/common/config/defaultPreferences.ts#L15-L17

Solution could be https://stackoverflow.com/a/50391890 . I'd open a PR but i'm not a node / js developer.

[2022-03-17 13:43] JasperSiero commented on #1856
We have the same problem with Mattermost desktop 5.0.4, Fedora 35 and Mattermost Server 6.3.4. Tested it with X11 and Wayland (both situations Mattermost sometimes crashes)

[2022-03-17 23:12] pearj commented on #1851
As an aside I have discovered another interesting thing. I use https://web.whatsapp.com/ in Google Chrome, and if I click a notification I sometimes get similar freezing behaviour that I get from mattermost desktop.

My issue generally happens when I click a notification, if I ignore the notification and open mattermost by hand it usually behaves better.

@devinbinnie I think you might be right ab

[2022-03-18 14:16] #2002 closed

[2022-03-18 15:57] christianhueserhzdr opened #2021 "Specific team/channel URL as server URL does not display a notification about an invalid setting"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-03-21 09:41] crami commented on #1856
Same here, version 5.0.4 on Debian/sid installed from the official deb package.
Syslog:
Mar 21 10:36:05 orinoco kernel: [229411.376723] mattermost-desk[298249]: segfault at 34fc01c3f000 ip 00007f0867f38125 sp 00007ffd0084d3b0 error 4 in libappindicator3.so.1.0.0[7f0867f34000+5000]

[2022-03-21 13:28] devinbinnie commented on #2021
@christianhueserhzdr Thanks for the report.

At this time it is currently not possible to validate whether a subpath that happens to match one that Mattermost server uses is an invalid subpath. Because it is technically possible for a server to be setup at the path `https://mattermost.example.com/myteam/channels/mychannel`, so we shouldn't invalidate it.

What we are looking into in a future relea

[2022-03-21 19:52] devinbinnie commented on #1905
@shadowshot-x Are you still interested in working on this?

[2022-03-22 13:25] devinbinnie commented on #1856
Just curious, does this happen with any other application that uses notifications? I'm wondering if it's an issue with `libappindicator` or a specific version of it. Unfortunately the communication between Electron and `libappindicator` isn't within our control.

[2022-03-22 19:03] MM-Mikhail opened #2022 "Selectable spellchecker language in windows app"
In current windows app it is impossible to switch language of spellchecker, it always defaults to system.

This is very inconvenient for international users or those that speck different languages in different groups.

Should be an easy to use popup menu in the editing gadget (eg. see how FireFox does it)
Possibly have a language setting for the channel.

Ideally detect current language via curren

[2022-03-23 13:57] #2022 closed

[2022-03-23 22:08] hammenm opened #2024 "Blue badge on the tray icon but no unread messages"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-03-24 04:03] MM-Mikhail commented on #2022
There is no such setting to do so, or not visible to general users

[2022-03-24 07:14] equada commented on #2002
Thank you very much for fixing, meanwhile I found out that Ctrl+R works for reloading ^^

[2022-03-24 13:18] devinbinnie commented on #2022
This should be setting right here:

![image](https://user-images.githubusercontent.com/52460000/159924539-4704f89a-4f97-4b4d-82ff-6338053de077.png)

[2022-03-24 14:00] MM-Mikhail commented on #2022
Do you see it ?    I don't.
Besides, even if it was, it would be global setting and can not be changed rapidly for each channel when needed.

![изображение](https://user-images.githubusercontent.com/32386040/159932439-1e77c7c8-ecd4-402c-a0e5-86e2a25aece5.png)

[2022-03-24 14:08] devinbinnie commented on #2022
Which version of the Desktop App are you running?

[2022-03-24 14:32] MM-Mikhail commented on #2022
Ok, partially solved, updated to current 5.0.4 and the language selection works now.
Still very inconvenient when you need to change it since it is global and requires restarting.

[2022-03-28 15:55] tboulis commented on #1908
Hi @devinbinnie I would like to work on this

[2022-03-28 21:22] #1298 closed

[2022-03-29 13:21] 2019-05-10 opened #2028 "Channel Files -> open -> MM goes blank and needs to be restarted"
**Summary**
Open channel files overview and try to open a file.
MM desktop client channels pane goes gray and connat be restored until client is restarted.

**Environment**
- Operating System: Linux, Debian/SID
- Mattermost Desktop App version: 5.0.4
- Mattermost Server version: 6.0.2

**Steps to reproduce**
- open list of channel files
- click on a file
- MM goes gray, can switch to "Boards" or "

[2022-03-29 13:25] 2019-05-10 opened #2029 "Issue template: "MM Server Version" path outdated?"
**Summary**
Below you ask for the server version -- the "three dots next to your profile picture" don't exist in 5.0.4.
The only existing "three dots" do in none of the submenus contain the information.
Instead now one needs to click the checker board/nine dots square icon.
**Environment**
- Operating System:
- Mattermost Desktop App version: 5.0.4
- Mattermost Server version: 6.0.2

**Steps to re

[2022-03-29 13:26] devinbinnie commented on #2024
@hammenm Yes the screenshout would be related, it would appear that you have some unread messages, or at least the server/webapp believes so. Has this persisted or were you able to clear the unreads?

[2022-03-29 13:30] amyblais commented on #2028
@2019-05-10 We fixed this issue in server v6.2.0. Would you be open to upgrading?

[2022-03-29 13:40] amyblais commented on #2029
I've opened a PR to fix the template: https://github.com/mattermost/desktop/pull/2030.

[2022-03-29 13:40] #2029 closed

[2022-03-29 13:42] 2019-05-10 commented on #2028
I am but a lowly user.
Will ask the providing party next time I met them.

[2022-03-29 15:54] devinbinnie commented on #2024
@hammenm Have you tried removing and re-adding the server? It looks like the server that you are using does have some unreads, does it not show any unreads using the webapp?

[2022-03-31 10:10] hammenm commented on #2024
@devinbinnie

What do you mean by removing and re-adding the server ? We do regular server update and we follow the procedure described on the web page : https://docs.mattermost.com/upgrade/upgrading-mattermost-server.html

So excepting server data, the update erase the server files.

As said in my previous message, this does not occur on my Android phone, nor on the web app.

[2022-04-01 12:17] infacto commented on #1588
And again. Mattermost has open the alarm & clock app from Windows on closing. Nope, it's not an april fool.

[2022-04-01 14:46] devinbinnie commented on #2024
@hammenm If you go to your dropdown, and click on the trash icon next to the server, it will remove it. You can then re-add the server afterwards. It's possible something is stuck in the cache, it would be very odd that the `More Unreads` indicator would pop up. It's also possible that the server is stuck in a way where it believes it has unreads when it doesn't.

[2022-04-01 14:51] devinbinnie commented on #1588
@infacto @mahdiyari So this has never been reproduced by anyone internally, so here's what I would like to do.
Recently we've added an option to the Settings window to increase the logging level of the Desktop App. It's currently on the latest v5.1 nightly build which can be found here: https://community-daily.mattermost.com/core/channels/desktop-builds

If you could download the latest nightly fr

[2022-04-01 20:19] kelderek opened #2034 "Can't grab vertical scrollbar easily in messages pane"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-04-01 20:27] amyblais commented on #2028
I'll close this for now as the bug will be fixed with a server upgrade to a newer version.

[2022-04-01 20:27] #2028 closed

[2022-04-01 20:33] kelderek commented on #2034
I think it is the kResizeInsideBoundsSize property in electron that controls the resize handle.  It is set to 5, which is consistent with the very small area to grab the scrollbar (default width 8px).  Found here:

https://github.com/electron/electron/blob/7caa88c46f70d9600bd4f78fb902374e72a2a4bf/shell/browser/ui/views/frameless_view.cc

I have never made an electron app so I don't know if that ca

[2022-04-01 21:29] devinbinnie commented on #2034
We have an issue open for this already here: https://github.com/mattermost/desktop/issues/1513
Closing.

[2022-04-01 21:29] #2034 closed

[2022-04-03 16:22] shadowshot-x commented on #1905
Sorry @devinbinnie, cant find time as of now :(

[2022-04-04 06:52] maxmukhin88 commented on #1080
The issue persists on mattermost-desktop-5.0.4-linux-amd64

It's very annoying and frustrating. It took me years to get used to Alt+Shift language change. Now I can't properly use it on my Ubuntu

[2022-04-04 18:37] fmp777 commented on #1851
I've been having the same problem, but on a new Mac M1 - both a first edition M1 Mac Mini & a brand new latest Macbook Pro M1 Max.  I switched to M1 around the same time v5 of the desktop app came out i think, so I can't tell if its an issue dealing with M1 architecture or an issue of V5 or both.

For me, the app always works fine on first launch of it. Even though it takes a good minute to initia

[2022-04-04 20:48] ZazaKumar opened #2037 "WebsocketSecurePort param"
Hello. I try to setup websocket with separate url wss-mm.local and port 8443
i set "WebsocketURL": "wss://wss-mm.local:8443" but i what should i do with WebsocketSecurePort param? Keep 443 or set 8443?

[2022-04-04 20:49] #2037 closed

[2022-04-04 21:36] biva commented on #1851
Hello, I just changed my computer, now a Lenovo Yoga with AMD Ryzen 7 5800U, brand new installed on Windows 11, still the same issue, even if it's less frequent :(

[2022-04-07 19:25] #1904 closed

[2022-04-08 13:56] #1905 closed

[2022-04-08 19:04] #1912 closed

[2022-04-11 20:25] devinbinnie commented on #1909
Closing for now as we're going to manage it interally.

[2022-04-11 20:25] #1909 closed

[2022-04-12 17:52] #1908 closed

[2022-04-12 19:09] LcHicks commented on #1648
## Update

@devinbinnie I have now found that my fix above only partway fixed the issue.

My company has many different Mattermost teams. I am a part of 14 different teams.
I have found the the fix I did above enables the notification pip to show up only when the notification is for the team I have selected to view. If any other teams have notifications, the pip doesn't show up. It doesn't matter

[2022-04-12 19:37] devinbinnie commented on #1648
That was fixed in this PR: https://github.com/mattermost/desktop/pull/2020
The fix is available in the current nightly build available here: https://community-daily.mattermost.com/core/channels/desktop-builds

It will be released as part of v5.1 in May.

[2022-04-13 22:29] LcHicks commented on #1648
@devinbinnie, another update from today:
Each day I shutdown my work computer at the end of the day. When I booted it up today and started using Mattermost, the problem I first had re-appeared (red notification pip on taskbar icon doesn't show up unless the Mattermost program is the "focused" program).

I then did my same fix as before and the notification pip was working again today.

Therefore,

[2022-04-14 13:16] #1910 closed

[2022-04-14 13:16] #1915 closed

[2022-04-14 18:31] devinbinnie commented on #1648
Is there something on your work computer that might be verifying files perhaps? Or stopping the app from writing to the tray icon? Since it's a work computer I wouldn't be surprised if some security applications may be restricting access.

[2022-04-14 22:08] kelderek commented on #1513
My 2 cents is that I think gggeek's observation of adding pixels is the easiest and best way forward.

@devinbinnie I think you are right that the change would have to be in the webapp code.  I did some testing on my mattermost server and I believe the two changes below will add a 5px right hand border.  It does look like it shifts over the entire div, so it is probably not the best solution, but

[2022-04-14 23:47] userbradley opened #2054 "Desktop application opens any provided site when adding a server"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-04-15 09:23] MaximBoguk opened #2055 "Allow different proxy settings for different server in same standalone client"
Hi, I currently in situation when I have 3 mattermost servers from 3 different outside customer each require independent socks proxy settings (socks over ssh tunnel).
How I can configure Ubuntu MM client to work in such environment? Currently only global proxy settings available via environment variables,

[2022-04-18 09:46] grin31 opened #2056 "display group members after click on group name in chat"
In Slack messenger after click on group name (@group_name) desktop app show members list.
It's a good feature to keep users time.
Now is only one way to see members list Channels -> UserGroups -> search group - > click.
Please develop new functions for desktop application.

[2022-04-18 13:02] userbradley opened #2057 "Display time of person being messaged above text box"
Similar to slack, it would be nice show the time of the person that is being messaged, above the text box - or even next to their name at the top od the Private message window

https://mattermost.uservoice.com/forums/306457-general/suggestions/45045922-display-local-time-of-person-you-re-messaging-abov

[2022-04-18 13:28] devinbinnie commented on #2054
This will be worked on as part of next-gen changes to the Desktop App. Currently we don't require any specific server side validation (apart from a couple cosmetic checks) so there's no incentive to support this, but in the future we likely will.

[2022-04-18 13:31] devinbinnie commented on #2056
Thanks for the suggestion @grin31, this is something that also pertains to our webapp, so I'll move it over to that repo.

[2022-04-18 13:39] devinbinnie commented on #2055
@MaximBoguk This isn't something currently supported by the Desktop App. The only thing I could think of doing would be to tunnel manually and forward a different port where each server resides to your local machine, not sure how that works in conjunction with SOCKS though.

[2022-04-19 18:03] amyblais opened #2061 "Mattermost Desktop App v5.1"
You can find key dates for Desktop App v5.1 release below, with links to testing servers, release candidate and changelog added retrospectively. Dates are tentative and subject to change.

### April 19th: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### May 12th: Release Build

[2022-04-19 18:03] amyblais commented on #2061
### Desktop App v5.1 RC-1 is cut

Download links: https://github.com/mattermost/desktop/releases/tag/v5.1.0-rc1

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/5565/files)

[2022-04-19 21:58] esethna commented on #1513
cc// @hmhealey if there's any thoughts on this ^ as well, since this is probably web platform team AOR.

Scroll bar feedback is common and it would be great to address this. The accuracy required to click and drag the scrollbar on the RHS and/or center pane is very high, considering the window resizer conflicts with the clickable area.

As mentioned, adding a buffer zone is an option and also pote

[2022-04-20 17:25] amyblais commented on #2061
### Desktop App v5.1 RC-2 is cut

Download links: https://github.com/mattermost/desktop/releases/tag/v5.1.0-rc.2

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/5565/files)

[2022-04-22 10:23] pessi-v opened #2069 "Cannot login with GitLab"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-04-22 12:43] amyblais commented on #2069
@pessi-v You can find the Mattermost server version at Main Menu > About Mattermost. Can you help check this?

[2022-04-22 12:57] pessi-v commented on #2069
@amyblais I think I can't get to the Main Menu because I can't login, but the server admin says it's 6.3.2

[2022-04-22 15:02] devinbinnie commented on #2069
@pessi-v Would you be willing to try the latest release candidiate of v5.1? It may fix your issue.
https://github.com/mattermost/desktop/releases/tag/v5.1.0-rc.2

[2022-04-22 15:29] pessi-v commented on #2069
@devinbinnie 5.1.0-rc2.1_amd64 didn't work either

[2022-04-22 15:38] pessi-v commented on #2069
17:33:35.229 › webContentEvents.did-start-navigation {
  webContentsId: 3,
  url: 'https://chat.x.org/oauth/gitlab/login'
}
17:33:35.232 › webContentEvents.will-navigate {
  webContentsId: 3,
  url: 'https://chat.x.org/oauth/gitlab/login'
}
17:33:35.234 › Prevented desktop from navigating to: https://chat.x.org/oauth/gitlab/login

on 'Finest':

17:35:55.375 › TeamDropdownView.handleClose
17:35:55.

[2022-04-22 15:43] devinbinnie commented on #2069
@pessi-v What is your server URL configured as? Is it exactly `https://chat.x.org`? Sometimes deviations can cause issues here. I assume there is also no subpath after the URL?

[2022-04-22 16:05] pessi-v commented on #2069
@devinbinnie sigh, that was it. I had configured the server with http://. Changing that to https:// did it. Thanks for the help!

[2022-04-22 16:05] #2069 closed

[2022-04-25 09:20] volker-schukai commented on #1856
Same here: debian bullseye
kernel: mattermost-desk[3974392]: segfault at 167c017f8000 ip 00007fddb3b90175 sp 00007ffc272f9f40 error 4 in libappindicator3.so.1.0.0[7fddb3b8c000+5000]
other electron apps do not seem to be affected.

[2022-04-25 14:37] fmp777 commented on #1851
Some more info from the Mac M1. Attached is a process sample of the Renderer that is causing the freeze.

While frozen here's what we see.
![image](https://user-images.githubusercontent.com/2659615/165111269-bf506ad5-93c9-4697-ba12-3a2222753a20.png)
![image](https://user-images.githubusercontent.com/2659615/165111286-37def7e2-a5de-466d-957f-88ca216b773b.png)

[Sample of Mattermost Helper (Renderer

[2022-04-25 15:06] biva commented on #1851
Wow, thanks a lot @fmp777 ! Do you have any idea about what is this Mattermost Helper or a way to disable it? (even for test purpose) @devinbinnie any idea?

[2022-04-25 15:12] fmp777 commented on #1851
It's the spawned process to render the UI.  When you kill the process, the whole UI inside the app window disappears. It is a normal part of functioning, whats not normal is that it hangs 100% cpu and eats so much ram.

This is normal operations:
![image](https://user-images.githubusercontent.com/2659615/165118631-ce0dfd3e-b9a6-46d9-9b1f-b5baf8767aa8.png)

[2022-04-26 17:03] amyblais commented on #2061
### Desktop App v5.1 RC-4 is cut

Download links: https://github.com/mattermost/desktop/releases/tag/v5.1.0-rc.4

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/5565/files)

[2022-04-28 12:28] RealAstolfo commented on #1371
ill see what i can find this weekend. been quite a bit busy as you could imagine

[2022-05-02 16:00] mattermod opened #2082 "Desktop App: When changing a server's settings only refresh if the url changes"
In the desktop app, when editing a server, if I only change the name but NOT the server's URL, we should just prevent the reload of the whole window and just update the tab name.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with c

[2022-05-03 07:26] vlagorce commented on #1806
Hello I'm facing this Issue using ubuntu 22.04
I upgraded from 21.10

09:23:43.855 › The GPU process has crashed (killed = false)
09:23:44.127 › The GPU process has crashed (killed = false)
libva error: vaGetDriverNameByIndex() failed with unknown libva error, driver_name = (null)
09:23:44.247 › The GPU process has crashed (killed = false)
libva error: vaGetDriverNameByIndex() failed with unknown

[2022-05-03 08:46] besendorf opened #2083 "Automatically add https:// or http:// to Server URL"
It would help UX a lot when mattermost-desktop would probe the domain automatically if it supports https:// and adds it to the URL and only use http:// if it fails.
![image](https://user-images.githubusercontent.com/26350155/166426110-75cd79c2-d7be-4764-b36c-193185ebc4dd.png)

[2022-05-03 10:49] larkox commented on #2083
@besendorf Not sure if that url is real or not, but you may want to "censor" it if it is real. These issues are public for everyone to see.

[2022-05-03 11:16] woodman733 opened #2084 "Gustom Groups is'n working"
I confirm (by marking "x" in the [ ] below: [x]):

- [x ] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [ x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.

[2022-05-03 12:26] amyblais commented on #2084
@woodman733 Custom Groups is only available on Professional and Enterprise licenses. What license do you currently have?

[2022-05-03 12:29] cyberflaneuse opened #2085 "Remove metadata from photos, shared files"
It would be a great privacy feature to have the possibility to remove EXIF metadata from photos, videos and other types of files one shares on Mattermost.

[2022-05-03 12:31] #2084 closed

[2022-05-03 12:36] woodman733 commented on #2084
@amyblais also can you told me please why at this doc-source https://docs.mattermost.com/welcome/manage-custom-groups.html talking about availability custom-groups feature for Enterprise, Professional, Cloud and Self-hosted editions?
![image](https://user-images.githubusercontent.com/25365844/166453940-78c47e1d-8cb5-4e87-90c1-5d4bec23c4bb.png)

[2022-05-03 12:39] JtheBAB commented on #2084
That means it is available for Enterprise and Professional on Cloud (by Mattermost) and Self-hosted deployments.
Price for professional is $10 USD per user/month

[2022-05-05 05:38] hrvojegolcic commented on #1601
BTW I've noticed the setting is also available in Mattermost Desktop App under File -> Settings -> Icon theme -> "Use system default"; I changed it to "Dark"

[2022-05-05 19:26] plwalsh opened #2086 "URL preview-on-hover not visible when window is maximized"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] I have confirmed this is an issue on the newest beta build [available here](https://github.com/mattermost/desktop/tags)
- [x] This issue doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I have read [contributing guid

[2022-05-06 13:23] amyblais commented on #2086
@jgilliam17 Are you able to reproduce this? cc @devinbinnie

[2022-05-06 13:24] devinbinnie commented on #2086
@amyblais I can reproduce yes, will create a ticket.

[2022-05-06 20:03] vaaas commented on #1422
I'll take this one.

[2022-05-06 20:03] vaaas commented on #2082
I'll take this one.

[2022-05-09 10:30] vasimi opened #2090 "Desktop app on Mac plays notification sound even when disabled"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [ ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-05-09 13:40] devinbinnie commented on #2090
Thanks for the report, this unfortunately requires a native Node module to work correctly, which we do not support in our build process currently.

We will be supporting this in the near future however!

[2022-05-09 14:26] #2086 closed

[2022-05-10 16:30] amyblais commented on #2061
### Desktop App v5.1 RC-5 is cut

Download links: https://github.com/mattermost/desktop/releases/tag/v5.1.0-rc.5

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/5565/files)

[2022-05-10 19:52] #1422 closed

[2022-05-11 00:36] kenyon opened #2098 "crash: Internal error: Maximum call stack size exceeded in 5.1.0-rc.2-19360"
I confirm (by marking "x" in the [ ] below: [x]):

- [ ] I have confirmed this is an issue on the newest beta build [available here](https://github.com/mattermost/desktop/tags)
- [x] This issue doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I have read [contributing guid

[2022-05-11 00:37] kenyon commented on #2061
Seeing a crash with 5.1 release candidates on Ubuntu 18.04 that we don't see with 5.0.4: #2098

[2022-05-11 12:25] amyblais commented on #2098
@devinbinnie Is there enough information to investigate this?

[2022-05-11 14:08] #2098 closed

[2022-05-12 18:55] amyblais commented on #2061
### Desktop App v5.1 RC-7 is cut

Download links: https://github.com/mattermost/desktop/releases/tag/v5.1.0-rc.7

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/5565/files)

[2022-05-14 21:37] peterkaminski opened #2107 "Cert issue with previewed external icon causes popup about "this Mattermost server""
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-05-16 08:33] aptash commented on #842
![image](https://user-images.githubusercontent.com/5793551/168551760-8363304b-9fc4-4894-aabf-0ab9fc71cf96.png)
I confirm this issue.
Mattermost  5.0.4 (5.0.4.17220)

[2022-05-16 08:47] infacto commented on #1588
It happened again. This time with debug log. It opened the Windows 10 Calculator on Mattermost Desktop window close click.

1. Fresh PC start.
2. Mattermost automatically started. (Windows autostart)
3. I wrote a greeting in the main channel.
4. Just closed the Mattermost client to minimize into systry simply by red close button.

In this case the client window was an the second monitor. I don't k

[2022-05-16 08:50] aptash opened #2108 "Dock Icon always shows the red notifications dot on Mac"
The same but closed issue: #842

I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Ser

[2022-05-16 13:31] #2061 closed

[2022-05-17 03:55] AKorezin opened #2109 "`hideOnStart` is not working"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-05-17 11:00] aptash commented on #2108
Thanks!
v5.1 solved the problem.
Please pay attention I didn't check the server's configuration.

[2022-05-17 13:41] #2083 closed

[2022-05-17 16:34] amyblais commented on #2109
@devinbinnie @jgilliam17 Are you able to reproduce this?

[2022-05-17 16:50] devinbinnie commented on #2109
@amyblais Yeah I can, created a ticket: https://mattermost.atlassian.net/browse/MM-44339

[2022-05-17 17:54] elandorr opened #2112 "Release missing"
The 'Windows - zip files' portable releases are missing since [v5.1.0-rc.3](https://github.com/mattermost/desktop/releases/tag/v5.1.0-rc.3).

[2022-05-17 18:12] devinbinnie commented on #2112
We have cut the Windows ZIP files from future releases, since they do not support the autoupdater correctly. Sorry for the inconvenience.

[2022-05-17 18:15] elandorr commented on #2112
Please reconsider. All our Windows users use the portable and are updated centrally - we don't need autoupdate. Portables are of great value and easiest to maintain/move.

[2022-05-17 19:20] bbodenmiller opened #2113 "Assets missing on GitHub Release post"
https://github.com/mattermost/desktop/releases/tag/v5.1.0 is missing release assets whereas https://github.com/mattermost/desktop/releases/tag/v5.0.4 had them. This is required because this is the only approved download source for some users for the desktop client.

[2022-05-17 19:28] bbodenmiller commented on #2113
Might be related to https://github.com/mattermost/desktop/pull/1810 or https://github.com/mattermost/desktop/pull/2059

@elyscape @Willyfrog @devinbinnie

[2022-05-17 19:33] devinbinnie commented on #2112
We can look into providing ZIPs with the autoupdater cut.
Created a ticket: https://mattermost.atlassian.net/browse/MM-44344

[2022-05-17 19:34] devinbinnie commented on #2113
@bbodenmiller Can you provide reasoning why users are not able to download from our website? I would like to understand the requirements better. Thanks!

[2022-05-17 23:26] elyscape commented on #2113
This happens because `ghr`, the tool used to [create the GitHub release][upload], only looks at [the immediate descendents of provided paths][ghr]. The contents of `ghr-dist/` are assembled with this in mind.

The various build jobs place the release assets into the build workspace under the paths [`linux/`][linux], [`macos-release/`][macos-release], and [`win-release/`][win-release]. In the relea

[2022-05-17 23:50] elyscape commented on #2113
Update: adding the version to the `cp` command will break the upload of the assorted `latest.yml` files, as those don't get placed in the versioned subdirectories.

[2022-05-18 00:50] bbodenmiller commented on #2113
@devinbinnie various organizations only allow downloads via approved proxies (e.g. via Artifactory). GitHub is easy to configure as a remote repo in Artifactory whereas https://releases.mattermost.com appears impossible to setup as Artifactory remote repo.

[2022-05-18 04:40] elandorr commented on #2112
Thank you @devinbinnie.

[2022-05-18 08:24] gabrieleiannetti commented on #997
I clicked on everything, but not on that green dot... lol.
Helped, thanks!

[2022-05-18 13:31] devinbinnie commented on #997
Seems like most people are experiencing better CPU usage with newer versions.
I will close this for now, but feel free to comment/create a new issue if you experience similar issues with newer versions.

[2022-05-18 13:31] #997 closed

[2022-05-18 18:34] #2113 closed

[2022-05-19 06:17] gabrieleiannetti commented on #997
Just to comment it.
We are using Mattermost Version: 6.3.8

[2022-05-19 07:01] SimonHaenle2 opened #2116 "Mattermost Desktop app (5.10) on Osx 12.3.1 Monterey - Permanent White Screen when reopening the app in an archived channel"
I confirm (by marking "x" in the [ ] below: [x]):

- [ x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.

[2022-05-19 07:37] JtheBAB opened #2117 "5.1.0 - no multi user session support"
I confirm (by marking "x" in the [ ] below: [x]):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-05-19 07:57] JtheBAB commented on #2117
Open a bug report also at [electron repo](https://github.com/electron/electron/issues/34281)

[2022-05-19 13:12] devinbinnie commented on #2117
Thanks @JtheBAB, we'll monitor the bug in Electron and do a dot release or something once the bug is resolved on their side.

[2022-05-19 13:13] devinbinnie commented on #2116
@SimonHaenle2 Can you post the log from the Developer Tools window when this happens? You can access it by going to View > Developer Tools for Current Server

[2022-05-19 13:36] devinbinnie commented on #2117
@JtheBAB Perfect! I'll make a patch.

[2022-05-19 14:00] SimonHaenle2 commented on #2116
Unfortunately I only have those 2 options
![Bildschirmfoto 2022-05-19 um 15 59 50](https://user-images.githubusercontent.com/13623663/169311585-fe2762f5-6f93-4b3c-8c52-740e7bf0f135.png)

[2022-05-19 15:23] #2007 closed

[2022-05-20 03:36] adam820 commented on #1856
I'm actually receiving a similar stacktrace and frequent crashes with Discord on Fedora 36, so it appears to have some common thread.

[code]

[2022-05-20 05:38] SimonHaenle2 commented on #2116
Tried to reproduce it but couldn't :/. I was able to fix it by changing the the server url directly to an unarchived channel since then I can't repro it unfortunately

[2022-05-20 11:37] SimonHaenle2 commented on #2116
It seems this is related to a plugin.

[2022-05-20 11:37] #2116 closed

[2022-05-20 15:06] #2082 closed, assigned to nobody

[2022-05-20 21:50] tech189 commented on #2112
The [Scoop package](https://github.com/ScoopInstaller/Extras/blob/master/bucket/mattermost.json) is also out of date for this reason. It relies on extracting the portable zip to install. It doesn't require autoupdater either as the user can run `scoop update *` to update their apps.

[2022-05-23 13:48] gabrielctn opened #2121 "5.1.0 - Cannot connect to Mattermost"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-05-23 16:45] amyblais commented on #2121
@gabrielctn Are you able to connect to our community server https://community.mattermost.com/?
Do you see any errors in the browser console or Mattermost server logs?

[2022-05-23 17:21] gabrielctn commented on #2121
Yes I have an account on the community server. Should I continue on the server chat ?
This is the errors that occur in the devtools
![image](https://user-images.githubusercontent.com/25644865/169873306-6b2a3312-bd39-46ec-b706-b0ec583b1061.png)

[2022-05-23 17:44] AKorezin commented on #1856
I'm not sure, but it seems crash is described in [upstream issue](https://bugs.launchpad.net/ubuntu/+source/libappindicator/+bug/1867996).
I assume you should ask distro maintainers to actually apply latest(`r298` at the moment) patches from source like in [arch](https://github.com/archlinux/svntogit-community/tree/255c98613e4389db0b4d8c8cfe97a5b021e87711/repos/community-x86_64).

@adam820 it seem

[2022-05-24 14:16] devinbinnie commented on #2121
@gabrielctn Looking at the console logs it looks like the server is connecting properly and the react app is loading. Do you still see the `Cannot connect to Mattermost` screen? If so, do you see a loading screen with a spinner when the app loads?

[2022-05-24 14:25] #2117 closed

[2022-05-24 14:29] gabrielctn commented on #2121
When I open the app, I get the spinner for ~15-20 seconds, and then the `Cannot connect to Mattermost` page.

[2022-05-24 14:37] gabrielctn commented on #2121
Sometimes (rarely), it somehow manages to connect to the server for few moments, I have the time to log in, and then it loses the connection to websocket. It seems to happen juste after the message `registering Mattermost v5.1.0 with the server` in the logs.
![image](https://user-images.githubusercontent.com/25644865/170062026-1e40c0fd-04d8-4e17-9b0c-cc945d0b20fd.png)

[2022-05-24 15:37] devinbinnie commented on #2121
Seems as though the connection to the server is unreliable at first glance. If you would, could you turn on debug logging in the Settings window and then restart your app? You can then find logs under `/Users/<username>/Library/Containers/Mattermost/Data/Library/Logs/Mattermost`

[2022-05-25 08:39] superandrew opened #2123 "History shortcuts changed on italian layout."
I confirm (by marking "x" in the [ ] below: [x]):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-05-25 08:47] superandrew commented on #2123
update: I guess the change happened in electron and not in mattermost, as also slack shows the same behaviour
<img width="135" alt="CleanShot 2022-05-25 at 10 43 20@2x" src="https://user-images.githubusercontent.com/71364/170221608-75aed60a-9d3f-4a62-b3b2-91145ebc74c9.png">

<img width="131" alt="CleanShot 2022-05-25 at 10 43 01@2x" src="https://user-images.githubusercontent.com/71364/170221600-77

[2022-05-25 08:54] superandrew commented on #2123
reported issue here https://github.com/electron/electron/issues/34347

[2022-05-25 09:20] macbofh opened #2124 "Assets under the Releases page do not contain the download links"
The previous version v5.0.4 [v5.0.4 (2022-02-04)](https://github.com/mattermost/desktop/releases/tag/v5.0.4) did contain the download links in the assets section (it shows a number of 32 links)

The current release v5.1.0 (https://github.com/mattermost/desktop/releases/tag/v5.1.0) only shows the yml files and the source code (it shows a number of 9 links)

Can the assets section also include the d

[2022-05-25 12:35] amyblais commented on #2124
This may be same as https://github.com/mattermost/desktop/issues/2113 with PR https://github.com/mattermost/desktop/pull/2114.

[2022-05-25 13:34] devinbinnie commented on #2124
Yep, same issue. Closing as duplicate.

[2022-05-25 13:50] gabrielctn commented on #2121
I found the logs but didn't see anything relevant inside. I did a `docker-compose restart` on the web server for another reason, and since then it seems to work fine. No more websocket issue !
I have no idea why the restart was necessary but it seems to have made the trick !
Thanks for your help.

[2022-05-25 13:50] #2121 closed

[2022-05-25 14:49] sphr opened #2125 "5.1.0 client can't switch to channels resembling subpath."
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-05-25 16:43] martinkouba opened #2127 "5.1.0 Client on MacOS - can't use mouse in filedialog"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-05-25 17:20] jgilliam17 commented on #2125
@amyblais I can reproduce. Will create a ticket and link here

[2022-05-25 17:26] jgilliam17 commented on #2125
https://mattermost.atlassian.net/browse/MM-44607

[2022-05-25 18:28] amyblais commented on #2127
I wasn't able to reproduce this now, maybe @jgilliam17 can test if she can reproduce.

[2022-05-25 18:56] devinbinnie commented on #2127
I'm also unable to reproduce.

[2022-05-25 21:55] martinkouba commented on #2127
I don't know if this would make any difference, but I did install Mattermost via App Store. This was recently after switching to a new Mac. I didn't move my profile. So it was a fresh Mattermost install from App Store.
The symptom doesn't appear to be linked to server version. I have only upgraded from 6.0 to latest today, and the behaviour already was like that before.

[2022-05-26 09:17] woodman733 opened #2130 "Unstoppable playbook runtime if target channel renamed"
Hi there
Steps to reproduce:
- start a playbook runtime
- rename target channel
- press "Go to channel" from runtime page

By the end we have endlessly runtime with "freezed" state. and this writes messages to members every day. without ability to stop runtime
Official way to stop it: press "Go to channel" button and execute '/playbook finish'. But then target channel was renamed you have "Channel

[2022-05-26 11:38] martinkouba commented on #2127
It might be a Monterey Bug. I have just seen the same behavior in another setting

[2022-05-26 12:17] amyblais commented on #2130
@woodman733 Would you be open to re-opening this in the Playbooks repo with details on your Mattermost server version https://github.com/mattermost/mattermost-plugin-playbooks/issues?

[2022-05-26 12:37] martinkouba commented on #2127
It definitely was related to MacOS. I am closing this

[2022-05-26 12:37] #2127 closed

[2022-05-26 13:17] ciakval opened #2131 "Clicking on notification window crashes Mattermost when owned by root"
#### Summary
Clicking on the notification window crashes the Mattermost desktop app when its directory is not user-writable

#### Steps to reproduce

* Fedora Workstation 36
* mattermost-desktop-5.1.0-linux-x64.tar
* extract to */opt/mattermost-desktop-5.1.0-linux-x64/*
* generate the Desktop Launcher and moved to *$HOME/.local/share/applications/Mattermost.desktop*
* run `chown -R root:root /opt/

[2022-05-26 14:19] devinbinnie commented on #2131
I'm unable to reproduce this myself on Fedora 35. Is this consistently reproducible for you?
If so, can you turn on Debug logging in the Settings window and post the output here? There may also be an `uncaughtException` file that may contain more information as well. You can find both of these in: `~/.config/Mattermost`

[2022-05-26 14:35] nab-77 commented on #2131
@ciakval Not wanting to hijack the moment but would you be interested in testing the new RPM/repo for the desktop we have coming soon?

[2022-05-26 16:43] komodin opened #2133 "5.1.0 error.team_not_found message when trying to change channel"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-05-26 16:52] devinbinnie commented on #2133
Can you confirm that the URL you have configured in the Desktop App matches the SiteURL configured on your server?
If so, can you turn on Debug logging in the Settings window and send the logs to me? If you need to keep things private, feel free to DM me at `@devin.binnie` on `community.mattermost.com`

Thanks!

[2022-05-26 17:26] komodin commented on #2133
Hi @devinbinnie ! Thanks for the quick answer.
 I think this may be related to #2125.
We've found that the configured URL in the desktop app for the users that have the error includes the teamname, like `https://mm.ourcompany.com/ourteam`, instead of just `https://mm.ourcompany.com`.

I've also tried it on my client (macOS) and I can replicate the issue.

Let me know if you still need the debug lo

[2022-05-26 17:28] devinbinnie commented on #2133
@komodin No problem, we have a PR up for #2125 so if that fixes your issue we can close this.

[2022-05-26 17:30] komodin commented on #2133
Thanks!

[2022-05-26 17:30] #2133 closed

[2022-05-27 08:57] tmotyl opened #2135 "error when installing deb 5.1.0 on ubuntu ->Package gconf2 is not installed"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-05-27 09:36] ciakval commented on #2131
So I did some digging.

@devinbinnie it is not always reproducible, but most of the time yes. Do you know of any good way to trigger a notification for myself (I don't have a secondary account but maybe I could find an open server and create two accounts there?).

I have increased the log level to Debug and I found a coredump in `journalctl`, attached here.
[journal.log](https://github.com/matterm

[2022-05-27 09:48] elandorr opened #2136 "portable(s) are not actually portable"
I didn't notice earlier since I try to go for fresh deploys, but that's a major dealbreaker for a '''portable'''. Users expected it to work like any https://portableapps.com/ and I was surprised it didn't. #2112 made me investigate again.

# Windows zip

https://github.com/mattermost/desktop/releases/download/v5.0.4/mattermost-desktop-5.0.4-win-x64.zip

Creates a folder in `%appdata%`.

Still bett

[2022-05-27 09:58] ciakval commented on #2131
Reproduced when loglevel was set to debug, attaching the debug log and `journalctl` from the crash.
[crash-debug.log](https://github.com/mattermost/desktop/files/8785741/crash-debug.log)
[crash-journal.log](https://github.com/mattermost/desktop/files/8785743/crash-journal.log)

[2022-05-27 10:06] elandorr opened #2137 "unwanted and unasked for network connections"
https://github.com/mattermost/desktop/releases/download/v5.0.4/mattermost-desktop-5.0.4-win-x64.zip
https://github.com/mattermost/desktop/releases/download/v5.0.4/mattermost-desktop-5.0.4-linux-x64.tar.gz
(but presumably with any recent version)

We naturally disable the enormous telemetry options server-side. It would follow that the client itself does not phone home either, especially not before

[2022-05-27 11:08] undulat opened #2138 "5.1.0 release not picked up by Autopkg"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-05-27 13:27] #2109 closed

[2022-05-27 13:32] devinbinnie commented on #2131
So looks like it is crash when the notification is sent, but we don't have a stack trace. Was there an `uncaughtException` file in the aforementioned directory? That would contain a stack trace.

[2022-05-27 13:32] #2112 closed

[2022-05-27 13:38] devinbinnie commented on #2135
@tmotyl Normally the procedure here would be to install `gconf2` and `gconf-service` yourself.
You can do this with `sudo apt-get install gconf2 gconf-service`.

Note: if you install our APT repository as described [here](https://docs.mattermost.com/install/desktop-app-install.html?highlight=desktop%20app#install-and-update-the-mattermost-desktop-app) it should install it automatically for you.

[2022-05-27 13:40] devinbinnie commented on #2136
@elandorr Technically the ZIP or tarball installations of Mattermost are not advertised as "portable", which is why they do create their own configuration directories just as the other installers do.

We could look into a more "portable" installation of Mattermost Desktop if that's something that has some interest.

[2022-05-27 13:41] devinbinnie commented on #2137
@elandorr Most of these connections are to retrieve assets such as fonts (eg. OpenSans is hosted by Google, so we pull it from them). It would be helpful to have a list of the connections you see and then we would be able to investigate further.

[2022-05-27 13:47] devinbinnie commented on #2138
@undulat Is this due to the fact that the Assets section is missing the packages? We haven't changed anything else about the naming scheme (at least for the Mac release). If it's the assets missing that's the issue, I think we can look into fixing that.

[2022-05-27 14:05] AKorezin commented on #2109
Find another case
If *Show icon in the notification area* is disabled and *Launch app minimized* is enabled then there's no way you can show the app.

Should I create a new issue?

[2022-05-27 14:12] devinbinnie commented on #2109
That case depends on whether your Linux distro supports a tray icon (via something like `libappindicator`). There's no way we can detect whether it does or not, so we decided to just allow the app to open as such.

[2022-05-27 14:15] devinbinnie commented on #2138
`latest-mac.yml` isn't one of the releases, it's the auto-update manifest. We have fixed the issue you've described here: https://github.com/mattermost/desktop/pull/2114

[2022-05-27 14:15] #2138 closed

[2022-05-27 14:20] AKorezin commented on #2109
So it's not possible to make *Launch app minimized* checkbox work like *Leave app running in notification area when application window is closed*?

[2022-05-27 14:24] devinbinnie commented on #2109
It is, but you need to have `libappindicator` running on your system, which will give you a 'Windows-like' system tray. Some other distributions have a 'Mac-like' dock that should also work the same way.

[2022-05-27 14:26] AKorezin commented on #950
Found another case for this problem.

If you close main window before actually configuring any server, then there's no way you can bring main window back again.

### Steps to reproduce

from `master` branch
1. clean all settings
1. `npm ci`
1. `npm run watch`
1. don't configure servers
1. go to settings
1. enable *Show icon in the notification area*
1. enable *Leave app running in notification are

[2022-05-27 15:37] #2125 closed

[2022-05-27 21:02] chenilim opened #2143 "Desktop App (App Store) hides OneLogin option with small window size"
#### Summary
The default window size hides the SSO (OneLogin) login option on the login screen

#### Steps to reproduce
1. Download Mattermost from the Mac App Store
2. Register a new server, and login
3. Have to scroll down to see OneLogin option, which is not obvious
4. (The first time I encountered this, I tried logging in several times with the non-SSO option)

#### Expected behavior
Default w

[2022-05-27 21:52] zellchristensen opened #2142 "Certificate Error Message Continously Pops Up"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [?] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-05-27 22:20] amyblais commented on #2142
This may be the same issue as https://github.com/mattermost/desktop/issues/2107. Let me know if I'm incorrect.

[2022-05-27 22:23] amyblais commented on #2143
Opened: https://mattermost.atlassian.net/browse/MM-44666.

[2022-05-27 22:23] #2143 closed

[2022-05-27 22:46] tmotyl commented on #2135
thanks @devinbinnie
I went the APT way -> works great.

[2022-05-27 22:46] #2135 closed

[2022-05-27 23:51] zellchristensen commented on #2142
I don't think so.
It does involve the same popup and probably the same conditions leading up to it, but my issue is just about the UI being inaccessible since the pop up continues over and over every few seconds until you can make it to the server edit button, make your changes, and save it.

https://user-images.githubusercontent.com/38737447/170801049-86d47a05-e54f-4ed3-870d-6cb0647c1373.mp4

[2022-05-30 13:07] ciakval commented on #2131
I didn't find it (but had done a reboot in between). Since then, I could not reproduce the issue. If I manage to reproduce it, I will update the information.

[2022-05-30 14:13] GoVivace opened #2144 "Mattermost windows desktop crashes (unabe to start)"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-05-31 06:24] janhaertel commented on #1918
Hi how do I enable this in windows desktop client?

[2022-05-31 16:15] ciakval commented on #2131
After I updated my system, I am no longer able to reproduce the issue. I guess it can be closed.

The updates that were done:

[code]

[2022-05-31 16:21] #2131 closed

[2022-06-01 09:58] oGkgN opened #2145 "After upgrade to version 5.1.0: emoji embedded in text are blurred, singleton emoji are sharp."
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-06-01 22:08] hmhealey commented on #2144
@amyblais We probably have to wait for Devin to get back for this. Given the data available, I'm not sure what the issue might be. Devin also uses Windows for development, so he'd be the most familiar with debugging on it.

@GoVivace @StrikeForceZero The only other thing I could think that might be helpful is knowing if you have the app installed using the exe installer or the msi installer. After

[2022-06-02 13:51] StrikeForceZero commented on #2144
@hmhealey So I had tried downgrading previously but never after clearing `AppData/Roaming/Mattermost`. After clearing that folder 5.0.4 seems to work. Thanks!

[2022-06-02 14:56] mtompkins opened #2147 "Mattermost Electron Steals Focus on new message"
I confirm (by marking "x" in the [ ] below: [x]):

- [x ] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.

[2022-06-03 04:13] reduckted opened #2148 "Clicking on a desktop notification in Windows 10 focuses the application, but the application does not update"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-06-03 15:20] amyblais commented on #2148
I've re-opened https://mattermost.atlassian.net/browse/MM-38800.

[2022-06-09 14:49] bghyt opened #2150 "Infinite loading screen"
I confirm (by marking "x" in the [ ] below: [x]):

- [x ] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [ x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.

[2022-06-10 06:27] alolis commented on #925
Why is this closed? My team and I we are all experiencing the same issue with Version 5.1.0 (19937)

[2022-06-10 08:56] dfun90 commented on #2144
Just wanted to chime in on this as I've been experiencing crashes very similar to the one described here and I think they are probably caused by the same thing.

**Details when the crash happens for me:**
- Device: Laptop at Home
- OS: Windows 10 Pro (Latest Version, 21H2)
- Mattermost Desktop App: 5.10
- Steps to trigger the crash:
  - Start the app and switch to the **Mattermost Community Server

[2022-06-13 13:46] devinbinnie commented on #2142
I think the issue here occurs when you receive a 404 or similar error due to the invalid certificate, so the retry logic continues to try and connect, but because of that the popup keeps happening.

The fix here is to completely stop the retry logic once the user has clicked `Cancel Connection`.

Created a ticket here: https://mattermost.atlassian.net/browse/MM-45031

[2022-06-13 13:52] devinbinnie commented on #2144
So usually hard crashes in the runtime that do not produce a stack trace of any kind aren't generally related to our code specifically, usually that will be an issue with Electron.

Nonetheless, we have a few steps we can take to see if we can figure out where it's occurring and if the issue has been reported back:
1) Do you see a `uncaughtException` file that matches the timestamp in your `AppDat

[2022-06-13 13:56] devinbinnie commented on #2145
This is likely an issue with the Chromium render on Linux with Electron, will have to investigate to see if we can do anything about it ourselves.

[2022-06-13 13:57] devinbinnie commented on #2147
@mtompkins I believe this is the same issue as this one correct? https://github.com/mattermost/desktop/issues/1827

[2022-06-13 13:59] devinbinnie commented on #2148
I experienced this one a fair bit in the past, but I haven't seen it in a while.

@reduckted Are you using the latest version of Windows 10? Not sure what build number they're up to yet. My issue went away after a while so I assume it's likely fixed with a later version of Windows 10.

[2022-06-13 15:12] mtompkins commented on #2147
Apologies, *autoraise* was an unknown term to me. I would agree this is the same.

[2022-06-13 15:12] #2147 closed

[2022-06-13 20:03] bghyt commented on #2150
I can see the log-in screen, I had tried that server previously but got the same result, It still occurs on the company's server.

[2022-06-13 20:11] devinbinnie commented on #2150
@bghyt Can you turn on Debug logging and post your log file? On Windows you can find it in `%APPDATA%/Roaming/Mattermost/logs`

[2022-06-13 20:44] bghyt commented on #2150
Sure, Note i've changed the name of the company to "COMPANYHERE" i've not made other changes I do not want this username associated with my workplace & community.
[main.log](https://github.com/mattermost/desktop/files/8894325/main.log)
.

[2022-06-14 07:17] dfun90 commented on #2144
Yea, I also think this might be something related to Electron. I did some rough testing the last weekend, as well as setting the logging output to `silly`. I didn't see anything in the logs that would relate to a crash and there were no `uncaughtException` files either.

I tried to then delete a bunch of the `cache` related folders at first, that change anything with the crash. Then I tried to del

[2022-06-14 09:00] 2019-05-10 opened #2155 "Animated GIF: cannot be paused/run only once"
**Summary**
GIFs once inserted run infinitely, thus distrcting/annoying users.

**Environment**
- Operating System:
- Mattermost Desktop App version: 5.1.0
- Mattermost Server version: X.X.X

**Steps to reproduce**
have a coworker insert an animted GIF into an ongoing chat
GIF wriggles and blinks continuously

**Expected behavior**
run only once or allow to pause/stop

**Observed behavior**
runs a

[2022-06-14 10:38] reduckted commented on #2148
Windows 10.0.19044 is the latest version as far as I'm aware.

I tried to come up with some specific steps to reproduce the problem before I created this issue, but I couldn't come up with anything reliable. I'll try to reproduce it again this week. Are there any log files or anything similar that I should try to capture or save?

[2022-06-14 13:08] devinbinnie commented on #2155
This applies to the webapp as well, so I'm going to transfer it over there.

[2022-06-14 13:13] devinbinnie commented on #2144
Interesting, curious did you upgrade from an older version of the Mattermost Desktop App? I wonder if older Sessions stores between Electron v15 (or 16) are causing issues...if so we might have to ask users to blow them away.

[2022-06-14 13:15] devinbinnie commented on #2148
@reduckted We can definitely grab the log files from `%APPDATA%\Roaming\Mattermost\logs`, though from what I remember experiencing this bug there wasn't much in there. It's likely this that this is a weird renderer issue with Electron, though for me it went away after a while (not sure exactly when)

[2022-06-15 15:21] HighDef888 commented on #2150
I cannot use the app version, it infinitely loads and I cannot login. The web version works but I get no notifications and I need to keep my RAM without other stuff running.

[2022-06-16 19:05] MikeSchlag opened #2159 "Mattermost Desktop (Windows, client 5.1.0) crashes when changing screen resolutions"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-06-16 19:13] amyblais commented on #2159
@jgilliam17 @lindy65 Are you able to reproduce this?

[2022-06-16 20:26] jgilliam17 commented on #2159
I tried connecting my macbook to external monitor and was able to move desktop app around between two screens of different resolutions without a crash.
I'll need a little bit of time to get a second monitor and check on win10.

[2022-06-16 21:08] jgilliam17 commented on #2159
Tested on Win10, desktop app v5.1 and v5.0.4 using 2 monitors; 1st monitor resolution set at 2460x1080 and second at 1024x768
Able to move maximized/unmaximized app window using a mouse and/or keyboard shortcuts without experiencing a crash.
Noting here that I had to adjust the size of the app afterwards, when going from larger to smaller monitor and vice versa  - I believe this is expected. @devi

[2022-06-17 05:57] lindy65 commented on #2159
@amyblais - I don't have an external monitor to test this

[2022-06-17 12:01] bghyt commented on #2150
@devinbinnie I downgraded to mattermost 5.0.4 and I was able to login & access the company server just now!
thought i'd reply and tell you the news!

[2022-06-17 20:42] tjdownes commented on #2159
I can confirm this same behavior, Windows 11, using 3 of the same monitors. Just switching monitors does this to me, I don't even need different resolutions.

[2022-06-19 09:03] leitmori opened #2160 "White screen after re-launch with "Open app in fullscreen" enabled"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-06-20 14:14] devinbinnie commented on #2160
Looks like the BrowserView isn't being drawn correctly when the app opens in full-screen.

@leitmori A workaround for now would be to switch tabs or servers back and forth, but I'll make a fix.
Created a ticket: https://mattermost.atlassian.net/browse/MM-45203

[2022-06-20 14:16] devinbinnie commented on #2150
@bghyt Looks like the URL you have configured in your server might not match the one your server actually uses. Can you confirm that the URL you have configured exactly matches: `https://chat.COMPANYHERE.com`

[2022-06-20 14:24] bghyt commented on #2150
I just had the same issue again as mattermost updated to 5.1.0 again & I saw your reply pop up so I thought to try it.

The link was "https://chat.COMPANYHERE.com/channels/town-square" before the update &  updating after turning on my PC it logged me out saying "session expired" So I could no longer login anymore, But after changing the server address to "https://chat.COMPANYHERE.com" it worked ag

[2022-06-20 14:24] tjdownes commented on #2159
Would that be in `AppData\Roaming\Mattermost\logs`? if so, there's no such file, and `main.log` does not contain any related exceptions.

If there's some sort of debugging you need me to do, this is very repeatable. Just let me know what you need from me to get you the debug info you need.

[2022-06-20 14:26] tjdownes commented on #2159
Actually, I have several in the folder above `logs`, but none are even remotely related to the time period in question
![image](https://user-images.githubusercontent.com/273720/174623579-5e282a66-9391-462e-87b1-e9cc78197621.png)

[2022-06-20 15:42] #2150 closed, assigned to nobody

[2022-06-20 15:42] devinbinnie commented on #2159
@tjdownes It's likely an Electron issue then related to your specific setup. Could you try on a different Windows machine (or VM) and see if you can still reproduce?

[2022-06-20 20:20] tjdownes commented on #2159
I'm not aware of any way to virtualize a multi-display setup. Do you have any documentation or suggestions on how to do that?

FYI, this is a pretty standard configuration. Nothing special here. 2060 RTX with studio drivers, Windows 11.

[2022-06-21 13:14] tjdownes commented on #2159
I tested a couple of other Electron apps yesterday, using 18.0.1 and 18.0.3 and could not produce the same issues with those apps.

[2022-06-21 13:27] devinbinnie commented on #2159
I think VirtualBox will allow it. It might be better to try another machine.
I'm also using an NVIDIA card but with the GeForce drivers. Shot in the dark, but perhaps updating yours could help?

[2022-06-21 13:57] tjdownes commented on #2159
I updated them yesterday :) Realistically the studio drivers should be more stable than the game-ready drivers, since the game-ready drivers are built on top of the studio drivers.

I've got a couple of teammates using MM with multiple monitors on Windows, so I will have them test it today and report if they have the same issues. I'll see if I can get my laptop connected to my monitors for testing

[2022-06-21 15:55] devinbinnie commented on #2160
@leitmori It looks like this is fixed in the nightly builds. Can you confirm for me?

You can find the nightlies here: https://community.mattermost.com/core/channels/desktop-builds

[2022-06-21 16:25] devinbinnie commented on #2160
Great! I'll mark this as Closed then.

[2022-06-21 16:25] #2160 closed

[2022-06-22 09:10] Gaibhne opened #2164 "The 'uservoice' link in the issue templates leads to an unused uservoice account"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-06-22 09:14] Gaibhne opened #2165 "Let us configure, change or disable hotkeys"
Title says it all - Mattermost steals some (global) hotkeys I'm using, and so I started looking for how to configure/disable them and was dismayed to find out that all hotkeys are hardcoded and always activated (as far as I can tell).

I am talking specifically about 'shortcuts' such as CTRL+ALT+1.

Please let us either disable them or change them to different keys so Mattermost doesn't interfere

[2022-06-22 11:30] 2019-05-10 commented on #1997
And it's back.
Did anything happen in the meantime?

I _still_ cannot see the certificate and I still don't really know what the issue is.

Version 5.1.0
Mattermost Version: 6.0.2
Database Schema Version: 6.0.2
Database: postgres

I am still left with the pointless options to either
- cancel the connection (whatever that means, since I still can post to channels)
- trust a certificate I do know no

[2022-06-22 13:36] devinbinnie commented on #2164
@amyblais Should I just make a change to the Issue Template for now to redirect to the above link instead?

[2022-06-22 13:38] devinbinnie commented on #2165
@Gaibhne Thanks for the feedback. Unfortunately it would be a very big undertaking to allow for custom keyboard shortcuts in the Desktop App, so it's not likely something we'll be looking into in the near future.

As for the current case, could you provide some more information as to the issue you're seeing? I am able to use the Desktop App and its shortcuts ONLY when the app is focused.

Could yo

[2022-06-23 09:20] Gaibhne commented on #2165
Terribly sorry, this should have gone to the web client - I use it via WebCatalog, so it feels like the native client, making me forgot it's not.

The core problem still exists in the desktop client, I'd guess - it's not that the unfocused client steals hotkeys, it's that it steals the global assignment when it's selected. As in, whenever I press Ctrl+Alt+1, something I've configered in my system

[2022-06-23 11:11] squiaios opened #2171 "Error to access channel in 5.1.0 but not in 5.0.4"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-06-23 12:38] amyblais commented on #2171
@squiaios Do you see any errors in [the desktop app logs](https://docs.mattermost.com/install/troubleshooting.html#mattermost-desktop-app-logs)?

Do you see the same issue with 5.1.1-RC1 https://github.com/mattermost/desktop/releases/tag/v5.1.1-rc1 ?

[2022-06-23 13:19] devinbinnie commented on #2165
I can move this to the repo where we put the Web App tickets for you.

[2022-06-23 13:36] squiaios commented on #2171
Unfortunately I do not have `Mattermost` directory in `~/.local/share`

My application is installed in `/opt/Mattermost`, but no logs directory is present either.

With Mattermost 5.1.1-rc1, the problem is still present

[2022-06-23 18:06] ai-arogers commented on #2144
Hello, I just wanted to +1 this issue and see if maybe the desktop crashes we are experiencing would help troubleshoot it. Our environment is Gitlab's bundling of Mattermost, and the Windows desktop application can be reliably crashed by:

1. Opening our internal Gitlab server's login screen by selecting the purple "Gitlab" button
2. After logging in to a standalone instance of Mattermost (not Git

[2022-06-24 07:25] torse opened #2172 "Screen sharing during call does not work"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-06-24 08:55] amyblais commented on #2172
@torse Would you be open to moving this issue to the Calls repo https://github.com/mattermost/mattermost-plugin-calls/issues? When you do so, please also help include the following details if possible:

**1. JS Console Logs**

1. Dots menu -> View -> Developer Tools for Current Tab.
2. Right Click -> Save as…

**2. Call Stats Dump**

Running the ``/call stats`` slash command in the channel the cal

[2022-06-24 12:47] devinbinnie commented on #2172
Closing as this is a Calls issue

[2022-06-24 12:47] #2172 closed

[2022-06-24 15:04] stedekay opened #2173 "Cannot start a call in Linux desktop client."
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-06-24 16:26] amyblais commented on #2173
@stedekay Would you be open to moving this issue to the Calls repo https://github.com/mattermost/mattermost-plugin-calls/issues? When you do so, please also help include the following details if possible:

**1. JS Console Logs**

1. Dots menu -> View -> Developer Tools for Current Tab.
2. Right Click -> Save as…

**2. Call Stats Dump**

Running the ``/call stats`` slash command in the channel the

[2022-06-27 07:45] stedekay commented on #2173
Sure, I opened a new issue with the console logs here: https://github.com/mattermost/mattermost-plugin-calls/issues/132

[2022-06-27 07:45] #2173 closed

[2022-06-27 17:11] devinbinnie commented on #2171
@squiaios Can you check `~/.config/Mattermost`? I think the docs might be out of date (will fix that)

Also, can you confirm that your configured server URL matches the site URL that you're trying to access?

[2022-06-27 18:50] MikeSchlag commented on #2159
Got the notification today that 5.1.1 was available. I just downloaded and installed, and the crashing is no longer present between screens of varying resolutions. Looks like it could probably be closed at this point. Thanks so much for fixing that!

[2022-06-27 18:55] devinbinnie commented on #2159
@tjdownes Are you seeing the same thing?

[2022-06-27 19:22] tjdownes commented on #2159
YES! Thanks for the fix. It also fixed a bug I had not yet reported, where typing `/` to do actions resulted in a similar crash.

[2022-06-27 19:45] devinbinnie commented on #2159
Great! I'll close this issue then.

[2022-06-27 19:45] devinbinnie commented on #2144
Some users are reporting the crash is fixed for them in v5.1.1

Can anyone try and see if the issue persists?

[2022-06-28 06:48] JtheBAB opened #2175 "MSI Installer not compatible with Updater"
**Summary**
MSI Installer doesn't work with integrated updater

**Steps to reproduce**

- Install MSI Installer 5.1.0
- Start Mattermost
- Mattermost offers to update
- let it update
- Mattermost download and installs the exe installer which installs in %appdata%
- You have two installations

**Expected behavior**

The MSI Installer should be downloaded and installed

**Observed behavior**

The ex

[2022-06-28 10:47] eliasgruenewald commented on #222
This would also just stop distracting oneself while having a chat window incl. an animation left open on another screen.

[2022-06-28 13:55] devinbinnie commented on #2175
Ahh yes, I didn't think about this one. Unfortunately I don't believe we have a choice as to what installer it downloads. The auto-updater provided by `electron-updater` makes that choice for you.

I think the best course of action here would be to disable auto-updates for the MSI installer, since its existence is more for system administrators to be able to control the versioning themselves as we

[2022-06-28 13:56] devinbinnie commented on #2175
Created a ticket here: https://mattermost.atlassian.net/browse/MM-45409

[2022-06-28 14:17] squiaios commented on #2171
In `~/.config/Mattermost/config.json`, I changed the url of the team and now it works.

Thank you =D

[2022-06-28 14:18] #2171 closed

[2022-06-28 19:14] ai-arogers commented on #2144
I can at least confirm that v5.1.1 has resolved all of the issues we were experiencing. Admittedly it's still early, but no users on v5.1.1 have reported a crash to us. Thank you!

[2022-06-30 11:23] bhattrahul14 opened #2179 "When code sign app.asar not built properly"
app.asar is not built properly after code signing the mac app. without code sign app.asar is built properly and the desktop works fine.

[2022-06-30 16:25] #2175 closed

[2022-07-01 04:50] #2179 closed

[2022-07-01 04:51] bhattrahul14 commented on #2179
@devinbinnie
![Screenshot from 2022-07-01 10-18-28](https://user-images.githubusercontent.com/105793021/176825672-3aff1ecb-dba6-476d-a43f-75da2d46ea96.png)

without sign preload initialize but after code sign preload not initialize error throw on app

[2022-07-01 05:02] bhattrahul14 opened #2181 "Preload.js not found or initialize error. app.asar not built properly on code sign time"
![Screenshot from 2022-07-01 10-18-28](https://user-images.githubusercontent.com/105793021/176826952-5dd23638-9b65-433e-8497-cd9be2a34b74.png)

work fine without code sign the app. issues only on code sign.

[2022-07-01 06:03] bhattrahul14 commented on #2179
NOT FIXED YET PRELOAD ERROR WHEN RUN THE APP AFTER CODE SIGN

[2022-07-01 06:09] bhattrahul14 opened #2182 "app.asar is not built properly after code signing the mac app. without code sign app.asar is built properly and the desktop works fine."
![Screenshot from 2022-07-01 10-18-28](https://user-images.githubusercontent.com/105793021/176834556-f5120c9d-e92a-4975-ae4c-21ab21e46758.png)

[2022-07-01 10:15] rafal211 opened #2183 "Playbooks doesn't show - blank page"
I confirm (by marking "x" in the [ ] below: [x]):

- [x ] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [ x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.

[2022-07-01 15:49] heckert-epost opened #2184 "Mattermost-Desktop 5.1.x cannot switch to a certain channel on our server"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-07-01 21:35] kris-watts-gravwell opened #2185 "very high CPU usage on Linux"
I confirm (by marking "x" in the [ ] below: [x]):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-07-05 05:07] bhattrahul14 opened #2187 "cors error in app"
Getting cors error in the app.

[2022-07-05 05:18] timo-d-e opened #2188 "Desktop auto updater not working behind proxy with authentication"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-07-05 13:34] devinbinnie commented on #2182
Closing as duplicate of https://github.com/mattermost/desktop/issues/2181

[2022-07-05 13:34] #2182 closed

[2022-07-05 13:54] devinbinnie commented on #2185
@kris-watts-gravwell Sounds like it could be an issue with `libnotify` and Electron. Could you try downgrading both `libnotify` and the Desktop App and see if downgrading either fixes the issue? It would help to isolate which library is causing it. Thanks!

[2022-07-05 14:24] devinbinnie commented on #2185
The reason I ask is because v5.1 is using Electron v18. If we downgrade to v5.0 that would be Electron v16. I'm curious which version of Electron causes this issue and if it can be fixed with an Electron upgrade/downgrade.

[2022-07-05 14:46] devinbinnie commented on #2188
Thanks @timo-d-e. I can look into this and get back to you on whether this is feasible to fix.

[2022-07-05 17:30] devinbinnie commented on #2188
@timo-d-e So it's not looking like we'll be able to pop a dialog like we do for the servers, since `electron-updater` doesn't send the `login` event that would normally popup when hitting the proxy.

What might work for you is described here: https://github.com/electron-userland/electron-builder/issues/6286

It looks like the updater would accept an environment variable of either `HTTP_PROXY` or `

[2022-07-06 13:47] devinbinnie commented on #1871
Closed by https://github.com/mattermost/desktop/pull/2180

[2022-07-06 13:47] #1871 closed

[2022-07-06 14:41] heckert-epost commented on #2184
That single line I pasted above was the only logging entry I got after I had disabled the Jira-plugin on the test Mattermost instance.

This would be over an hour later:
[code]
which all seem to be coming from some scheduled jobs. (yes, there's more of them, the only changes being the "job_id" values and time stamps.

[2022-07-06 15:33] paulehoffman commented on #2184
FWIW, I'm having the same problem as is reported in this issue with Mac client version Version 5.1.1 (20700). It starts up, I see a display of the normal starting channel, and then if I click on another channel or a direct message contact, I get:
Channel Not Found
The channel you're requesting is private or does not exist. Please contact an Administrator to be added to the channel.

[Back to Town

[2022-07-06 20:51] devinbinnie commented on #2184
@heckert-epost You're looking at the server logs in the System Console. Since this is likely a Desktop App issue, we'll need the logs from that. You can find them by looking here: https://docs.mattermost.com/install/troubleshooting.html#mattermost-desktop-app-logs

[2022-07-07 09:24] heckert-epost commented on #2184
[debug_session.sanitized.txt](https://github.com/mattermost/desktop/files/9062160/debug_session.sanitized.txt)

This is a complete session from starting the 5.1.1 client to quitting the application again. During the test-run I echoed the test steps into the log file (lines starting with dashes).
"Sanitized" means I replaced the actual server and channel names with neutral values.

I also opened a

[2022-07-07 15:00] heckert-epost commented on #2184
Indeed, now it does work. :)

This seems to me to be some sort of regression though, since everything worked in the 5.0.4 version of the client.
I suggest to at least add some help-text line informing users on what the correct URL looks like and what not.

[2022-07-07 15:06] #2184 closed

[2022-07-07 15:13] heckert-epost commented on #2184
Within the Server Console the entry for the URL has a comment text:
`Mattermost may be hosted at a subpath. For example: http://example.com:8065/company/mattermost. `

I see how telling users to omit the path from the URL could be incorrect in such a configuration...
Ideally the client could determine that it had been pointed to a URL below that root path (say "example.com:8065/company/mattermost/

[2022-07-07 15:23] #2181 closed

[2022-07-08 10:38] vanilla-thunder commented on #2137
whenever i navigate or post a message, mattermost client is sending telemetry data to https://pdat.matterlytics.com/v1/track
[code]
there is also my server url in request header.
I cound not find a setting to disable this telemetry yet.

[2022-07-08 13:55] devinbinnie commented on #2145
Opening this up to anyone who can reproduce it and might be able to fix it.

@oGkgN One more thing we could try: the latest nightly build from [here](https://community.mattermost.com/core/channels/desktop-builds), it's using Electron v19.

[2022-07-08 13:56] devinbinnie commented on #2137
@vanilla-thunder Those are the aforementioned telemetry items that can only be disabled server-side. We don't actually have any desktop-specific telemetry yet, but will make sure to keep it in mind when we do eventually add it.

[2022-07-08 14:00] devinbinnie commented on #1997
@vanilla-thunder Is this affecting you on v5.1.1? We did a change in that version that should stop the popup from re-appearing as often (it was popping up everytime we would retry loading the page, which would happen everytime the certificate check was cancelled).

[2022-07-08 22:28] FHantke opened #2191 "Prevented desktop from navigating"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-07-09 07:25] bbodenmiller opened #2192 "Cannot manage user dictionary"
I confirm (by marking "x" in the [ ] below: [x]):

- [ ] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [ ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-07-09 08:50] FHantke commented on #2191
Web and iOS version work fine.

[2022-07-09 09:01] FHantke commented on #2191
Ok... works fine again. For other people having the same issue, here is what I think went wrong:
I had internet issues yesterday and was logged out and probably not logged in the first few times. Then, I changed the configuration. Instead of the plain server URL, I added the `/oauth/gitlab/login` path as well. This caused the application to prevent navigating. This morning, I realized it and remov

[2022-07-09 09:01] #2191 closed

[2022-07-11 06:50] rafal211 commented on #2183
@devinbinnie Thank you. That was the point.

[2022-07-11 06:50] #2183 closed

[2022-07-12 15:58] boobiq commented on #2145
I confirm this happening on 5.1.1 macOS desktop app, at first I thought I just don't see that good anymore :)

![image](https://user-images.githubusercontent.com/429225/178537372-b6786830-1b18-4eef-a5bd-5c13096d7950.png)

Also it looks like links previews are blurry too, I can't be sure because have nothing to compare it with but I don't remember it that way before.

![image](https://user-images.g

[2022-07-15 10:02] timotheenicolas opened #2196 "HiDPI and fractionnal scaling support on Linux under Wayland"
I confirm (by marking "x" in the [ ] below: [x]):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-07-15 16:53] flxmrk opened #2199 "Client does not overwrite pre-existing file on download from a chat"
I confirm (by marking "x" in the [ ] below: [x]):

- [x ] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.

[2022-07-19 16:57] ppar commented on #1187
In the meanwhile, here's a workaround script (Linux/KDE) for anyone else encountering this ticket: https://github.com/ppar/mattermost-autoaway

[2022-07-20 16:20] vlaterz opened #2206 "Set default server URL and Name before first start (set it without UI)"
Hello. I need to connect to mattermost server automatically right after mattermost desktop installation on Windows.
I followed guide https://docs.mattermost.com/deploy/desktop-app.html and changed config.json as was mentioned there. But after running mattermost it prompted for url and name. Config was reset to initial state.

The question: is there any way to configure server url and name paramete

[2022-07-20 16:27] devinbinnie commented on #2206
If you're on Windows, you can configure a Group Policy setting as per this guide: https://docs.mattermost.com/install/desktop-msi-installer-and-group-policy-install.html

[2022-07-21 10:41] vlaterz commented on #2206
Thank you for your answer. Is there any other way?
I need this to wrap MM msi installer in exe installer with some other installers, so that user will not have to configure anything.
Do you know, if i do something wrong with config.json? Why is it reset to default? Is there any way to set server with that config?

[2022-07-23 15:29] RobotDisco opened #2208 "Mattermost desktop app does TLS validation on "http://" links and displays misleading message."
I confirm (by marking "x" in the [ ] below: [x]):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-07-25 13:36] devinbinnie commented on #2206
You can create a custom build of the Desktop App and edit the `buildConfig` file, that will allow teams to be automatically added.

However if you just edit the `config.json` file in the install directory, it should pick up those teams that you've added. If not, it's possible that the changes aren't formatted correctly and the app is rejecting them. Have a look at the logs if this is the case.

[2022-07-25 13:38] devinbinnie commented on #2145
@MHeymann @oGkgN Can you try the latest nightly build from [here](https://community.mattermost.com/core/channels/desktop-builds)? It might be fixed in an Electron upgrade.

[2022-07-25 14:42] RobotDisco commented on #2208
I disagree in that the message is specifically claiming that the _Mattermost_ server is misconfigured, not the linked site. There is a big difference of interpretation between the chat program's server and the linked site.

That this is a popup also means that there's no way to tie this to the specific message, if one has never hit this popup before, the whole channel appears to be broken unless s

[2022-07-25 14:50] RobotDisco commented on #2208
I just thought of another possible way to address this:

Instead of a popup, a potential solution would be to annotate the mattermost message as insecure (or refuse to load it) rather than a modal popup.

[2022-07-27 15:56] AnnaGrishina opened #2212 "Possibility to copy email addres in profile without "mailto" prefix"
There is a link to the user's email address in the profile.

Not so long ago we used slack for communications and it was really ease to click on the emal link (to copy email addres) and sent it  to some one who asked it (for example) or copy email addres and add copyed email to mailing list

In MM I click (using right button) -> copy link and then paste. What I see.. I see **mailto:**anna.grishina

[2022-07-27 16:05] AnnaGrishina commented on #2212
[](url
![Copyemail](https://user-images.githubusercontent.com/110117504/181295435-e8333491-e7a5-4835-8a89-86bd02fda14c.png)
)

[2022-07-27 19:14] devinbinnie commented on #2199
There’s an Electron issue with MAS entitlements causing this. I’ve submitted a bug report: https://github.com/electron/electron/issues/35104

As per the bug, I can at least set exceptions for the Downloads folder (and a couple other select folders) so I will start with that and finish up if/when the bug is resolved.

[2022-07-27 20:14] devinbinnie commented on #2212
Unfortunately the `Copy Link` functionality is built into the browser and will always copy the URL attached to the given link. So I don't think there's anything we can do about this unless we wanted to change the click behaviour of the link itself. Which would break the normal flow of opening your default email client.

Sorry for the inconvenience.

[2022-08-02 14:20] devinbinnie commented on #1943
We are working on adding new languages here: https://translate.mattermost.com/projects/mattermost/mattermost-desktop/

[2022-08-09 13:48] #1272 closed

[2022-08-09 13:58] devinbinnie commented on #623
@harika551 Are you still planning on working on this?

[2022-08-10 04:47] abnerlee commented on #1080
I also met this in electron v18.3.0 on Windows...

[2022-08-14 19:31] JmzTaylor opened #2223 "Unable to set default server"
[code]

When compiling with this set, the resulting binary ignores it.  In addition, when prompted for server name and URL it infinitely loops back to add server dialog.  No changes have been done to repo except this.  And this happens on all platforms; windows, linux and mac.

[2022-08-15 13:58] devinbinnie commented on #2223
@JmzTaylor I'm not seeing any issues on my end. Is the config you've posted exactly what you're using? Because currently the server added there is commented out.

[code]

[2022-08-15 14:21] JmzTaylor commented on #2223
Yup thats my fault.  didn't see that at the end of the line.  Sorry about that.

[2022-08-15 15:12] JmzTaylor commented on #2223
So, I removed the comments, added order and tests are failing now.

[code]

config:

[code]

[2022-08-15 15:37] devinbinnie commented on #2223
@JmzTaylor Is having the tests passing when you add a team to the build config something you'll need as part of a CI pipeline you're working on? The tests aren't really designed to run when the build config is changed, as it's provided so that users/developers can add default servers and set other options at build time.

[2022-08-15 15:40] JmzTaylor commented on #2223
Not really.  I can just ignore them.  I was trying to stay inline with upstream as much as possible to prevent too large of a delta.  If that is the solution then I have no problem with that.

[2022-08-15 15:40] #2223 closed

[2022-08-15 17:23] Nike682631 commented on #2196
@devinbinnie Is this available to work on?

[2022-08-15 17:24] devinbinnie commented on #2196
Yeah absolutely! I can assign it to you.

[2022-08-15 17:25] Nike682631 commented on #2208
@devinbinnie  Is this issue available to work on?

[2022-08-18 13:00] RobotDisco commented on #2208
It looks like there is at least one previous issue related to this one: https://github.com/mattermost/desktop/issues/2107

That one specifically references icons, but it looks to me as if it is a specific description within a larger theme.

[2022-08-18 13:14] devinbinnie commented on #2107
This one was resolved here: https://github.com/mattermost/desktop/pull/2205

[2022-08-18 13:14] #2107 closed

[2022-08-18 13:15] devinbinnie commented on #2208
The issue above was to reject cross-origin certificates. This actually might already be resolved.

@RobotDisco can you try our nightly build from [here](https://community.mattermost.com/core/channels/desktop-builds) and see if the issue is fixed for you?

[2022-08-22 03:58] lovechoudoufu opened #2234 "The Ubuntu20.04 startup Mattermost-Desktop failed"
![image](https://user-images.githubusercontent.com/95681496/185836601-c93f7eed-acc4-4da7-8e94-4c09afea9a4b.png)

When I start mattermost-Desktop, Has been "ERROR: network_service_instance_impl. Cc (978)] Network service crashed, restarting the service." ERROR page, the program cannot be started

[2022-08-22 13:53] Elnora commented on #2145
I have this issue too, only in the client, not in the browser.

[2022-08-22 15:06] devinbinnie commented on #2234
@lovechoudoufu Are you running the application as root? There's an issue running sandboxed Electron applications under root.

[2022-08-22 16:38] estherDow opened #2235 "Mattermost osx Desktop Application becomes unresponsive when dragging an Emoji."
I confirm (by marking "x" in the [ ] below: [x]):

- [x ] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [ x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.

[2022-08-22 18:25] amyblais commented on #2235
@kennethDow
1. Do you see the same issue on the latest v5.1.1 version?
2. Do you see any console errors [instructions here](https://docs.mattermost.com/install/desktop-app-install.html#report-desktop-app-issues)?
3. What is your Mattermost server version? (You can find this from Main Menu > About Mattermost)

[2022-08-23 00:55] lovechoudoufu commented on #2234
Yes, thank you

[2022-08-24 13:13] #2234 closed

[2022-08-26 14:34] headkit commented on #1090
still noct working?

[2022-08-26 14:35] headkit commented on #1090
Is it an Electron problem?

[2022-08-26 21:32] RobotDisco commented on #2208
I didn't get an error on the latest build, reproducing with the URL from my ticket.

Thanks so much!

[2022-08-26 21:32] #2208 closed

[2022-08-30 15:27] kris-watts-gravwell commented on #2185
updating to add some context.

Other members of my team that are using the Mac client do not see the excessive CPU usage, nor do people running on a browser.

After some more measured digging, I am seeing this any time I switch contexts.

For example:
1. Going from one direct message to another
2. Going from one team to another
3. Opening a playbook
4. Any action that causes a desktop notification

[2022-08-31 02:19] rbebb commented on #1949
@devinbinnie I think this can be closed since the downloads page now refers you to the App Store, and the GitHub page provides universal _and_ an ARM only downloads

[2022-08-31 14:32] ckehoe commented on #1371
Any updates on this issue?

[2022-08-31 14:32] #1949 closed

[2022-09-02 07:26] klojang4j commented on #2185
Just to note that I have the same issue - my laptop seeming to prepare for takeoff while mattermost is running, either as standalone app, or in browser. It have a hunch that it's some rendering issue. If my office Dell laptop (I7 + 32GB RAM!!) is connected to my office Dell monitor (27") it seems to be much less of a problem, but if is connected to my Asus monitor at home (also 27"), it is steamin

[2022-09-08 07:38] Chaxwell opened #2248 "Start call button doesn't work"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-09-08 11:39] anx-ag commented on #2248
Hi Chaxwell,

can you verify that typing `/call start` also does not result in a call being started? Can you confirm that your audio device setup is working as expected? Sometimes the calls refuse to start when there are no connected/available audio devices, so if you have a bluetooth device which connected after you started the app, please (for testing purposes) make sure it's connected and then

[2022-09-08 11:47] Chaxwell commented on #2248
Ah you were right, I had no audio device connected.

It still doesn't work with just an audio device, I actually need to plug an audio device plus a microphone.

I feel like it could be improved though (allowing to call or get an info message)

Thank you

[2022-09-08 11:47] #2248 closed

[2022-09-08 11:58] anx-ag commented on #2248
Please note that the Calls plugin is still in beta; issues like these are currently being worked on and should be no problem anymore as soon as the plugin hits GA status.

Glad to hear that you could fix that by activating the microphone!

[2022-09-12 06:15] rtfm98 opened #2250 "Problems with group policy and auto update feature"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-09-12 14:29] vveckaln opened #2252 "error: cannot communicate with server: Post http://localhost/v2/snaps/mattermost-desktop"
https://docs.mattermost.com/install/desktop-app-install.html
![mmsnapcraft](https://user-images.githubusercontent.com/7974113/189680307-bd7bdebf-dac0-47e2-ab20-8888a71f13a4.png)

[code]

[2022-09-12 14:49] amyblais commented on #2252
What Mattermost desktop app version are you on?

[2022-09-12 14:57] vveckaln commented on #2252
`mattermost version 7.2.0`

[2022-09-12 15:07] devinbinnie commented on #2252
Looks like this is an issue with Snapcraft. We don't actually maintain the snap for mattermost, that happens here: https://github.com/snapcrafters/mattermost-desktop

[2022-09-12 15:40] JonathanDotCel opened #2255 "[Desktop] Ctrl+F doesn't search chat history, and prioritises channel names in the left-hand column."
#### Summary
If I'm in a chat with a colleague, and search for e.g. the word "coin". Channels with the word "coin" in them will be highlighted on the left. Chat history (littered with the word coin) will be largely ignored despite the big "Hey, you can use ctrl+f".

#### Steps to reproduce
Ctrl+F, search for something a few days ago in a chat

#### Expected behavior
I hit Ctrl+F, I type "coin", I

[2022-09-12 15:53] devinbinnie commented on #2250
I don't speak German, but a quick Google translate reveals the error: `ERROR: Registry editing has been disabled by the administrator`.

Digging a bit, looks like the issue is coming from our registry library. My recommendation here would be to contact your system administrator to figure out why you're unable to access the registry at all, since reading shouldn't be restricted here (especially whe

[2022-09-13 13:17] RichieB2B commented on #2090
This is a really annoying bug. How near in the future can this be fixed?

[2022-09-13 13:22] devinbinnie commented on #2090
This might now be fixed with the addition of the `macos-notification-state` module. However, it will only work outside of the MAS build due to Apple's App Sandbox restrictions. You can try it for yourself in the nightly buillds available here: https://community.mattermost.com/core/channels/desktop-builds

[2022-09-13 14:32] RichieB2B commented on #2090
Wow, that was fast! I can confirm that `mattermost-desktop-5.2.0-nightly.20220912-mac-m1` fixes this issue.

[2022-09-13 14:44] RichieB2B commented on #2090
For the MAS issue, looks like this can be fixed: https://github.com/felixrieseberg/macos-notification-state/pull/27

[2022-09-13 15:01] p01arbear opened #2257 "Left click on the tray icon doesn't open app window but opens tray menu for right click"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-09-13 15:58] esethna commented on #2255
Hi @JonathanDotCel, sounds like you’re an out of date desktop version. Please update to the latest and try again if possible. Thanks! https://mattermost.com/apps/

[2022-09-13 16:49] rtfm98 commented on #2250
Hey @devinbinnie,
thanks for your answer! I'll get in touch with our responsible department and check this out.

[2022-09-13 17:18] JonathanDotCel commented on #2255
@amyblais, thanks:

1 & 2:
From the 3 dots -> Help - Version 4.6.1
From the 9 dots -> About Chat:
Mattermost Version: 6.3.3
DB Schema version 6.3.3

3:
Windows 10

4:
Mattermost (desktop app) does not respond to the link on that page for me to connect to the community server.
(Could be an IT policy, could be a bug).
So unfortunately I'm not able to check

@esethna The build date is Feb 2022

I'm n

[2022-09-13 17:24] amyblais commented on #2255
@jgilliam17 Do you have Windows to verify whether the original report https://github.com/mattermost/desktop/issues/2255#issue-1370408993 still reproduces on the latest desktop app version?

[2022-09-13 18:00] devinbinnie commented on #2255
Sorry, I should have jumped in here. Version v4.6 is no longer supported and will conflict with any version of `mattermost-server` newer than v6. If you use Desktop v5 or greater, Ctrl+F will automatically highlight the top search bar of the Mattermost webapp and will allow you to search channel history.

[2022-09-13 18:05] rtfm98 commented on #2250
Addendum:

I tried some stuff with a private virtual machine (with admin rights) running Windows 10 Pro (which has group policy support) and I feel that the issue described above might not have something to do with my company's computer config.

### first try ###
- installed v5.1.0 via msi installer
- configured mattermost client (added one server)
- stopped mattermost client
- defined GPO's after

[2022-09-13 19:51] esethna commented on #2255
@JonathanDotCel +1 to Devin, this has been addressed in future versions, as such I would recommend upgrading to latest

[2022-09-13 21:56] JonathanDotCel commented on #2255
@amyblais, @esethna, @devinbinnie
That's great, thanks all :)

[2022-09-13 21:56] #2255 closed

[2022-09-17 19:57] mattcasters commented on #1741
This is still an issue for me on Linux and I google-ing I found folks who apparently had it on Windows as well. (version 5.1.1, commit 7eef060)

[2022-09-19 18:19] ariephim opened #2261 "Show/Hide Formatting pointless"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. If you have having issues, please send us a message in the [Peer-to-peer Help](https://community-daily.mattermost.com/core/channels/peer-to-peer-help) or the [Developers: Desktop App](https://community-daily.mattermost.com/core/channels/desktop-app) channels on the Mattermost Community server
- [x] I h

[2022-09-21 17:41] ekimd commented on #1827
Any movement on this? Does anyone know if a ticket was opened with Electron?  I think it makes a lot more sense for a developer to open the ticket than a user because there are likely to be additional questions that the users are too unfamiliar with to speak intelligently.

[2022-09-25 13:48] devinbinnie commented on #1827
@ekimd Sorry it's been a while since I've looked at this. Can you reproduce on the latest version (v5.1.1)? We've made some Electron upgrades recently.

[2022-09-25 14:02] devinbinnie commented on #2252
Closing as per above.

[2022-09-25 14:02] #2252 closed

[2022-09-25 15:05] bmnave commented on #1827
I can confirm this is still an issue in v5.1.1

[2022-09-26 10:56] edlerd opened #2262 "Ubuntu notifications without content"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [ ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-09-26 11:04] edlerd commented on #2262
This seems to be the same issue with Gnome in Signal: https://github.com/signalapp/Signal-Desktop/issues/3321

[2022-09-26 11:14] edlerd commented on #2262
Disabling the "Flash taskbar icon when a new message is received" fixes the issue for me.

As there is already a note under this option to be unstable in combination with Linux: I think the option should be disabled or even removed under Linux?

[2022-09-26 12:00] fcharras opened #2264 "Starting mattermost-desktop freezes other GUI windows"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-09-26 13:49] edlerd commented on #2257
Can confirm the same behavior in Ubuntu 22.04.

I found a related issue in electron, which is open: https://github.com/electron/electron/issues/14941

Electron docs state "The click event is ignored" on Linux under some circumstances: https://www.electronjs.org/docs/latest/api/tray

[2022-09-26 14:31] devinbinnie commented on #2264
@fcharras This seems like an OS dependent one, since it's not something that reproduces on Ubuntu or any other distribution that I know of. I haven't tried pure Arch, but I know Manjaro works so I assume Endeavour should be fine.

Can you try installing an older version and see if the issue is resolved? I would be interested to see if it's an Electron issue, but my current guess would be that pote

[2022-09-26 16:08] ekimd commented on #1827
Likewise still an issue for me on v5.1.1.

On Sun, Sep 25, 2022 at 9:05 AM bmnave ***@***.***> wrote:

[2022-09-27 07:01] fcharras commented on #2264
I've ran a few more experiments and it confirms that it's mattermost that is triggering the freeze of other applications and nothing else.

But in fact I've found that the bug also triggers when I open mattermost in the browser (in firefox or chromium) so I've opened the issue in the wrong place, sorry. Closing this one, I'll reopen it in the appropriate repo.

Endeavour OS is closer to vanilla ar

[2022-09-27 07:01] #2264 closed

[2022-09-28 09:52] nikkilocke commented on #1513
There is **no scrollbar at all** visible in the Windows app right hand pane (e.g. when looking at saved messages).

The bar is there, because, if you are very lucky, you can click on where it should be, and drag it.

![image](https://user-images.githubusercontent.com/684025/192748454-b1685b29-a93c-4e79-9451-6b983233bd22.png)

[2022-09-29 07:10] edlerd opened #2266 "Settings UX"
- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I have read [c

[2022-09-29 13:53] amyblais opened #2267 "Mattermost Desktop App v5.2"
You can find key dates for Desktop App v5.2 release below, with links to testing servers, release candidate and changelog added retrospectively. Dates are tentative and subject to change.

### October 3rd: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### October 28th: Release B

[2022-09-30 10:28] JtheBAB opened #2268 "Box "Server Displayname" is always "moving""
The Box where the Server Displayname is showing is always "moving" according to the length of it. When i switch the servers with different server name lengths it gives a restless feeling as the complete menu bar is moving. And i need to move the mouse also vertical to hit the menu.

![screen](https://user-images.githubusercontent.com/42135332/193250837-961740ab-bc7d-4d23-a2b1-cdaf95ff3539.gif)

Wi

[2022-10-01 23:36] pedzel10 commented on #1271
I had the same issue and adding "https" instead of "http" solved it for me

[2022-10-03 14:00] devinbinnie commented on #2268
@tboulis @JtheBAB This is definitely the intended behaviour, such that we always show as much of the server name as is reasonable, without taking up a bunch of horizontal space with the menu either. This is helpful for users who are using a smaller window or maybe have 2 windows docked next to each other.

[2022-10-04 08:31] simonlt opened #2269 "When using reload function, mattermost desktop crash and close on window"
- [X] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [ X This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I have read [c

[2022-10-04 13:54] devinbinnie commented on #2266
This exists because the two Settings menus are not part of the same application as it were. The Desktop App has its own Settings window for the Electron stuff, and then the Settings in the Web App are part of the React app that we run in a BrowserView.

We will be looking into merging these in the future if possible but under the architecture this is not currently possible.
Closing for now.

[2022-10-04 13:54] #2266 closed

[2022-10-04 14:54] devinbinnie commented on #2257
So given what the Electron docs say, I think this needs to be marked as a known issue. We already make sure to capture the `click` event for other OSes, but it seems that this is a limitation set by Electron/AppIndicator which means it isn't something we can fix.

There's a bug open with Electron already which is good, but it doesn't seem like they'll get to it any time soon given the length of ti

[2022-10-04 14:54] #2257 closed

[2022-10-04 14:55] devinbinnie commented on #2257
@amyblais Can we add this to our list of Known Issues? Not sure where to do that myself.

[2022-10-04 15:00] devinbinnie commented on #1827
@ekimd An Electron issue is open here: https://github.com/electron/electron/issues/28163

[2022-10-04 15:01] amyblais commented on #2257
👍 I'll add it to the changelog known issues via this PR that I already have open https://github.com/mattermost/docs/pull/5903.

[2022-10-04 18:39] esethna commented on #1513
I've re-triaged the ticket here: https://mattermost.atlassian.net/browse/MM-40610

Given it's Hacktoberfest, if anyone following this issue want to submit a PR for it we'd be happy to accept it and work with you on it! cc// @gggeek @nikkilocke @kelderek

[2022-10-04 21:11] jheidemann commented on #1827
Hmm, electron/electron#28163 discusses input focus, not autoraise.  That ticket seems to be on a completely different subject to me.

[2022-10-05 13:07] articice commented on #1921
@dllu have you tried upgrading nvidia-driver to 515?
I have similar GPU process crash issues on 510 with Quadro P4000 (Thinkpad P71), but not in Mattermost.

[2022-10-05 18:12] nearapogee opened #2271 "Linux has annoying extra notification "Mattermost Desktop App is ready.""
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-10-06 14:06] kelderek commented on #1513
@esethna I haven't done real coding since college 20+ years ago, so I am kind of out of touch with modern coding practices.  I know enough to clone the mattermost-webapp repo, implement the changes I outlined back in April, and create a PR.  What I don't know about is all the unit testing, e2e testing, etc. outlined here in the Mattermost PR guidelines:
https://developers.mattermost.com/contribute

[2022-10-06 17:43] esethna commented on #1513
@kelderek please feel free to submit the change in a PR and we can get someone to help or guide with the remaining stuff!

[2022-10-06 19:05] kelderek commented on #1513
Created PR#11292 https://github.com/mattermost/mattermost-webapp/pull/11292

[2022-10-06 19:22] esethna commented on #1513
Awesome @kelderek! Will follow-up on there, thanks!

[2022-10-06 21:48] kelderek commented on #1513
Also FWIW when looking for other places where the scrollbar is on the right hand edge I noticed that the other boxes that show on the right hand side like search and pinned posts are using the margin-right and margin-bottom properties to completely hide the scrollbars altogether.  This is not specific to the desktop app.

@esethna Do you know if that behavior is intentional?  It seems like a stran

[2022-10-07 12:06] njnatale-lm commented on #2271
That alert looks like a GNOME alert to let you know that an application has started but is not visible. Looks like some have created ways around this alert: https://extensions.gnome.org/extension/1007/window-is-ready-notification-remover/

[2022-10-07 16:36] amyblais commented on #2267
### Desktop App v5.2 RC-1 is cut

Download links: https://github.com/mattermost/desktop/releases/tag/v

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/5903/files)

NOTE: There is a known issue - MSI releases aren't working on 5.2.0-RC1 and we're working on investigating it.

[2022-10-07 17:24] hmhealey commented on #1513
I don't think this behaviour is intentional. We've always had issues with scrollbars being inconsistent throughout the app, so this is probably a case that was overlooked or changed accidentally at some point

[2022-10-10 08:52] agenceKanvas commented on #1994
We have a team of 20 having the same issue.
The problem is as they say, the offline status is set automatically randomly.
We have to reload the app and set the status as active to get it.
Can't really give you any screenshot except the status icon but it won't give you any information.
We are all on mac and the version is the self hosted (managed by our hosting provider)

[2022-10-11 07:04] philipdumont commented on #1371
Thanks for the ping.  You prompted me to go get the latest version (5.1.1)
to see if it was working any better.  Alas, no.

My understanding is that, if I click on the "MFA Log In" button when a CAC
is accessible, it should just do a CAC login, right?  It's not happening.
It just says "Invalid username or password".  (Which is true, since I left
them blank.)

It might be worth pointing out that wh

[2022-10-12 07:46] simonlt commented on #2269
Developer Tools seem doesn't able to have any information because is "disconnected"
![image](https://user-images.githubusercontent.com/30289009/195281739-69a013c9-f141-4bd5-9504-39f1fb1cb858.png)

When you said the Webapp, you said the website client.  No problem on this side.

[2022-10-13 16:36] amyblais commented on #2267
### Desktop App v5.2 RC-2 is cut

Download links: https://github.com/mattermost/desktop/releases/tag/v5.2.0-rc.2

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/5903/files)

[2022-10-13 18:24] kelderek commented on #1513
To follow up on my earlier post, the native scrollbars were being hidden because custom scrollbars were actually there, but invisible because of their color.  The PR includes moving those custom scrollbars in by 5px to make them usable in the desktop app, and also changing the color so they are usable.  They were set to be auto-hiding so you have to mouse over them to make them show up, which isn'

[2022-10-16 10:55] nearapogee commented on #2271
Much thanks!

[2022-10-16 10:55] #2271 closed

[2022-10-17 08:14] MaPaw opened #2288 "No desktop notification is sent for last open channel on macOS desktop"
Per Mattermost guidelines, GitHub issues are for bug reports: <https://handbook.mattermost.com/contributors/contributors/ways-to-contribute/>.

For troubleshooting see: https://forum.mattermost.com/.
For feature proposals see: https://www.mattermost.com/feature-ideas/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search

[2022-10-17 12:26] amyblais commented on #2288
@MaPaw What Mattermost server version are you on?

[2022-10-17 12:38] MaPaw commented on #2288
I am sorry but I cannot find the server version.  Could you please let me know where I can find it?

[2022-10-17 12:45] MaPaw commented on #2288
Thank you, but I think this is just the desktop version.  It says Version 5.1.1 (5.1.1.20701).

[2022-10-17 12:54] amyblais commented on #2288
1. I've attached a screenshot of where to find the server version (see attached image).
2. Please also help check if you see any console log errors - instructions are here https://docs.mattermost.com/install/desktop-app-install.html#report-desktop-app-issues.
3. Also, what MacOS version are you on?

<img width="252" alt="Screenshot at Oct 17 08-51-48" src="https://user-images.githubusercontent.com

[2022-10-17 13:04] MaPaw commented on #2288
1. Thank you, the server version is 7.2.0
2. The console log shows this:
[code]
3. The MacOS version is 12.6

[2022-10-17 13:43] devinbinnie commented on #2288
@MaPaw I'm unable to reproduce this on community with the latest nightly build. Can you give that build a shot? You can find it here: https://community.mattermost.com/core/channels/desktop-builds

If it still reproduces, it could be an issue with the Mattermost server not sending notifications. If that's the case, you can turn on Debug logging in the Settings window and test for notifications. You

[2022-10-18 08:22] MaPaw commented on #2288
Thank you, the nightly build notifies correctly.

[2022-10-18 11:19] prudloff-insite opened #2289 "Blurry tray icon on Linux/XFCE"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-10-18 13:09] #2288 closed

[2022-10-18 20:58] #2212 closed

[2022-10-20 13:12] mbl-ncp opened #2295 "invalid state after login"
**Summary**

**Environment**
- Operating System: Windows 10
- Mattermost Desktop App version: 5.0.2
- Mattermost Server version: 7.3.0

**Steps to reproduce**
- Open Mattermost Desktop app
- log in via GitLab LDAP Authentication
- Error Invalid State
![image002](https://user-images.githubusercontent.com/116275219/196955976-9f8291e3-e046-4346-9fa2-9d27c402ef32.png)

I have tried reinstalling Matter

[2022-10-20 13:24] devinbinnie commented on #2295
@mbl-ncp Can you try upgrading to Desktop App v5.1.1? https://github.com/mattermost/desktop/releases

[2022-10-20 13:48] amyblais commented on #2267
Release date has been pushed to Oct 31st to give us more time for testing and bug fixes.

[2022-10-20 16:55] shvetsnikita commented on #1476
It's seems like this issue should be reopened as no Linux-compatible ARM-builds has been published on releases page.

[2022-10-21 13:15] devinbinnie commented on #2295
Does this happen if you use the browser as well? If not, can you open View > Developer Tools for Current Server and post the errors that you see?

[2022-10-21 14:43] j-schultz commented on #2145
This is also still happening for me on the Windows desktop client, version 5.1.1.

![image](https://user-images.githubusercontent.com/46443117/197223166-de35f970-8d15-456a-a897-0a82b319ed2f.png)

[2022-10-24 12:53] mbl-ncp commented on #2295
the browser doesnt work either.

![image](https://user-images.githubusercontent.com/116275219/197529806-fc08709e-545c-4d81-a69c-e86f58f09782.png)

[2022-10-24 13:17] devinbinnie commented on #2295
@mbl-ncp Okay if it's having issues in the browser then this is more than likely an issue with your server. I'm going to forward this issue over the server repo to see if they can help.

[2022-10-24 15:19] devinbinnie commented on #2289
I can reproduce this as well. Unfortunately we don't really support Linux Mint or XFCE, and this is a small cosmetic bug, it won't be worked on for a while.

I'm going to open this as Help Wanted in case anyone is interested in fixing this.

[2022-10-25 10:46] ermanimer opened #2317 "Can't update full name on desktop app"
I receive an "Invalid or missing password in request body." error when I try to update my full name in Profile settings.

OS: Windows 11 Home 22H2
Mattermost Desktop: 5.1.1

[2022-10-25 12:02] #2199 closed, assigned to nobody

[2022-10-25 13:21] devinbinnie commented on #2317
This isn't a Desktop App issue, definitely server/webapp. Moving back to server repo.

[2022-10-25 16:55] amyblais commented on #2267
### Desktop App v5.2 RC-3 is cut

Download links: https://github.com/mattermost/desktop/releases/tag/v5.2.0-rc.3

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/5903/files)

[2022-10-25 20:35] francislavoie opened #2320 "Full-screen in calls causes issues"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-10-25 21:29] cpoile commented on #2320
Thanks @francislavoie for the report!

cc @streamer45 (it's linux)

[2022-10-26 07:56] streamer45 commented on #2320
Thanks @francislavoie , I was able to reproduce this weird behaviour. I tried to go back a couple of versions and it seems the top bar has always been there but likely not many people noticed or triggered the fullscreen. However what changed from version 5.0.x to 5.1.x though is the view offset.

#### Screenshots

Before going fullscreen:

![image](https://user-images.githubusercontent.com/1832946

[2022-10-26 13:52] devinbinnie commented on #2320
Sorry just to clarify, is the issue that clicking full-screen doesn't actually use the full screen?

Might be worth trying v5.2 to see if it's fixed in an Electron update: https://github.com/mattermost/desktop/releases/tag/v5.2.0-rc.3

Also which window manager are you using? That could have an effect here as well.

[2022-10-26 16:39] streamer45 commented on #2320
I think there are two main issues here:

1. I'd expect the product/server switcher bar to hide when going full screen in the video element. Maybe that's something we need to configure somewhere?
2. When you exit full screen there's a weird offest to the view (this doesn't happen in 5.0.4 but it does in later versions).

I tried but it behaves the same. I'll try to reproduce on a less niche system

[2022-10-26 17:44] francislavoie commented on #2320
Yes, it's those two issues. Server bar appears while full-screen, and menu bar (file/edit/view) appears when exiting full-screen.

And to clarify, yes full-screen does work, it's just those couple details with the bars.

I'm using standard Gnome. It happened on both Ubuntu 20.10 and PopOS 22.04, both Gnome, but different versions of Gnome.

[2022-10-27 22:31] amyblais commented on #2267
### Desktop App v5.2 RC-4 is cut

Download links: https://github.com/mattermost/desktop/releases/tag/v5.2.0-rc.4

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/5903/files)

[2022-10-30 17:43] Daylien commented on #2289
Hey @prudloff-insite,

I had the same issue (note that I'm running KDE not XFCE4, but the blurry icon in your screenshots looked the same), the blurry icon can be fixed (at least for me) if you install `libappindicator-gtk2` and/or `libappindicator-gtk3`. I'm running an Arch based distro I think in Mint the package is called `libappindicator1` and/or `libappindicator3-1`.

I hope this helps

[2022-10-31 09:21] prudloff-insite commented on #2289
I checked and libappindicator1 and libappindicator3-1 are already installed.

[2022-10-31 12:15] Daylien commented on #2289
That's unfortunate, I will try it with an XFCE4 installation in Mint within the next week.

[2022-10-31 14:21] Saxomania opened #2333 "Please update release notes at same time as you push out a new version"
its annoying to check for release notes and they are not uptodate

 https://docs.mattermost.com/install/desktop-app-changelog.html

should include 5.2 but are not

[2022-10-31 14:22] devinbinnie commented on #2333
We published them immediately after the release was published.

[2022-10-31 14:22] #2333 closed

[2022-10-31 17:06] selfisekai opened #2334 "macos-notification-state module imported but unavailable on non-macOS"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-10-31 17:45] cyberm8 opened #2335 "Onboarding screen blocked at the step of adding a new server despite the DefaultServerList GPO"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-10-31 21:57] amyblais commented on #2267
This has been released,

[2022-10-31 21:57] #2267 closed

[2022-10-31 21:59] omginput opened #2336 "After Client Update it tries to connect on port 443 although my instance is running on 4443"
I confirm (by marking "x" in the [ ] below: [x]):

- [ x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.

[2022-10-31 22:02] omginput commented on #2336
After removing my instance from the client and connecting again via port 4443 it still tries to connect to port 443 omg Guys if you have Mattermost running on a different port than 443 or 80 dont update your desktop client!

[2022-11-01 00:28] tatsuyasenbom opened #2337 "[v5.2.0] The phenomenon that the server URL scheme is forced to be overwritten to http and port to 8065"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-11-01 03:27] jaehyun-ko commented on #2337
I have same error, and it overwritten as https://example.mattermost.com.

[2022-11-01 09:31] omginput commented on #2336
Issue was on my side.

[2022-11-01 09:31] #2336 closed

[2022-11-01 13:15] devinbinnie commented on #2337
@tatsuyasenbom @jaehyun-ko We added a feature that forces the configured URL to be changed to the SiteURL configured by your system adminstrator. This is expected behaviour.

[2022-11-01 13:31] devinbinnie commented on #2334
@selfisekai We don't generally support Alpine Linux just in general, so there could be an issue building. Did you make sure to install all the required dependencies as per this document: https://developers.mattermost.com/contribute/more-info/desktop/developer-setup/

It looks to me like the version that was built is missing those packages, and those files are required for the app to run, despite n

[2022-11-01 15:45] piercetyler opened #2340 "Mattermost Desktop 5.2.0 hangs, won't load"
Running 5.2.0 Windows Desktop app. When trying to launch the app this morning, the app doesn't properly load. Everything was working fine yesterday. Here's what I get in the log. Looks like the `reload-config` is failing for some reason? Any help or suggestions appreciated. I tried removing the local storage, but that doesn't seem to have helped.

[2022-11-01 08:37:18.291] [info]  Checking for upd

[2022-11-01 15:48] devinbinnie commented on #2340
@piercetyler Looks like the main window simply isn't opening. Did you try removing everything in your AppData folder for Mattermost? It should be in `C:\Users\<username>\AppData\Roaming\Mattermost`

[2022-11-01 15:55] selfisekai commented on #2334
ok, I found the root cause. `macos-notification-state` does not define an `install` script, or even depend on `node-gyp`. I actually have no clue how does this package work anywhere. anyway, this means `npm rebuild macos-notification-state` does nothing. so, my current solution is this:
[code]

I'm gonna make a PR to the module

[2022-11-01 15:55] #2334 closed

[2022-11-01 16:00] devinbinnie commented on #2334
Huh, that's weird because we've added our own patch to that module to make sure it builds correctly:
`"postinstall": "node scripts/patch_macos_notification_state.js && electron-builder install-app-deps"`

Is your build for some reason not running `npm run postinstall`?

[2022-11-01 16:05] devinbinnie commented on #2340
@piercetyler What windows version are you using?

[2022-11-01 16:09] Compvir opened #2341 "Application crashing on receiving messages"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-11-01 16:10] piercetyler commented on #2340
@devinbinnie Here's what I'm running:

Edition	Windows 11 Home
Version	22H2
Installed on	‎10/‎12/‎2022
OS build	22621.674
Experience	Windows Feature Experience Pack 1000.22634.1000.0

[2022-11-01 16:13] devinbinnie commented on #2341
@Compvir We no longer support Windows 7. The module in question is a native Node module meaning it was compiled directly for Windows. It's possible that by installing the latest .NET Framework that the issue might be resolved, but otherwise I think you'll need to update to Windows 10 or higher. Sorry for the inconvenience.

[2022-11-01 16:23] selfisekai commented on #2334
yes, I routinely add `--ignore-scripts` to npm/yarn commands for electron app build scripts and then run `npm rebuild` for the needed dependencies, as the scripts often download binaries built for GNU libc which won't work on Alpine (`electron`, `playwright`, ...), and I use electron_tasje as a replacement for electron-builder to avoid, among others, the binary downloads, building dependencies wit

[2022-11-01 16:27] piercetyler commented on #2340
@devinbinnie I see that I have a Windows update I can install. Let me try that and see if that fixes it. This is what I'm downloading/installing:

2022-10 Cumulative Update for Windows 11 Version 22H2 for x64-based Systems (KB5018496)

[2022-11-01 16:48] piercetyler commented on #2340
@devinbinnie OK, I installed the latest available Windows update (KB5018496), but unfortunately that didn't fix it. Here's what I'm seeing in the log. Any suggestions much appreciated....

[2022-11-01 09:45:48.648] [debug] DownloadsManager.init { 'this.json': {}, validatedJSON: {} }
[2022-11-01 09:45:48.658] [debug] DownloadsManager.saveAll
[2022-11-01 09:45:48.663] [debug] DownloadsManager.checkF

[2022-11-01 16:59] devinbinnie commented on #2334
Ahh that makes sense. I was planning on sending an update to the module at some point, but since we wanted to release sooner rather than later we opted to fix it ourselves.

[2022-11-01 17:06] selfisekai commented on #2334
PR sent: https://github.com/felixrieseberg/macos-notification-state/pull/34

[2022-11-01 17:38] nikkilocke opened #2344 "Windows app no longer allows its window to be resized."

[2022-11-01 17:41] selfisekai opened #2342 "move dependencies bundled by webpack to devDependencies"
every js dependency (excluding the 2 listed here, which include native code and should not be a subject to this: https://github.com/mattermost/desktop/blob/master/webpack.config.main.js#L28-L29) is bundled by webpack into the files in dist/ directory.

moving them to devDependencies breaks nothing and reduces package builds from ~80 MiB to ~20 MiB (excluding electron builds in both).

I was about

[2022-11-01 17:52] piercetyler commented on #2340
@devinbinnie Yes, I have access to that information. Here's the console output I'm getting. This makes me wonder if there's an issue with the Zoom plugin possibly?

Preload initialized
index.js:119 Loading plugin zoom, version 1.5.0
index.js:119 Loading plugin com.mattermost.plugin-channel-export, version 1.0.0
index.js:105 Loaded plugin com.mattermost.plugin-channel-export, version 1.0.0
index.js

[2022-11-01 18:21] devinbinnie commented on #2344
@nikkilocke Which OS are you running on?

[2022-11-01 18:57] piercetyler commented on #2340
@tboulis Thank you for the suggestion. I followed the steps, including a restart of my laptop. But unfortunately, I'm seeing the same behavior. Not sure if this is significant, but the launching fails after I successfully enter the team URL but *before* I can enter my user login credentials. I can't get the cursor into the user name field, then the window goes white and the spinning wheel starts.

[2022-11-01 19:31] selfisekai commented on #2342
the webpack output is the same, but the dependencies (excluding devDependencies) from node_modules/ are packaged by electron-builder into app.asar

[2022-11-01 20:24] piercetyler commented on #2340
@tboulis One of my co-workers suggested View > Clear Cache. I tried that and it worked. Thanks everyone for your help!

[2022-11-01 20:26] #2340 closed

[2022-11-02 04:45] jaehyun-ko commented on #2337
@devinbinnie How can I config it?

[2022-11-02 04:58] tatsuyasenbom commented on #2337
Thank you!

The following steps have improved the situation.

[code]

[2022-11-02 07:07] markatk commented on #2335
Same issue on our installation. We get quite a lot of complains from our users, I hope this is fixed quite fast.

[2022-11-02 07:55] ouafnico commented on #1985
Agree, the switch button for multiple servers is a real pain.
I don't see the interest to add more clics for users, the previous method with tabs was perfect.

[2022-11-02 08:18] j-schultz commented on #2145
Appears to be fixed in 5.2.0 desktop client for me.

[2022-11-02 08:23] j-schultz opened #2345 "5.2.0: Notification is black on dark background again even with dark icons enabled"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] I have read [contributing guidelines](https://github.com/mattermost/desktop/blob/master/CONTRIBUTING.md).

---

**Summary**

In #1812, the solut

[2022-11-02 09:24] bmerry commented on #1827
Can confirm that this is still an issue on 5.2.0.

[2022-11-02 12:19] amyblais commented on #2345
Related ticket: https://mattermost.atlassian.net/browse/MM-48080.

[2022-11-02 16:51] ceamac opened #2347 "5.2.0 file: cannot download for linux ia32"
Hi,

Not sure if this is a bug or troubleshooting, I'll ask here.

Cannot download https://releases.mattermost.com/desktop/5.2.0/mattermost-desktop-5.2.0-linux-ia32.tar.gz, it says Acces Denied.

Thank you!

[2022-11-02 16:57] anx-ag commented on #2347
Hi ceamac,

Linux IA32 support has been dropped with this release as mentioned in the release notes:
https://docs.mattermost.com/install/desktop-app-changelog.html#linux

[2022-11-02 16:57] ceamac commented on #2347
Thank you!

[2022-11-02 16:57] #2347 closed

[2022-11-02 18:00] nikkilocke commented on #2344
Windows 10. Two screens. gif of what you did, but not working, below.
Anything I can do to help debug it (I have lots of development tools)?

![explorer_RpS5o3tmmq](https://user-images.githubusercontent.com/684025/199566379-c44fb327-9de6-4cd5-9f0a-c0cd47dfa467.gif)

[2022-11-03 08:07] krzaq90 opened #2348 "5.2.0 App require add server url and name after update (msi/gpo) - Windows"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-11-03 09:01] Compvir commented on #2341
I see, thank you for quick reply. Should I close the issue?

[2022-11-03 10:59] oGkgN commented on #2145
Same for me! After upgrading to 5.2.0 desktop client on ubuntu, embedded emoji are sharp again (singletons too).

[2022-11-03 12:54] #2145 closed

[2022-11-03 13:38] devinbinnie commented on #2348
Closed as a dupe of #2335.

[2022-11-03 13:38] #2348 closed

[2022-11-03 13:54] acataluddi opened #2351 "Extra gray bar with "<- Back" entry appears on Windows Desktop 5.2.0"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-11-03 14:35] devinbinnie commented on #2351
@acataluddi Do you have your SiteURL configured correctly on your server? With v5.2 we've made sure that the SiteURL matches the URL configured by the server.

Is there a proxy or a redirect happening here somewhere?

[2022-11-03 15:43] acataluddi commented on #2351
Hi @devinbinnie,

Thank you very much for your help. The `SiteURL` configuration helped me solving the problem. Basically, while the client was using an URL like `https://chat.example.com`, on the server was only configured the `http://` counterpart. By synchronising the settings and putting everything on HTTPS, the gray bar disappeared.

Thank you for your help.
Adriano C.

[2022-11-03 15:43] #2351 closed

[2022-11-04 04:36] tritium21 opened #2352 "Mattermost desktop no longer asks where files are to be downloaded *at time of download*"
What it says on the tin.  This is a major show stopper bug.

[2022-11-04 13:14] tritium21 commented on #2352
yes, this is the bug i am reporting.  it does this behavior rather than open a file dialog, as is the obvious, and desirable behavior.

[2022-11-04 13:59] devinbinnie commented on #2352
@tritium21 You can work around this by removing the default downloads folder in your configuration settings. This has always been the behaviour that the app has used at least since v5.1 as well. It's possible that now that you have a default directory set that you're seeing a different behaviour.

We can look into a way to reset it more easily, but for now if you want to see the dialog persist, yo

[2022-11-04 14:20] tritium21 commented on #2352
incorrect.  In v5.1 a default location simply picked the location a file dialog opened in, it did not skip the dialog.

[2022-11-04 16:24] jordanafung commented on #2352
Hi @tritium21
Thank you for your feedback. We understand that you don't agree with many other folks about the usefulness of a feature that was asked for and implemented. You were given an alternate option to disable this feature and get the dialog back.
I've just tested the workaround that @devinbinnie offered and can confirm it works.

We appreciate that we won't always agree on things, but as a

[2022-11-04 17:43] JosephMarinier commented on #1324
I have experienced this issue for a couple of days. The notifications were popping, but not producing any sound. Even after rebooting. I changed the Notification Sound in Mattermost settings, and it started to work again. I changed the sound back to the original Bing, and it kept working. 🤷‍♂️

[2022-11-07 08:03] slate17 commented on #2335
Same Issue here. Hope this gets fixed fast, very annoying for the users.

[2022-11-07 13:09] simonlt commented on #2269
Hi, my collegue tell me that the new version 5.2.0 of Mattermost is better and is working now.  I just upgrade it today.  I will see this week if is ok for me too.

I will keep you in touch.

[2022-11-07 14:53] devinbinnie commented on #2335
Fixed by https://github.com/mattermost/desktop/pull/2346

[2022-11-07 15:09] kleag opened #2364 "Desktop client notification icon in task bar is hard to decipher"
#### Summary
I always think there is new unread messages when looking at the mattermost icon in the taskbar even when there is no message.

#### Steps to reproduce
Open the Mattermost desktop client under Linux (up to date KDE Neon in my case)

#### Expected behavior
The  taskbar icon should easily differenciate between the states when there is new unseen messages or not.

#### Observed behavior (

[2022-11-08 14:26] devinbinnie commented on #2337
Closing as per above.

[2022-11-08 14:26] #2337 closed

[2022-11-08 14:35] devinbinnie commented on #2345
@j-schultz Are you restarting the app after changing the setting? That should be in the description, we may need to update that.

[2022-11-08 14:38] j-schultz commented on #2345
I did restart the app and I didn't observe a change at first. Apparently that was because the meaning of the "dark" and "light" options was inverted from 5.1 to 5.2: In 5.1, I had to choose "dark" to have a light icon on dark background. When I use that option in 5.2, I get a dark icon on dark background. Only after switching to "light", I get a light icon on dark background.

I don't really mind

[2022-11-08 14:43] devinbinnie commented on #2345
@j-schultz It's funny cause we have people with the opposite opinion who wanted the setting to be more explicit (ie the current setting where if you change it to "Light" you get a white icon and "Dark" means black icon.

I think what might make sense here is to change it to a prompt that says "Icon colour" and have it say "White" or "Black" so that it's very explicit.

[2022-11-08 22:25] SergeyDjam opened #2366 ""xmldom": "^0.3.0" CVE-2021-21366 resolved in 0.5.0"
package-lock.json

I confirm (by marking "x" in the [ ] below: [x]):

- [ ] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [ ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository

[2022-11-08 22:30] SergeyDjam opened #2367 "yarn install errors"
Mattermost v5.2.0 tar.gz github

yarn install
[code]

yarn --version
1.22.19

node 16.17.0
ROSA Linux Fresh r11.1

I confirm (by marking "x" in the [ ] below: [x]):

- [ ] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [ ] This doesn't reproduce on web

[2022-11-09 15:56] DVTrast opened #2368 "Deactivate "Automatically check for updates" during installation"
Is it possible, to deactivate "Automatically check for updates" during the installation of the Mattermost-Desktop-Client? Now we have to deactivate it after the installation by editing the json.

[2022-11-09 16:06] amyblais commented on #2368
Based on https://docs.mattermost.com/welcome/customize-desktop-app-experience.html, you can disable automatic updates through group policy (GPO) settings.

[2022-11-10 01:13] tritium21 commented on #2352
The solution you gave is "roll back to the previous version" or "Manually edit a file in a hidden folder"

Why am i still paying for this?

[2022-11-10 01:13] #2352 closed

[2022-11-10 12:51] AleksandrMikoshi opened #2370 "The need to specify the MM server in the application on windows"
Good afternoon.
Faced this problem:
After updating the application to version 5.2 on personal PCs running Windows, after completely closing the application or restarting the PC, a request is again opened to specify the server and login data.
![image](https://user-images.githubusercontent.com/79300692/201096078-b26099f8-c79c-407f-b123-fa297b2bc1a1.png)

[2022-11-10 14:43] D33M0N opened #2371 "5.2.0 desktop app ignores server port."
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-11-10 14:55] simonlt commented on #2269
I confirm is now better.  You can close this issue.

Tanks for this improvement.  Have a nice day.

[2022-11-10 16:33] licaon-kter opened #2373 "5.2.0 - Windows 8 - no notification popup"
Works fine on 5.1.1

[2022-11-10 16:38] matthiasschroder opened #2374 "python3 in mattermost app"
I noticed that Mattermost 5.20 universal app contains

Mattermost.app/Contents/Resources/app.asar.unpacked/node_modules/macos-notification-state/build/node_gyp_bins/python3
Mattermost.app/Contents/Resources/app.asar.unpacked/node_modules/windows-focus-assist/build/node_gyp_bins/python3

Both are "Mach-O 64-bit executable x86_64" only.

Is it correct to assume these are build-artifacts that should

[2022-11-10 16:50] amyblais commented on #2373
Are you on Windows 8.1?

[2022-11-10 17:06] licaon-kter commented on #2373
Ah indeed, there a difference. Yes, latest 8.1.

[2022-11-10 18:25] D33M0N commented on #2371
Sadly yes. This fixed it. However this "We added a feature that forces the... system to behave rather unexpectedly and break things" isn't a very good development model and made me double-🤦🏻‍♂️ irl. Who came up with this "feature"?? Why?? It's so unnatural and illogical.

[2022-11-10 18:29] jgilliam17 commented on #2373
@amyblais I checked our QA device list and don't see anyone listed in possession of Win8. I can try to create a VM and see if notifications can be tested that way.

[2022-11-10 19:22] jgilliam17 commented on #2373
I created a vm with Win8 and I am not getting any notifications. Tested using Desktop v5.2.1. I'll chat with Tasos about this and post an update.

[2022-11-10 21:10] esethna commented on #1513
Thanks to @kelderek for the great work on fixing this in his PR! https://github.com/mattermost/mattermost-webapp/pull/11292

It will be shipping in Mattermost server v7.6 in December

[2022-11-10 21:10] #1513 closed

[2022-11-11 11:43] matthiasschroder commented on #2374
Hi @tboulis , thanks a lot for the feedback. If these executables are needed it would be good to provide them as 'universal' instead of x86_64 only, otherwise the universal app is not really universal.

[2022-11-11 19:34] srustagi opened #2377 "URLs from notification pop-ups are broken on Linux"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-11-14 07:29] bitdessert opened #2378 "Does anyone have an error when building like me?"
I confirm (by marking "x" in the [ ] below: [x]):

- [ ] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [ ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-11-14 10:38] marcoesposito1988 opened #2379 "Custom certificate is not applied to the WebSocket Connection"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-11-14 11:11] kkeijzer commented on #1476
I agree that For PinePhone (Pro) / Pinebook (Pro) users, having an aarch64 Linux build available would definitely be very useful. Currently only amd64 and i386 builds are listed, even though aarch64 is much more commonly used than i386 is, as nearly every distribution has dropped i386 support in the last years.

[2022-11-14 14:49] devinbinnie commented on #2367
We don't currently support `yarn`, if you use node v16+ and npm v8+ and use `npm install` that should work correctly.

[2022-11-14 14:49] #2368 closed

[2022-11-14 14:52] devinbinnie commented on #2371
@D33M0N Much of the Desktop App relies on the configured server URL matching the Site URL configured on the Mattermost server. If they do not match a lot of other unexpected behaviour can happen. Since a lot of people had it misconfigured on their Desktop App we opted to add the feature to ensure the URL matched.

[2022-11-14 14:55] devinbinnie commented on #2377
Duplicate of https://github.com/mattermost/desktop/issues/1067

[2022-11-14 14:55] #2377 closed

[2022-11-14 14:58] devinbinnie commented on #2378
@bitdessert Which version of Node are you using? We recommend using the latest LTS version (v18.12.0 at time of writing)

[2022-11-14 15:15] devinbinnie commented on #2374
@matthiasschroder Thanks for the question. I think we might have to remove these altogether anyways since they bloat the build, and I don't think we want to package them with the Mac App Store build either.

[2022-11-14 19:10] #2374 closed

[2022-11-14 20:00] devinbinnie commented on #2379
Thanks for the report, created a ticket here: https://mattermost.atlassian.net/browse/MM-48407

[2022-11-15 00:02] bitdessert commented on #2378
@devinbinnie The node version is version 16 as shown in the contents.
The same issue occurred in version 18, so I downgraded.
I wondered if it was a Python problem, so I also upgraded Python.
The npm version also started testing at version 9, and downgraded.

[2022-11-15 22:58] MFHava opened #2388 "Title bar menus disappear after server switching"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-11-16 09:50] #2373 closed, assigned to nobody

[2022-11-16 14:31] devinbinnie commented on #2388
@MFHava None of our team is able to reproduce this. Is this consistently reproducing for you?

If so, before the white bar shows up can you go to View > Developer Tools for Application Wrapper, then reproduce the issue and post the log for us? Thanks!

[2022-11-16 14:34] MFHava commented on #2388
It's consistent - and happens on two independent systems for me.
Console log right after switching:

`
Starting Mattermost v5.2.1
index_bundle.js:5515 SyntaxError: Invalid regular expression: /ISO C++___TAB_[A-Z]+/: Nothing to repeat (at index_bundle.js:8910:46)
    at String.match (<anonymous>)
    at index_bundle.js:8910:46
    at Array.reduce (<anonymous>)
    at MainPage.render (index_bundle.j

[2022-11-16 14:41] MFHava commented on #2388
I'm not sure what in the server name "ISO C++" specifically triggers the problem, but changing it to something without space and plus fixes the issue apparently...

[2022-11-16 19:56] rainerZugang opened #2394 "Port 8065 does not work with new Mattermost desktop App for windows"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-11-16 20:01] devinbinnie commented on #2394
@rainerZugang Do you have the port number included in the Site URL of your mattermost server? The new Desktop App makes sure that we use the exact Site URL provided by the web app to avoid any issues with other features.

[2022-11-17 06:12] kairauer commented on #2335
I've updated to 5.2.1. Doesn't seem to be fixed yet.

[2022-11-17 06:55] bitdessert commented on #2378
This problem seems to be a compatibility issue with xcode.
It seems that xcode should use 12.5.1 or lower version, and macOS seems to use monterey or lower version.
Even if xcode is version 12.5.1 or lower, other problems occur when building in ventura version.
Also, even if it is a monterey version, it cannot be built with the same issue as the above from xcode 13 version.

[2022-11-17 09:31] theriverman opened #2396 "Server address gets violently overridden to https from plain http"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-11-17 11:06] markatk commented on #2335
For our installation it seems to be fixed with version 5.2.1.

[2022-11-17 16:37] JtheBAB commented on #2396
I guess it is this:

Fixed an issue where servers were not forced to update their configuration using the configured SiteURL value if available.

changelog 5.2.0

@amyblais @cwarnermm you may update the changelog to clarify this behavior change as it is not the first github issue.

[2022-11-18 11:34] mlange-42 opened #2400 "App crashes at startup with "JavaScript error occured in the main process""
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-11-18 11:36] anx-ag commented on #2400
Hi Martin, can you try the suggestion in this forum topic?

https://forum.mattermost.com/t/windows-desktop-app-crashing-on-startup/14466/2

[2022-11-18 15:47] amyblais commented on #2396
Opened a PR: https://github.com/mattermost/docs/pull/6061

[2022-11-18 19:05] artempronevskiy opened #2402 "Show a user local time near the nickname in the chat and/or in a user short description"
This would be very useful for teams working in different time zones so teammates will see what local time is for all other teammates.

Examples:

- near the nickname in the chat: https://pasteboard.co/CzDeCVgFApN1.png
- in short description: https://pasteboard.co/ugEbnXLCz6ww.png
- how it can be set up in client settings: https://pasteboard.co/SnYXdEnAjobv.png

[2022-11-19 15:36] rainerZugang commented on #2394
yes, sure I check that.
The problem is, when I enter the right port it works, but after restarting Mattermost desktop App the port information is lost

[2022-11-19 16:22] dn0sar opened #2403 "Unable to connect to oauth/gitlab/login"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-11-20 12:16] rainerZugang commented on #2394
The issue is new and exists since desktop version 5.2.0

[2022-11-20 21:46] miro444 opened #2405 "Windows desktop app opens Okta screen, but never redirects to login"
#### Summary
Unable to login to MM windows desktop app via Okta

#### Steps to reproduce
Get Okta integrated with the onprem MM. VErsion 5.2.0 and 5.2.1

#### Expected behavior
MM app is asking you to login, so i put in https for oour onprem server and click to continue. AFter that, I get normal "Login to Okta" screen. When clicking the button, nothing happens.

#### Observed behavior (that appear

[2022-11-21 05:55] Cl4whammer commented on #2335
Nope, not fixed, at least not at my system. I was still on the working 5.1.1 and updated today to 5.2.1 and iam now getting this screen every time i restart the app.

[2022-11-21 13:24] bokkabonga commented on #2335
Same here. Not fixed with 5.2.1

[2022-11-21 13:26] slate17 commented on #2335
Same here. Just rolled out the update to 5.2.1 and got the Onboarding Screen again.

[2022-11-21 14:35] devinbinnie commented on #2394
@rainerZugang I can't reproduce this myself. Can you double check to confirm that the Site URL you have configured on your server matches exactly the URL that shows up in the Desktop App?

If so, then can you turn on Debug logging (in the Settings Window) and post a log file when the app starts up? Thanks!

[2022-11-21 19:23] kincajou commented on #2344
It won't allow to resize the mattermost window if "snap windows" feature in Windows settings is turned off. I have it in "System" -> "Multitasking" on win11.

[2022-11-21 21:54] kkeijzer commented on #1476
I'm trying to run the arm64 build artifact on a Pinebook Pro, and it doesn't seem to work:

[code]

[2022-11-21 23:14] miro444 commented on #2405
WHat kind of log are you looking for? There is like 10 tabs

[2022-11-21 23:19] miro444 commented on #2405
NEtwork does not log anything btw. THe button "login to okta" simply does not do anything.

[2022-11-22 14:07] srzkptrsk opened #2411 "5.2.1 on MacOS 13.0.1 (M1 chip)"
Desktop app not visible after launch.

**Environment**
- Operating System:
- Mattermost Desktop App version: 5.2.1
- Mattermost Server version: 7.5.1

[2022-11-22 14:23] nab-77 commented on #2411
@srzkptrsk Can you share more about not visible?

[2022-11-22 14:35] #2335 closed

[2022-11-22 14:38] devinbinnie commented on #2411
@srzkptrsk Can you grab the logs from this location: https://docs.mattermost.com/install/troubleshooting.html#mattermost-desktop-app-logs and post them here? Thanks!

[2022-11-22 14:49] srzkptrsk commented on #2411
cat main.log
[2022-11-22 15:46:32.036] [debug] DownloadsManager.init {
  'this.json': {
    'vnds.png': {
      addedAt: 1668769859703,
      filename: 'vnds.png',
      mimeType: 'image/png',
      location: '/var/folders/cp/wg5w638s63s9v68kg080xcx80000gn/T/Mattermost.Desktop/vnds.png',
      progress: 100,
      receivedBytes: 94265,
      state: 'interrupted',
      totalBytes: 94265,
      typ

[2022-11-22 14:59] devinbinnie commented on #2411
Can you try one of the nightly builds from here: https://community.mattermost.com/core/channels/desktop-builds

It's possible your issue might already be fixed.

[2022-11-22 15:03] srzkptrsk commented on #2411
Yes, it's working correct!

[2022-11-22 15:04] srzkptrsk commented on #2411
Yes, it's working correct!

[2022-11-22 15:36] devinbinnie commented on #2411
Great! This should be fixed in v5.2.2 so I'm going to close this issue.

[2022-11-22 15:36] #2411 closed

[2022-11-22 20:44] tjdownes commented on #2344
I experience the same issue on Windows 11. The problem here is that the window won't resize at all if "snap to windows" is off, and when it's on it resizes only to snap positions. It also is pretty wonky in the way it behaves in this mode.

[2022-11-22 22:45] dn0sar commented on #2403
This is the log I get:
[mattermost.log](https://github.com/mattermost/desktop/files/10071622/mattermost.log)

Note that nothing gets added to the log when I try to click on the link. If I modify the HTML to have `target="_blank"` the link gets opened on my browser but then I get logged in the browser and not in the app.

[2022-11-23 09:14] catz opened #2415 "Empty white bar when switching between plugins"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-11-23 12:34] jmairboeck opened #2416 "Cannot add new server if a GPO server is configured"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-11-23 13:23] catz commented on #2415
Hello @tboulis

No, nothing similar on the web, only desktop app. The strange moment here is I couldn't find the reason neither via application wrapper dev tools nor current server tools.

[2022-11-23 13:49] dn0sar commented on #2403
Alright, I fixed the issue, but not really sure how.

The log you requested is actually under this folder in my system:
`/Users/<username>/Library/Containers/Mattermost.Desktop/Data/Library/Logs/Mattermost`

From this log I saw these messages when I click on the gitlab link:
[code]

I then found issue #2069 based on that log. The Site URL is configured as "http://<server_uri>", a proxy takes care

[2022-11-23 13:56] #2416 closed

[2022-11-23 14:12] catz commented on #2415
As I wrote above I couldn't figure it out. Seems that it's something that is not shown in the debugger.
Can I provide any additional info?

![img1 app wrapper](https://user-images.githubusercontent.com/472690/203567814-f17d66eb-8ebd-48c0-b908-85d09b16271e.jpg)

![img2 app wrapper](https://user-images.githubusercontent.com/472690/203567835-7c1a405c-4f9c-4ae1-bd75-209323689336.jpg)

![img3 current s

[2022-11-23 14:32] tjdownes commented on #2344
Thanks for taking the time to narrow down the issue, @tboulis. I appreciate it!

[2022-11-23 15:31] catz commented on #2415
The same issue happens with the following transition:

Plugin on server1 (displayed plugin correctly) -> Other server ->  Get back to server1 - (displayed plugin with the white bar)

[2022-11-24 02:51] NekoApocalypse opened #2417 "Cannot set Server URL / Server URL stuck on localhost."
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-11-24 05:50] JtheBAB commented on #2417
Check your SiteURL within the Mattermost server config. There it seams to be http://localhost

[2022-11-24 07:23] bungee- commented on #2344
I have the same issue on Windows 10. I can resize the window when I hit Ctrl+Shift+R and in the time client is refreshing it is possible to resize it until it reloads.

[2022-11-24 10:07] Lukas-UAUX commented on #2403
We also experience this 'bug' - a redirect *is* the expected behavior because it is a login with an external login provider (gitlab) which of course has another URL than the mattermost server.

Looking at the linked code there is a value that is checked aigainst 'isCustomLoginURL'. Is this a new config value for Mattermost that needs to be configured now?

[2022-11-24 11:57] Lukas-UAUX commented on #2403
Not directly but we updated Gitlab & Mattermost server (Omnibus I think?)

I talked to our server admins about this redirect blocking and 'isCustomLoginURL' - they will try out sth. if it can fix the issue today. For now we use the browser version if the client has no cached login...

[2022-11-24 12:48] dn0sar commented on #2403
I tried again today to login and logout.
I can't click the button anymore.

The  server configuration did not change since yesterday.

I think I was only able to login because something was cached on the desktop app while I made the configuration change on the server side.

[2022-11-24 13:19] dn0sar commented on #2403
Also, not sure if it helps, but I see this difference on the logs:

With Desktop app version 5.2.1 (where the I get the `Prevented desktop from navigating to ...`):
[code]
With Desktop app version 5.1.1 (where the login works):
[code]

[2022-11-24 14:44] Lukas-UAUX commented on #2403
Our server Team fixed it, as far as I understand they had to up the internal communication between mattermost and gitlab (same server) to https and use different ports for MM and gitlab now.

[2022-11-24 17:20] dn0sar commented on #2403
I set up a dev environment for the desktop app and figured out what is going on.

It seems that PR #2152 forces the SiteURL to be the one specified by the server instance. In my case, the server is behind a proxy, so it is configured as `http://`. However, the users are always redirected to the `https://` URL.

This is a problem because since version 5.2.1 users setting for SiteURL are discarded i

[2022-11-24 20:23] miro444 commented on #2405
There was nothing on Console tab either. I will see if we can do server restart at some point and will update the desktop app again to the latest.

[2022-11-24 20:54] nteodosio commented on #765
This is an issue for me on 5.2.1 (snap).

[2022-11-25 01:36] NekoApocalypse commented on #2417
Problem solved. Many thanks!

[2022-11-25 01:36] #2417 closed

[2022-11-25 01:39] NekoApocalypse commented on #2417
Though I do wish there is a clearer explanation on what's happeneing on the client.

Our server maintenance guy had no idea that such a config existed.

Something like "Your server redirected you from `https://mattermost.company.com` to `http://localhost`. If that is incorrect, please contact your system administrator."

[2022-11-25 08:36] Jacques-Olivier-Farcy opened #2419 "Java error at launch Windows 10 desktop version"
- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I have read [c

[2022-11-25 08:55] Jacques-Olivier-Farcy commented on #2419
I have re-installed the desktop app
I have the same error when launching it after that.

[2022-11-25 09:25] gavol commented on #2419
The same for me on Win 10, version 5.2.1.

[2022-11-25 10:20] cforce commented on #2419
same here

[2022-11-25 14:16] devinbinnie commented on #765
@nteodosio Do you have `libappindicator` installed? I think it might be a slightly different library for newer versions of Ubuntu as well.

[2022-11-25 14:22] devinbinnie commented on #2419
Duplicate of https://github.com/mattermost/desktop/issues/2400. It will be fixed in v5.2.2.

You can download the release candidate here: https://github.com/mattermost/desktop/releases/tag/v5.2.2-rc.1

[2022-11-25 14:22] #2419 closed

[2022-11-25 14:30] nteodosio commented on #765
`libappindicator1` is installed; By the way I see `libappindicator3-1` is available, but installing it would remove several important packages in the system, such as `network-manager-gnome`.

Now, re-reading this I'm not sure my issue is the same of the reporter's. For me, the icon is missing, but the tray element is there, because I can click it and bring up the context menu. I provided additiona

[2022-11-25 14:38] devinbinnie commented on #765
Is it perhaps the wrong colour? If you go into Settings, under tray icon you can change the colour. It might require a restart but if you play with it then it should pop up.

[2022-11-28 08:35] solick opened #2420 "ERR_NAME_NOT_RESOLVED (-105) only for one Instance"
I confirm (by marking "x" in the [ ] below: [x]):

- [ X] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.c

[2022-11-28 08:40] JtheBAB commented on #2420
Is the URL that it tries to connect correct? 5.2 introduced that it fetches and overwrite the URL within the App depending on the SiteURL of the specific Mattermost server.

[2022-11-28 09:02] solick commented on #2420
No i masqueraded the url

[2022-11-28 09:48] JtheBAB commented on #2420
I know :)

But is the url that is really written there the correct one?

[2022-11-28 09:50] solick commented on #2420
Yes it is. I double checked and even copy paste from the web browser where I am able to access the instance. I have the impression that something maybe went wrong with some caching but after deleting everything from the library and reinstall th app I have no idea what else to do...

[2022-11-28 09:54] JtheBAB commented on #2420
You may wipe your application app data:

macOS installer: /Users/<username>/Library/Application Support/Mattermost

macOS App Store: /Users/<username>/Library/Containers/Mattermost/Data/Library/Application Support/Mattermost

You will loose all settings of the desktop app.

[2022-11-28 20:50] solick commented on #2420
Yes I already did this but still when I try to configure again same failure. and always with the same instance. But again, works fine in browser like chrome or safari

[2022-11-28 20:57] solick commented on #2420
Update:  Really strange. It seems like I had a failure in my url some time ago and for reasons I do not understand Mattermost keeps trying to connect to this wrong url.

I deleted the Mattermost application data several times and cleared the trash but Mattermost Keep using the wrong url.

[2022-11-29 05:47] anx-ag commented on #2420
The new desktop apps inherit the connection URL from the configured `SiteUrl` in your Mattermost settings. So please make sure that the `SiteUrl` is set to your new domain (the one with the dash instead of the dot).
Changing the `SiteUrl` in `config.json` also requires a server restart, so after you've done that, you need to restart your Mattermost server for the changes to take effect.

[2022-11-29 06:00] anx-ag commented on #2394
The new desktop apps inherit the connection settings from the servers's `SiteUrl` configuration option. I'm guessing that the `SiteUrl` setting in your Mattermost server's `config.json` file is set to `https://x.x.x.x" which will cause exactly this behaviour.

This is a new feature to help the server admins force the URLs used by the clients so if `https://x.x.x.x` is not a valid endpoint for your

[2022-11-29 06:59] catz commented on #2415
additional update: even app resize when on the plugin page adds white bar

[2022-11-29 07:30] solick commented on #2420
@anx-ag thanks! this was exactly the problem. Don't know why this has been a problem before.

[2022-11-29 07:30] #2420 closed

[2022-11-29 11:19] nickolasdeluca commented on #2351
What if there was? We currently have a proxy setup and it's been showing the white bar with the back button... What should I do to make it disappear?

[2022-11-29 13:33] p-dub42 commented on #2394
Nailed it, @anx-ag ! There were some example settings in the docker .env file that I hadn't bothered to change.

I had already defined the APP_PORT variable to be 8065 but also (for 5.2.x+) need to change a line from:
MM_SERVICESETTINGS_SITEURL=https://${DOMAIN}
To:
MM_SERVICESETTINGS_SITEURL=http://${DOMAIN}:${APP_PORT}

Thanks for your help.

[2022-11-29 14:07] devinbinnie commented on #2394
@rainerZugang Does the above comment fix your issue?

[2022-11-29 14:22] devinbinnie commented on #2351
@nickolasdeluca Is the server always connected to via the proxy? If so it might make sense to change the Site URL to the proxy URL. There are a couple other benefits to this because we use the Site URL in the web app itself to map certain URLs (mostly in plugins)

[2022-11-29 14:48] nickolasdeluca commented on #2351
Yes, it is. I just talked to our head of IT and the proxy I mentioned previously is a reverse proxy. Also the `SiteURL` is already set to the URL set in this reverse proxy. Another thing worth mentioning, our url is set to https protocol but the certificate is not set in the config.json... Can this cause the issue?

[2022-11-29 16:18] anx-ag commented on #2394
@p-dub42  glad to hear that this works for you now. The `APP_PORT` is not automatically added in the `env.example` file because it would not work for deployments using the nginx reverse proxy (the port of the application server is irrelevant then).

[2022-11-29 17:37] p-dub42 commented on #2394
Yeah, we're using the docker image configuration without nginx.

The only remaining quirk seems to be that the links for boards are incorrect in the DMs and channels.  They are prefixed with the old "https://${DOMAIN}" not the "http://${DOMAIN}:${APP_PORT}" for some reason, but it looks like a server issue, not a desktop client issue (if I manually fix the URL, the board is still there, just the p

[2022-11-30 04:43] anx-ag commented on #2394
Interesting finding - yes, please create the issue in the boards repo, maybe they're already aware of this issue.

[2022-11-30 15:44] devinbinnie commented on #1476
Closed by https://github.com/mattermost/desktop/pull/2428

[2022-11-30 15:44] #1476 closed

[2022-11-30 15:47] devinbinnie commented on #2405
@miro444 Any luck with server restart or app update?

[2022-11-30 15:49] #2367 closed

[2022-11-30 15:49] devinbinnie commented on #2366
Closed by https://github.com/mattermost/desktop/pull/2421

[2022-11-30 15:49] #2366 closed

[2022-11-30 15:54] devinbinnie commented on #2250
@rtfm98 The MSI fix was included in v5.2, has your issue been resolved?

[2022-11-30 15:55] devinbinnie commented on #2185
@kris-watts-gravwell Is this still an issue for you on v5.2?

[2022-11-30 15:55] devinbinnie commented on #2235
Closing as inactive.

[2022-11-30 15:55] #2235 closed

[2022-11-30 15:56] devinbinnie commented on #1080
Is this still an issue for anybody on v5.2?

[2022-11-30 15:57] devinbinnie commented on #2188
Closing for now with the above solution.

[2022-11-30 15:57] #2188 closed

[2022-11-30 15:58] devinbinnie commented on #2144
Closing as per above comment, looks like this crash was resolved.

[2022-11-30 15:58] #2144 closed

[2022-11-30 15:59] rtfm98 commented on #2250
@devinbinnie Thanks for the follow-up. v5.2 is currently being packed into a SCCM package, so I can't answer your question right now.
As soon as we deployed v5.2 and there is an actual update available, I'll come back to it.

[2022-11-30 16:00] #2055 closed

[2022-11-30 16:26] devinbinnie commented on #2342
@selfisekai @tboulis Did some playing around and turns out this would help reduce the package size a bit. On Windows, looks like about 10-15 MB. I am noticing that the app.asar file is also smaller.

I think what's happening by doing this is making it so that we don't drop a bunch of source code for node_modules in the package, which is what was happening before.

I'll make a PR with the changes a

[2022-11-30 16:51] devinbinnie commented on #2403
@dn0sar Is the server you're using always accessed via the proxy? If so, it might make more sense to just change the server's Site URL to `https://`, since that is a more secure protocol and should be the correct one.

Using a different Site URL than what is specified by the server causes a few other unexpected issues (eg. some plugins depend on it to generate links).

[2022-11-30 21:36] miro444 commented on #2405
Hey guys,
Restart did not fix anything. And I tried updating, it went to 5.2.x, but after shutting it down and trying to restart, it threw the JAva error below and failed to load.

![image](https://user-images.githubusercontent.com/105832553/204911931-45244285-d6d4-493c-9048-5d538f4fb49c.png)

SO i had to uninstall it, then reinstalled with mattermost-desktop-5.1.1-x64.msi. Not working fine again.

[2022-11-30 22:25] steve-todorov commented on #1080
I'm still having it -- it was not in 4.7, but has reappeared in 5.2. :)

My "workaround" is to first press `shift` then `alt` which seems to not trigger the menu. If you press `alt` + `shift`, then for sure the menu is triggered. This is 99.999% related to the Electron app and is a re-appearing bug.

OS: Ubuntu 22.10
App: 5.2.0

![image](https://user-images.githubusercontent.com/2303663/204921238-