[2016-12-05 18:31] tonyD-2016 opened #380 "Mattermost Desktop App 3.4.1 on Windows 10 64-bit VERIFIED"
| Version | OS | Issues | Tester | Date |
| :-- | :-- | :-- | :-- | :-- |
| 3.4.1 | Windows 10 64-bit | None Observed | @tonyD-2016 | 2016-12-05 |

I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web brows

[2016-12-05 18:54] tonyD-2016 opened #381 "No Text Reply, Single File Attachement - Javascript Error"
| Version | OS | Issues | Tester | Date |
| :-- | :-- | :-- | :-- | :-- |
| 3.4.1 | Windows 10 64-bit |  | [@tonyD-2016](https://github.com/tonyD-2016) | 2016-05-12 |

I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't re

[2016-12-05 22:59] jasonblais commented on #380
Thanks @tonyD-2016!

Added you as a verified tester

![image](https://cloud.githubusercontent.com/assets/13119842/20906043/499935a8-bb14-11e6-9dfb-d925e1023370.png)

[2016-12-05 22:59] #380 closed

[2016-12-05 23:02] jasonblais opened #382 "Mac: "Leave app running in notification center when application window is closed" setting is disabled"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2016-12-05 23:02] jasonblais commented on #382
Candidate for 3.5.0-RC2 hotfix.

Wondering if Linux is having a similar problem with the setting.

[2016-12-05 23:03] jasonblais commented on #375
Candidates for RC2:
 - [Mac: "Leave app running in notification center when application window is closed" setting is disabled](https://github.com/mattermost/desktop/issues/382)

[2016-12-06 00:53] jasonblais commented on #333
Thanks @anebi, @wessel-techtribe-nl and @gs-svempati for the feedback.

Re-enabling a function on the desktop app (called `window.eval()`) fixes the issue for Google SSO.

However, re-enabling this function could potentially lead to a security vulnerability, so we're currently evaluating different options to resolve this issue.

I'll post an update here as soon as we know more.

[2016-12-06 18:16] jnugh commented on #368
Just tried the following:
I just tried this with browsers (e.g. login in two different browsers or in an incognito tab or something) and Log this session out from the other Browser.

The messages in the system log are slightly different from yours, but this might just be related to timing (your client tried to call a different API than mine).

The only fix I can see is to send a message to the cli

[2016-12-06 18:43] jnugh commented on #381
This looks as it has happened inside the webview... It might be a platform issue.
However I was not able to reproduce this on pre-release (using browser OR desktop app).
Does this happen if you try it again?

[2016-12-06 18:52] jasonblais commented on #381
Thanks @tonyD-2016 for the report and for @jnugh for following up.

Looks like this was fixed by the platform team earlier today, so I'll close this issue as resolved.

Thanks! :)

[2016-12-06 19:07] jasonblais commented on #368
Thanks @jnugh - would the proposed fix remove the errors from the System logs?

Would a message be displayed on the JavaScript console?

Any side effects that you might foresee to the user?

[2016-12-06 20:17] jnugh commented on #368
This is something which needs to be fixed in platform - the logout has to notify the browser/app which runs the session. Nothing we can do (and not limited to the desktop app)

[2016-12-06 20:19] jnugh commented on #378
I was able to reproduce this on Linux (Unity) and wrote a PR that fixes it for me :) https://github.com/mattermost/desktop/pull/386

[2016-12-06 20:20] jasonblais commented on #368
Ah, got it. I'll let the platform team know and create a ticket for them

[2016-12-06 21:52] jasonblais commented on #368
Ticket is here: https://mattermost.atlassian.net/browse/PLT-4940

We might still want to consider fixing it ourselves and potentially submitting a PR for it. I'm not sure when the platform team would get to this bug..

If there's any information that would be useful to fix it, let me know.

[2016-12-06 22:15] jasonblais opened #387 "Investigate options to minify JavaScript on the Desktop Apps"
Jira ticket: https://mattermost.atlassian.net/browse/MM-14107

Currently the desktop app binary doesn't minify JavaScript source code. It also has test code embedded in there too.

This issue is opened to investigate if minification or compression could help reduce binary size and improve performance.

It might also be interesting to see if a JavaScript transpiler can optimize code in a way that w

[2016-12-06 22:16] jasonblais commented on #387
@jnugh Would there be any additional information I could add to the issue?

I feel someone who didn't see the discussion in [Desktop App](https://pre-release.mattermost.com/core/pl/ex46ukqeh3dtxjmpxqkki6khey) might not really understand the full scope of what's talked about here.

[2016-12-07 00:59] BotoX opened #388 "Allow disabling chrome smooth scrolling"
I confirm (by marking "x" in the [ ] below):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I

[2016-12-07 04:36] jasonblais commented on #364
If you have any further thoughts, please let us know! Feedback always welcome.

[2016-12-07 04:36] #364 closed

[2016-12-07 04:37] #381 closed

[2016-12-07 05:55] jasonblais opened #389 "Unnecessary whitespace on right side of the window when shrinked to small size"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2016-12-07 05:55] jasonblais commented on #389
Propose fixing in 3.5 as it's a regression from an earlier release.

[2016-12-07 10:29] jnugh commented on #387
A recap from what was discussed earlier:
The app is compressed (happens by default when using electron builder) so minification might not help too much regarding binary size. I didn't know there was test code in there, that makes no sense IMHO.

There are however transpilers that can find (and change) code that might be optimized regarding performance. Adding something like that to the webpack con

[2016-12-07 11:35] yuya-oc commented on #388
Possibly Chromium's command line switches are applicable. http://peter.sh/experiments/chromium-command-line-switches/
Does `--disable-smooth-scrolling` have any effects?

[2016-12-07 11:46] BotoX commented on #388
Yes indeed, thank you very much.
This issue can be closed if you are okay with this solution (I am).

[2016-12-07 12:12] yuya-oc commented on #387
`electron-builder` archives the app codes with [`asar`](https://github.com/electron/asar). As far as reading it, the codes are not compressed. V8 parses JS codes when it's executed, so minification would improve performance by using shorter JS. However, I'm not sure how much impact there is.

Anyway, it's good idea to try minification.

[2016-12-07 12:18] jnugh commented on #387
https://github.com/electron-userland/electron-builder/wiki/Options .build.compression is what I mean (I don't know how it compresses the output).

[2016-12-07 12:44] yuya-oc commented on #387
The option seems to take effects for app whole, e.g. zip.

[2016-12-07 13:24] jasonblais commented on #388
Thanks @BotoX :)

@yuya-oc The [command line switches](http://peter.sh/experiments/chromium-command-line-switches/) seem pretty comprehensive, wondering if we should add a reference somewhere in our docs?

[2016-12-07 13:47] yuya-oc commented on #382
Closed by #385

[2016-12-07 13:47] #382 closed

[2016-12-07 13:51] yuya-oc commented on #388
@jasonblais Yeah, it would make sense.

[2016-12-07 15:07] yuya-oc commented on #389
Reproduced also on v3.4.1 on Windows 10. So #371 seems not to be related.

[2016-12-07 15:36] jasonblais commented on #389
Ah okay - I thought it wasn't happening on an earlier version.

Since it doesn't sound like a regression, no need for a hot fix. We can fix it in a later version instead.

[2016-12-07 15:37] jasonblais commented on #376
Closed via #383, thanks @yuya-oc!

[2016-12-07 15:37] #376 closed

[2016-12-08 13:56] jnugh commented on #387
yeah thats what I mean - so when you minify js code the compression might not work as good. Both might just zero each other out.

But I would say - let's try it out and get some numbers :smile:

[2016-12-08 19:56] jasonblais opened #390 "Clicking a public file link opens an extra Mattermost window, in addition to downloading the file"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2016-12-08 22:58] jasonblais commented on #375
RC2 for v3.5 has been cut! Download links available to test below. Please link to issues you believe may warrant a patch.

**Windows Installers**

https://releases.mattermost.com/desktop/3.5.0-rc2/mattermost-setup-3.5.0-rc2-win64.exe
https://releases.mattermost.com/desktop/3.5.0-rc2/mattermost-setup-3.5.0-rc2-win32.exe

**Windows - Zip**

https://releases.mattermost.com/desktop/3.5.0-rc2/mattermos

[2016-12-11 04:52] jasonblais commented on #375
Candidates for RC3:
 - @yuya-oc: [All platforms: Update Electron to 1.4.12 for Certificate Transparency Fix](https://github.com/mattermost/desktop/pull/391)
 - @jnugh: [Linux tray icon theme settings regression fix](https://github.com/mattermost/desktop/pull/392)

[2016-12-12 03:18] jasonblais commented on #388
I was reading through the list and I ended up being a bit worried about referencing it in our docs before we've had a chance to test if they work fine with the app. I worry there might be a command that causes issues that we cannot troubleshoot.

So I think for now it's okay to reference them but I won't add them to our docs yet,

[2016-12-12 03:18] jasonblais commented on #388
Closing the issue as resolved

[2016-12-12 03:18] #388 closed

[2016-12-12 16:15] jasonblais commented on #375
RC3 for v3.5 has been cut! Download links available to test below. Please link to issues you believe may warrant a patch.

**Windows Installers**

https://releases.mattermost.com/desktop/3.5.0-rc3/mattermost-setup-3.5.0-rc3-win64.exe
https://releases.mattermost.com/desktop/3.5.0-rc3/mattermost-setup-3.5.0-rc3-win32.exe

**Windows - Zip**

https://releases.mattermost.com/desktop/3.5.0-rc3/mattermos

[2016-12-13 19:39] jasonblais opened #393 "Windows 7: Unable to copy a link and paste inside the app"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2016-12-14 04:21] jasonblais commented on #312
Thanks @blackSea4477, glad to hear!

Closing for now -- if anyone finds further issues on RedHat 6, let us know!

[2016-12-14 04:21] #312 closed

[2016-12-14 04:24] jasonblais commented on #377
Ah interesting.

Propose we still change to the same colour, to make it consistent with the web app? Unless this can lead to other side effects,

[2016-12-14 09:53] thanosk opened #394 "Ubuntu tray icon is gone after 3.5.0-rc2"
I confirm (by marking "x" in the [ ] below):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I

[2016-12-14 11:05] mehmetkemalbayer opened #395 "Balloon notification is not shown"
In our team some of users can see notification pop-up over tray icon but some of them can not.
On the other hand we tried to figure out the problem by debugging in Visual Studio Code. If you explain how to debug the app we can give you a better information about the reason of the problem.
Thank you.

[2016-12-14 11:21] yuya-oc commented on #395
Ah, I'm not using debugger in the main process, so I can't say any definite advises. In development mode, `npm start` merely executes `electron` command, so you would be able to refer [Electron's document](https://github.com/mattermost/desktop/releases/tag/v3.5.0).

Wondering if you write about the application version and operating system? I can't even imagine what's happening.

[2016-12-14 11:51] yuya-oc commented on #394
v3.5.0-rc1 and rc2 had a bug where the setting for tray icon was incorrectly saved on Linux. Does reconfiguring fix the issue?

[2016-12-14 12:01] thanosk commented on #394
Yes, reconfiguring did the trick. Actually, I think I had to reconfigure the icon theme setting (set to dark and then back to light), because previously it had an empty value string in config.json. The showTrayIcon was already set to true.

[2016-12-14 12:01] #394 closed

[2016-12-14 13:02] jasonblais commented on #375
Desktop 3.5 released December 14, 2016! https://github.com/mattermost/desktop/releases/tag/v3.5.0

Thanks to everyone who helped participate in release testing!

[2016-12-14 13:02] #375 closed

[2016-12-14 13:39] yuya-oc commented on #378
I confirmed the test case of #386 with v3.5.0 on macOS again, but the original issue didn't reproduced (I unplugged the cable instead of disabling because "disable" doesn't exist).

As far as I observed the behavior, the original behavior is a little complicated on macOS.

- Launched from Dock or Launchpad: The window opens in the monitor where Dock exists.
- Launched from Finder: The window opens

[2016-12-14 14:20] mehmetkemalbayer commented on #395
Sorry for missing information. App version is 3.5.0 and we all use windows 7. Moreover when I set event from debug console I can see the notification on the tray.

[2016-12-15 03:29] jasonblais commented on #357
Hey @wpostma,

Desktop app v3.5 had some improvements for high DPI systems, including Windows 10.  The fix in question was for something else than reported here, but I'm wondering if it helped at all.

Would you like to try [downloading the newest version](https://about.mattermost.com/download/#mattermostApps) and see if it helps resolve any of the issues you reported?

[2016-12-15 07:27] jasonblais commented on #363
Hey @KasperJanssens, we just released Desktop App v3.5

Wondering if [you'd like to download the app](https://about.mattermost.com/downloads/) and see if the issue persists?

[2016-12-15 08:53] KasperJanssens commented on #363
Seems to fix it on the Mac client, asking my colleagues to test on the Windows and Linux client as well but I expect it will be fixed. I'll close the ticket as soon as they have confirmed.

[2016-12-15 12:37] jasonblais commented on #363
Awesome, glad to hear!

[2016-12-15 12:42] wpostma commented on #357
Tested works great now! Can close this
On Wed, Dec 14, 2016 at 10:29 PM Jason Blais <notifications@github.com>
wrote:

[2016-12-15 13:21] jasonblais commented on #357
Glad to hear!

[2016-12-15 13:21] #357 closed

[2016-12-15 16:01] jasonblais commented on #378
It sounds like the behaviour (from user's perspective) is correct when launched from Dock or Launchpad, but not when launched from the Finder?

Is that correct?

[2016-12-15 16:20] yuya-oc commented on #378
Good question. Just in my thought, both of them are correct. So I feel we can define what is correct for us.
However in my guess, the app would be launched from Dock or Launchpad in almost cases.

[2016-12-16 00:30] jasonblais commented on #378
One more question:

By previous position, do you mean in the screen it was previously at? But if the monitor no longer exist / is disabled, the app opens in the currently active monitor?

[2016-12-16 03:15] yuya-oc commented on #378
In my MacBook, yes for both.

[2016-12-16 06:24] prakashprabhakar commented on #395
We are running it on Ubuntu 14.04 and 16.04. In both versions when we upgraded the mattermost desktop app from v3.4.0 to v3.5.1 the tray icon is not being shown. Will there be a fix soon?

[2016-12-16 08:01] jasonblais commented on #395
Hmm @yuya-oc @jnugh wondering if the tray icon is missing in Desktop App 3.5?

[2016-12-16 08:03] jasonblais opened #396 "Mention jewel doesn't clear after logging out of the team"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2016-12-16 08:20] jnugh commented on #395
@prakashprabhakar could you please paste your ~/.config/mattermost/config.json file? I guess the tray icon theme might be missing.

Workaround would be in this case to open the settings and change the theme to dark/light (depends on what it was before), save the change, go back to settings, change it back, save again and restart the app.

I'm not sure what is causing this, I had the same problem b

[2016-12-16 11:46] prakashprabhakar commented on #395
@jnugh It's working now... Don't ask me how :) ... I restarted my machine twice and it came ... One more person had the same problem, but he is not in today. I will check once he comes and provide you with the inputs you have asked for.

One thing I observed is that the parameter **Icon** was set to Mattermost and not **/home/prakashp/mattermost/icon.png**. The other 2 parameters were correct.

Pa

[2016-12-16 12:54] KasperJanssens commented on #363
Works on Windows and Linux as well. Closing.

[2016-12-16 12:54] #363 closed

[2016-12-16 13:23] yuya-oc commented on #395
@prakashprabhakar @jnugh It seems that the original problem of this issue is applicable only for Windows 7 and 8. Please create another issue.

[2016-12-16 13:26] yuya-oc commented on #395
@mehmetkemalbayer How did you set the event? There are some consoles in this app, so "how" is very helpful and actual test code would be appropriate.

[2016-12-16 13:42] f3l1x commented on #38
GUI guide for others:

![zales_-_ders_ders_group_](https://cloud.githubusercontent.com/assets/538058/21264686/c7bf66fa-c39d-11e6-88a0-b93e37986962.png)

[2016-12-16 14:01] jasonblais opened #397 "Update library dependencies"
@yuya-oc Just creating an issue to help update library dependencies now that 3.5 is released.

[2016-12-16 14:19] yuya-oc commented on #397
A quick task list.

- [ ] dev tools
- [ ] webpack ecosystem
- [ ] test tools
- [ ] electron ecosystem
- [ ] React
- [ ] Bootstrap

[2016-12-17 07:55] mehmetkemalbayer commented on #395
@yuya-oc I send you 3 pictures.
First one shows my problem, there is no balloon.
Second one is the answer of your question. I open dev console of the desktop app. I run the command to send the event.
Last one is the picture showing that it works.
In short I think that my problem is not about balloon itself. My problem is app cannot get same event normally. By the way I can't understand how other f

[2016-12-18 00:36] jasonblais opened #398 "Desktop UX Improvements: App Options"
This ticket is one of three improvement tickets planned for Desktop user experience.

----

### PART 1 - All platforms

Add help text below each option in gray text, similar to the example below

![image](https://cloud.githubusercontent.com/assets/13119842/21290382/4fd989d8-c486-11e6-97dd-1404fb18b211.png)

Below is a list of app options with their corresponding help texts:

- Start app on login (

[2016-12-18 00:37] jasonblais opened #399 "Implement CTRL+F to work as a browser-like search in the desktop app"
One key missing piece in the desktop app user experience is CTRL+F browser-like search.

There is existing electron APIs for finding something on the page: http://electron.atom.io/docs/api/web-contents/#contentsfindinpagetext-options

Wondering if someone in the community was interested looking at implementing this feature?

[2016-12-18 01:03] jasonblais opened #400 "Desktop UX Improvements: Settings Page"
This ticket is one of three improvement tickets planned for Desktop user experience.

- [x] 1. Basics -- PR #423
- [x] 2. Clicking a server -- PR #425
- [x] 3. Clicking on “Add new server” opens a dialog -- PR #415
- [x] 4. Clicking on “Edit” opens the same dialog from part 3 -- PR #415
- [x] 5. Clicking on “Remove” opens a dialog to confirm that the user wants to remove the server -- PR #421

---

[2016-12-18 01:03] jasonblais opened #401 "Desktop UX Improvements: Managing servers"
This ticket is one of three improvement tickets planned for Desktop user experience.

- [x] Navigation bar -- PR #415
- [x] Adding a new server from the “+” icon -- PR #415
- [x] Opening an app with no servers in Settings page -- PR #435

----

### PART 1 - Navigation bar:

The navigation bar will display on top of the app itself similar to browser tabs and will have the server display name as spe

[2016-12-18 01:03] jasonblais commented on #379
Closing, as now covered by #400

[2016-12-18 01:03] #379 closed

[2016-12-19 09:30] a1fred0 opened #402 "Images (build badges) not rendering from Gitlab authenticated team"
I confirm (by marking "x" in the [ ] below):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I

[2016-12-19 14:53] yuya-oc commented on #402
Does the developer console (Ctrl+Shift+I) show any error messages?

[2016-12-20 07:23] prakashprabhakar opened #403 "Error icon instead of Mattermost icon in task bar"
I confirm (by marking "x" in the [ ] below):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I

[2016-12-20 08:50] a1fred0 commented on #402
There are no error messages in the developer console, however I have since discovered that the issue only occurs when you close the Mattermost client and re-open it.  If you log out of the active session and log back in again, everything is okay until you close the client and re-open it without re-authenticating.

[2016-12-20 10:39] prakashprabhakar opened #404 "Tray icon is not shown by default"
I confirm (by marking "x" in the [ ] below):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I

[2016-12-20 13:25] yuya-oc commented on #403
It seems something wrong. As far as reading the steps to reproduce, does the icon appear correctly until you minimize the app? The icon should exist always if the feature is enabled.

[2016-12-20 13:38] yuya-oc commented on #402
Does "close" mean just pressing "x" button at top right of window? Or "quit"(Ctrl+Q)? They are different. If it's "quit", the app might lose the session to access to gitlab in next launching. Perhaps your gitlab project is not public, so I guess that the badges doesn't render.

In this case, the app can't control the expiration of gitlab session. So please check your gitlab settings.

[2016-12-20 14:04] prakashprabhakar commented on #403
Yes it does. Infact I get the icon back if I click on this error icon and chose the company.

[2016-12-20 14:28] yuya-oc commented on #404
As a workaround, please configure the tray icon setting. https://github.com/mattermost/desktop/issues/394#issuecomment-267017181

[2016-12-20 15:13] yuya-oc commented on #403
Hmm...It's weird. The app changes the icon for notification only when new messages or mentions have been detected.

[2016-12-20 15:15] a1fred0 commented on #402
Close meant "Quit" (via Crtl-Q or Tray Icon: Right-click->Exit).

I can confirm that the same behaviour is observed by closing a Chrome browser down and opening up again.  The session for mattermost is alive and no authentication is needed but the session to gitlab is lost and the (non-public) build badges are not rendered.  Therefore the issue is certainly with the mattermost backend to gitlab au

[2016-12-20 15:15] #402 closed

[2016-12-20 15:15] prakashprabhakar commented on #403
Can you let me know if this app generates any logs??? I can pass it on to you...

[2016-12-20 15:18] yuya-oc commented on #403
Unfortunately I can't. If it's generated, it appears in the command line terminal (not developer console in the main window).

[2016-12-24 11:49] yuya-oc commented on #357
I could also confirm that the issue doesn't reproduce with v3.5.

[2016-12-25 17:16] jnugh commented on #403
This is a known issue on Ubuntu 16.10 Upstream launchpad bug is this one: https://bugs.launchpad.net/ubuntu/+source/unity/+bug/1635577 and https://bugs.launchpad.net/ubuntu/+source/unity/+bug/1635625
seems like a fix has already been commited and should be available in Ubuntu propsed in a few days (which means a stable update should be available in the next weeks).

[2016-12-26 11:06] yuya-oc commented on #403
Thanks @jnugh to let us know!

@prakashprabhakar If you still have the issue in a stable update of Ubuntu, please reopen this.

[2016-12-26 11:06] #403 closed

[2016-12-27 12:09] #378 closed

[2016-12-27 12:17] #397 closed

[2016-12-27 14:42] #404 closed

[2016-12-29 16:13] CometKim opened #406 "Ctrl, Shift or Alt + Click on a channel"
I confirm (by marking "x" in the [ ] below):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I

[2016-12-31 10:45] yuya-oc commented on #406
The behavior is not by design, new windows should not appear. In this case, some functionality added by the desktop app would be lost (e.g. unread count, context menu, etc).

[2016-12-31 20:21] jasonblais commented on #406
While I agree the current behaviour isn't correct, propose we take a moment to consider what would a webapp user expect to happen if they hold any of the three keys (CTRL, SHIFT or ALT) and click on a link (whether a URL in a message or a channel on left-hand sidebar).

Similarly, what would a desktop app user on Slack, Skype or HipChat expect?

[2016-12-31 20:37] mehmetkemalbayer commented on #395
@yuya-oc any updates?

[2016-12-31 23:19] yuya-oc commented on #395
@mehmetkemalbayer Sorry to not respond. The issue didn't reproduce for me. To make sure, would you check wheather you can get desktop notifications in Chrome?

[2017-01-03 03:31] polepoe commented on #209
The issue still occur with Matter Most 3.5.1, I'm install Matter Most on a Debian 8 server, the custom emoji only appear after I go to the "Custom Emoji" menu and go back to "Team chat".

[2017-01-03 04:26] jasonblais commented on #209
Thanks @polepoe  for the report -- are you able to reproduce it on a browser?

[2017-01-03 04:53] polepoe commented on #209
Yes I'm using Chrome Version 55.0.2883.87 m (64-bit) on a Windows 10 PC. The issue can be proc on the same as @jasonblais instruction:

Steps to reproduce:
1. Create custom emoji from Main Menu > Custom Emoji, named :emoji:
2. Type :emoji: in Town Square.
3. Logout from your team
4. Log back in to your team

The only fix is that you go to the "Custom Emoji" menu and click back to "Team chat". Do y

[2017-01-03 04:54] polepoe commented on #209
First entering the site:
![image](https://cloud.githubusercontent.com/assets/24849795/21600213/4e78fd94-d1ab-11e6-878c-0d2cd052fae2.png)
After go back from "Custom Emoji" menu:
![image](https://cloud.githubusercontent.com/assets/24849795/21600229/6af30032-d1ab-11e6-9fac-98d5ad389ca1.png)

[2017-01-03 16:34] polepoe commented on #209
I think my log trying to tell me something
VM157:35 Mixed Content: The page at 'https://undertale.club/undertalevn/channels/town-square' was loaded over HTTPS, but attempted to connect to the insecure WebSocket endpoint 'ws://undertale.club/api/v3/users/websocket'. This endpoint should be available via WSS. Insecure access is deprecated.
When i click the shield guard and allow content i can see th

[2017-01-04 13:07] yuya-oc commented on #209
As far as reading the message, I feel that there is something wrong in the server configuration.

[2017-01-04 16:13] polepoe commented on #209
I did follow the exact https://docs.mattermost.com/guides/administrator.html#deployment
Here is the nginx configuration file (follow the SSL config of the guide):
[code]

Thanks if you help me figure out what is the problem here :D

[2017-01-04 16:27] jasonblais commented on #333
We're currently testing a build, which removes the `window.eval()` function and fixes Google SSO login issues.

https://circleci.com/gh/yuya-oc/desktop/125#artifacts

Note: These test builds are not recommended for production as they may contain a security vulnerability.

All help to test the removal of the `window.eval()` function would be appreciated. For context on the `window.eval()` function,

[2017-01-05 08:03] polepoe commented on #209
Okay I got this fixed by changing:
**http**://abc.xyz to **https**://abc.xyz
In **System Console -> Setting -> Configuration**
This is a configuration errors. I think you guys should closed this issue from now on.
Sorry for the bothering :).
Thanks!

[2017-01-05 12:14] hannu78 opened #408 "App reload causes copy and save link malfunction"
I confirm (by marking "x" in the [ ] below):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I

[2017-01-05 12:52] jasonblais commented on #209
Glad the error was found @polepoe!

Would you like to submit a PR to update the Debian guides? Or would you have a suggestion for improving it so someone on our team can go and update it?

[2017-01-05 12:55] jasonblais commented on #408
@hannu78 you're an angel

This explains the issue described in #300 and #340..awesome.

Thanks! @jnugh @yuya-oc FYI

[2017-01-05 12:56] jasonblais commented on #340
Consistent repro steps found in #408, so closing this as a duplicate

[2017-01-05 13:27] jasonblais opened #409 "Unread messages not properly accounted for across teams in Mattermost Server v3.6"
I confirm (by marking "x" in the [ ] below):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I

[2017-01-05 13:48] yuya-oc commented on #209
@jasonblais I think that the nginx configuration for `location /api/v3/users/websocket` is missing in the Debian guide. Both of Ubuntu 14.04 and 16.04 guides have the configuration.

[2017-01-05 14:10] yuya-oc commented on #408
@hannu78 Thank you for reporting! Does the issue for notification reproduce on other browsers or OS? It's different from this issue, so please open another issue and describe in detail if it's necessary.

[2017-01-05 14:14] yuya-oc commented on #409
@jasonblais This feature was not assumed in past releases because the team sidebar haven't exist until v3.6. So I feel this should have "Feature" label.

[2017-01-05 14:27] jasonblais commented on #409
Ah true, it's not really a "bug" by definition. Changed the label

[2017-01-05 15:29] polepoe commented on #209
I'll try to update the guide with my case (Debian 8) and I'll send them to http://forum.mattermost.org/ (I'll add the link later here) and may be I'll do a Vietnamese video tutorial for our little self-hosted community as well.
Thanks for your concern, keep up the good work!

[2017-01-05 19:50] jasonblais commented on #209
I think `location /api/v3/users/websocket` is just for optimal performance, but shouldn't cause these issues..

They weren't added for the other docs, since the optimal configuration has been tested in Ubuntu only so far

[2017-01-05 19:57] jasonblais commented on #209
Yes @polepoe that would be great! Feel free to submit the update in https://github.com/mattermost/docs as well, if you'd like.

Would love to see a video tutorial too, our community would appreciate that!

If you're interested, feel free to join our public community instance at [pre-release.mattermost.com](https://pre-release.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676

[2017-01-05 19:57] #209 closed

[2017-01-05 22:32] jasonblais opened #410 "Typing a double quote (") in a message after a "~" causes JavaScript errors"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2017-01-06 15:16] yuya-oc commented on #410
The error happens at inside of webview and I could reproduce this also on Windows 10, Chrome 55. Would you check again?

[2017-01-10 09:52] wessel-techtribe-nl commented on #333
Google login works for me now in mattermost-desktop-3.5.0-mac.tar.gz

[2017-01-10 09:58] gs-svempati commented on #333
Thank you very much for this. @wessel-techtribe-nl   and @jasonblais

[2017-01-10 14:55] frittentheke commented on #317
Just like @nightvisi0n said ... on Mint 18 KDE (Plasma) it's broken and almost invisible using a dark threme.

[2017-01-11 12:29] #396 closed

[2017-01-11 13:09] #408 closed

[2017-01-11 13:22] jasonblais commented on #174
Closing for now -- please post in the feature idea forums if you'd like the issue to be considered.

[2017-01-11 13:22] #174 closed

[2017-01-11 13:49] jasonblais commented on #410
I just tried with RC5 and I couldn't reproduce on Chrome v55, but it did reproduce on the Desktop App again. Not sure, would there be something else I could check?

![image](https://cloud.githubusercontent.com/assets/13119842/21850899/d2aede1e-d7da-11e6-8171-b8754602e222.png)

[2017-01-11 14:17] yuya-oc commented on #410
Here is the error of pre-release server on Chrome 55 when I typed `~ "`.

<img width="553" alt="chrome_error" src="https://cloud.githubusercontent.com/assets/1412057/21851539/d0322c36-d852-11e6-9628-27daa6ca3971.png">

In this case, ` "`(space and double-quote) is sent to the autocomplete API and http 500 is returned as the response status. Assuming that, the logic to determine the query parameter

[2017-01-11 15:29] jasonblais commented on #410
Hmm, okay -- I created a ticket for the platform team since it's seems to be server related then.

Ticket here: https://mattermost.atlassian.net/browse/PLT-5257

[2017-01-11 15:29] #410 closed

[2017-01-12 14:47] yuya-oc commented on #369
I could not reproduce that in the combination: Windows 7 / Mattermost Server v3.4.0 / Mattermost Desktop App v3.4.1 and also on desktop app v3.5.0. I feel the link was unexpectedly rendered as a simple `<a>` tag without `target` attribute on webapp.

In some cases like SSO, external pages should be opened in the app. So I would not be able to restrict the behavior by using hostname.

[2017-01-13 19:09] jasonblais commented on #393
Not reproduced by the submitter, might have been a glitch not related to the desktop app

[2017-01-13 19:09] #393 closed

[2017-01-13 19:59] jasonblais commented on #321
@guyguy333 This issue is resolved in Mattermost Server 3.6, which will release on January 16th.

Thanks for all your help @St-Ex !

[2017-01-13 19:59] #321 closed

[2017-01-13 20:04] jasonblais commented on #160
@leipert @drmikecrowe @jfperusse-bhvr This issue should be resolved in Mattermost 3.6 with the new multi-deployment support through team sidebar. The release will be on January 16th.

With the new release, all of your teams will be visible on the left-hand sidebar as an additional team, and therefore you no longer need a separate tab for each team. To [update your team management tabs](https://doc

[2017-01-13 20:04] #160 closed

[2017-01-13 20:05] jasonblais commented on #368
Closing - this will be tracked on the platform side and a fix is scheduled for Mattermost Server 3.7

Thanks @jnugh for your help!

[2017-01-13 20:05] #368 closed

[2017-01-13 22:31] igmar opened #411 "Docked app is unusable after a reboot"
I confirm (by marking "x" in the [ ] below):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I

[2017-01-13 22:36] jasonblais commented on #411
@yuya-oc or @magicmonty would you be able to confirm the given reproduction steps on your Mac?

[2017-01-13 22:36] jasonblais commented on #411
and thanks @igmar for the bug report :)

[2017-01-13 22:36] igmar opened #412 "Private group visibility mismatch"
I confirm (by marking "x" in the [ ] below):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I

[2017-01-13 23:09] jasonblais commented on #412
Thanks @igmar! Are you able to reproduce this behaviour on the browser (e.g. Chrome)?

And does it reproduce on OS X or only on Windows?

[2017-01-14 02:54] jasonblais commented on #369
Would there be post formatting that would lead to this, would you know?

[2017-01-14 03:56] yuya-oc commented on #369
Unfortunately no. FYI, I tried two cases, typing URL and using markdown link.

[2017-01-14 05:48] jasonblais commented on #369
Sounds good, we haven't reproduced it in 3.5 yet, so I'll add 'more information needed' label for now.

The original submitter mentioned it occurs randomly, so if they can't reproduce it in 3.5 I'll close the issue

[2017-01-14 08:23] igmar commented on #412
Hi,

I'll check on Monday.

Igmar

[2017-01-16 13:04] yuya-oc commented on #253
@jasonblais I took a look this issue again. I'm not sure though why, it seems that v3.4.1 and v3.5.0 don't have this problem on both of Windows 10 and macOS 10.12. Would you confirm?

[2017-01-16 13:08] jasonblais commented on #253
Thanks @yuya-oc! I can verify the issue seems resolved for me too on Windows 10, v3.5.0.

Closing the issue,

[2017-01-16 13:08] #253 closed

[2017-01-16 13:23] ewirch opened #414 ""Checkbox is changing an uncontrolled input" error when opening settings"
I confirm (by marking "x" in the [ ] below):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I

[2017-01-16 13:31] yuya-oc commented on #411
I could reproduce the issue when I launched the app from download folder. But I could not reproduce the issue when I launched the app from `~/Application`.

1. Open Mattermost.app which is located in `~/Download`.
    - probably any folder excepting Application folder.
2. Add to Dock via context menu.
3. Reboot Mac.

@igmar Would you tell us where you located Mattermost.app?

[2017-01-16 13:35] yuya-oc commented on #414
They are not error (features are actually working), but should be improved in future.

[2017-01-16 20:05] igmar commented on #411
On both tests, Mattermost.app is located in /Applications/

[2017-01-17 11:29] yuya-oc commented on #411
Hmm...I could not reproduce the issue also in `/Applications`.

Could you show more detailed steps about the way to add to Dock?

[2017-01-17 14:47] yuya-oc commented on #389
Reproduced also on macOS. The point seems that the window is too narrow to show contents. In this case, Chrome limits the width to 400px, so I will add similar minimum size to the main window.

[2017-01-17 14:53] #389 closed

[2017-01-17 15:13] jasonblais commented on #281
This should now be fixed with Mattermost server 3.6 ([JIRA ticket here](https://mattermost.atlassian.net/browse/PLT-4233)).

[2017-01-17 15:13] #281 closed

[2017-01-17 15:15] jasonblais commented on #395
Hey @mehmetkemalbayer, are you able to reproduce the issue on a browser as well?

[2017-01-17 15:40] jasonblais commented on #309
Since [the release processç(https://github.com/mattermost/desktop/blob/master/docs/release-process.md) has a step to upgrade dependencies, greenkeeper.io is no longer necessary.

[2017-01-17 15:40] #309 closed

[2017-01-17 15:46] jasonblais commented on #222
@yuya-oc Wondering if you could test on Mac whether posting multiple GIFs into a channel still spikes the CPU usage of "Mattermost Helper"?

Also wondering if https://github.com/mattermost/desktop/issues/215 reproduces anymore.

If not, I can go back to the submitter and ask whether they've seen either one since the 3.5 release.

[2017-01-17 15:49] jasonblais opened #416 "Remove "CTRL+S" shortcut for searching within a team"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2017-01-17 15:49] jasonblais commented on #305
CTRL+S and CTRL+SHIFT+S is causing confusion among some users (example: #364), is inconsistent with the web app and doesn't follow typical conventions for searching or finding something.

Instead, we'll look into adding a browser-like find through CTRL+F shortcut (#399).

Hence, closing this ticket as "Won't Fix".

[2017-01-17 15:49] #305 closed

[2017-01-17 23:29] jasonblais opened #417 "Unread channels not properly counted on the Windows system tray icon"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2017-01-18 08:51] mehmetkemalbayer commented on #395
Hi, @jasonblais, @yuya-oc
Sorry for delay. It is the same. I can see little asterisk beside favicon but no notification is shown.
I think the problem is about my companies network rules. The problem is why some of my colleagues can see the notification.

[2017-01-18 13:21] jasonblais commented on #409
Closed via #413 - thanks @yuya-oc!

[2017-01-18 13:21] #409 closed

[2017-01-18 13:25] jasonblais commented on #412
Hey @igmar, curious if you were able to test it out on a browser?

[2017-01-18 23:24] jasonblais commented on #369
@yuya-oc added new repro steps for a second scenario:

Repro steps:
1) Go to Account Settings > Advanced > Prevew pre-release features
2) Select `Show experimental previews of link content, when available`
3) Hit "Save"
4) In a Mattermost channel, post `https://www.flickr.com/photos/spacex/31579784413/`
5) Click the image preview

[2017-01-18 23:24] jasonblais commented on #369
^I was able to consistently reproduce this in Windows 10; the report came from Windows 7

[2017-01-19 13:39] yuya-oc commented on #369
Thanks! In the second scenario, the image has `<a>` tag without `target="_blank"` attribute in webapp. So the link is opened in the main window. Chrome also has this behavior, but it would not matter because browsers have back button.

To fix this, probably we can take two approaches.

1. the main window subscribes an event. If the target URL is outside of the server URL, open it with default web

[2017-01-19 14:03] jasonblais commented on #395
Thanks @mehmetkemalbayer for the reply,

Since it doesn't seem to be a defect with the desktop app itself, would you like to create a forum post in [Mattermost Troubleshooting forums](https://forum.mattermost.org/t/how-to-use-the-troubleshooting-forum)? There are more visitors on that page and you'll get a faster response.

[Here are a few tips on how to use the forum](https://forum.mattermost.org

[2017-01-19 15:41] Lehmax opened #419 "Mattermost is not starting maximized on autostart"
I confirm (by marking "x" in the [ ] below):

- [x] This is not a troubleshooting question.
- [x] This doesn't reproduce on web browsers (such as in Chrome).
- [x] I have read [contributing guidelines](https://github.com/mattermost/desktop/blob/master/CONTRIBUTING.md).

---

**Summary**
Mattermost is starting as a non-maximized window, even if I maximize it before quitting. It should remember the

[2017-01-19 15:52] Artwalk commented on #352
Hi, If I want add more string in the user agent, which files should I inspect?
I tried `node_modules/ua-parser-js` `getUA` and`setUA`, then rebuilt it, but this did not work

[2017-01-19 16:46] jasonblais commented on #419
Thanks @Lehmax, confirmed on Windows 10 as well.

[2017-01-19 16:48] jasonblais commented on #352
@yuya-oc any thoughts? I'm not sure if this would be handled on the server side

[2017-01-19 23:37] yuya-oc commented on #352
You can use `session.defaultSession.getUserAgent()` and `session.defaultSession.setUserAgent()` in `src/main.js`. http://electron.atom.io/docs/api/session/
Existing elements of user agent should be kept to get some features from webapp. See server's [`webapp/utils/user_agent.jsx`](https://github.com/mattermost/platform/blob/master/webapp/utils/user_agent.jsx)

[2017-01-19 23:58] jasonblais opened #420 "Allow user to join a new team via team invite link"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2017-01-19 23:59] jasonblais commented on #420
I wasn't sure if this is a bug as it might have been caused by the team sidebar.

So added an improvement label for now.

[2017-01-20 04:49] Artwalk commented on #352
Yeah, It works.

Thank you 👍😄

[2017-01-20 11:57] yuya-oc commented on #419
Thanks, but it didn't reproduce for me on Windows 10. I tried with 2160p screen.

[2017-01-20 12:59] #353 closed

[2017-01-20 13:03] yuya-oc commented on #353
The default window dimensions should be smaller than target screen to avoid conflicting with other UI, e.g. task bar. So the dimensions are set to 1000x700.

[2017-01-20 14:20] jasonblais commented on #353
We're also targeting 1024x768 screen resolution instead, update title and description.

This is because 1366x768 resolution is common, in which case targeting 1200x800 isn't recommended

[2017-01-20 14:25] jasonblais commented on #419
Hmm, it's not reproducing for me now either.. It definitely was earlier, so I'll keep an eye out for this.

@Lehmax does this reproduce for you every time when you quit, then re-open the app?

[2017-01-20 15:01] Lehmax commented on #419
Yes, it does. I can fix it temporarily by switching to 1080p, maximizing and then reverting the resolution. After I do that, it stays maximized even if I exit. If I log off from my Windows account or restart the PC, it's minimized again.

@jasonblais what resolution are you on?

[2017-01-20 16:41] jasonblais commented on #419
Do you mean a) minimized when the app starts (i.e. minimized to taskbar), or b) opens in window size that isn't maximized?

[2017-01-20 21:20] Lehmax commented on #419
The latter.

[2017-01-20 22:06] jasonblais commented on #369
We actually just merged a new version for website link previews where we use OpenGraph data instead: https://github.com/mattermost/platform/pull/4890

This changes the behaviour a little where images aren't clickable --> and hence they *probably* don't have the `<a>` tag associated with them.

From your viewpoint, I'm not sure if that might resolve the issues here?

[2017-01-21 05:56] yuya-oc commented on #419
@Lehmax After exiting from the app, what about `%HOME%\AppData\Roaming\Mattermost\bounds-info.json`? Maximized state should be saved in it.

[2017-01-21 11:08] Lehmax commented on #419
Any reference to "signing out" means signing out of my windows account to trigger autostart.

I just observed the bounds-info.json while doing different stuff.
First it was set to false. Then I maximized the window and it changed to true. After exiting and restarting it stayed true.
I signed out and opened Notepad++ immediately after logging in, but before Mattermost autostarted. It was still set

[2017-01-22 11:10] yuya-oc commented on #419
Thanks you for detailed information.

When using autostart, the application launches with `--hidden` flag. In this case, the maximized state was not restored. Would you confirm this build fixes the problem?

https://circleci.com/gh/yuya-oc/desktop/135#artifacts

[2017-01-22 11:44] Lehmax commented on #419
It does. 👍

[2017-01-23 04:52] jasonblais commented on #406
After looking at the webapp experience and the experience in other desktop apps, it would make sense not to open a new window, I agree. I would just expect it to open the channel on the window itself.

There were cases (e.g. Slack) where holding down the `CTRL` key and clicking on a channel name opened a new browser tab for it, but I didn't find that obvious as it brings the user away from the des

[2017-01-23 12:03] yuya-oc commented on #419
Thanks!

[2017-01-23 12:04] #419 closed

[2017-01-23 14:26] yuya-oc commented on #369
Yeah, the approach seems to solve this problem. In future, the approach 1.) would be the fundamental measure though.

[2017-01-23 19:18] jasonblais commented on #369
Would we need to whitelist which login URLs we'd support?

A server running SAML might set up a custom IDP depending on which provider they want to use (hence, the login pages might be different)

[2017-01-24 05:25] jasonblais commented on #377
This is not really priority since it's Electron's default style and reproduces in other Electron's apps.

Closing the task - we can reopen it later if someone else brings it up.

[2017-01-24 05:25] #377 closed

[2017-01-24 06:12] jasonblais commented on #412
We haven't received an update so we will assume that the problem is fixed or is no longer valid.

If you still experience the problem, you're welcome to reopen this issue with the relevant information and we're happy to look into it further.

[2017-01-24 06:12] #412 closed

[2017-01-24 23:07] jasonblais commented on #400
Tested on Windows 10, with various different combinations and it looks great. Thank you @yuya-oc!

Ready to merge,

[2017-01-24 23:07] jasonblais commented on #400
PS: I'll no longer accidentally remove a server from the app, yay! :D

[2017-01-25 11:54] yuya-oc commented on #400
I added the checklist.

[2017-01-25 18:48] nmatt commented on #233
I get this behavior again with version 3.5.0.
Can you please reopen the issuer?

[2017-01-25 20:08] jasonblais commented on #233
Thanks @nmatt - is it on Windows 7 Pro? Can your other team members reproduce the issue as well (and which platforms do they have)?

[2017-01-26 14:22] nmatt commented on #233
@jasonblais: We can reproduce it under Windows 7, 8.1 and 10 Enterprise/Pro. Behavior B (see above) happens with the classic Alt+Tab switcher. You can temporarily activate the classic Alt+Tab switcher by holding the left Alt key down while pressing and releasing the right Alt key and then pressing the Tab key.

[2017-01-27 00:01] fmp777 opened #422 "Download file should default to last used directory"
I confirm (by marking "x" in the [ ] below):

- [ x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [:P]

[2017-01-27 03:08] yuya-oc commented on #422
The behavior depends on platform. Just for reference, please write about your platform.

[2017-01-27 05:42] fmp777 commented on #422
Sorry about that
Version 3.4.0 (3.4.0)  OSX Sierra 10.12.2

[2017-01-27 09:36] yuya-oc commented on #422
v3.5.0 should fix the problem. If you still have the problem, feel free to reopen this.

[2017-01-27 09:36] #422 closed

[2017-01-31 03:24] jasonblais commented on #233
Thanks @nmatt, here are the steps for me. Let me know if one of them is incorrect / I'm missing any of them?

Would be happy to create a new issue or reopen this one, just want to make sure we have the exact repro steps for it as these ones didn't show me the Mattermost dialog:

1) Download v3.5.0 from https://about.mattermost.com/downloads
2) Launch the app
3) Close the app window using the "Clos

[2017-01-31 16:54] rholmboe opened #426 "[Help Wanted] After using ctrl+k, an added row appears in msg box"
I confirm (by marking "x" in the [ ] below):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I

[2017-01-31 17:00] jasonblais commented on #426
Thanks @rholmboe for the report!

Does this reproduce on the Chrome browser? Would you have a sample screenshot to share?

[2017-01-31 17:09] rholmboe commented on #426
@jasonblais This doesn't reproduce on a Chrome browser. Sadly I cant share a sample without displaying sensitive information. But the fault is very easy to reproduce. Activate search by using ctrl+k, type in your wanted channel and press enter twice, one for select channel in search box and one to press "switch" button.

I just found out that it doesn't reproduce when using mouse to click on "swit

[2017-01-31 17:36] hamishgraham opened #427 "URL address is shown for internal Mattermost links when hovering with mouse."
I confirm (by marking "x" in the [ ] below):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I h

[2017-01-31 18:11] jasonblais commented on #427
@yuya-oc is this controlled by the Mattermost server, or are there optimizations we can do on our end?

The behaviour currently matches between the web app and the desktop app.

[2017-01-31 20:33] jasonblais commented on #426
Ah yes, I'm able to reproduce it on Windows 10 as well. Thanks for the report!

[2017-01-31 21:35] rholmboe commented on #426
No worries, glad I could help. Awesome product, keep the good work up :)

[2017-02-01 03:16] yuya-oc commented on #427
The hovering URL is controlled by our side. Currently the app doesn't check a URL, so it's merely appears even if it's internal address.

[2017-02-01 17:32] jasonblais commented on #427
Ah okay -- it would make sense then not to show the URL for internal links by default.

Most of them aren't very useful, e.g.
![image](https://cloud.githubusercontent.com/assets/13119842/22518388/6aa1b584-e87a-11e6-9e81-2fd4d25ad06b.png)

Would it just ignore links that match the server URL?

[2017-02-02 03:10] yuya-oc commented on #427
Now what tha app can know is URL string only, so the only way is pattern matching.

For embedded link, I'm not sure whether there is a way to know the link is embedded or not for now.

[2017-02-02 15:24] nmatt commented on #233
Hi @jasonblais.
For behavior A:
1) Launch Mattermost desktop 3.5.0
2) Launch some other application
3) Alt+Tab back to Mattermost desktop
4) Close Mattermost desktop using keyboard or Close button
=> Focus is _not_ back on the other application (but is still on the now invisible Mattermost desktop application)

For behavior B:
1) Launch Mattermost desktop 3.5.0
2) Launch some other application (to

[2017-02-02 20:19] jasonblais opened #429 "Mattermost Desktop App v3.6 - RC1 is out!"
Hello - and huge thanks to everyone for contributing to the Mattermost Desktop project!

Given our recent progress, we feel we’re ready to release v3.6 soon. Here are the proposed dates (all tentative and subject to change):

**UPDATED:**
- Friday 2/17: Code complete with `release-3.6` locked in the desktop repo - [see changelog](https://github.com/mattermost/desktop/blob/master/CHANGELOG.md#relea

[2017-02-02 22:36] jasonblais commented on #233
Thanks for the repro steps! I was able to reproduce both

@yuya-oc Looks like this commit touched that part of the code and, for instance, changed the function name from `hide_window(mainWindow)` to `hideWindow(window)`

https://github.com/mattermost/desktop/commit/16788b5a6f0effebca908e9566e60651e7bf5c1d#diff-1c90ff38a08209f9ebd4d05d1e43358e

Wondering if that might have caused the regression? Th

[2017-02-02 23:32] yuya-oc commented on #233
That part should not cause the regression because the funtion name is also changed to `hideWindow()` in the switch statement. Otherwise, I think that the window never close.

[2017-02-03 01:29] jasonblais opened #430 "[Help Wanted] Focus not set back to the next top-level window after closing Mattermost app window"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2017-02-03 01:31] jasonblais opened #431 "[Help Wanted] Mattermost desktop app icon appears in the "classic" Alt+Tab switcher list after app window is closed"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2017-02-03 01:31] jasonblais commented on #430
Might be related to #431.

[2017-02-03 01:32] jasonblais commented on #233
Thanks all! I created new issues for the two bugs: #430 and #431

Thanks @nmatt for the detailed description, really useful.

[2017-02-03 06:34] jasonblais commented on #427
Ah, I see. I don't know if we'd want that, since people can use embedded links and it's helpful to see the URL before clicking it.

@hamishgraham how much are the channel URLs bothering you?

For internal links that are shown when hovering over buttons like flags and channel names (see below) are handled on the server side. It might make sense to remove those, what do you think?

![image](https://

[2017-02-03 10:34] hamishgraham commented on #427
I'd get used to it sure but I'm currently using v3.4.1 because of this but I'm sure I'll upgrade at some point. It just seems like unnecessary behaviour given that it's meant to be closer to a native app rather than a web browser. Apps like Skype or Slack don't show internal links.

[2017-02-03 10:40] hamishgraham commented on #427
By embedded links, do you mean ones created with markdown like this: "[somesite](http://google.com/)" ?

Then yes it's definitely useful to see the full URL when hovering over these.

[2017-02-03 13:15] jasonblais commented on #427
^yeah, that's correct @hamishgraham. That's actually why this feature was added to v3.5, because people were having trouble knowing what the link is before clicking it.

Also, Slack/Skype apps don't show any URL when you hover over them (whether internal or external), at least on Windows 10.

I'll bring it up in our UX design meeting to consider removing internal links in Mattermost webapp for but

[2017-02-03 14:35] #333 closed

[2017-02-03 14:35] #416 closed

[2017-02-03 14:43] jasonblais commented on #333
Thanks all for your patience -- this issue will be fixed in Mattermost desktop v3.6.

You can find more details about the v3.6 release dates here: https://github.com/mattermost/desktop/issues/429

[2017-02-03 22:55] seanodell opened #432 "Cannot Back Out of "Choose a Team" Screen"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2017-02-03 23:58] jasonblais commented on #432
Hey @seanodell, thanks for the note.

If you go to File > Settings, you'll be able to update your server information (either edit existing or add a new one).

With #415 you'll also be able to add a new server from the server tab bar, to make that experience better.

[2017-02-05 16:43] jasonblais commented on #429
Due to personal circumstances, the release dates for Desktop App v3.6 will be moved - we'll announce a new date for the release candidate cut in a few days.

[2017-02-08 20:46] jabis commented on #161
This issue reappeared with 3.6.* server version on 3.5.0 desktop client + accessing thru web, regression?

[2017-02-08 20:53] jasonblais commented on #161
@jabis can you share a screenshot of your selected app options on the Settings page (via File > Settings)?

Which operating system do you have (Windows / Mac / Linux)?

Which YouTube video caused the issue?

[2017-02-09 12:46] jabis commented on #161
Here you go:
Windows 10, happens also on multiple Windows 7's and all the videos behave the same.
![image](https://cloud.githubusercontent.com/assets/27401/22783884/50bf2976-ef00-11e6-866b-039b15234acf.png)

[2017-02-09 12:50] jabis commented on #161
Happens both with http and https schemes:
![videonotfound](https://cloud.githubusercontent.com/assets/27401/22784025/eb3ca906-ef00-11e6-830a-09dc4a49e789.png)

[2017-02-09 16:58] jasonblais commented on #161
Thanks for the screenshots! Can you help share one more --> what does your "Help > Version" dropdown menu say?

Just want to make sure the desktop app v3.5 installation was successful and you have the correct version.

[2017-02-10 10:41] jabis commented on #161
Version 3.5.0 - I did try to reinstall the client, but it does happen on web clients as well.

[2017-02-11 00:16] jasonblais commented on #427
Adding a server side label for now -- we're looking at potentially hiding the URL for internal links, such as when hovering over icons.

This should help mitigate how often you see the URL for internal Mattermost links.

[2017-02-11 00:19] jasonblais commented on #432
Sorry, I missed this note on my first read.

Any suggestions on how we would make it easier to edit server information on the UI?

[2017-02-11 00:25] jasonblais commented on #161
Hmm, Mattermost has a setting in the System Console to specify the Google API key.

Wondering if [the related documentation](https://docs.mattermost.com/administration/config-settings.html#google-api-key) would be of any help?

![image](https://cloud.githubusercontent.com/assets/13119842/22848962/83bf1c20-efc6-11e6-9185-2f88d0d35d46.png)

[2017-02-12 15:12] jabis commented on #161
The google api key is valid and in use on multiple sites, so that doesn't do much. I still think this is a regression but maybe in mattermost/platform not in client.

[2017-02-12 15:13] jabis commented on #161
If you have the authority maybe you could transfer this issue to platform side?

[2017-02-12 22:34] jasonblais opened #433 "Don't show the collapse/expand arrow for HTTP image links when non-secure content is disabled"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2017-02-12 22:48] jasonblais opened #434 "Extend clickable area of individual app options on the Settings page"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2017-02-13 11:47] yuya-oc commented on #433
It doesn't reproduce in pre-release.mattermost.com (possibly it's already fixed in webapp).

[2017-02-13 12:59] jasonblais commented on #433
Hm, it does still reproduce for me on pre-release.mattermost.com using this link: http://www.mattermost.org/wp-content/uploads/2016/03/logoHorizontal.png

[2017-02-13 13:00] jasonblais commented on #433
Although on pre-release, step 3 has changed to **Account Settings > Display > Default appearance of image link previews** = Collapsed

[2017-02-13 13:04] yuya-oc commented on #433
Thanks, reproduced. However it seems that this is issue for webapp. It also reproduce on Chrome when using a broken link, e.g. https://example.com/not-exist.png (http 404).

[2017-02-13 13:32] jasonblais commented on #433
Ah, got it. I've created an issue on the server side: https://mattermost.atlassian.net/browse/PLT-5478

[2017-02-13 13:33] #433 closed

[2017-02-13 17:38] jasonblais commented on #429
Release dates have been updated:
 - release candidate cut: Friday Feb 17th
 - 3.6 release date: Tuesday Feb 28th

[2017-02-14 13:48] jabis commented on #161
Here you can see the key is enabled, and limited to the server's making the requests. Everything worked in 3.4.* but upgrading to 3.6.2 it suddenly stopped working again.
![image](https://cloud.githubusercontent.com/assets/27401/22931305/b88e528a-f2f6-11e6-8ed0-ff5a3963eb4c.png)

[2017-02-14 17:34] jabis commented on #161
Regenerating the api-keys for youtube resolved the issue.

[2017-02-14 18:09] jasonblais commented on #161
Ah I see. Glad to hear it got resolved

[2017-02-15 14:26] jasonblais commented on #161
I also added couple of steps for troubleshooting YouTube video issues in our docs: https://github.com/mattermost/docs/pull/873

[2017-02-15 22:28] jasonblais opened #437 "Desktop notification doesn't disappear if you lock the screen while notification is visible"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2017-02-16 00:15] jasonblais opened #438 "When name is missing from "Add new server" dialog, only the name field should be highlighted and "Add" button shouldn't be disabled"
I confirm (by marking "x" in the [ ] below):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I

[2017-02-16 00:15] jasonblais commented on #438
@jnugh a small bug I missed when reviewing #415. Not sure if that's something you'd have time to help with?

[2017-02-16 11:25] yuya-oc commented on #437
I think it's not applicable for Windows 7 and it seems that's Window's normal behavior.

I created a toast notification with [Notifications Visualizer](https://docs.microsoft.com/en-us/windows/uwp/controls-and-patterns/tiles-and-notifications-notifications-visualizer), then locked the screen. As the result, the notification didn't disappear from the lock screen for few seconds.

[2017-02-16 13:59] jasonblais commented on #437
If the desktop notification is visible, we cannot "remove" it when the screen is locked similar to Chrome notifications?

[2017-02-16 14:18] yuya-oc commented on #437
I could remove notifications by clicking it or its "x" button on the lock screen.

I think Chrome's notifications never appear on the lock screen because Chrome uses its own notification system rather than Windows' notifications.

[2017-02-16 18:15] jasonblais commented on #437
Thanks @yuya-oc! Sounds good

Given this is default Windows system behaviour and there isn't much we can do on our end, I'll close it. I was able to reproduce it with other apps that use a Windows notification system as well.

[2017-02-16 18:15] #437 closed

[2017-02-17 14:40] jasonblais opened #439 ""X" in top right corner of Settings page doesn't have an on hover effect"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2017-02-17 14:42] jasonblais opened #440 "JavaScript errors when refreshing the page"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2017-02-17 15:30] yuya-oc commented on #434
Solved by #428

[2017-02-17 15:30] #434 closed

[2017-02-17 15:32] yuya-oc commented on #398
Solved by #428

[2017-02-17 15:32] #398 closed

[2017-02-17 15:34] #400 closed

[2017-02-17 15:34] jasonblais commented on #400
Closed by #415, #421, #423 and #425. Thanks @yuya-oc and @jnugh!

[2017-02-17 15:36] jasonblais commented on #401
Closed via #415 and #435, thanks all!

[2017-02-17 15:36] #401 closed

[2017-02-17 16:16] colintheshots commented on #411
I'm seeing the same behavior. App is installed at /Applications/Mattermost.app.

[2017-02-18 11:38] jnugh commented on #440
I'll have a look right away. I don't remember those messages to be honest but maybe I introduced them with one of the later commits of my PR and simply didn't check again.

[2017-02-18 12:52] jnugh commented on #438
Actually the current behavior was intentional - When you click the Add button without filling any fields there are actually 2 errors, these fields are marked red. I don't think that it's a good idea to validate the form only until an error has been found.
I don't show the error next to the fields but in the bottom left corner where only one error message fits.
The Add button is disabled until you

[2017-02-18 15:56] jasonblais commented on #429
RC1 for v3.6 has been cut! Download links available to test below. Please link to issues you believe may warrant a patch.

Mattermost Desktop App 3.6 is scheduled for a release on February 28th.

[See changelog for details on what's new](https://github.com/mattermost/desktop/blob/9f348abe36156bbd39e3e463a6c9891eb130e1b0/CHANGELOG.md#release-v360).

**Windows Installers**

https://releases.mattermo

[2017-02-20 22:44] jasonblais opened #443 "Clicking a server name from system tray icon while on the Settings page does nothing"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2017-02-21 14:03] jasonblais commented on #438
@jnugh This seems to be inconsistent with Mattermost server error messages, hence making the experience less obvious (or familiar) to the end user.

[2017-02-21 17:25] jasonblais opened #445 "Windows 7: Scrolling the Mattermost Access History dialog breaks"
I confirm (by marking "x" in the [ ] below):

- [ ] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [ ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [ ] I

[2017-02-21 17:25] jasonblais commented on #445
^this seems to happen with Account Settings -> Security -> View and Logout of Active Sessions modal as well

[2017-02-21 18:44] jasonblais opened #446 "After adding a server on the Settings page, focus remains at "Add new server" link"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2017-02-21 18:49] jasonblais opened #447 "Windows/Linux: Title bar flashes for each new message if "Flash taskbar icon when new message is received" is enabled"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2017-02-22 11:47] yuya-oc commented on #447
It's correct behavior at least on Windows. We are merely using [`win.flashFrame()`](http://electron.atom.io/docs/api/browser-window/#winflashframeflag). But due to function name, possibly we might have to modify the option's description.

[2017-02-22 12:01] yuya-oc commented on #445
Reproduced on Chrome 56.

Steps:

1. Go to `Account Settings -> Security`
2. Reduce window width to use mobile layout of webapp
3. Click `View Access History` or `View and Logout of Active Sessions`
2. Scroll the modal

[2017-02-22 14:23] jasonblais opened #448 "[Help Wanted] JavaScript error after refreshing the app"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2017-02-22 14:24] jasonblais opened #449 "JavaScript error after going to the Settings page"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2017-02-22 14:38] yuya-oc commented on #443
Closed via #444

[2017-02-22 14:38] #443 closed

[2017-02-22 15:08] jasonblais commented on #429
PRs accepted for 3.6:

 - Fix an issue where server select menu was not working in settings page: #444
 - Fix JavaScript errors from the new "Add Server" modal: https://github.com/mattermost/desktop/pull/442

[2017-02-22 15:17] jasonblais opened #450 ""Help" below message box does nothing"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2017-02-22 15:17] jasonblais commented on #450
@yuya-oc not sure if something easy to fix for 3.6

[2017-02-22 15:25] ajscilingo commented on #44
I had this problem recently too in Windows 10 using version 3.6.1 of the Mattermost Client, deleting the bounds-info.json fixed it, thanks.

[2017-02-22 15:30] jasonblais commented on #445
Ah okay, I created a ticket for the platform team: https://mattermost.atlassian.net/browse/PLT-5622

Thanks @yuya-oc

[2017-02-22 15:30] #445 closed

[2017-02-22 15:36] yuya-oc commented on #450
It's easy to fix. It was introduced by f8fadcb8446001bf9b303bf086b4ac01d7fd7e8d because Electron's `window.open()` inherits `show: false` option from the main window.

[2017-02-22 15:37] jasonblais commented on #450
Thanks @yuya-oc, sounds good, let's aim to fix it for 3.6 then

[2017-02-22 16:01] jasonblais commented on #447
Closed by #452

[2017-02-22 16:01] #447 closed

[2017-02-22 16:12] jasonblais commented on #450
Fixed by #453, thanks @yuya-oc!

[2017-02-22 16:12] #450 closed

[2017-02-23 06:55] Artwalk commented on #399
It's weird no one complains about 'cmd + f' can't focus on search bar on Mac.

[2017-02-23 14:13] jasonblais commented on #399
Hey @Artwalk,

We want it to reserve CTRL/CMD+F on the desktop app for browser-like search so the experience would be consistent with the webapp.

I understand that you feel we removed functionality in this release, which is why we're considering to add a shortcut for the webapp (which would also work on the desktop app) that sets focus on the search bar. Curious to hear if you'd have any suggesti

[2017-02-23 14:19] jasonblais commented on #429
RC2 for v3.6 has been cut! Download links available to test below. Please link to issues you believe may warrant a patch.

Mattermost Desktop App 3.6 is scheduled for a release on February 28th.

[See changelog for details on what's new](https://github.com/mattermost/desktop/blob/master/CHANGELOG.md#release-v360).

**Windows Installers**

https://releases.mattermost.com/desktop/3.6.0-rc2/mattermos

[2017-02-24 05:46] Artwalk commented on #399
Oh, I see, consistent experience. the shortcut should be CTRL/CMD+SHIFT+F, then CTRL/CMD+F to work as a browser-like search.

But would you think that CTRL/CMD+F has a universal meaning which is 'find in apps'. You see,  Xcode, iTerm, Sublime.

If *search* was bound to other keys, users would get frustrated when they are going to search by pressing CTRL/CMD+F subconsciously. After all when they ch

[2017-02-24 13:39] jasonblais commented on #399
You raise very good points here.

It's true Slack overrides the normal browser behaviour, but that might be because [findInPage](http://electron.atom.io/docs/api/web-contents/#contentsfindinpagetext-options) was only available on Electron a year ago. So at the time when the feature was added there might not have been an easy way to add browser-like search for CTRL+F.

Good suggestion about CTRL+SH

[2017-02-24 14:51] yuya-oc commented on #44
FYI, upcoming v3.6.0 desktop app would fix this issue.

[2017-02-24 14:54] ajscilingo commented on #44
I'm using v3.6.1 of the Desktop App, I am however using a multi monitor setup (3 monitors), 2 of which are at 1080p and one of which is at 4K.  The DPI is different from the 4K and 1080p Displays, which I'm guessing might have something to do with what happened.

[2017-02-24 15:08] yuya-oc commented on #44
v3.6.1 doesn't exist (the latest is v3.5.0). Probably it's the version of the Mattermost server.

I feel that DPI is not related to this issue. But I'm not sure in detail though, it's a little hard to test for me.
By the way, possibly there might be another issue in multi DPI environment of Windows. Please see #357

[2017-02-24 17:59] ajscilingo commented on #44
It says in my About Mattermost Client, Mattermost Enterprise Edition Version 3.6.0 (3.6.1)

[2017-02-24 18:01] ajscilingo commented on #44
But funny, if I push the alt key and click on the help menu it says in the menu as a grayed out menu item Version 3.5.0

[2017-02-24 18:02] jasonblais commented on #44
Ah yes, the About Mattermost dialog is referring to the server; the help menu is for the client version.

Desktop App v3.6.0 should fix the issue, which is scheduled to release on Tuesday

[2017-02-25 23:32] jasonblais opened #455 "Give a more graceful error page when the app renderer process crashes"
I confirm (by marking "x" in the [ ] below):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I

[2017-02-25 23:32] jasonblais commented on #455
Adding `More Information Needed` label as we don't have a design for the error page yet for someone to implement.

[2017-02-26 05:17] jasonblais commented on #67
@yuya-oc FYI, adding "Help Wanted" tag for issues that are open for community contributions, [following the process from platform repo](https://docs.mattermost.com/process/community-guidelines.html#github-help-wanted-issues-in-platform-repository)

[2017-02-26 05:21] jasonblais commented on #429
The final build for v3.6.0 is cut! The release will be published in https://github.com/mattermost/desktop/releases by Feb 28th.

Thanks for all contributors, and a special thanks to @yuya-oc and @jnugh for making this release happen!

[2017-02-26 05:21] #429 closed

[2017-02-27 15:29] CromFr opened #456 "Settings not saved when changing tray icon theme"
I confirm (by marking "x" in the [ ] below):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I

[2017-02-27 15:45] mgove131 opened #457 "Hide menu bar on Windows"
I confirm (by marking "x" in the [ ] below):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I

[2017-02-27 16:41] jasonblais commented on #456
@yuya-oc can you help take a look? Potentially a critical bug

[2017-02-27 17:22] jasonblais commented on #457
@mgove131 @haboustak This was causing issues where users who had previously hidden the menu bar were unable to perform the actions as they didn't remember where the menu bar was located.

This particularly caused confusion during early user experience.

We're considering a design where the menu bar would be placed at the top left corner of the screen similar to attached.

Would that work?

![image

[2017-02-27 17:58] mgove131 commented on #457
@jasonblais Thank you for looking into this! Yes, I think something like that would be great. The main issue is that the menu bar always at the top often stands out and isn't needed most of the time. Having a button to click that is integrated in the UI should be an adequate solution.

[2017-02-27 23:17] yuya-oc commented on #456
@CromFr Thanks for feedback. Yeah, auto-saving is missing in callback of radio buttons as you mentioned. So we need to fix.

[2017-02-28 00:20] jasonblais commented on #456
To confirm, does this mean we should do 3.6.1 for Linux?

Is it **only** for the theme setting change?

[2017-02-28 05:17] jasonblais commented on #457
Glad to hear! I've added a `Needs Design` label for this issue so the UI can be finalized.

/cc @yuya-oc

[2017-02-28 12:59] yuya-oc commented on #456
@jasonblais Ah, I didn't think about that.

As far as I read the codes again, only theme doesn't start auto-saving. As reported in original observed behavior, fortunately the theme is saved by changing another app option. So I feel we **can** cut v3.6.1.

[2017-02-28 13:20] jasonblais opened #458 "Update dependencies/libraries used by the desktop project"
@yuya-oc Just creating an issue to help update library dependencies now that 3.6 is released.

[2017-02-28 14:38] jasonblais commented on #456
I'm not really familiar with the Linux UI - how common is it to change the theme option?

It sounds like it might be a one-time change, for which there's a workaround for now (changing another app option). So I'm not sure it warrants a v3.6.1, although we should fix it for v3.7 of course.

[2017-02-28 17:30] haboustak commented on #457
The implementation you had in `v3.5.0` is consistent with the native platform use of menus. In general, that's my preference. I'd imagine the menu on macOS isn't as annoying as on Windows. This hamburger menu design will be redundant with the menubar at the top of the screen.

There are probably only a handful of things that are important to the majority of users in the menu. The `Settings` option

[2017-03-01 10:56] yuya-oc commented on #457
Yeah, I feel a new design is not necessary for macOS. The separated menu bar at top of screen is the common interface in mac apps. Additional menu button might be redundant.

On the other hands, on Linux, the position of menu bar is strongly depending on desktop environments. Recent Unity or GNOME use separated menu bar as well, but there are environments which use a traditional menu bar. So it se

[2017-03-01 11:59] yuya-oc commented on #458
- [ ] dev tools
- [ ] webpack ecosystem
- [ ] test tools
- [ ] electron ecosystem
- [ ] React
- [ ] Bootstrap

[2017-03-01 14:47] mgove131 commented on #457
I disagree with the idea that the tool bar is needed, even to be consistent with other OS applications. The interface is much cleaner without it there, and this worked fine in v3.5.0. At least put a 'hide/show menu bar' option in the hamburger menu if you aren't going to add a new menu bar button.

Again, it's unfair to punish competent users because some users are unable to understand how a featu

[2017-03-01 15:07] yuya-oc commented on #457
To be sure.

On macOS, apps can't control whether the menu bar appears. It's one of system preferences.
And "Hide menu bar" have never existed in Mac version of this app due to this reason.

[2017-03-01 16:35] haboustak commented on #457
Making `Settings` available via icon on the main screen is useful on all platforms and should help users who can't figure out how to unhide the menu. They'd click settings, and they'd find the option.

I'd restore the hide menu option on Linux, so it can be used with window managers that don't have a shared menu bar. Your documentation can outline that hiding the menu requires platform support for

[2017-03-03 01:39] jasonblais commented on #457
@haboustak @mgove131 Completely understand where you're coming from.

We were getting lots of users being confused how to get to the Settings page (some were even blocked from using the app) as they had auto-hidden the menu bar.

So as a temporary solution, we removed the setting, which was only available on Windows and Linux. We realize this isn't ideal but isn't our long-term plan.

What we're t

[2017-03-03 03:02] troggnostupidhs commented on #457
In my opinion, it is a good solution for Windows. I'm also less familiar with macOS and Linux.

[2017-03-03 12:23] mgove131 commented on #457
@jasonblais It also makes sense to want to improve the feature for everyone. If it was problematic for some users, it is reasonable to fix it. The only frustration for me is that it was implemented by removing the feature without a replacement. It was something I used and it was already implemented. But that frustration is mitigated since you are planning to re-implement it.

For me, the solution

[2017-03-06 22:42] jasonblais opened #460 ""+" icon in server tab bar isn't vertically centered"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2017-03-07 13:24] jasonblais opened #461 "Use power-monitor API to re-load the app after computer wakes from sleep"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2017-03-08 13:16] jasonblais opened #462 "Change Mattermost server tab bar to be a similar height to Chrome tab bar"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [ X] I

[2017-03-08 13:17] jasonblais commented on #458
Closed by #459, thanks @yuya-oc!

[2017-03-08 13:17] #458 closed

[2017-03-09 13:45] yuya-oc commented on #426
@jasonblais I feel this issue was fixed by upgrading Electron in #459. Would you confirm with the latest build? https://circleci.com/gh/mattermost/desktop/909#artifacts

[2017-03-09 14:03] jasonblais commented on #426
You're correct @yuya-oc, I'm not longer able to reproduce it on the latest build

[2017-03-09 14:26] yuya-oc commented on #426
Thanks for testing. I will update the changelog.

[2017-03-09 17:39] ostrain opened #463 "OS X client doesn't integrate with native system text services"
I confirm (by marking "x" in the [ ] below):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I

[2017-03-09 18:12] dejadejoder commented on #317
Hi,
tray icon is invisible on i3wm (http://i3wm.org/).

[2017-03-09 22:15] jasonblais commented on #463
Thanks @ostrain - we currently use an [electron-context-library](https://github.com/sindresorhus/electron-context-menu) to display the context menu.

Apart from having a dictionary (which will be added with #225, hopefully soon) and Google search, are there additional options you're missing?

PS: @yuya-oc @jnugh I'm not sure if there are alternate libraries available we could explore?

[2017-03-10 13:36] dejadejoder commented on #317
Icon appeared this morning.
I didn't restart the OS but I restarted Mattermost.
![screenshot_20170310_103500](https://cloud.githubusercontent.com/assets/2197555/23797201/62e9e8f0-057d-11e7-91f4-61df5822bced.png)

[2017-03-11 13:22] yuya-oc commented on #463
I feel there no alternatives. UI is not consist from native code (at least in our side), so basically os-level integration is not easy.

Search:
I'm not sure how I can use it in Objective-C, but we can use a hard-coded query, `https://google.com#q=<TEXT>` as a workaround.

Dictionary:
Probably we can use Electron's [`webview.showDefinitionForSelection()`](https://electron.atom.io/docs/api/webview-

[2017-03-15 14:53] jasonblais commented on #430
Resolved by #464

[2017-03-15 14:53] #430 closed

[2017-03-15 14:53] jasonblais commented on #431
Resolved by #464

[2017-03-15 14:53] #431 closed

[2017-03-16 12:11] jasonblais commented on #456
Closed by #465, thanks @CromFr and @yuya-oc!

[2017-03-16 12:11] #456 closed

[2017-03-16 13:19] jasonblais opened #467 "Windows 7/8: Add support for sound notifications"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2017-03-16 14:11] #426 closed

[2017-03-16 14:57] jasonblais opened #468 "JavaScript error after adding server via the "+" icon"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2017-03-16 15:01] jasonblais commented on #467
@yuya-oc I added to the 3.7 milestone -- but if this is a lot of work to add, we can look into it later

[2017-03-16 15:50] #460 closed

[2017-03-18 12:01] yuya-oc commented on #448
Closed via b1d586e9da3b8eba958d2ca855d4b679adf8d5f7

[2017-03-18 12:01] #448 closed

[2017-03-22 14:06] PotatoAdmin opened #471 "Windows spawn off-screen after remote desktop"
I confirm (by marking "x" in the [ ] below):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I

[2017-03-22 15:01] jasonblais commented on #471
@jnugh looks like there are still some instances where the desktop app opens in an "invisible" screen as described above

[2017-03-22 16:01] jasonblais opened #472 "Review README.md and CONTRIBUTING.md files"
Review README.md and CONTRIBUTING.md files

Creating an issue for @jasonblais to review the two files and update where needed

1) README should really be for developers looking to contribute, and install guides, feature lists, etc.
2) contribution guidelines way out of date and missing a note about testers. Could base it off of platform contribution guidelines: https://github.com/mattermost/platfo

[2017-03-22 16:42] jasonblais commented on #406
Before we implement this --

I've heard many people would actually like to have multiple Mattermost windows open, so they can have several conversations simultaneously.

So I'm not sure if we should turn this into a "feature" where you can have multiple windows open. We'd of course need to design the user experience carefully so that it makes sense, and also fix issues where you lose functionality

[2017-03-22 16:49] michaelcadilhac opened #473 "Main window unresponsive when brought back from command line."
**Summary**
When the main window is closed but the app is not (normal tray icon behavior), bringing back the window with `xdotool`, `wmctrl`, etc. results in an unresponsive or blank window.

**Steps to reproduce**
Start the app, with systray and "leave app running" checked.  Close the window.  Execute:
` xdotool search --class mattermost windowmap `

On: Arch Linux using Awesome as the WM, and th

[2017-03-22 16:52] jasonblais opened #474 "More informative “About this app” dialog"
Implement a more informative “About this app” dialog for the desktop app (currently we only show the version number in Help menu).

One option is to use this library: https://github.com/rhysd/electron-about-window

Something we'll want to consider is whether it's weird to have two "About" dialogs (one for the app, one for the server from the Mattermost Main Menu) and whether we'd want to hide the

[2017-03-22 16:56] jasonblais opened #475 "Add localization support via Mattermost Translation Server"
Add localization support via [Mattermost Translation Server](translate.mattermost.com).

The [new mobile apps](https://github.com/mattermost/mattermost-mobile/tree/master/assets/base/i18n) have localization support (although it'll only be in English/Spanish for the beta launch).

We should explore options to support localization of the desktop app, which would consist of all app-specific strings l

[2017-03-22 16:58] jasonblais opened #476 "Add a new accelerator for Help > Keyboard Shortcuts"
Add a new accelerator for Help > Keyboard Shortcuts, which performs the same actions as `/shortcuts` or `CTRL/CMD+/`

Dependent on the server-side implementation of outputting a dialog rather than text when executing `/shortcuts` command: https://mattermost.atlassian.net/browse/PLT-3377

[2017-03-22 17:06] jasonblais opened #477 "Full support for CTRL+MINUS and CTRL+PLUS"
Jira ticket: https://mattermost.atlassian.net/browse/MM-14099

Full support for CTRL+MINUS and CTRL+PLUS, matching the webapp experience.

For instance, for zoom-in, only `CTRL+=` and `CTRL+SHIFT+=` work, but `CTRL+PLUS` doesn't work in standard Windows keyboard layouts like attached where the right side of the keyboard has a numeric keypad.

![image](https://cloud.githubusercontent.com/assets/131

[2017-03-22 17:08] jasonblais opened #478 "Allow reordering servers in desktop application"
Jira ticket: https://mattermost.atlassian.net/browse/MM-14098

Allow users to reorder servers directly on the Server Management page and on the navigation bar.

There seems to be no way to reorder the servers in the desktop application (the order within the tab strip at the top of the application window), other than deleting and re-adding the servers  in the desired order. It would be useful to be

[2017-03-22 17:10] jasonblais opened #479 "Use a splash screen when a user first installs the app"
Use a splash screen when a user first installs the app

This would need design (welcome to hear feedback from community!)

We'd also want to consider how to better handle the experience when you remove all servers and have none remaining on the Settings page (is the splash screen shown to the user in that case, or something different?)

[2017-03-22 17:12] jasonblais opened #480 "Force minimum desktop app version"

[2017-03-22 17:12] jasonblais opened #481 "Increase code coverage through more automated and stable tests"

[2017-03-22 17:14] jasonblais opened #482 "Have desktop app colours dependent on Mattermost theme colour"
Have desktop app colours dependent on Mattermost theme colour for a more complete user experience

[2017-03-22 17:16] jasonblais opened #483 "Allow admins to pre-configure desktop apps"
Allow admins to pre-configure desktop apps so end users don't have to input server URLs and app settings.

For auto-start option, there are 2 ways to sync this kind of setting:
 - Query the OS on app start and set config.json to whatever is set in the OS -> Changing config.json would have no effect
 - Set whatever is found in config.json and write it to OS (create or remove autostart file). -> Rem

[2017-03-22 17:20] jasonblais opened #484 "Use Redux to manage application state"
Both the webapp and mobile app are planning to move over to [a Redux architecture](https://github.com/mattermost/mattermost-redux).

We'll eventually want the desktop app moved to it too, perhaps later in Q3 or Q4 of 2017

----

EDIT: The action to move to pure React Native apps will be a different project. This issue is only to use Redux to manage application state.

Here are some references for

[2017-03-22 17:21] jasonblais opened #485 "Evaluate yarnpkg as a dependency management tool"
Evaluate yarnpkg as a dependency management tool: https://github.com/yarnpkg/yarn/releases

Should first wait until v1.0.0 is released

[2017-03-22 17:22] jasonblais opened #486 "Windows 7: Dialog to confirm uninstallation"
Dialog to confirm uninstallation, so that a user doesn't accidentally perform the action

[2017-03-22 17:32] jasonblais commented on #406
Here's a uservoice request actually: https://mattermost.uservoice.com/forums/306457-general/suggestions/17521477-open-channels-and-direct-messages-in-different-win

[2017-03-22 20:45] jasonblais opened #487 "Use AppData/Local for cached data on Windows"
From: https://mattermost.uservoice.com/forums/306457-general/suggestions/17887945-use-appdata-local-for-cached-data-on-windows

For Windows all local Mattermost data is stored inside of %APPDATA% (AppData/Roaming).
This directory syncs between computers on every login / logout in certain corporate environments.

Cache data should be placed inside AppData/Local.

[2017-03-22 21:09] jnugh commented on #471
I'm not sure how Windows RD works - so I'm not sure if I got this right: When you clsoe the remote desktop session you do not log off form your user, right? So when you use your monitor you do not have to login again and all applications are still running?

The desktop app checks if it has been placed off screen during startup, so when you didn't restart the Desktop app it will not notice that it

[2017-03-22 21:19] jasonblais commented on #395
I'll close the issue for now since it's not specific to the desktop app

If you're still experiencing the same issue, I encourage you to post in our [Mattermost Troubleshooting forums](https://forum.mattermost.org/t/how-to-use-the-troubleshooting-forum) which has more visitors that can better help you with it

[2017-03-22 21:19] #395 closed

[2017-03-23 14:48] yuya-oc commented on #487
As far as reading https://github.com/electron/electron/issues/1404, it's Electron's limitation.

[2017-03-23 15:03] yuya-oc commented on #486
This can be applied only for Windows. On Mac, we will never use uninstaller. On Linux, package managers would confirm to perform uninstallation.

[2017-03-23 21:36] jasonblais commented on #457
@mgove131 @haboustak

Wondering if you'd have examples of other apps that let you hide the menu bar and how this is accomplished (e.g. through a config option, app setting, integrating in the UI, etc.).

I'm just currently researching other apps to find which pattern might work the best for this project. All help is much appreciated.

[2017-03-24 13:59] PotatoAdmin commented on #471
For the remote session, it is like locking the computer. When using remote desktop it prompts you for the password and it's like you never left your computer. It also shows only one screen, squishing all your applications on a single screen.

In my case, I lock my workstation when leaving in the evening and sometimes have to remotely log in to access our systems. The next morning when I get back t

[2017-03-25 17:38] jasonblais commented on #150
We might want to build an installation wizard instead of using an installation icon. That's much more common for Windows

[2017-03-25 19:36] #150 closed

[2017-03-26 15:20] yuya-oc commented on #461
@jasonblais To make sure, would you check webapp's behavior in this case? I'm afraid there are missing messages in web browsers.

[2017-03-26 17:13] jasonblais opened #490 "Use a Mattermost animation icon when loading a page in the app"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2017-03-26 17:15] jasonblais opened #491 "Create an install wizard for Windows app"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2017-03-26 17:16] jasonblais opened #492 "Add Desktop app to Windows & Mac Stores"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2017-03-26 17:19] jasonblais commented on #461
This isn't an easy-to-solve solution on the webapp because we are limited by what the browser tells us and have no access to operating system events that would normally make this trivial.

However, if the app reloads after the computer wakes from sleep, we can be more certain that messages shouldn't be missing on the desktop app.

As a note, the people who reproduced the issue could do it on v3.6

[2017-03-26 19:30] jasonblais opened #493 "Send Softpedia an updated product description and screenshots"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2017-03-26 19:31] jasonblais commented on #493
Lots of great improvements coming in the next couple of months, so might be better to wait until v3.9/3.10 is released

[2017-03-27 08:14] jpVm5jYYRE1VIKL opened #494 "Client constantly hangs in random moments"
It is not possible to predict when it will hang next time. But look like mattermost client have dead thread lock somewhere . Have same behavior at least on 3 Different computers (1 PC Windows 10 PRO and 2 PC Windows 10 home). Possible fix only over kill mattermost client processes in Task Mananger and restart. In most cases it happens in moment click trey icon during conversation.

[2017-03-27 13:14] yuya-oc commented on #491
This is a simple example of NSIS installer by electron-builder. It seems that some images can be specified in [the option](https://github.com/electron-userland/electron-builder/wiki/Options#nsisoptions).

https://www.dropbox.com/s/3bcazjk7tuguipv/mattermost-setup-3.6.0-win.exe?dl=0
(Due to version incompatibility of GCC, I can't build the artifact in CircleCI yet)

This issue might be related to o

[2017-03-27 13:22] yuya-oc commented on #492
For Windows, we can use [Desktop App Converter](https://docs.microsoft.com/en-us/windows/uwp/porting/desktop-to-uwp-run-desktop-app-converter).

https://mspoweruser.com/slack-brings-desktop-app-windows-store/

[2017-03-27 13:36] jasonblais commented on #494
Thanks @jpVm5jYYRE1VIKL for the report, few questions that come to mind,

1. Which Mattermost server version are you using?
2. Which Mattermost desktop version are you using?
3. Does it reproduce after accessing a particular channel/team?
4. Do you see a CPU spike during this time?

[2017-03-27 13:39] yuya-oc commented on #492
Guides for Mac App Store: https://electron.atom.io/docs/tutorial/mac-app-store-submission-guide/

[2017-03-27 13:54] yuya-oc commented on #461
Ah, thanks. Probably I confused with online/offline-events. But the computer might be offline when it wakes from sleep, so I will take care about this case.

Separately, it's a little weird :(

[2017-03-27 14:14] mgove131 commented on #457
For me, the old method worked fine. If I needed the menu, pressing Alt brings it back. And while it is hidden, it is not a distraction in the interface. If it is problematic for some users, the option can be hidden in a sub-menu or config file.

I don't have examples from other programs. I do think the screenshot shown earlier is a good, clean solution. My problem is that as is, the menu bar does

[2017-03-27 14:38] jpVm5jYYRE1VIKL commented on #494
Sorry that forced to ask extra questions.
1. Server was 3.6.2
2. Client was 3.5.0
3. Nope completely random. Sometimes i just click on window and understand that it hanged.
4. It is hard to detect because all issues happens on powerfull computers (core i7) i not feel cpu spike.
Now i upgraded server to version 3.7.3 and client to version 3.6.0 to see that happens.

[2017-03-27 14:45] jasonblais commented on #494
Awesome, thanks! Let us know if the issue reproduces on the latest server/client version

[2017-03-28 06:41] xeno-by commented on #45
Hi everyone! What's the current status of this feature? I can't seem to be able to find it in 2.5.2.

[2017-03-28 11:51] jasonblais commented on #45
@xeno-by Which desktop app version are you running? We haven't released v2.5.2

[2017-03-28 13:30] PotatoAdmin commented on #471
After some research and consultation with the colleague that had the same issue, we reached the conclusion that the windows updates, restart of the application AND deletion of the
`%USERPROFILE%\AppData\Roaming\Mattermost\bounds-info.json`
file **fixed** the trouble. Only restarting the application did not fix the problem, same with only deleting the file. It is recreated with bad values every tim

[2017-03-28 13:36] jasonblais commented on #432
@seanodell We've made an update on the Mattermost server side where you should be able to go back from the "Choose a Team" screen to the previous page in the webview.

Hopefully this will help in the future,

[2017-03-28 13:36] #432 closed

[2017-03-28 15:20] xeno-by commented on #45
v2.5.2: https://www.dropbox.com/s/7zssczcsq2mju98/Screenshot%202017-03-28%2018.20.03.png?dl=0

[2017-03-28 15:30] jasonblais commented on #45
Looks like it might be the Slack desktop app @xeno-by

If you're using the app to run a Mattermost instance, we recommend downloading the [Mattermost desktop app](https://about.mattermost.com/downloads/) to get the best user experience.

[2017-03-28 15:43] xeno-by commented on #45
Oops, I came here via google and figured that you guys are somehow related. Sorry for the trouble!

[2017-03-28 15:45] jasonblais commented on #45
no worries! 👍

[2017-03-28 18:47] jasonblais opened #497 "Unable to upload SAML certificate file from file upload dialog"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2017-03-29 03:33] jasonblais commented on #457
Here's the proposed design (sorry, the screenshots are a bit blurry)

![image](https://cloud.githubusercontent.com/assets/13119842/24437399/d3cbca12-140e-11e7-8a38-6bc251fe347c.png)

I'm not sure if the black colour for the hamburger menu bar is too dark, but we can try it out first. If it is, we can consider using  a grey colour matching the plus icon

[2017-03-29 04:44] jasonblais opened #498 "Mac: Quick Look in Upload File Dialogue Cannot Be Closed"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2017-03-29 07:19] mehmetkemalbayer commented on #395
@jasonblais I solved the issue. The problem was corporate firewall. It was blocking some of the websocket packages. In short, there is no problem about application.

[2017-03-29 10:51] MetalCar opened #499 "Custom Emojis not visible in Mac OS"
I confirm (by marking "x" in the [ ] below):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I

[2017-03-29 11:51] jasonblais commented on #395
@mehmetkemalbayer I'm glad to hear your issue got resolved!

[2017-03-29 11:54] jasonblais commented on #499
Thanks @MetalCar for the report! We've got a ticket to track this on the server side: https://mattermost.atlassian.net/browse/PLT-3711

[2017-03-29 17:11] jasonblais commented on #406
I've moved this to `Unscheduled` milestone for now --> we're getting lots of feedback where people would like to have multiple Mattermost windows open.

So we'll want to revisit the design here and carefully evaluate what we want to do here

[2017-03-29 17:14] jasonblais commented on #411
Any updates on here?

[2017-03-29 18:30] jpVm5jYYRE1VIKL commented on #494
Small update to issue. Just now happened again. Issue is not real hanging. It is freeze for 1 - 2 minutes. During this time application GUI completely not respond. Cpu not have any spikes.  In task manager application not marked as not responding and not eat CPU.
After 1 - 2 minutes application unfreeze itself and continue to work. Detected such behavior because started to search debugger to attac

[2017-03-29 19:15] jasonblais opened #500 "Change position of "Saved" indicator on Settings page"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2017-03-30 00:46] jasonblais opened #501 "Emoji picker UI shifts to the side when scrolling diagonally up-left on touch pad"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2017-03-30 12:07] igmar commented on #411
We stopped using Mattermost, it wasn't suitable for production usage.

[2017-03-30 12:13] jasonblais commented on #411
Sorry to hear that, but also understand -- what made you move away from Mattermost, if I may ask?

[2017-03-30 12:39] yuya-oc commented on #501
Not reproduced for me on Mac. Need to check later again.

[2017-03-30 14:00] jasonblais commented on #494
Thanks @jpVm5jYYRE1VIKL - how did you set up your Mattermost environment?

Are you using any proxies?

[2017-03-30 14:05] jpVm5jYYRE1VIKL commented on #494
Yes using. https://nginx -> http://mattermost:8065

[2017-04-03 12:10] jasonblais commented on #467
Resolved by #503, thanks @yuya-oc!

[2017-04-03 12:10] #467 closed

[2017-04-03 13:09] yuya-oc commented on #411
I think the problem was solved probably by upgrading Electron. I tested with the latest artifact.

https://circleci.com/gh/mattermost/desktop/930#artifacts

[2017-04-03 13:11] jasonblais commented on #411
@igmar @colintheshots would you like to try downloading test build from https://circleci.com/gh/mattermost/desktop/930#artifacts and see if the issue is resolved for you?

[2017-04-03 14:05] mjekovec2 commented on #347
I'm having the same issue. Dell XPS 13, no special power management. Freezes, for a few minutes, then throws out all the messages at once.

[2017-04-03 14:35] jasonblais commented on #347
@yuya-oc Is there debugging available for the desktop app?

@mjekovec2 anything in the server logs? (From System Console > Logs)

[2017-04-03 14:38] jasonblais commented on #347
@mjekovec2 have you noticed any patterns when the freezing occurs? Such as after receiving a notification or after someone posts a link/image preview?

[2017-04-03 14:38] jasonblais commented on #494
@yuya-oc is there any debugging available for the desktop app?

Someone else has the client freezing in Windows 10: https://github.com/mattermost/desktop/issues/347#issuecomment-291153639

[2017-04-03 15:10] igmar commented on #411
@jasonblais Basically, to many issues. Apps not working properly, events not getting noticed. We unleashed our QA department on it for 2 hours, and at a point they just stopped reporting issues.

While that might be fine for an unpaid product, it's not if it's a paid product.

[2017-04-03 15:38] yuya-oc commented on #494
As far as reading the behavior, it sounds like a performance issue. (but it's also weird because CPU doesn't have spike...) The application consists of many processes like Chrome, so the process which @jpVm5jYYRE1VIKL had attached might not be appropriate.

I feel "Timeline" and "Profiles" tabs of developer tools (`Ctrl+Shift+I`) might make sense to measure the problem.
By executing `document.getE

[2017-04-03 16:39] jasonblais commented on #494
Thanks @yuya-oc

@jpVm5jYYRE1VIKL Thank you for all your reports thus far, it's really helpful. Would you be open to help provide the information described above next time the issue occurs?

I'm wondering if it could be a memory issue on the app

[2017-04-03 17:01] jasonblais commented on #411
Thanks @igmar for the feedback, much appreciate it. We respect your decision and hope the platform you chose meets your needs.

If you'd be open to, we'd love to see issue reports your QA department filled. Of course understand if they're confidential. We have moved the Mattermost server back to monthly releases due to increased community activity, allowing us to fix bugs and quality issues sooner

[2017-04-03 17:01] jasonblais commented on #411
@yuya-oc if you tested the problem is resolved, I'm okay submitting a fix for it to resolve this GitHub issue

[2017-04-03 19:09] mjekovec2 commented on #347
1) No, I don't see a pattern. It might be notification as currently very few people are online and I'm not receiving any notification. And everything works great

2) I will try to track logs tomorrow. Currently, the history is cleared and I'm only seeing logs from a few minutes ago.

Thanks for a quick reply

[2017-04-03 23:15] yuya-oc commented on #411
The artifact was built from the master branch. That means the problem is already fixed. I will test again and update changelog.

[2017-04-04 12:22] #411 closed

[2017-04-04 13:05] yuya-oc commented on #498
The point is that the dialog is attached to the main window on macOS. It prevents our event handlers, so the webview couldn't get focus correctly.

To solve this, an event which is not supported by Electron is necessary. I confirmed the problem was solved by using modified Electron. So I'll prepare a PR for this.

But probably it doesn't meet the next milestone even if the PR is merged (it would b

[2017-04-04 13:17] jasonblais commented on #498
Cool, thanks @yuya-oc for investigating -- I've updated the milestone to the next one

[2017-04-04 13:20] yuya-oc commented on #498
Ah, sorry I had a mistake. [My previous comment](https://github.com/mattermost/desktop/issues/498#issuecomment-291493264) should be applied to #341.

[2017-04-04 13:23] yuya-oc commented on #341
The point is that the dialog is attached to the main window on macOS. It prevents our event handlers, so the webview couldn't get focus correctly.

To solve this, an event which is not supported by Electron is necessary. I confirmed the problem was solved by using modified Electron. So I'll prepare a PR for this.

But probably it doesn't meet the next milestone even if the PR is merged (it would b

[2017-04-04 17:10] jpVm5jYYRE1VIKL commented on #494
Yes of course when next time it happen all try to provide as more as possible information.
it is really hard to catch because of random nature.

[2017-04-04 17:44] jasonblais commented on #501
Reproduces on the browser so created a ticket for the webapp https://mattermost.atlassian.net/browse/PLT-6216

[2017-04-04 17:44] #501 closed

[2017-04-04 19:51] GeoffreyVDB opened #504 "Add installer hashes"
Hi there,

It would be nice to have hashes of the mattermost installers provided here and on the website. This way it is possible to quickly verify if the installers have not been tampered with :).
Example: http://keepass.info/integrity.html

[2017-04-04 22:35] jasonblais commented on #494
Thank  you @jpVm5jYYRE1VIKL, really appreciate it. Would getting the logs for 1-2 minutes after the app is accessible again be helpful @yuya-oc?

[2017-04-04 22:36] jasonblais commented on #499
I'll close this issue in favor of https://mattermost.atlassian.net/browse/PLT-3711, since it's not desktop app specific issue

Much appreciate the bug report, good to still see you around @MetalCar :)

[2017-04-04 22:36] #499 closed

[2017-04-05 04:23] jasonblais commented on #504
That's a good idea, I think that shouldn't be too hard to do

@GeoffreyVDB would SHA-256 Checksum be sufficient? We provide it with the Mattermost server releases https://docs.mattermost.com/administration/upgrade.html#version-archive

[2017-04-05 04:25] GeoffreyVDB commented on #504
Yes SHA256 should be fine, thanks!

On 5 Apr 2017, at 06:23, Jason Blais <notifications@github.com<mailto:notifications@github.com>> wrote:

That's a good idea, I think that shouldn't be too hard to do

@GeoffreyVDB<https://github.com/GeoffreyVDB> would SHA-256 Checksum be sufficient? We provide it with the Mattermost server releases https://docs.mattermost.com/administration/upgrade.html#version-

[2017-04-05 04:35] jasonblais commented on #504
Thanks! Created a pull request to add it to our release process. We'll include it in our next desktop app release https://github.com/mattermost/desktop/pull/505

[2017-04-05 10:56] luckydonald opened #506 "Add native quicklook"
I confirm (by marking "x" in the [ ] below):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I

[2017-04-05 11:57] jasonblais commented on #506
Thanks @luckydonald!

Do you mean looking at the contents of a file in the file upload dialog which appears after you've clicked the paperclip icon to upload a file?

[2017-04-05 12:26] mcnesium opened #507 "Make Application Icon use SVG"
![taskswitch](https://cloud.githubusercontent.com/assets/476060/24705156/f15cf72a-1a0a-11e7-80d6-f34d9da2800c.png)

Compared to other Icons the Mattermost icon looks pretty pixely in the Gnome 3 application switcher. It also does so in the dock. This is propably due to a poor scaling algorithm of the [PNG](https://github.com/mattermost/desktop/blob/master/src/assets/appicon.png) used as the applic

[2017-04-05 13:46] jasonblais commented on #507
@yuya-oc are we able to use an SVG icon for the app icon? Or should we use a higher-quality PNG instead?

I agree it does look pixelated compared to others

[2017-04-05 22:42] jasonblais commented on #471
@PotatoAdmin was deleting the `%USERPROFILE%\AppData\Roaming\Mattermost\bounds-info.json` file a permanent solution for you? Or has the issue reappeared?

I heard about another report where deleting the file resolved the issue temporarily but it surfaced again

[2017-04-06 03:09] yuya-oc commented on #507
For now I'm not sure how SVG is applied on Gnome.

@mcnesium For reference, would you tell the distribution and the way to install you are using?

[2017-04-06 09:15] mcnesium commented on #507
Of course, sorry. This is on Manjaro Gnome 17.0 with GNOME Shell 3.22.3 and Mattermost 3.6.0 installed from [AUR](https://aur.archlinux.org/packages/mattermost-desktop)

[2017-04-06 11:19] luckydonald commented on #506
@jasonblais
I meant sent files.
They are a preview image and a filename next to it.
Clicking on the thumbnail currently opens a built-in viewer (1st picture).
It should instead open it in quicklook.

![image](https://cloud.githubusercontent.com/assets/2737108/24751883/8aa750f4-1acb-11e7-8992-5bd97b87cb8b.png)

[2017-04-06 11:59] jasonblais commented on #462
Resolved by #489

[2017-04-06 11:59] #462 closed

[2017-04-06 12:00] #504 closed

[2017-04-06 13:21] PotatoAdmin commented on #471
@jasonblais  From my experience with the windows client, only deleting the file is not a permanent work-around. One has to restart the application completely (not just the window) by right-clicking on the tray icon and selecting "exit". Only then will the window start behaving normally. Before knowing which file to remove, we just restarted the computer and it did fix the issue.

[2017-04-06 14:51] jasonblais commented on #471
Thanks @PotatoAdmin, appreciate the prompt reply.

They did quit the app before deleting the .json file, but the issue reappeared for them.

Glad to hear it's still working for you, we'll have to investigate this more on our end

[2017-04-06 15:12] yuya-oc commented on #494
Does "window" include the title bar? Or only content area (webview) of the window? Once I had met a case webview freezes on Mac, but its window frame could respond.

Yeah, for now I'm not sure what's actually happening in the app. So need to know what appears.

[2017-04-06 16:06] jasonblais commented on #506
Thanks @luckydonald, would you expect this to work on the browser as well? Or does the quicklook work if you try on Chrome for instance?

Sorry if it's a redundant question, I'm less familiar with the Mac platform

[2017-04-06 16:15] yuya-oc commented on #506
The api is only applicable for local files. But the content area is almost same as Chrome, which behaves as a web browser. So I think it's impossible due to application architecture.

[2017-04-06 20:24] PotatoAdmin commented on #471
To be fair though, we had a wave of windows updates installation during the time we fixed the issue. Maybe there was an update that contributed to fixing the issue?

[2017-04-06 21:30] jasonblais commented on #471
Hm, good point @PotatoAdmin, I'll check if they've completed their windows updates. Thanks! 👍

[2017-04-06 21:48] jasonblais commented on #471
Looks like all their windows updates are complete.

He's on Windows 7 though, so it might be an issue specific to that OS version. I've reached out to a community member who might be able to try reproduce the issue

[2017-04-07 13:30] yuya-oc commented on #463
There is an implementation, `services` role of MenuItem. But it's not correctly working with webview.

https://electron.atom.io/docs/api/menu-item/#new-menuitemoptions
https://github.com/electron/electron/issues/7260

[2017-04-09 10:43] jnugh commented on #420
I created an issue in platform after trying to fix this issue: https://github.com/mattermost/platform/issues/6043

[2017-04-09 10:48] jnugh commented on #471
Again: What I did some time ago will not update windows position when a display is being removed as I thought *all* OS handle this event correctly by placing windows inside the new view bounds.
I might be wrong (for some versions of Windows at least) ;) I will work on a way to check window position after resolution changes.

I will simply add the check to `display-metrics-changed`. That should cov

[2017-04-10 07:42] jpVm5jYYRE1VIKL commented on #494
Basically exist 2 different types of freeze. One person complained that she see black mattermost window . I personally seen just simple freeze with title bar. But not responsible title bar. I cannot use any controls on it during time of freeze.  Last week was without freezes. I continue monitoring.

[2017-04-10 12:43] yuya-oc commented on #506
That's right, but I think there are no chances to call the API in [webview](https://electron.atom.io/docs/api/webview-tag/) (not BrowserWindow). At least, we need to steal events from webapp's ajax requests. If you have any way, please reopen.

[2017-04-10 20:52] jpVm5jYYRE1VIKL commented on #494
Update: Hm look like nothing to copy from console log because look like it empty.
Added extra sympthom.
Application freezed this time in following conditions.
Application was in tray. Appeared pop up incoming message , I clicked immediately on pop up . Appeared application window which and it freeze. After some time application unfreeze i immedeately started developers tools and looked on console

[2017-04-11 11:22] makedonmax opened #510 "Can't launch application on macOS Sierra"
I confirm (by marking "x" in the [ ] below):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I

[2017-04-11 14:39] luckydonald commented on #506
To say it first, I am no node.js guy, and barely know electron from dev side.
But reading [ipc-message](https://electron.atom.io/docs/api/webview-tag/#event-ipc-message), communication seems possible, even simple.

Extending the example with my javascript haxx:

[code]

[code]

Not sure though.

[2017-04-11 15:09] jasonblais commented on #510
@yuya-oc does the error provide any useful information?

[2017-04-11 15:13] jasonblais commented on #506
Thanks! Re-opening for now to continue discussion

[2017-04-11 15:52] yuya-oc commented on #510
Not reproduced on my macOS 10.12.**3**. To make sure, I will check 10.12.4 on my office's Mac.

As far as looking the screenshot, I feel the application is actually running if it's not freezing. But it seems that webapp's login page is not correctly loaded due to some reason.

@makedonmax would you check following points?

- Try the application again.
- Check that your server is correctly working

[2017-04-11 18:31] makedonmax commented on #510
@yuya-oc

Tried few times. Result is the same.

Server is working well. I'm using it instead of desktop app today.

[2017-04-11 18:45] jasonblais commented on #510
@makedonmax Can you try un-installing the app, then re-downloading from about.mattermost.com/downloads?

[2017-04-11 19:17] makedonmax commented on #510
@jasonblais
Tried that too. I've removed it from "Applications", then downloaded it and extracted from zip.

[2017-04-11 20:53] jasonblais commented on #494
Thanks @jpVm5jYYRE1VIKL for the continued follow-up. Really appreciate all the information.

For the "black screen" issue, there are a few troubleshooting steps in our docs: https://docs.mattermost.com/install/desktop.html#troubleshooting. In particular,
 - First try to clear cache and reload the app from View > Clear Cache and Reload or by pressing CTRL/CMD+SHIFT+R.
 - Next, quit the app and rest

[2017-04-12 14:34] yuya-oc commented on #510
I tried 10.12.4, but the problem was not reproduced. Does developer tools console (Cmd+Option+I) show any messages?

[2017-04-12 14:51] makedonmax commented on #510
@yuya-oc

It's really strange.

Here is a screenshot with console:
![2017-04-12 17 49 37](https://cloud.githubusercontent.com/assets/12586970/24963908/90788408-1fa8-11e7-9172-752937e62110.png)

Hope, it will helps.

[2017-04-12 16:23] yuya-oc commented on #510
Hmm...as I thought, the main window of desktop app is actually working. Red messages are merely warning for other known issues.

This means the loaded content is wrong due to some reason(caches?). So "Clear Cache and Reload"(Cmd+Shift+R) might make sense.

[2017-04-12 17:02] makedonmax commented on #510
@yuya-oc
"Clear cache" helped! Thank you very much.

[2017-04-12 17:02] #510 closed

[2017-04-13 15:13] benreic opened #511 "Pressing "Return" in the "Switch Channels" dialog adds a newline to the text input box"
I confirm (by marking "x" in the [ ] below):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I

[2017-04-13 15:17] benreic opened #512 "Ctrl+Tab should switch between servers when logged into multiple servers"
I confirm (by marking "x" in the [ ] below):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I

[2017-04-13 15:28] jasonblais commented on #511
Thanks @benreic! This issue will be resolved in the next Mattermost desktop app version. We're estimating it to be available by end of April.

https://github.com/mattermost/desktop/issues/426

[2017-04-13 15:28] #511 closed

[2017-04-13 15:39] jasonblais commented on #512
Hm, that should work, so it might be a bug.

Can you try if clicking "Select Next Team" from Menu Bar > Window switches you to the next tab?

![image](https://cloud.githubusercontent.com/assets/13119842/25012169/acacccc0-203d-11e7-9a04-9fff0f610ae1.png)

[2017-04-13 15:41] benreic commented on #512
"Select Next Team" does work correctly, the advertised shortcut for that functionality is Option+Command+(Left|Right) arrow, which also works.

CMD+TAB does not work, as that opens up the macOS application switcher.

[2017-04-13 16:23] jasonblais commented on #512
Got it, thanks @benreic.

Sorry that I got confused with the Windows platform initially. Adding `CTRL+TAB` for Mac makes sense.

[2017-04-14 13:36] PotatoAdmin commented on #471
I have experienced this issue once again today. Here is the chain of events that lead to the window being spawned off-screen:
-I left work yesterday evening with my mattermost window on my left screen, which is considered my secondary screen. My computer was locked using the usual way, "Windows + L".
-Today at approx. 7AM I was prompted by a service call to do some manipulations on our infrastruct

[2017-04-14 13:55] jpVm5jYYRE1VIKL commented on #494
channel not have attachd files at all. Have some link and pictures links (i guess they cached) in channel line.
Channels mostly text . 98 % text , 1.5 % links on pictures and 0.5 % just web links .

[2017-04-14 19:06] jasonblais commented on #471
Thanks @PotatoAdmin! Really appreciate it

We have a pull request that attempts to fix the issue for Windows and Mac: https://github.com/mattermost/desktop/pull/509

Wondering if you'd be interested downloading the test build to see if the issue reproduces for you anymore? https://circleci.com/gh/mattermost/desktop/940#artifacts

//cc @jnugh @yuya-oc

[2017-04-15 10:54] yuya-oc commented on #506
Thanks for suggestion. But I worry about two things.

1.Use case

Why not enlarge the window? And I have not experienced the case Quick Look is used for online files.
Quick Look is a native component, but I feel there is a doubt whether it's appropriate.

2.Possibility of realizing

I'm not sure whether the example make sense. Sure, we need to use `ipc-messsage`. But there are some concerns.

- In

[2017-04-15 11:08] yuya-oc commented on #494
While a window is closed into the tray icon, CPU usage is limited to reduce power. But I'm not sure whether it impacts to app's stability.

Sorry, I'm not sure what you mean. The application is build with Electron, and its webview is used to load webapp of Mattermost server. So it works like embedded web browser.

[2017-04-15 11:15] yuya-oc commented on #494
On Windows, "not responding" means that the native message loop is blocked due to some reason (like too heavy load). So I feel the matter is not webapp. But...I'm not sure the reason. I feel such a heavy load is not existing excepting GC.

[2017-04-16 18:01] jpVm5jYYRE1VIKL commented on #494
Sorry my mistake. Of course i meant Electron.

[2017-04-17 13:24] yuya-oc commented on #471
I have followed @PotatoAdmin walk-through on Windows 10. I could not restore the window on the RD console. It seems the problem happens when the window is **minimized** into the taskbar icon when starting RD session.

@PotatoAdmin Would you confirm whether this hypothesis is correct?

[2017-04-17 13:54] yuya-oc commented on #471
I tested other applications.

| App | Built with Electron | Result |
|---|---|---|
| mspaint | NO | OK |
| cmd | NO | OK |
| iTunes | NO | OK |
| Slack | YES | NG |
| Atom | YES | NG |
| Electron | YES(itself) | NG |

As far as looking the results, it looks an upstream bug of Electron.

[2017-04-17 15:07] yuya-oc commented on #494
Please use [`--disable-renderer-backgrounding`](https://electron.atom.io/docs/api/chrome-command-line-switches/#disable-renderer-backgrounding) from command line. Otherwise, need to use [`webPreferences.backgroundThrottling: false`](https://electron.atom.io/docs/api/browser-window/#new-browserwindowoptions) by modifying source code.

[2017-04-17 17:06] jasonblais opened #514 "MacOS: Add a new option to bounce dock icon"
Add a new option below `Show red badge on taskbar icon to indicate unread messages`.

By default the setting is disabled. The user can enable the setting, and choose between two options:
 - `once` // only bounces once when a new message is received
 - `until I open the app` // bounces until the app gets focus

![image](https://user-images.githubusercontent.com/13119842/31949076-6f091c78-b8a6-11e7-

[2017-04-18 04:09] jasonblais commented on #506
@luckydonald any thoughts on latest reply from Yuya?

[2017-04-18 12:22] #498 closed

[2017-04-18 13:40] jasonblais commented on #420
@jnugh Thanks for opening the issue in https://github.com/mattermost/platform/issues/6043

I think the issue description here is specific to the desktop app though, where clicking the team invite link doesn't work properly.

[2017-04-19 15:38] yuya-oc commented on #514
"Flash" feature doesn't exist on macOS. There is a bouncing icon instead.

https://electron.atom.io/docs/api/app/#appdockbouncetype-macos

[2017-04-19 16:13] jasonblais commented on #514
Ah okay, updated the title.

[2017-04-19 18:45] luckydonald commented on #506
Because I'd have to shrink it afterwards again.

Indeed they would need to be placed in a temporary folder

I think it is a tradeoff between "easy" and "feeling native".

[2017-04-20 11:57] yuya-oc commented on #506
Sure, it's an important thing. If this application was an API-based app, perhaps I might choose Quick Look. But currently I think it would be hard as I had mentioned before.

[2017-04-20 13:52] PotatoAdmin commented on #471
@yuya-oc  I could not reliably reproduce the issue, though it seems to also be happening with other applications. I had a putty session spawn off-screen today and could not bring it back to the main screen­. Though this window was for sure minimized, more testing will be needed to make it a factor since I never really minimize my mattermost window.

It is probably a windows bug when disconnecting

[2017-04-21 13:58] yuya-oc commented on #341
Necessary event was added to Electron. This issue can be fixed in future.

https://github.com/electron/electron/pull/9108

[2017-04-23 18:53] jasonblais commented on #494
@jpVm5jYYRE1VIKL  @yuya-oc

We got a couple of reports about the app crashing due to high memory usage.

Could this be the reason why the app is constantly crashing for you @jpVm5jYYRE1VIKL?

Anything we can do to reduce the issue @yuya-oc?

[2017-04-23 18:53] jasonblais commented on #494
^@jnugh also pinging you in case you had any thoughts about the high memory usage, I think we discussed earlier about it a little.

[2017-04-24 07:45] jpVm5jYYRE1VIKL commented on #494
@jasonblais
Nope not think so. All affected PCs have a lot of RAM. Pc which most affected have 32G ram ,
For now i starting to think that issue connected with usage same credentials on 2 or more workplaces.
@yuya-oc
for sure --disable-renderer-backgrounding not solved issue. But feels freeze time bit decreased. Not 100 % sure. Still testing.

[2017-04-24 13:29] yuya-oc commented on #494
@jpVm5jYYRE1VIKL Thanks! Assuming that, I feel there are two possible cases.

A. When fetching latest messages after PC is woken from sleep.
B. When there are two clients and they have too different states.

I didn't notice the checklist doesn't exist in your first post. To make sure, did you also test the problem with Chrome?

[2017-04-24 13:33] jpVm5jYYRE1VIKL commented on #494
@yuya-oc
Nope of course i not tested with browsers. I only use standalone desktop clients everywhere.

[2017-04-25 13:55] jasonblais commented on #420
Chatted with @jnugh, this issue is indeed blocked on https://github.com/mattermost/platform/issues/6043

I've added server-side label for now and removed from the milestone until the issue is resolved.

[2017-04-25 13:57] jasonblais opened #516 "Mattermost Desktop App v3.7.0 - RC1 is out!"
Hello - and huge thanks to everyone for contributing to the Mattermost Desktop project!

Given our recent progress, we feel we’re ready to release v3.7 soon. Here are the proposed dates (all tentative and subject to change):

- Friday 4/28: Code complete with `release-3.7` locked in the desktop repo
- Monday 5/1: Testing begins on the release candidate
- Friday 5/5: Date to cut the final release
-

[2017-04-25 15:04] yuya-oc commented on #485
https://github.com/mattermost/platform/pull/6226 would be good case to watch.

[2017-04-25 15:18] jasonblais commented on #485
Some comments/discussion on pre-release too: https://pre-release.mattermost.com/core/pl/wp8wauuq83gufjhcyahkh67sey

[2017-04-26 17:44] jasonblais opened #518 "Apply a maximum server tab width of 17px"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2017-04-26 17:45] jasonblais commented on #518
^@yuya-oc feel free to comment if you feel the 17px limit is too restrictive, but I estimated it based on the Firefox browser tab widths.

(in Chrome, the browser tab width auto-adjusts based on how many tabs you have open, but I don't think we need that since it's not likely for a user to belong to a lot of Mattermost instances at once)

[2017-04-26 21:28] jpVm5jYYRE1VIKL commented on #494
Update: I tested with opened Chrome and loggen on from Chrome to mattermost server and Mattermost desktop client on same PC . Messaging in Chrome working fine , messagin in mattermost freeze as usual.

[2017-04-26 21:55] jasonblais commented on #494
Thanks @jpVm5jYYRE1VIKL, looks like there's something in the desktop app causing it

Even though it was mentioned that memory usage shouldn't be an issue, I've been following both CPU and memory usage of the app in the last couple of days and have noticed the following (recorded via Task Manager):

 - when starting the desktop app, the memory usage is generally low: 25MB for the app, < 200MB if yo

[2017-04-27 11:17] yuya-oc commented on #471
Merged #509 would reset the window position if it spawns off-screen when restoring. I think this would make sense as a workaround for the problem. I'm wondering if you can test when v3.7-rc is released.

[2017-04-27 14:40] jasonblais commented on #472
Sorry @yuya-oc, I unfortunately won't have time to finish this up for end of this week..

I've started doing some research though, and added a few references below.

https://github.com/mattermost/platform/pull/5455
https://github.com/mattermost/desktop/pull/350/files
https://github.com/nodejs/node
https://github.com/nodejs/node/blob/master/COLLABORATOR_GUIDE.md#landing-pull-requests
https://github

[2017-04-27 14:43] #225 closed

[2017-04-27 17:16] jpVm5jYYRE1VIKL commented on #494
Extra update. I started sysinternals process monitor and found one strange issue
[code]
Offset: 1,073,741,824 looks bit strange

[2017-04-28 06:34] mdementev commented on #347
Problem still reproducible.
I see pattern. Problem occurs when application is minimized and i receive a message. After expanding application window - it freeze for 2-3 minutes. Console is clear and doesn't have any errors.

[2017-04-28 06:42] mdementev commented on #347
Seems that problem has been solved by DIsabling windows notifications for Mattermost.

[2017-04-28 06:54] mdementev opened #520 "Client freezes in Windows 10 (when app is minimized)"
I confirm (by marking "x" in the [ ] below):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I

[2017-04-28 12:08] jasonblais commented on #520
@mdementev Really appreciate the report,

When you say "minimized", do you mean
 - minimized to the taskbar, or
 - closed (which minimizes to the system tray / notifications area)

[2017-04-28 12:08] jasonblais commented on #520
Related to https://github.com/mattermost/desktop/issues/494

[2017-04-28 12:10] jasonblais commented on #494
@yuya-oc @jpVm5jYYRE1VIKL

there's a report where a user is able to consistently reproduce the issue when the application is minimized and they receive notifications

https://github.com/mattermost/desktop/issues/520

The issue no longer occurs after disabling desktop notifications.

[2017-04-28 12:17] mdementev commented on #520
@jasonblais to taskbar

[2017-04-28 12:43] yuya-oc commented on #520
Thanks @mdementev

Actually the code is injected for desktop notifications in the application. So it's most significant difference from normal web browsers.

[2017-04-29 06:16] #390 closed

[2017-04-30 02:50] jasonblais commented on #406
We've been getting an increasing interest towards a Windows docking/tiling system, where you can have multiple chats open within the same app window.

The idea is similar to a [tiling window manager](https://en.wikipedia.org/wiki/Tiling_window_manager)

![image](https://cloud.githubusercontent.com/assets/13119842/25560912/0f16c49a-2d2e-11e7-8b68-ed1925ced6a7.png)

----

I've looked into it a littl

[2017-04-30 03:56] yuya-oc commented on #406
I wondered something like Chrome's tab system. I feel Docking panel is appropriate when there is many kind of panels. But we have only one kind.
Anyway we would need a little complex management in code. :)

[2017-04-30 10:18] lip-d opened #522 "Desktop notifications don't show up, if the window has been minimized when it was INACTIVE."
I confirm (by marking "x" in the [ ] below):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I

[2017-04-30 13:11] yuya-oc commented on #522
Reproduced for me on Windows 10. And not on Mac. The step looks exact.

I believe the line 88 is not related because only closing calls the line.

@jasonblais Please let me confirm. On v3.8.0 server, does a new message show a desktop notification when the window is active and the message arrives to the current channel?

[2017-04-30 22:56] jasonblais commented on #516
RC1 for v3.7 has been cut! Download links available to test below. Please link to issues you believe may warrant a patch.

Mattermost Desktop App 3.7 is scheduled for a release on May 9th.

[See changelog for details on what's new](https://github.com/mattermost/desktop/blob/release-3.7/CHANGELOG.md#release-v370).

**Windows Installers**

https://releases.mattermost.com/desktop/3.7.0-rc1/mattermost

[2017-04-30 23:18] jasonblais commented on #522
Thanks for the report @lip-d! Also able to reproduce on Windows 10 Home.

@yuya-oc In Mattermost server v3.6.0 and later , if the window is active (e.g. if you're viewing channel A), then no desktop notification is sent.

So it sounds like the webview might become active after clicking on the minimize/close buttons as you say.

[2017-05-01 14:17] jasonblais commented on #506
@yuya-oc would this be more feasible if we moved to Redux infrastructure (#484) or a truly native app with React ([Windows](https://github.com/Microsoft/react-native-windows); [Mac](https://github.com/ptmt/react-native-macos))

[2017-05-01 15:42] Hanzei commented on #516
The link to the debian packges returns a 403 error

[2017-05-01 15:53] jasonblais commented on #516
@yuya-oc can you help take a look?

It looks like all but Linux builds give a 403 error, only `https://releases.mattermost.com/desktop/3.7.0-rc1/mattermost-desktop-3.7.0-rc1-linux-ia32.tar.gz` works.

[2017-05-01 15:53] jasonblais commented on #516
And thanks @Hanzei for your interest trying out the release candidate

[2017-05-01 15:56] asalmela commented on #516
Links to Linux binaries give 403 for me.

[2017-05-01 15:58] yuya-oc commented on #516
Thanks to let me know. The link is unexpectedly different from previous version. For now, I have fixed the link and confirmed that all links are actually available.

[2017-05-01 16:00] Hanzei commented on #516
https://releases.mattermost.com/desktop/3.7.0-rc1/mattermost-desktop-3.7.0-rc1-linux-x64.tar.gz and the two debian links still dont work

[2017-05-01 16:15] yuya-oc commented on #506
@jasonblais I think Redux is not related for this. Redux merely manages the state. So the core structure, the combination of tabs and webview would be kept.

If it's truly native, it would be easier. But we need to consider about Windows because Quick Look doesn't exist. Anyway we have to implement something like previewer.

[2017-05-01 16:23] yuya-oc commented on #484
Ah, probably there is misunderstanding a little. I had meant "Using Redux to manage application state". To use the plugin, I think we need to move to a pure React app without webview first.

[2017-05-01 16:31] yuya-oc opened #523 "v3.7 link is not correct for Linux"
I confirm (by marking "x" in the [ ] below):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I

[2017-05-01 16:31] yuya-oc commented on #516
Added a new issue #523

[2017-05-01 16:47] Scotchester commented on #276
Hey, thanks all for adding this feature. I was sorely missing it when seeing Markdown links in chat.

I do have one minor frustration with it that I wonder if can be fixed. When the URL indicator is visible, it covers up the typing status indicator under the input field.

For the case of hovering over a URL in the message area, I don't think this is a huge deal. What makes it frustrating is when h

[2017-05-01 17:14] jasonblais commented on #276
Thanks @Scotchester for the feedback! We've got a related issue here: https://github.com/mattermost/desktop/issues/427

At the moment, the app can identify the URL string only, so the only way is pattern matching to not show internal URLs. The issue is with embedded links where you'd want to show the URL on hover, ex.

[code]

[2017-05-01 17:51] Scotchester commented on #276
D'oh! Sorry I didn't catch that.

[2017-05-01 18:13] jasonblais commented on #276
Not to worry! :)

[2017-05-01 20:41] jasonblais opened #524 "After changing spelling language, incorrect words not highlighted until you click outside of the message box"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2017-05-01 20:42] jasonblais commented on #341
@yuya-oc How much work would you say it would be to fix this issue? We got another report about it, where you can hit "Enter" to send a file attachment, since the focus is away from the message input box.

[2017-05-01 22:22] jasonblais commented on #484
Hmm yeah, that makes sense.

I updated the title + description to reflect it.

[2017-05-01 22:24] jasonblais commented on #506
@luckydonald thanks again for the feedback, really appreciate it.

For now, would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a ticket?

This is something we can consider in the long-term, particularly if we moved to pure React Native apps for the desktop. But with the existing f

[2017-05-01 22:26] jasonblais commented on #506
Please let us know if you have any further feedback, about the Quick Look or the app in general.

All feedback is invaluable.

[2017-05-01 22:26] #506 closed

[2017-05-02 12:42] yuya-oc commented on #341
Almost done in another branch. We need to wait Electron 1.6.8 which is still beta.

https://circleci.com/gh/yuya-oc/desktop/239#artifacts

[2017-05-02 13:16] yuya-oc commented on #523
Fixed the Jenkins job. The filename format was changed by https://github.com/electron-userland/electron-builder/issues/803 .

It's correct in Debian though, but we should keep previous format for consistence of URLs now.

[2017-05-02 13:16] #523 closed

[2017-05-02 16:41] jnugh commented on #494
Something similar occurred to me, I'm not sure if it is 100% related but it kinda looks like it is.
I have an STRACE showing a deadlock. I'm building electron right now to get some debug symbols (and maybe a better stack to identify the root cause...)
[mattermost-strace.txt](https://github.com/mattermost/desktop/files/971134/mattermost-strace.txt)

[2017-05-02 17:25] jasonblais opened #527 "Change default setting for spellchecker to true"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2017-05-02 21:13] jasonblais commented on #471
@PotatoAdmin Release candidates for 3.7 are available here, if you're interested to help test it: https://github.com/mattermost/desktop/issues/516#issuecomment-298262924

Really appreciate all your help troubleshooting the issue.

[2017-05-02 21:13] #471 closed

[2017-05-02 21:28] PotatoAdmin commented on #471
Yep, sorry for the delay. I would like to confirm this issue as closed. I have been using the new testing build for a week and a half now and the issue has not reappeared.

[2017-05-02 21:38] jasonblais commented on #471
Awesome! That's great to hear.

Let us know if the issue resurfaces.

Again, many thanks for your help troubleshooting the issues!

[2017-05-03 07:23] lindy65 opened #528 "Constant refreshing of server in Desktop App v3.7 after changing settings"
I confirm (by marking "x" in the [ ] below):

- [x ] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x ]

[2017-05-03 11:08] yuya-oc commented on #528
The message is transferred from webview. So it seems that the problem happens in webapp itself.

Would you try clearing caches(Ctrl+Shift+R)? Somehow webapp failed to communicate with the server. But it looks strange because `getPostsPage` returns status 404. I worry that there is mismatch between the webapp and the server.

[2017-05-03 11:43] yuya-oc commented on #524
Closed via #526

[2017-05-03 11:43] #524 closed

[2017-05-03 12:11] lindy65 commented on #528
Sorry @yuya-oc,

Forgot to include in the original report that I did clear cache and refresh and the issue still persisted. Tried a few times with the repro steps and it was the same each time.

It does not repro on the browser...

[2017-05-03 14:42] jasonblais commented on #527
Closed via #529

[2017-05-03 14:42] #527 closed

[2017-05-03 17:13] jasonblais commented on #516
#### Approved fixes for RC2
 - [Enable spellchecker by default](https://github.com/mattermost/desktop/pull/529)
 - [Reset misspelling state after changing spelling language](https://github.com/mattermost/desktop/pull/526)

[2017-05-05 12:09] ruivieira opened #531 "Pressing "help" from the help window show the main chat area."
I confirm (by marking "x" in the [ ] below):

- [x ] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [ ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [ x]

[2017-05-05 12:43] yuya-oc commented on #531
Not reproduced for me on Windows and Mac.

- macOS 10.12.4
- Mattermost Desktop 3.6.0
- Mattermost Server 3.8.2

I clicked "Help" of the screenshot though, is it correct? The link shows the "Mattermost User’s Guide".

![messaging_basics](https://cloud.githubusercontent.com/assets/1412057/25745641/e82e9798-31da-11e7-985a-2a591a31a87d.png)

You didn't mark "x" on "This doesn't reproduce on web brows

[2017-05-08 15:43] jasonblais commented on #516
**Windows Installers**

https://releases.mattermost.com/desktop/3.7.0-rc2/mattermost-setup-3.7.0-rc2-win64.exe
https://releases.mattermost.com/desktop/3.7.0-rc2/mattermost-setup-3.7.0-rc2-win32.exe

**Windows - Zip**

https://releases.mattermost.com/desktop/3.7.0-rc2/mattermost-desktop-3.7.0-rc2-win64.zip
https://releases.mattermost.com/desktop/3.7.0-rc2/mattermost-desktop-3.7.0-rc2-win32.zip

**M

[2017-05-09 16:28] jpVm5jYYRE1VIKL commented on #494
I think issue can be merged. For now disable notifications solved issue.

[2017-05-09 16:59] jasonblais commented on #494
@yuya-oc is there anything we can do about the notifications issue? It appears to be the root cause for freezing the Windows 10 client in #494 and #520

[2017-05-09 18:14] jasonblais commented on #516
Mattermost Desktop App v3.7.0 is now cut: https://github.com/mattermost/desktop/releases/tag/v3.7.0

We'll do code-signing later today and publish the release at https://github.com/mattermost/desktop/releases

Thanks to all who helped test the app!

[2017-05-09 18:14] #516 closed

[2017-05-09 18:52] jasonblais opened #532 "Update dependencies/libraries used by the desktop project"
@yuya-oc Just creating an issue to help update library dependencies now that 3.6 is released.

[2017-05-10 01:09] jasonblais commented on #476
This was added to the Mattermost Main Menu. Closing as a duplicate

https://github.com/mattermost/platform/pull/6332

[2017-05-10 01:09] #476 closed

[2017-05-10 13:33] jasonblais opened #533 "Add SHA-256 checksum for 3.7 release builds"
Add SHA-256 checksum for 3.7 release builds: https://github.com/mattermost/desktop/releases/tag/v3.7.0

This is following the post here https://github.com/mattermost/desktop/issues/504 and follows what the platform team does for server release builds

[2017-05-10 13:57] yuya-oc commented on #494
Assuming that, we need to know what part is wrong in the notifications. i.e. Electron itself or our injection code for notifications. So I prepared two versions to check that. But unfortunately I can't reproduce the problem yet.

- Plain Electron's notification: https://circleci.com/gh/yuya-oc/desktop/247#artifacts
    - Note: When clicking notifications, the window is not activated due to Electro

[2017-05-12 00:13] cetra3 opened #534 "You have to click twice when a window is out of focus to have actions performed"
I confirm (by marking "x" in the [ ] below):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I

[2017-05-12 00:21] jasonblais commented on #534
Thanks @cetra3 for the report!

We fixed a similar issue with https://github.com/mattermost/desktop/pull/262 but that was a while ago. I also tried reproducing on Windows 10, and it seemed to be working for me.

Would you like to download our newest release (desktop app v3.7) from our downloads page (https://about.mattermost.com/downloads) to confirm the latest release doesn't fix the issue?

[2017-05-12 00:37] cetra3 commented on #534
@jasonblais,

I've just given the new version a download. Same issue in `3.7.0`.  It might be a Mac OS X specific thing.  The other thing to note is that the mouse cursor is still the default pointer rather than the click before focus is given.

[2017-05-12 00:50] jasonblais commented on #534
True, it could be Mac specific.

Just one more test case: when you click on the window, do keyboard shortcuts work for you (for instance, after clicking inside the app window, does CMD+K bring up channel switcher, or do you have to click inside the app twice before the shortcut works)?

[2017-05-12 04:10] cetra3 commented on #534
Yep, the channel switcher works fine after clicking into the window

[2017-05-12 04:40] jasonblais commented on #534
Thanks! That's helpful to know. We should have enough information to investigate the cause and whether it's something we can fix or if it's an Electron-related bug.

[2017-05-12 04:44] jasonblais commented on #420
A server-side PR was merged, but it looks like it didn't completely solve the issue. https://github.com/mattermost/platform/pull/6266

A follow-up PR is scheduled for later this month.

[2017-05-12 04:48] jasonblais commented on #528
Yuya added a workaround for it in the troubleshooting section: https://github.com/mattermost/docs/pull/1163

We can increase priority of this issue if we hear more reports about it, but assigning to `Unscheduled` for now.

[2017-05-12 04:49] jasonblais commented on #531
Hey @ruivieira, let us know if this reproduces on the browser? We'd be happy to file a ticket on the server side, or schedule a fix for the desktop app.

[2017-05-12 06:24] lindy65 commented on #528
Thanks Jason, I'll close off this issue for now as we have a workaround in the docs.  If we hear more reports, we can reopen.

[2017-05-12 06:24] #528 closed

[2017-05-12 17:25] jnugh commented on #420
Awesome, once the final fix is in I will prepare a fix for the desktop app :smile:

[2017-05-14 03:36] jasonblais opened #535 "Make it easier to open a file you've downloaded from Mattermost"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2017-05-15 12:02] jnugh commented on #478
Any opinions against one of these options?
Else we should integrate both ways to reorder the tabs I think.

[2017-05-15 13:29] jasonblais commented on #478
Do you mean reordering via the Server Management page or the navigation bar? If so, agree that it would be good to allow both ways to reorder the tabs.

[2017-05-15 17:55] ostrain commented on #463
@ jasonblais: Sorry for the long delay in replying. I use several custom text services that I've defined myself (for example, I use one that lets me select some text that contains one or more JIRA bug IDs, press a keyboard shortcut I've defined, and open those bugs in my browser -- it's a small python script that I wrote). It works in essentially every other app on my Mac including other webview-b

[2017-05-15 18:23] jasonblais commented on #463
Thanks for the feedback! We actually heard about a similar use case with Jira tickets.

I think the `services` role that Yuya linked above for menu items would work here, but we'll need to have it fixed upstream by Electron first: https://github.com/electron/electron/issues/7260

[2017-05-18 20:44] jasonblais opened #537 "Mention count not shown in taskbar"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2017-05-18 20:45] jasonblais commented on #537
@yuya-oc This started after we switched platform to `master`.

If this is an issue on the desktop app (that somehow got introduced with latest changes on `master`), we might need to deploy a dot release that is timed with Mattermost Server v3.10 release

[2017-05-19 12:53] jasonblais commented on #494
@jpVm5jYYRE1VIKL @mdementev Would either of you like to try if the app keeps freezing on the above test builds linked by @yuya-oc above?

[2017-05-19 14:16] jasonblais opened #538 "Don't restart the app in full screen mode"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2017-05-22 07:28] jpVm5jYYRE1VIKL commented on #494
For now i use workaround "disable notifications at all". Test build cannot test because as for me it look like complex. If you add this change to next release of course i ll report is change fixed or not.

[2017-05-22 13:11] #532 closed

[2017-05-22 13:30] yuya-oc commented on #494
I see. The installer was not code-signed and downloaded from internet, so Windows defender would prevent it at the first time. It's understandable.

@jasonblais To get @jpVm5jYYRE1VIKL's feedback and refactoring, I will create a PR. Would you check it?

[2017-05-22 13:33] jasonblais commented on #494
@yuya-oc I'm happy to test it, but I haven't been able to reproduce it either.. I actually downloaded the test build from https://circleci.com/gh/yuya-oc/desktop/246#artifacts and haven't hit any issues.

[2017-05-22 13:34] yuya-oc commented on #494
Okay, so may I push to master to add to next release?

[2017-05-22 13:36] jasonblais commented on #494
Yeah, I'm okay with that.

How confident are you about the fix @yuya-oc? If we have to cut a 3.7.1 dot release for https://github.com/mattermost/desktop/issues/537 before Mattermost 3.10 (depends if it's a bug on the platform repo or desktop repo), we could consider including this fix in the dot release as well.

[2017-05-22 13:40] yuya-oc commented on #494
Hmm...I'm not too confidence... But if there is 3.7.1, I agree to include it.

[2017-05-22 14:30] yuya-oc commented on #537
Yeah, this is an issue for desktop app. On master branch,  https://github.com/mattermost/platform/commit/fc58174747cd25eded07c30f5f122d4f8122e7e5 changed `badge` to `mention-badge`. So currently desktop app can't count mentions.

[2017-05-22 14:39] jasonblais commented on #537
Thanks Yuya, I'll ask @asaadmahmood whether that change was necessary as it will break the mention count for anyone using an older desktop app version.

[2017-05-22 14:41] yuya-oc commented on #537
Thanks! To make sure, I will prepare the version compatible with both of `badge` and `mention-badge`

[2017-05-22 15:16] jasonblais commented on #537
@yuya-oc Asaad will help submit a PR that reverts back to using the `badge` classname.

It would be nice to have an auto-upgrade feature that's tied with server upgrades. That way it won't be a big issue to change classes since people could upgrade to the latest desktop release.

[2017-05-22 15:25] yuya-oc commented on #537
@jasonblais I see. So also for our internal comfortable, we would have to add auto-upgrade.

[2017-05-22 15:56] jasonblais commented on #537
Yeah probably.

I have been talking to people after posting the spec in the desktop app channel: https://docs.google.com/presentation/d/1BmH5gGtdhijHRfv46_uhgl_0kwT5qOI8_5y2HNfNpqA/edit#slide=id.p

Hoping to have some time to update and post again in the channel for more feedback.

[2017-05-23 17:39] esethna opened #539 "Notifications do not stay in notification center"
*Updated May 23, 2018:*

Jira ticket: https://mattermost.atlassian.net/browse/MM-14096

1 - MAC:

See GIF. Desktop notifications appear in the notification center only for the duration of the desktop notification.

Expected:
Notification stays in notification center until the notification is read.

![may-16-2017 17-05-06](https://cloud.githubusercontent.com/assets/14333569/26367599/6a16ffb4-3fac-1

[2017-05-23 17:44] jasonblais commented on #539
Reproduce on Windows as well

[2017-05-23 18:39] mthornba commented on #457
We're currently using Slack at my job but are considering switching to Mattermost.  The menu bar in the native Slack app on Linux behaves how I think Mattermost v3.5.0 behaved - there is toggle in the menu bar `Window >  Always Show Menu Bar`. When the menu bar is toggled off it can be shown by hitting `alt`.

The hambuger option above does look nicer than the current menu bar although, depending

[2017-05-24 10:31] yuya-oc commented on #539
Related: #304

[2017-05-24 12:23] jasonblais commented on #539
Is it an issue on Electron side then?

The app notifications stay in the notification center in Slack though.

[2017-05-24 12:44] yuya-oc commented on #539
Not issue for electron. The problem is caused by Electron's implementation (not bug) and mattermost's notification duration.

Slack uses alternative native modules, [electron-windows-notifications](https://github.com/felixrieseberg/electron-windows-notifications) and [node-mac-notifier](https://github.com/charliehess/node-mac-notifier). Of course we can use it, but need to ignore duration setting

[2017-05-24 13:18] yuya-oc commented on #483
In current implementation, [we use registry or hidden files](https://github.com/Teamwork/node-auto-launch#how-does-it-work). Probably users don't modify them, so I feel the second option looks good.

[2017-05-24 13:18] jasonblais commented on #537
@yuya-oc I'll close this issue for now, since the change was reverted in platform repo and the mention count appears again.

Also, my desktop task bar icon reappeared today - it might have disappeared temporarily due to a Windows update.

[2017-05-24 13:18] #537 closed

[2017-05-26 16:58] jasonblais commented on #406
@yuya-oc Would this be feasible with the current framework, and if so, how much work would you estimate it would be?

We would probably only need to support four tiles at first, equal sized. We can get more fancy later.

PS: Of course, design work will also be needed, e.g. how do you switch between channels (or teams) in the panel view.

[2017-05-30 13:51] yuya-oc commented on #406
@jasonblais Does "this" mean docking tiles? or tab system?

For docking tiles:
Especially we need to change the way to layout webview. (I will do that as a prior work for #457)
Currently it assumes only one panel and is not applicable for four tiles.

For tab system:
Currently no because almost of codes assumes only one main window. I feel we need following works:

1. Expand the code base to consi

[2017-05-30 14:01] jasonblais commented on #406
Thanks @yuya-oc

I think a docking tile system would be a good start, similar to a windows tiling manager: https://en.wikipedia.org/wiki/Tiling_window_manager

It sounds like this could be feasible to look into after some of the prior work for #457

[2017-05-31 13:03] jasonblais opened #542 "Incorrect task and publisher name in Windows 10 startup task list"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2017-05-31 13:03] jasonblais commented on #542
@yuya-oc Is this something that should be fixed by the build process or here in the desktop repo?

[2017-05-31 13:51] yuya-oc commented on #494
@jasonblais For now, we don't release v3.7.1, so I would like to merge https://circleci.com/gh/yuya-oc/desktop/246#artifacts (Refactoring with class syntax) into master. Any thoughts?

[2017-05-31 14:06] yuya-oc commented on #542
For `Mattermost` processes, I think we can fix by modifying electron-builder config. However I'm not sure about `Update`.

[2017-05-31 14:08] yuya-oc commented on #494
Merged at 0839e71

[2017-05-31 14:47] jasonblais commented on #542
Sounds good, I'll assign this to a future milestone and we can investigate more then (since it's only in the Startup tab)

[2017-06-01 13:07] jasonblais commented on #461
Since Mattermost Server v3.8, there haven't been issues with missing messages after this PR on server side: https://github.com/mattermost/platform/pull/5907

Closing the issue

[2017-06-01 13:07] #461 closed

[2017-06-01 19:34] fmp777 opened #544 "Why does this app make a call to api.segment.io ?"
This is new to one of the later versions - suddenly Mattermost desktop is calling api.segment.io - which is typically used for tracking data in 3rd party services.

Why is this client tracking anything?  Feels less secure with this going on.  Please advise.

[2017-06-01 21:38] jasonblais commented on #544
Thanks @fmp777

You can find out more information here: https://docs.mattermost.com/administration/telemetry.html

It is optional and can be turned off on the server if preferred. No personally identifiable information is collected.

[2017-06-02 16:49] jasonblais commented on #420
@jnugh The PR is here and now merged to /platform master branch: https://github.com/mattermost/platform/pull/6538

[2017-06-02 16:57] jasonblais commented on #544
I'll close the issue since it's related to the Mattermost server rather than the desktop app. Feel free to ask further question though.

[2017-06-02 16:57] #544 closed

[2017-06-02 18:16] jasonblais commented on #67
#543 resolves this issue, thanks @yuya-oc!

[2017-06-02 18:16] #67 closed

[2017-06-02 21:30] jasonblais commented on #494
@yuya-oc My machine has been slower after the most recent Windows update and I've noticed the app freezing for a few seconds when I get a desktop notification (only sometimes).

Is this still the most recent artifact to test the fix you merged? If so, I'll give it a try and see if it helps. https://circleci.com/gh/yuya-oc/desktop/246#artifacts

[2017-06-03 05:28] yuya-oc commented on #494
@jasonblais Yes, please use it. The master branch updated electron though, I think it's not related to this issue.

[2017-06-03 19:58] jasonblais commented on #494
Sounds good, I'll test it out next week to see if I see a difference.

[2017-06-06 14:20] yuya-oc commented on #522
Closed via #545

[2017-06-06 14:20] #522 closed

[2017-06-06 14:21] yuya-oc commented on #341
Closed via #525

[2017-06-06 14:21] #341 closed

[2017-06-07 11:27] lip-d commented on #522
@yuya-oc and @jasonblais.
Thanks a lot! Really appreciated.

[2017-06-07 12:07] jnugh commented on #420
Cool I'll start working on a PR this week :)

[2017-06-07 17:02] jasonblais commented on #420
Actually, @jnugh, I just tested it and mattermost/platform#6538 fixes it for the desktop app too, at least on Windows 10.

1. Join at least two teams on a server
2. Go to TEAM1, then Main Menu > Get Team Invite Link
3. Go to Main Menu > Leave Team
4. On the confirmation dialog, click "Yes"
5. Paste the link you copied in step 1 to a channel in TEAM 2
6. Click the link

Expected behavior: User join

[2017-06-07 17:06] jasonblais commented on #420
Confirmed it's fixed on Mac as well, closing as resolved for Mattermost server 3.10 and later.

[2017-06-07 17:06] #420 closed

[2017-06-09 12:20] discostur opened #546 "FreeBSD Desktop Support"
I confirm (by marking "x" in the [ ] below):

- [x] This is not a troubleshooting question.

---

**Summary**
I want to use Mattermost Desktop Client on FreeBSD. Can anybody provide me a makefile or a short documentation how i can build Mattermost desktop for FreeBSD?

I've only found some discussions about the server version, but not for the desktop client ...

Thanks
Greets
Kilian

[2017-06-10 02:32] yuya-oc commented on #546
Unfortunately the framework Electron which we are using doesn't support FreeBSD.

https://github.com/electron/electron/issues/3797

[2017-06-10 02:34] #546 closed

[2017-06-14 06:59] hannu78 opened #547 "Load more messages throws focus to newest message on channel"
I confirm (by marking "x" in the [ ] below):

- [x ] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x ]

[2017-06-14 12:08] jasonblais commented on #547
Thanks @hannu78 for the report!

This is an issue on the [Mattermost server](github.com/mattermost/platform). It will be fixed with a [major refactoring](https://github.com/mattermost/platform/pull/6501) that is scheduled for Mattermost Server 4.0, released on July 16th

[2017-06-17 23:53] dannycolin89 commented on #544
I think that kind of optional option should be set to disabled by default. In other words, it should be an opt-in option instead of an opt-out one.

[2017-06-19 11:03] kaksikanaa opened #548 "Voice mail / recording feature to desktop app"
Feature request:
It would be very nice to have the voice mail recording feature straight in the app in all platforms like Windows, Mac, Linux and iOS. It is possible now only in the Adroid app. All format should be also supported on all platforms eg. sound should be mp3 and videos should be mp4 etc. Or the play support for the different file types should be incluced in all platforms.

[2017-06-20 20:05] JacobDB commented on #492
I'd like to see this as well! Please make sure to include a "Windows 10-style" icon for the taskbar & start menu; I've attached one that I currently use in my taskbar.

**Screenshot:**

![image](https://user-images.githubusercontent.com/1123997/27353441-a29879c0-55c9-11e7-8fe7-5e30aa03770c.png)

**Icon (hard to see because it's white on white):*

![mattermost](https://user-images.githubusercontent

[2017-06-21 12:37] kaksikanaa opened #549 "Switch the status color indicator to the background of the icon"
Feature request:
User icons are okay now on the left side list but would it be even more clear to switch the icon color to white and change to background color for the status? Please check the attached file for a quick and dirty demo.
![userstatusicons_example](https://user-images.githubusercontent.com/15322015/27384398-5f22a494-5697-11e7-88d2-1c0ca63ccb51.png)

[2017-06-21 12:50] jasonblais commented on #549
Thanks, appreciate your feedback.

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](http://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub Issue. If you're interested in implementing, please say so and we'll priori

[2017-06-21 22:15] kaksikanaa commented on #549
Ok, thank you for advice and sorry for inappropriate approach to this at first, I've added it here:
https://mattermost.uservoice.com/forums/306457-general/suggestions/19686445-switch-the-status-color-indicator-to-the-backgroun

[2017-06-21 22:58] jasonblais commented on #549
No worries, thanks for the feedback @kaksikanaa!

I'll close this issue and we can track it in the feature idea forum.

Thanks again :)

[2017-06-21 22:58] #549 closed

[2017-06-23 13:37] jasonblais commented on #547
@hannu78 The PR has been merged and the fix will be available on the July 16th release of Mattermost Server 4.0: https://github.com/mattermost/platform/pull/6501

[2017-06-23 13:37] #547 closed

[2017-06-23 13:40] jasonblais commented on #548
Thanks @kaksikanaa,

Just read your note again, and realized I had misunderstood. mp3 audio and mp4 video files can be uploaded to the desktop app, and played directly within the app. But you're looking for a voice record directly in the app.

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and c

[2017-06-27 08:45] LimiLime opened #550 "New-message indicator duplicated and stuck on all tabs"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2017-06-27 12:23] jasonblais commented on #550
Hey @LimiLime,

Can you help describe your use case -- do you have a different team open in each tab? If so, is it because it's easier to follow conversations across teams, rather than switching between them using the team sidebar on the left-hand side?

[2017-06-27 12:40] LimiLime commented on #550
Hi Jason,

Here’s a screenshot to make it easier.
I definitely would like to work with Tabs and not have the teams buried in the dots menu on the left. This way I can easily see if there’s a post to each team and quickly toggle between them.

Cheers,
Limor

Mit freundlichen Grüssen / With Best regards,

Limor Hader
Sr. Projekt Manager

nuveon GmbH
Büro 2.30
Sonnenstraße 23
80331 München

mobil : +

[2017-06-27 13:34] jasonblais commented on #550
^Also, it looks like the screenshot didn't get attached, but I think I understand where you're coming from,

[2017-06-27 14:40] jasonblais commented on #531
We haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the latest version.

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2017-06-27 14:40] #531 closed

[2017-06-27 14:42] jasonblais commented on #548
I'll close the issue here, but you're welcome to contributing the idea to the feature idea forum as noted above. https://mattermost.uservoice.com/forums/306457-general/

Thanks @kaksikanaa again for the feedback!

[2017-06-27 14:42] #548 closed

[2017-06-27 14:42] jasonblais commented on #533
@yuya-oc Not urgent -- once you're back, wondering if this is something you'd be able to help with?

[2017-06-27 14:45] jasonblais commented on #542
@yuya-oc I've noticed a few other places where we're referring to "Yuya" instead of Mattermost

1. Mac: Help > About Mattermost
2. Windows 10: Settings > Apps and Features > Mattermost > "Yuya Ochiai"
![image](https://user-images.githubusercontent.com/13119842/27593564-7af914b8-5b25-11e7-92af-694355d76f9e.png)
3. Copyright notice in [LICENSE.txt](https://github.com/mattermost/desktop/blob/master/L

[2017-06-27 14:51] yuya-oc commented on #550
Related: #160

As Jason described, Mattermost server v3.6 or later would solve the problem.

[2017-06-27 14:59] jasonblais opened #551 "Windows 10: Uninstalling the app doesn't work"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2017-06-27 15:05] yuya-oc commented on #533
@jasonblais When I had cut the release build, I created checksums. So what we need to do is writing or uploading them.

- Write checksums in [release text](https://github.com/mattermost/desktop/releases/tag/v3.7.0) like [version archive of Mattermost server](https://docs.mattermost.com/administration/upgrade.html#version-archive)
- Upload [SHASUMS256.txt](https://github.com/mattermost/desktop/file

[2017-06-27 15:14] jasonblais commented on #533
I think we can include them in the release text. I can add them from the release text if you think that's okay?

[2017-06-27 15:17] yuya-oc commented on #533
Okay, thanks.

[2017-06-27 15:58] jasonblais commented on #533
Added to https://github.com/mattermost/desktop/releases/tag/v3.7.0, let me know if that looks good?

If it's okay, you can close this issue,

[2017-06-27 17:35] jasonblais opened #552 "Get stuck in Settings page after re-installing the app"
I confirm (by marking "x" in the [ ] below):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [X] I

[2017-06-27 21:10] jasonblais commented on #494
@yuya-oc FYI, I don't think the fix helped too much, unfortunately... I still experienced slowness with the test build but when I disabled desktop notifications today, I haven't had any issues. The freezing was worse on v3.7 though (I think, at least when I tested this morning).

I'm able to reproduce it after using the app for a few hours, and it starts to happen around mid-day during my working

[2017-06-28 11:34] Kritner opened #553 "Mattermost windows client chat window does not take up available space"
I confirm (by marking "x" in the [ ] below):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I

[2017-06-28 12:15] jasonblais commented on #553
Thanks @Kritner, it's related to https://github.com/mattermost/desktop/issues/334

Can you click somewhere inside the center channel, then hit `CTRL+0`? This should resize the view to take up the full window.

You can then use the zoom in/out to change the font size.

[2017-06-28 13:07] Kritner commented on #553
Hey @jasonblais I just tried that, it reset the zoom level, but is still not maximized to the usable window - even after a restart.

[2017-06-28 13:11] Kritner commented on #553
Actually i just tried it again, and it got worse (was probably scaled down a similar amount, on top of what was posted in my initial screenshot).

After a third time, I have gotten back to a maximized chat window.

[2017-06-28 13:12] andrelec1 opened #554 "Random crash... white windows"
I confirm (by marking "x" in the [ ] below):

- [ X ] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [ X ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2017-06-28 13:47] jasonblais commented on #553
Hm okay -- there's an upstream issues in Electron that's causing it: https://github.com/electron/electron/issues/7375

Does this mean it's now properly in full window?

[2017-06-28 13:48] jasonblais commented on #554
@andrelec1 How often does this issue reproduce for you?

[2017-06-28 13:55] Kritner commented on #553
yeah, i don't know what causes it to initially happen as it has happened several times, but it is corrected at the moment.

[2017-06-29 08:16] LimiLime commented on #550
The new interface looks awesome! we will make sure to update our server version of MM.

Thank you!

Mit freundlichen Grüssen / With Best regards,

Limor Hader
Sr. Projekt Manager

nuveon GmbH
Büro 2.30
Sonnenstraße 23
80331 München

mobil : +49 (0) 170 / 555 0353
büro:   +49 (0) 9146 / 95990 02

email: limor.hader@nuveon.de
web: www.nuveon.de

[2017-06-29 12:26] jasonblais commented on #550
Glad to hear! In the meantime I'll close the issue @LimiLime, thanks for the feedback!

[2017-06-29 12:26] #550 closed

[2017-06-29 14:15] #533 closed

[2017-06-29 14:32] yuya-oc commented on #551
@jasonblais Would you provide more detailed info about your observed behavior?

I found some files still existed after uninstalling, so I think the uninstaller incompletely worked.

- If the application is running, it finishes. (ok)
- "Mattermost" is removed from the "Apps and features" list. (ok)
- Some files still exist in `C:\Users\%USERNAME%\AppData\Local\mattermost`. (wrong)
- Start menu shor

[2017-06-29 14:54] jasonblais commented on #494
^update on this: It doesn't seem to be related to desktop notifications for me.

It seems to be happening while I'm receiving an unread -- or it's something else. Will investigate further..

[2017-06-29 15:28] yuya-oc commented on #542
@jasonblais To solve the original problem, we need to set "author" of `src/package.json` with "Mattermost, Inc. \<EMAIL\>". And, for .deb packages, an email address is necessary. Which address should we use?

For LICENCE.txt, I'm not sure how we should write in this case. Would you ask Ian or others? (He had proposed Apache-2.0)

[2017-06-29 19:39] sanfords commented on #463
I just upgraded to 3.7.0 of the Mac desktop app.  Spell check and command-shift-d-hover work now.  I don't see any text services, but it could be me.

[2017-06-29 21:35] jasonblais commented on #551
I just tried and what you described is correct.

Neither 1 or 2 worked for me yesterday (the app continued to run and Mattermost was still listed under "Apps and features") but maybe I didn't perform the uninstallation properly.

Updated the observed behaviour accordingly

[2017-06-30 12:07] jasonblais commented on #542
Sure thing, I'll ask him about it next week (he's travelling today), and also ask about the email address.

What is the email address for? Is it for sending feedback/reports?

[2017-06-30 13:16] yuya-oc commented on #542
Probably. On Ubuntu 16.04, "GDebi Package Installer" shows info below.

<img width="328" alt="gdebi" src="https://user-images.githubusercontent.com/1412057/27736926-2e71289c-5de1-11e7-8425-8e2ab7f14029.png">

And after installation, `apt-cache show mattermost-desktop` shows following outputs.

[code]

[2017-06-30 20:15] jasonblais commented on #542
Got it -- thanks for the info, very useful! I'll follow up on this next week

[2017-07-01 12:46] yuya-oc commented on #552
Reproduced.

Steps to reproduce:

1. Quit the app.
2. Remove `~/Library/Application Support/Mattermost` folder.
3. Start the app.
4. Enter the server name and URL.
5. "X" is not available in the Settings page.

As a workaround, you can click the server list item or restart the app.

[2017-07-04 08:21] andrelec1 commented on #554
Its not regular, some time, no crash for 2 or 3 days ... and some time, like 10 time in days ...

![image](https://user-images.githubusercontent.com/3273204/27821371-4f738472-60a2-11e7-8824-98d71f1d3be1.png)

[2017-07-04 08:23] andrelec1 commented on #554
O_o i can see the channel when i move my mouse ...
![image](https://user-images.githubusercontent.com/3273204/27821510-cdabffe0-60a2-11e7-8c71-f946830d7f43.png)

[2017-07-04 12:11] jasonblais commented on #554
@andrelec1 Can you try disabling desktop notifications and see if the issue reproduces?

We've had reports where desktop notifications causes temporary freezing of the client, so wondering if it's the same cause.

[2017-07-04 13:19] sherkhan opened #556 "Windows 10 install"
**Summary**
Error during installation
**Steps to reproduce**
install [avocode](https://avocode.com/) first, then try to install matermost app

- Operating System - win10
- latest from off.site

`2017-02-16 10:29:05> Program: Starting Squirrel Updater: --install .
2017-02-16 10:29:05> Program: Starting install, writing to C:\Users\sherk\AppData\Local\SquirrelTemp
2017-02-16 10:29:05> Program: About

[2017-07-04 13:54] jasonblais commented on #556
@yuya-oc thoughts?

[2017-07-04 14:00] yuya-oc commented on #554
@andrelec1 Possibly the renderer of webview might not work properly. Would you try also `--disable-gpu` command line option?

And for reference, please write about your ubuntu version and desktop environment.

[2017-07-04 14:03] yuya-oc commented on #552
Closed via #555

[2017-07-04 14:03] #552 closed

[2017-07-04 14:15] yuya-oc commented on #556
I can install both of Avocode 2.14.4 and Mattermost Desktop 3.7.0 on Windows 10 64-bit.

@sherkhan As far as looking the log, Mattermost doesn't exist in it. What error actually did you see?

[2017-07-04 14:40] andrelec1 commented on #554
i use ubuntu mate 17.04,

[2017-07-04 14:46] sherkhan commented on #556
@yuya-oc i see alert window with error and button - log. (sure i tried in admin mode and both version of Mattermost app (32 and 63 bit))

[2017-07-04 14:56] yuya-oc commented on #556
@sherkhan Could you provide the alert message or screenshot? I'm not sure what part I should research.

[2017-07-04 18:15] sherkhan commented on #556
@yuya-oc i can do it only next monday

[2017-07-05 09:32] sherkhan commented on #556
@yuya-oc https://yadi.sk/i/B2ayk5oj3KmSEP  https://yadi.sk/i/WwLnQNnH3KmUSV

[2017-07-05 18:05] augustnmonteiro opened #557 "Show unread chats first on Ctrl+K"
Today when someone talk to you and you do ctrl+k you have to write the chat name, would be easily just do ctrl+k and down arrow or tab

PS: tab also doesn't move to next chat

[2017-07-05 18:46] jasonblais commented on #557
Thanks @augustnmonteiro for the feedback!

Would you like to upvote [a related feature request](https://mattermost.uservoice.com/forums/306457-general/suggestions/17828368-sort-channel-when-switching-with-ctrl-cmd-k-by-unr) so it can be discussed, upvoted and considered for a [help wanted ticket](http://docs.mattermost.com/process/help-wanted.html)?

If you're interested in implementing, please sa

[2017-07-06 15:26] arkayy commented on #406
You can add tabs with multiple servers or teams to a single window which makes managing them much easier. This can be achieved (at least in Windows and OSX) by going to File>Settings>Add new server. Copy the team url to the new server and give it a descriptive name. Tada!
![mattermost tabs](https://user-images.githubusercontent.com/4443014/27918754-e09cb8f0-623d-11e7-8abb-25c2f87ddc34.PNG)