[2021-07-22 07:26] dasty commented on #1336
@Willyfrog - one more idea, for possible solution: It always work correctly in the web browser as the server generates following HTML code for the links in the chat:

`<a class="theme markdown__link" href="https://company.com/jira/" rel="noreferrer" target="_blank">https://company.com/jira/</a>`

would it make sense to modify the mattermost app, in the way that links which specify target="_blank"

[2021-07-22 08:38] bbodenmiller commented on #1648
@Willyfrog this may have worked for unread icon but it's not practical for us to tell all users to do this. Also it didn't fix https://github.com/mattermost/desktop/issues/1649.

[2021-07-22 08:41] Willyfrog commented on #1648
so far, this is the only report I have, hence the manual fix. If there are many other reporting the same problem then a fix would be needed.

[2021-07-22 08:42] Willyfrog commented on #1649
are there any errors? can you try and launch mattermost from the command line as well as check the console logs (both the wrapper and the current server one) to see if there are any errors?

[2021-07-22 08:52] Willyfrog commented on #1336
i'm afraid the problem is a bit more complex as the desktop is making the decision but it is failing in your case as it can't detect if the mattermost server is at <domain>/mattermost or just <domain>, the reason for that is that some people use subpath to install mattermost and some people don't add the base server url and we try to make them both work, so when faced with <domain>/jira it doesn't

[2021-07-22 09:01] dasty commented on #1336
@Willyfrog - thank you for answer. We only have one team, so I was not aware that links to other teams may also contain 'target="_blank"' - at least that is how I understand your answer. Than it is really not easy solve :( You would have to send list of URL's which are internal from server to app probably even before login, to be able to do the gitlab sign.

[2021-07-22 09:17] Willyfrog commented on #1336
it shouldn't contain `target="_blank"` the problem is that when something tries to navigate to a new window we have to figure out if it was actually within the server.
the code to manage the `target="_blank"`can be found in this function: https://github.com/mattermost/desktop/blob/master/src/main/views/webContentEvents.ts#L85

[2021-07-22 12:02] dasty commented on #1336
Thank you very much for sending this link. I was not aware of all the special corner cases you need to handle, for example I was up to now not aware of plugins, as we are not using them. So my limited understanding of that function is as follow:

1) check for various special cases when it should be open in external browser (help, outside server link, image proxy case, ...)
2) check if it is admin

[2021-07-23 09:17] Tampa opened #1670 "Upgrade from 4.6.1 to 4.7.0 causes nginx bad gateway"
I confirm (by marking "x" in the [ ] below: [x]):

- [x ] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
-

[2021-07-23 14:58] Willyfrog commented on #1670
hello and thanks for reporting! Also glad that you got it back into working state in no time.

Sadly your solution is the only one I know for the time being, we might consider some sort of utility to help do this process if it reproduces frequently as it probably is caused by some cached data not being cleaned properly.

[2021-07-23 15:04] Tampa commented on #1670
An option to "Perform clean install" in the installer might make the most sense in that it would delete pretty much all cached data leaving only the minimum needed to reconnect to the server.

I expect at least some reproducibility given I was informed of this issue by a mac user and could replicate it on Win10 myself, so it seems to transcend operating systems already. I do not have all that many

[2021-07-24 09:28] Willyfrog commented on #1670
I've created a [ticket](https://mattermost.atlassian.net/browse/MM-37379) for that

[2021-07-25 20:31] incx444 commented on #1648
Had the same thing with 4.7.0 desktop for several weeks, upgraded from 4.6.2. Taskbar would not reset the red numberless unread messages bubble unless I switched to another channel or person in the UI. In addition, after installing server 5.37 the bubble started appearing with no visible new traffic on the server. Went back to 4.6.2, all is working again.

[2021-07-26 07:42] Willyfrog commented on #1336
The default action is to not do anything, there is a preventdefault that will prevent any navigation on the main window. The reason for being this restrictive is because it is not a full browser and shouldn't be used as that (it is also an older version of chromium and it might be insecure)

[2021-07-26 07:53] dasty commented on #1336
thank you for the explanation - sorry I am not very strong in JavaScript / TypeScript, so I missed the default :( Still opening in external browser as default action would not compromise the security, but that would not solve our problem as obviously the same window opening has to be executed in some other condition I did not noticed. Anyway thank you for all the time you spend explaining to me. I

[2021-07-26 08:06] Willyfrog commented on #1648
hello and thanks for the report, this is a different bug that will be solved in 4.7.1

[2021-07-26 08:28] einarjh commented on #1644
No need to test with stumpwm, I have a variant of the same issue on Fedora 34, using GNOME 40. Same issue probably exists on all versions of GNOME when using "Sloppy Focus". Steps to reproduce:

* Activate "sloppy focus" by using GNOME Tweaks and going to "Windows" -> select "Focus on Hover" under "Window Focus". Make sure that "Raise Windows When Focused" is switched off.
* Place any window overl

[2021-07-26 08:38] Willyfrog commented on #1371
thanks for the detailed info. I've [created a ticket](https://mattermost.atlassian.net/browse/MM-37410), testing PIV carsd is always a bit complicated, sorry about it.

[2021-07-26 08:46] Willyfrog commented on #1644
thanks for the repro steps, that helps a lot :D

[2021-07-26 14:15] jwilander commented on #1203
Re-adding up for grabs label since there's not been much activity here.

[2021-07-28 06:08] IGrego opened #1675 "v4.7.0 - Mattermst client window does not open - the window remains permanently minimized on the taskbar. Windows 10."
I confirm (by marking "x" in the [ ] below: [x]):

- [x] I have confirmed this is an issue on the newest beta build [available here](https://github.com/mattermost/desktop/tags)
- [x] This issue doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I have read [contributing guid

[2021-07-28 06:22] Willyfrog commented on #1675
Just to clarify, is the app still running? I know windows sometimes keep the tray icon for a while but the app has crashed.

[2021-07-28 06:25] IGrego commented on #1675
The problem is solved - it was possible to open the window with the key combination: Win + Shift + M.

[2021-07-28 06:25] #1675 closed

[2021-07-28 08:43] kristianronningen commented on #1644
I see the same behaviour (as described by @einarjh) on Ubuntu 20.10 with XFCE, using Mattermost 4.7.0 commit b757742. Settings for "Window Manager" are:

[code]

The Mattermost window is the only one that behaves this way. If changing to "Click to focus", it does not steal focus and jump to the foreground.

[2021-07-29 13:58] qupfer opened #1677 "Ubuntu 20.04 Snap Client - allways Certificate Error (Error: net::ERR_CERT_AUTHORITY_INVALID)"
Hi,
we have a mattermost server (gitlab omnibus) with a company signed certificate.
The company root-ca is installed to the ubuntu ca store (/usr/local/share/ca-certificates/company.crt) and open mattermost in browser (or curl'ing) works fine.
But the Desktop (snap) app always complains about the certificate.
Any change to get rid of the massage?
I think the problem is, that its not a direct self-

[2021-07-29 14:31] Willyfrog commented on #1677
when the popup appers, you can click on details about the certificate and from there add a permanent exception so it won't bother you again, please make sure that the certificate you are trusting is the one from your company, as the desktop won't ask again and trusting an insecure certificate might bring some risk.

[2021-07-29 18:50] qupfer commented on #1677
Yeah, thats the behavior i would expect. But its not working.
I have this mesage:
![1](https://user-images.githubusercontent.com/2614431/127548705-925813a7-9f1f-4e16-9040-b3f24077ee95.png)
Clicking on details and Trust.
![2](https://user-images.githubusercontent.com/2614431/127549189-87a988cf-64e4-4651-9e6f-3261fc93dc28.png)
Works one time, but after restarting mattermost, the same error mesages a

[2021-07-30 22:46] Transisto opened #1679 "All URL open as mailto: can't change it"
I managed to have every link in my mattermost desktop to open as mailto:http://...
Anyone has a clue on how to fix this beside re-installing?

[2021-07-31 05:48] Willyfrog commented on #1679
Is it possible that your OS settings are to open http/s links with your mail client?

[2021-07-31 10:29] Transisto commented on #1679
No, this happens only on mattermost
I will try reinstalling it

On Sat., Jul. 31, 2021, 01:48 Guillermo Vayá, ***@***.***>
wrote:

[2021-08-02 08:26] Willyfrog commented on #1679
do you have the autolinker enabled with any kind of rule that might trigger this?

[2021-08-02 18:11] Transisto commented on #1679
I don't know what that i, I just remember having been asked once to chose
how to open an Url, I chose chrome and it's been opening as mailto into
chrome bar ever since. Btw I don't use any app associated with mailto.

On Mon., Aug. 2, 2021, 04:26 Guillermo Vayá, ***@***.***>
wrote:

[2021-08-02 21:50] nmschulte commented on #1371
What's required for a test setup?

The GNU/Linux world is _much_ larger than Ubuntu.  @philipdumont which distribution are you using?

[2021-08-03 12:39] philipdumont commented on #1371
I, too, am using Ubuntu.  Specifically, 18.04.5 LTS (Bionic Beaver).  Have
also tried on Ubuntu 16.04.7 LTS (Xenial Xerus), with similar results.

In both cases, the PKCS library I'm using is opensc-pkcs11.so, from the
opensc-pkcs11 package.

And -- I don't think it matters, but full disclosure: for the Ubuntu
18.04.5 distro, it's actually running on Windows Subsystem for Linux, and
getting at the

[2021-08-03 13:02] nmschulte commented on #1371
That sounds like an excellent test setup; but of course I don't know the present hurdle(s).

For the record, I am no longer using MM.  I'll be avoiding it going forward given the attitude presented here, though I do appreciate the hard work of those involved.

[2021-08-03 23:13] amyblais commented on #1645
This is fixed in v4.7.1 dot release,

[2021-08-03 23:13] #1645 closed

[2021-08-03 23:13] amyblais commented on #1658
This is fixed in v4.7.1 dot release,

[2021-08-03 23:13] #1658 closed

[2021-08-04 19:41] bbodenmiller commented on #1649
@Willyfrog I installed the 4.7.1 update and am still getting this issue. No errors showing in console logs or command line.

[2021-08-05 13:23] c-vahl opened #1684 "High contrast settings on Windows lead to poor color choices in app"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-08-06 07:13] MichalVasut opened #1685 "Cannot switch to Dark Mode on Windows"
Just installed MatterMost Desktop Client 4.7.1 on Win10 and yes there is new feature / "improvement"

- Windows desktop now automatically switches between light and dark themes based on the operating system settings.
- src: https://docs.mattermost.com/install/desktop-app-changelog.html#windows

but it's rather annoying with dark theme to have light header / top bar of the window.

There is an opti

[2021-08-06 07:28] JtheBAB commented on #1685
The only fix is that you turn on the Dark Mode on Windows itself. Then the top bar will be also dark. The docs are outdated but the doc fix is in review.

[2021-08-06 07:32] MichalVasut commented on #1685
This is very bad decision to force users to change system settings just to fit single application needs. ... Reverted client back to 4.6.2 where it was OK.

[2021-08-06 07:47] JtheBAB commented on #1685
It is consistent to the mac world ¯\_(ツ)_/¯

[2021-08-06 08:29] neeral85 opened #1686 "if server coms only via GPO "Add Server" appears on each startup"
I confirm (by marking "x" in the [ ] below: [x]):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-08-06 09:58] FolkertRA commented on #1314
I second this request.
Or maybe a open/save window with multiple choices like in a web browser.

Now I save the file to a temp folder, then click save again an right-click the file in the dialog to open it.

[2021-08-09 08:02] mreymann opened #1687 "Windows Desktop App: Minimize to tray setting disappeared (since 4.7.0)"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-08-09 11:50] jrueb commented on #1636
It looks like MM-33112 is proposing to reimplement this as an item in the preferences. This is a really bad idea, because changing the language is normally done constantly in case you aren't a single-language user. It was correct to implement this as a context menu item in the past.
Anyway, this issue breaks the entire spell checking feature. As a hotfix can the spell checking be reverted to the 4

[2021-08-10 11:47] pheraph commented on #222
I would just like to mention the small detail that setting an animated user status naturally leads to an animated GIF always being displayed, which means that the CPU load of the renderer is constantly at 20% (instead of 0.x%). I was wondering why Mattermost was using CPU unnecessarily and had to find out that my user status was responsible for it. So avoiding animated user status is another worka

[2021-08-10 13:29] kcpearce opened #1690 "Incorrect Notification Bubble"
#### Summary
The red notification bubble appears in the windows taskbar if I am in a channel whose name starts with a "*" character

#### Steps to reproduce
1. Create a channel that starts with a "*" character, e.g. "*Urgent Issues*"
2. Click on that channel
3. Red notification bubble appears regardless of whether there are new messages or not

#### Expected behavior
My team has a few specific cha

[2021-08-10 22:53] amyblais commented on #1690
@kcpearce I wasn't able to reproduce just now, wondering if you'd be able to upgrade to a more recent server version to see if you can still reproduce it? You can also optionally do some testing on our [community server here](https://community.mattermost.com/), which is on the latest version. You should have access to create a Private channel there, but let me know if you don't.

[2021-08-10 23:04] amyblais commented on #1649
I can reproduce, created a ticket: https://mattermost.atlassian.net/browse/MM-37797

[2021-08-11 07:31] liefke opened #1694 "Tray icon does not depend on tray color on Windows"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-08-11 13:50] amyblais commented on #1648
Opened a ticket for the original report https://mattermost.atlassian.net/browse/MM-37807.

[2021-08-12 19:12] amyblais commented on #1686
Opened a ticket: https://mattermost.atlassian.net/browse/MM-37863

[2021-08-16 07:28] DVTrast commented on #1640
Is there actual a date, on which the Version 5 of the Mattermost Desktop-Client will be released?

[2021-08-16 15:28] Willyfrog commented on #1684
Hi there, thanks for reporting!
can yo provide a screenshot? I'd like to file a bug, but I'd like to make sure I fill it correctly :)

[2021-08-16 15:38] Willyfrog commented on #1679
sorry for the delay in answering, as I was away for a few days.

seems like a missconfiguration in the OS? you might want to check the default app to open with each option.

[2021-08-16 18:01] amyblais commented on #1640
It is planned for September 15th together with v6.0 server release on that day.

[2021-08-17 10:01] Willyfrog commented on #1694
Hi there, and thanks for reporting, it is a [known issue](https://mattermost.atlassian.net/browse/MM-36058) and we are waiting on a fix from upstream.

[2021-08-18 07:18] bitdessert opened #1701 "If you set up two teams and run it, you will see a blank screen."
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-08-18 14:26] amyblais commented on #1701
@devinbinnie Would you be able to help reproduce this?

[2021-08-18 17:55] devinbinnie commented on #1701
@amyblais @bitdessert I can't reproduce this myself, are you able to go into View > Developer Tools for Application Wrapper and see if there are errors in there, and if so can you post them here for me?

[2021-08-21 08:00] NgoHuy opened #1709 "Bleve index key file too large"
Hi team,
after upgrading to 5.38.1, bleve cannot complete indexing. It only showed error `error":"BleveIndexerWorker.BulkIndexPosts: Failed to in dex file batch., key too large"`
I can search some keyword, but not sure abouth the bug.

Best regards,
Severus

[2021-08-29 02:14] AlexanderMelnichuk opened #1711 "Mattermost-desktop makes the system freeze when Ubuntu Unity menu is opened"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-08-29 14:19] Profesor08 commented on #1480
You can edit it localy))

[2021-08-30 07:56] Willyfrog commented on #1711
Hi there! Thanks for reporting!

Have you tried changing the setting for gpu acceleration and see if that helps?

[2021-08-30 09:17] AlexanderMelnichuk commented on #1711
Hi! I tried it (with reloading the app, and even rebooting), but it didn't help.

[2021-08-30 12:28] alexander-potemkin opened #1712 "No respect for notification settings"
I confirm (by marking "x" in the [ ] below: [x]):

- [ X ] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [ X ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).

[2021-08-30 16:11] alexander-potemkin commented on #1712
And here is the .config/MatterMost/config.json

[code]

Would be happy to change settings manually as a work-around, just - please, advice on the values

[2021-08-30 16:31] amyblais commented on #1712
Taskbar flashing issue has a ticket here https://mattermost.atlassian.net/browse/MM-37797.
@Willyfrog Let me know if we're able to test the other issue mentioned here.

[2021-08-31 15:36] devinbinnie commented on #1711
I can reproduce this, ticket created: https://mattermost.atlassian.net/browse/MM-38270

[2021-09-01 08:38] Willyfrog commented on #1070
Hey @jerryjaimon are you still working on this?

[2021-09-01 10:06] alexander-potemkin commented on #1712
@amyblais , @devinbinnie , thank you very much for your prompt responce and apologies for the delay in getting back to you!
Glad to know it's acknowledged and fixed, unfortunately, I can't try it now - hate to ruin my auto-updated setup, is there any time estimate on when 4.7.2 is expected to be released?

[2021-09-01 10:20] jerryjaimon commented on #1070
Hey,
Sorry, no I am not working on this.I forgot to update it.

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avg.com
<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Wed, Sep 1, 2021 at 2:09 PM Guillermo Vayá

[2021-09-01 12:39] amyblais commented on #1712
Final testing is in progress, so I'd estimate it may be released this week.

[2021-09-01 13:52] hrvojegolcic commented on #1601
It appears to have something to do with "Personalization / Colors", but other apps seems not to have any issues with it like Mattermost do

![image](https://user-images.githubusercontent.com/6906827/131683787-51959f53-e6e3-4978-bd1e-eca9b83ae90c.png)

[2021-09-01 17:14] alexander-potemkin commented on #1712
Thank you.
Just one more thing: it's turned out that the process doesn't quit, when I close the window, and no tray icon either. It's also memory leaking like crazy: it starts with 100Mb and ends up with 300Mb+ in just a couple of days, not so high loaded use.

[2021-09-02 09:07] Willyfrog commented on #1712
Hi @alexander-potemkin can you fill a separate issue for that problem, if you can add any screenshot/details you may have that would be superhelful in trying to replicate the problem.

[2021-09-02 09:18] Willyfrog commented on #1601
can you share some examples of electron apps that don't show the problem? I've seen the issue in the electron repos as nativeTheme api doesn't support all the options from windows 10 regarding themes (or it didn't last time I checked)

There might be an alternative way, so any help finding that would be apreciated :)

[2021-09-02 09:19] Willyfrog commented on #1070
I'll be working on this as part of the productivity sprint

[2021-09-02 09:46] hrvojegolcic commented on #1601
I didn't realize it's electron only issue. I mean generally other apps. I don't have electron app example.
Regardless, shouldn't the issue be opened until solved?

[2021-09-02 19:26] #1070 closed

[2021-09-03 11:00] Willyfrog commented on #1601
sure, done!

[2021-09-07 07:19] c-vahl commented on #1684
I would have to obscure almost the whole screenshot due to sensitive information.

But the issue should be easy to reproduce: Activate a high contrast theme in Windows and then open some Mattermost channel. You will see that the font style of the active channel in the left panel is the same as for the inactive channels (normally, it is displayed in bold font).

[2021-09-07 09:03] Willyfrog commented on #1684
ok, this is a webapp issue so I'll move to the appropiate repo but I'll also create the [jira ticket](https://mattermost.atlassian.net/browse/MM-38395)

[2021-09-07 17:39] amyblais commented on #1638
I'll close this as a duplicate of the Help Wanted Issue,

[2021-09-07 17:39] #1638 closed

[2021-09-07 17:43] amyblais commented on #1523
I'll close this for now as this was fixed for v4.7.0, but feel free to re-open it if the problem persists,

[2021-09-07 17:43] #1523 closed

[2021-09-07 17:45] amyblais commented on #1402
I'll close this for now as this was fixed for v4.7.0, but feel free to re-open it if the problem persists,

[2021-09-07 17:45] #1402 closed

[2021-09-08 12:23] bitdessert commented on #1701
This issue occurs when building by changing the NODE_ENV value.

* original script
"package:mac": "cross-env NODE_ENV=production npm-run-all check-build-config build-prod && electron-builder --mac --x64 --arm64 --publish=never",
* modified script
"package:devmac": "cross-env NODE_ENV=dev npm-run-all check-build-config build-prod && electron-builder --mac --x64 --arm64 --publish=never",

In the pre

[2021-09-08 13:42] devinbinnie commented on #1701
@bitdessert Odd. With the above configuration you are packaging the application in such a way that it's expects the app is in development mode. We use different path names for a lot of our files in that mode, so the error we get is below:
[code]

Do you have a need to package the application in development mode?

[2021-09-08 14:00] mattermod opened #1918 "Desktop setting to auto-launch app minimized or maximized"
This ticket is to add a feature to allow the user to have the application start minimized when the application is launched on startup.

When "Start app on login" is selected in the Desktop preferences, offer a checkmark to: "Launch app minimized" with the sub-text: “On startup, the app will appear in the system tray.”

By default, "Launch app minimized" should ***not*** be selected.

When the chec

[2021-09-08 14:12] bitdessert commented on #1701
@devinbinnie  Thanks, I will solve it by adding environment variables and building.

[2021-09-08 18:40] amyblais commented on #1141
Closing, this was fixed in server version v5.20,

[2021-09-08 18:40] #1141 closed

[2021-09-08 18:41] #1121 closed

[2021-09-08 18:41] amyblais commented on #1107
Closing as this has been addressed, but feel free to re-open this if the issue persists,

[2021-09-08 18:41] #1107 closed

[2021-09-08 18:42] #1103 closed

[2021-09-08 18:42] amyblais commented on #1102
Closing, this has been addressed,

[2021-09-08 18:42] #1102 closed

[2021-09-08 18:43] amyblais commented on #1095
Closing as this was addressed, but feel free to re-open this as needed,

[2021-09-08 18:43] #1095 closed

[2021-09-08 18:46] amyblais commented on #1353
Closing, this was fixed in v4.6,

[2021-09-08 18:46] #1353 closed

[2021-09-08 18:47] amyblais commented on #1337
Closing, this was fixed in v4.7,

[2021-09-08 18:47] #1337 closed

[2021-09-10 07:41] tnixeu opened #1731 "Improve fullscreen handling"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-09-10 17:26] amyblais commented on #1293
Closing, this was fixed in v4.7,

[2021-09-10 17:26] #1293 closed

[2021-09-10 17:26] amyblais commented on #1276
Closing, this is getting fixed for v5.0,

[2021-09-10 17:26] #1276 closed

[2021-09-10 17:28] amyblais commented on #1157
Closing, this was fixed in v4.7,

[2021-09-10 17:28] #1157 closed

[2021-09-10 17:30] #1010 closed

[2021-09-13 06:22] OwlProjects commented on #1685
There is also one unpleasant effect in this mattermost version. When this state installed
![2021-09-09 16_54_12-Window](https://user-images.githubusercontent.com/90596392/133030717-82c477f2-79b5-4e73-acf1-0fd19531adae.png)
there is this state in system tray
![1](https://user-images.githubusercontent.com/90596392/133032529-482c153b-4a5f-4a72-9fb1-ec608c83ab53.png)
![2](https://user-images.githubuse

[2021-09-14 07:19] mreymann commented on #1687
I've just updated to 4.7.2 but the minimize to tray option is still not present. Is there any way to get this feature back?

[2021-09-14 12:25] amyblais commented on #1687
I asked and a dev mentioned that it was intentionally removed, but we have a ticket to add it back in the future in a different form.

[2021-09-14 12:36] amyblais commented on #1712
Original report is fixed in v4.7.2,

[2021-09-14 12:36] #1712 closed

[2021-09-14 12:36] amyblais commented on #1686
This is fixed in v4.7.2,

[2021-09-14 12:36] #1686 closed

[2021-09-14 12:37] amyblais commented on #1649
This is fixed in v4.7.2,

[2021-09-14 12:37] #1649 closed

[2021-09-14 12:37] #1643 closed

[2021-09-14 15:07] bbodenmiller commented on #1649
Looks like the fix was https://github.com/mattermost/desktop/pull/1696 for future reference.

[2021-09-15 20:25] gabrielebndn commented on #1636
I confirm this is a huge regression for me. In a multilingual environment such as mine, I am constantly switching between English French and Italian. Without spell check (worse, with spell check stuck to English) it become very difficult. So difficult I reverted to 4.6.2

[2021-09-15 23:58] Qwaz commented on #1588
Experienced the same thing, the desktop app version is 4.7.1 and the server was 5.34.2 enterprise. Could you re-open the issue?

[2021-09-16 08:32] mahdiyari commented on #1588
It sometimes opens another app too. It's too rare tho.

[2021-09-16 09:24] facundobatista commented on #1636
Hello @Willyfrog , thanks for the info. Do you have info about how it will be handled? Thanks!

[2021-09-16 09:25] Willyfrog commented on #1636
Same as chrome does, you specify a list of languages and it will try to figure out the right one

[2021-09-16 13:15] Psalm27-4 opened #1736 "Lack of Move Option When Window is Stuck Off Screen"
Hi,

This is for the Windows 10 Mattermost Desktop App, Version 5.36.0. I am observing that Mattermost can become "stuck" off screen when changing setups with multiple monitors. A couple days a week I transition into the office from home, this involves bringing my dock and laptop in. I have two monitors plugged into my dock in both settings, which are both different manufacturer than those I have

[2021-09-16 13:29] svelle commented on #1736
Hey thanks for raising this, I've experienced this myself a couple of times before so would really appreciate some improvements in this regard.

However what also helped me in the past was Win + Arrow keys moving the window back to one of the active working screens, hope this helps you too!

[2021-09-16 13:34] Willyfrog commented on #1736
@svelle suggestion is spot on! thanks!

But if everything else fails, you can always go to the config folder of your mattermost desktop installation and delete the file bounds-info.json which is the one responsible for saving window state between restarts.

[2021-09-16 13:35] Psalm27-4 commented on #1736
Unfortunately that doesn't work for me. However, the Windows + Down key and Windows + Up Key do show the minimize and raise animations happening. The Windows + Left or Right Arrow keys don't move it, until something happens after a few reboots to fix the issue.

[2021-09-16 13:38] devinbinnie commented on #1736
@Psalm27-4 Thanks for reporting this, I have also had this happen to me. I think what's causing it has to do with the fact that we already do save the last window position in a file called `bounds-info.json` in your AppData directory. Unfortunately if you change monitor configurations after the app has been closed and before you re-open it, it will still use that data which may not be valid anymor

[2021-09-16 13:45] Psalm27-4 commented on #1736
@devinbinnie Thank you for creating the ticket. The explanation sounds reasonable. In meantime I will try deleting the json file when the issue happens the next time.

[2021-09-16 15:50] Willyfrog commented on #1588
hi @Qwaz and @mahdiyari would you be open to record a video of it happening? I've never experienced that and maybe I'm missing something for repro steps

[2021-09-16 16:00] mahdiyari commented on #1588
It happens only sometimes. You can't just reproduce it. It might not happen for days or weeks.

[2021-09-17 05:50] ventra007 commented on #1408
Hi. Would be nice to have the option to have it open normal or minimized to try. Just because some find it confusing doesn't mean all do.

[2021-09-17 16:03] LcHicks commented on #1648
@Willyfrog, I am having the same issue as @bbodenmiller. For your stop-gap fix suggestion, do you mean to delete _everything_ in that folder except the `.json` files? Including all the folders? I have 129 items in that folder.

![image](https://user-images.githubusercontent.com/76702572/133819154-97e18142-7ef7-47e6-b5b2-284ca9eba326.png)

[2021-09-17 20:04] Willyfrog commented on #1648
yes, I'd suggest to first quit the app completely, and then remove anything that it is not a `.json` file. All the others will be generated on start, but the json ones are your config.

[2021-09-17 20:08] Qwaz commented on #1588
I don't have a video, but the symptom is that calc.exe GUI pops up when I click the close button of Mattermost desktop app (which minimizes the app to the tray). It only happens once a few weeks for me as well, but I didn't see any other apps opening other than calc.exe.

[2021-09-17 22:25] LcHicks commented on #1648
@Willyfrog I exited the mattermost app completely (from the system tray) and deleted all the non-`.json` files and folders. I can confirm I am still seeing this issue. There is a notification bubble on a non-selected team yet the taskbar alert icon is missing.

![image](https://user-images.githubusercontent.com/76702572/133859875-ade6bf8f-3a76-4427-a1d5-94fd9e5b72ed.png)

[2021-09-19 16:02] florencebiree opened #1741 "Mattermost desktop open the wrong web browser"
I confirm (by marking "x" in the [ ] below: [x]):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-09-20 08:28] Willyfrog commented on #1741
I'm afraid there must be something configured in your desktop that is defaulting to Chrome instead of Firefox. We don't choose any browser as each user has its own preferences, to open an URL we call [shell.openexternalurl](https://www.electronjs.org/docs/latest/api/shell/#shellopenexternalurl-options) which tries to use whatever the environment has defined.

I'm closing the issue as there is not

[2021-09-20 08:28] #1741 closed

[2021-09-20 08:37] Willyfrog commented on #1648
@LcHicks which version of mattermost are you running?

[2021-09-20 09:29] florencebiree commented on #1741
I understand, but it's the only application on my system which open the wrong web browser. Even signal-desktop (another electron application) open the right one…

[2021-09-20 14:15] LcHicks commented on #1648
The desktop client is 4.7.2, the server is 5.33.3

[2021-09-21 07:04] bmerry commented on #1644
I'm also experiencing this with Xfce, since upgrading from 4.6.something to 4.7.2. My focus setting is "Focus follows mouse".

[2021-09-21 11:52] lkraav commented on #1644
Still same broken behavior in 5.0.0-rc1.

[2021-09-21 14:29] amyblais opened #1748 "Mattermost Desktop App v5.0"
You can find key dates for Desktop App v5.0 release below, with links to testing servers, release candidate and changelog added retrospectively. Dates are tentative and subject to change.

### Sept 20: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### Oct 12th: Release Build Cut

[2021-09-21 14:30] amyblais commented on #1748
### Desktop App v5.0 RC-1 is cut

Download links: https://github.com/mattermost/desktop/releases/tag/v5.0.0-rc1

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/5055/files)

[2021-09-22 06:34] NeroBurner opened #1754 "[5.0.0-rc1] 'Select preferred Language(s)' causes forgotten Server at app restart and whitescreen until resized"
- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I have read [contributing guidelines](https://gi

[2021-09-24 12:47] amyblais commented on #1754
@devinbinnie I partially reproduced this. When I downloaded RC-1 on Mac for the first time, all my configured servers disappeared. Is that a known issue?

[2021-09-24 13:32] devinbinnie commented on #1754
@amyblais The only known issue is you might run into issues upgrading from one of the nightly 5.0 builds to 5.0-rc1. If you're coming from v4.7, that should be working correctly.

@NeroBurner Does this reliably reproduce for you if you upgrade from v4.7.2 to v5.0-rc1?

[2021-09-25 22:06] mahdiyari commented on #1588
This time it opened up Alarms & Clock. I just used alarms recently so it must be the recently used apps just like calculator.

[2021-09-27 08:05] NeroBurner commented on #1754
I can't reproduce it anymore. As of writing this Issue the server was forgotten by upgrading from v4.7.2 to v5.0-rc1 and even when starting with a fresh `~/.config/Mattermost` folder with `v5.0-rc1`

now it just works. Closing this issue. Will reopen if I can reproduce it again

[2021-09-27 08:11] NeroBurner commented on #1754
I can reproduce:
- open settings
- set the field `Select preferred Language(s)` to contain `German`
  ![Screenshot_20210927_101012](https://user-images.githubusercontent.com/9076163/134869591-d6b955ce-5a97-4141-bffd-89e1a86e57e7.png)
- restart Mattermost
- get blank screen

[2021-09-29 16:30] #1754 closed

[2021-09-29 16:40] #1736 closed

[2021-09-30 12:32] NeroBurner commented on #1754
can confirm fixed with `mattermost-desktop-5.0.0-rc2`

[2021-09-30 17:43] amyblais commented on #1748
### Desktop App v5.0 RC-2 is cut

Download links: https://github.com/mattermost/desktop/releases/tag/v5.0.0-rc2

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/5055/files)

[2021-10-01 06:42] grzegorzso commented on #1748
is there a way to bring back the previous tab view, which in my opinion was much quicker and better UX for switching between multiple servers (we using this a lot in our company) or this change is pernament an non-configurable?

[2021-10-01 13:42] amyblais commented on #1748
cc @esethna @devinbinnie

[2021-10-01 13:49] devinbinnie commented on #1748
@grzegorzso Unfortunately no, the dropdown view is the only view available in v5.0.

[2021-10-01 16:19] esethna commented on #1748
@grzegorzso not that you can still use keyboard shortcuts to switch servers:

![image](https://user-images.githubusercontent.com/14333569/135654370-d2a04a91-8b5f-4a7b-9619-1d8a86822f5f.png)

[2021-10-01 17:19] alphaninja27 commented on #623
Copy the entire code on a text editor and then search for keywords, and change accordingly, or send me the code I shall do it for you.

[2021-10-04 06:15] kirkaDev opened #1778 "Emoji list does not scroll correctly (gets stuck)"
I confirm (by marking "x" in the [ ] below: [x]):

- [ ] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [ ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-10-04 09:02] Willyfrog commented on #1778
Hello and thanks for the report. I'm moving the issue to the webapp repo, as it'll have more visibility there and it looks like it is a webapp problem.

[2021-10-04 19:19] Westacular opened #1783 "Build system issue: macOS Universal Binary build is huge, contains unnecessary files"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-10-04 20:05] devinbinnie commented on #1783
Thanks @Westacular, created a ticket for it in JIRA: https://mattermost.atlassian.net/browse/MM-39047

[2021-10-04 21:49] yash2002109 commented on #1635
Hi @Willyfrog, @cpanato

I'd like to work on this issue. Could you please assign it to me?

[2021-10-05 23:17] amyblais commented on #1748
### Desktop App v5.0 RC-3 is cut

Download links: https://github.com/mattermost/desktop/releases/tag/v5.0.0-rc3

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/5055/files)

[2021-10-06 21:05] #1783 closed

[2021-10-07 13:31] marcotuna opened #1799 "Information about certificate.json and trustedOrigins.json"
For troubleshooting, see [https://www.mattermost.org/troubleshoot/](https://www.mattermost.org/troubleshoot/).

Currently I am using Cloudflare for Teams (Warp) which intercepts all traffic. It requires installing a self signed certificate on the computer.
I am using Linux and if I download the Mattermost Desktop client from the website, it loads the certificates from the operating system and ever

[2021-10-08 11:00] Willyfrog commented on #1297
@patric42 can you check the latest 5.0RC? I think there is another fix in it for the problem, so if you could double check that would be great

[2021-10-08 15:55] jsg2021 opened #1804 "AppImage launched from `.desktop` file results in crash/blankscreen"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-10-11 09:24] Willyfrog commented on #1644
It is currently scheduled for 5.1, but that might be delayed depending on priorities.

If anyone wants to help with the issue I can mark it as part of hacktoberfest if needed. Otherwise, I'm afraid it will have to wait until we can stabilize the new codebase (on 5.0 we did another major rework moving to typescript)

[2021-10-12 02:14] leoniscsem opened #1805 "Zoom in and out do not work as intended"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-10-12 03:16] DeadMozay opened #1806 "Error starting with glibc 2.34"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-10-12 15:08] #1748 closed, assigned to nobody

[2021-10-12 22:38] s001911 opened #1808 "Unhandled promise falsely returning presence of modal preventing adding servers"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-10-13 01:51] elyscape opened #1809 "macOS builds contain unnecessary files"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-10-13 22:53] jheidemann opened #1827 "linux client forces autoraise"
#### Summary
Recently (after Sept 1, 2021?), the Linux client for mattermost began forcing autoraise--autoraise should be up to the user (like before).

#### Steps to reproduce
Run mattermost desktop client for Linux version 4.7.2 under Wayland (I'm using Fedora 34, if that matters).

#### Expected behavior
If the window is behind other windows but partially exposed, moving the mouse over it shoul

[2021-10-14 11:24] razzeee opened #1812 "Notification icon hardly visible"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-10-14 15:50] UberPinguin opened #1814 "Desktop Client Crashes If HTTP Proxy Auth Is Required: net::ERR_TUNNEL_CONNECTION_FAILED"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-10-14 21:19] #1808 closed

[2021-10-14 21:19] #1809 closed, assigned to nobody

[2021-10-15 15:16] cbrillhart opened #1817 "macOS notification sound broken after installing v.5.0 update"
#### Summary
macOS notification sound broken after installing v.5.0 update

#### Steps to reproduce
Install the v.5.0 macOS desktop application

#### Expected behavior
When I receive Mattermost notifications from the macOS desktop application, they should arrive with the notification sound I have set via Mattermost Account Settings > Notifications > Desktop Notifications > Notification Sound

####

[2021-10-15 15:47] cbrillhart commented on #1817
Wonderful!

Sent from my iPhone

[2021-10-18 16:46] #1814 closed

[2021-10-18 20:10] devinbinnie commented on #1371
@thorseye Thanks for your offer! We don't have a way of testing fixes ourselves, so if you could assist us in that way that would be excellent :)

[2021-10-19 07:48] gfra54 opened #1824 "Mattermost windows desktop keeps reloading"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-10-19 07:55] s1gh opened #1825 "Windows: Crashing when changing between Channels and Boards"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-10-19 08:03] gfra54 commented on #1824
I can add that we just updated from version 5 to version 6 of the server, and I updated the windows app yesterday (but it did not reload yesterday)

[2021-10-19 08:18] Willyfrog commented on #1408
thanks for commenting!
We currently have a [ticket](https://mattermost.atlassian.net/browse/MM-30336) for making it optional which would make everyone happy. It is a [Help Wanted Issue](https://github.com/mattermost/mattermost-server/issues/18353) so hopefully someone can pick it up and contribute the needed change, I'll be happy to help anyone taking the issue :)

[2021-10-19 10:39] acataluddi opened #1826 "Minimise / Close buttons disappeared in v5.0.0 on Windows 8.1"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-10-19 11:55] #1824 closed

[2021-10-19 13:19] devinbinnie commented on #1826
Versions of Windows before v10 should be using the native window instead of the frameless one. I'll make a quick fix for this.

[2021-10-19 13:29] lkraav commented on #1827
This is probably a duplicate of https://github.com/mattermost/desktop/issues/1644

[2021-10-19 13:40] devinbinnie commented on #1825
@s1gh So just to understand, if you have the Boards tab closed, and then re-open it by clicking a link (or by using the Global Header) and then while the loading screen is running you switch back to the Channels tab, and that causes a crash?

[2021-10-19 14:03] devinbinnie commented on #1825
Thanks for the info, create a ticket to track: https://mattermost.atlassian.net/browse/MM-39428

[2021-10-19 20:04] #1826 closed, assigned to devinbinnie

[2021-10-20 05:15] Sarak1976 opened #1832 "New Mattermost desktop application results in account continually flashing on the screen"
#### Summary
New Mattermost desktop application results in account continually flashing on the screen

#### Steps to reproduce
Version 5.0.0 (5.0.0.14247)

#### Expected behavior
Would expect to login to account and see account homescreen. I have three Mattermost servers - this is only happening one of the three servers.

#### Observed behavior (that appears unintentional)
Screen keeps flashing /

[2021-10-21 03:12] Sarak1976 commented on #1832
Thank you SO much @devinbinnie
That must have been the issue as I deleted and re-entered the URL and all is good now. Very grateful!

[2021-10-21 13:15] #1832 closed, assigned to nobody

[2021-10-21 16:32] dkuzmenko-sunpower opened #1833 "Running the app again does not raise the window from the tray icon"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-10-21 18:13] KotoWhiskas opened #1834 ""Add a server" button doesn't work"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-10-23 17:46] #1834 closed, assigned to nobody

[2021-10-27 16:14] zbeggs opened #1840 "Uncaught exception mattermost client 5.0 & above"
Hello,
I have encountered an issue when upgrading the Mattermost client from version 4.7.2 to version 5.0 and above. After uninstalling and then installing the new version of Mattermost, opening the app gives an uncaughtException error. The error states that the config.json located in /AppData/Roaming/Mattermost/ is busy or locked. This error is consistent with dozens of workstations that had Matt

[2021-10-28 22:06] svelle opened #1842 "Desktop app not using correct "Downloads" directory on windows"
If you set your Downloads directory to something other than "User Home"/Downloads the Desktop app does not respect the new location.

Maybe this could help:
https://www.reddit.com/r/Batch/comments/ec8bwi/whats_the_universal_path_to_the_users_downloads/

[2021-10-29 13:40] alexander-potemkin opened #1844 "Linux client stuck in memory"
I confirm (by marking "x" in the [ ] below: [x]):

- [ x ] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [ x ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).

[2021-10-29 20:24] alexander-potemkin commented on #1844
Thank you. I had to add tray icon as a work-around, indeed.

I’m not sure I’ve got about Ubuntu specific app closing.

btw, Ubuntu is quite popular foundation for many distros, so I would say it’s quite a thing to address, unless I’m missing something?

[2021-11-01 13:36] devinbinnie commented on #1844
@alexander-potemkin On Ubuntu's default configuration for GNOME, there's a system tray in the top bar. I know other distros like Fedora don't use this, as well as Ubuntu-based distros that don't use GNOME like Linux Mint. The app is built to use that tray just like Windows and Mac do, but we're aware that a lot of other distros don't use that.

tl;dr Our Linux closing behaviour works for a lot of

[2021-11-01 15:24] alexander-potemkin commented on #1844
Hm, got it. So it's not that much about Linux distribution, as it's about tray icon behaviour, got it, thanks!
Yes, fixing this would be very nice. It's also wasn't the problem before 5.x client.

[2021-11-01 16:41] amyblais commented on #1833
@devinbinnie Are we able to repro this / is there a ticket for this already?

[2021-11-01 17:04] devinbinnie commented on #1833
This is another issue that's a part of this ticket: https://mattermost.atlassian.net/browse/MM-30713
@dkuzmenko-sunpower Are you able to have this work if you uncheck "Leave app running in notification area when application window is closed"? I don't think that setting is doing what it's supposed to.

[2021-11-02 13:13] srfall commented on #1833
I have the same issue on windows 10 since I updated the desktop app to version 5

[2021-11-02 14:34] etwasanderes2 opened #1847 "Non-descript error when uploading files with names with umlauts / weird unicode"
#### Summary
Uploading a file with umlauts in it's name causes a red message `There was a problem uploading your files.` to appear. This also happened with other weird unicode symbols.

#### Steps to reproduce
##### Version
[code]
In the web application, running on `Chromium 94.0.4606.81 Arch Linux`, and
in the Desktop App, version 4.7.2

##### Reproduction
Attach a file named `ä` for example. I a

[2021-11-02 15:01] etwasanderes2 commented on #1847
@amyblais results are in (tldr: all other platforms worked fine):
OS | Client | Result
---|---|---
Manjaro 5.10.70 | chromium 94 | ERROR
Manjaro 5.10.70 | desktop app 5.0.1 | ERROR
Manjaro 5.10.70 | firefox 93.0 | ok
Windows 10 | edge 92.0 | ok
Windows 10 | chrome 95.0 | ok
Windows 10 | firefox 94.0 | ok
Windows 10 | desktop app (forgot to take version, probably latest) | ok
Android 11 | app | ok

[2021-11-02 15:57] devinbinnie commented on #1847
@etwasanderes2 Thanks for the detailed test results, do you know if this happens in other distros or just Manjaro?

[2021-11-02 16:02] devinbinnie commented on #1833
Yes, I can reproduce that. Created a ticket: https://mattermost.atlassian.net/browse/MM-39843

[2021-11-02 16:49] etwasanderes2 commented on #1847
@devinbinnie I also checked on ubuntu and it worked fine, bringing the list to:

OS | Client | Result
---|---|---
Manjaro 5.10.70 | chromium 94 | ERROR
Manjaro 5.10.70 | desktop app 5.0.1 | ERROR
Manjaro 5.10.70 | firefox 93.0 | ok
Windows 10 | edge 92.0 | ok
Windows 10 | chrome 95.0 | ok
Windows 10 | firefox 94.0 | ok
Windows 10 | desktop app (forgot to take version, probably latest) | ok
Android

[2021-11-02 17:44] devinbinnie commented on #1847
Thanks @etwasanderes2. I can't seem to reproduce it either on Ubuntu 20.04 with Desktop App v5.0.1
Given that this also happens in Chrome and seems to be occurring on the webapp, I'm moving this back to the server repo.

[2021-11-02 17:52] biva commented on #1601
Hello,
I tried to add a custom value for the tray icon, as suggested in https://github.com/mattermost/desktop/issues/1601#issuecomment-841082063
- "trayIconTheme": "#ffffff"
- "trayIconTheme": "light"
- "trayIconTheme": "#000000"

I save and restart my desktop app, but the icon in the taskbar it remains black and not visible in a dark taskbar in Windows 10.
![image](https://user-images.githubuserc

[2021-11-02 18:48] dkuzmenko-sunpower commented on #1833
@devinbinnie the same behavior whenever the "Leave app running in notification area when application window is closed" checkbox checked or not. The application binary execution is not raising the running application window.

[2021-11-03 10:21] alexander-potemkin opened #1850 "No screen sharing with Jitsi under both Linux & MacOS"
I confirm (by marking "x" in the [ ] below: [x]):

- [ x ] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [ x ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).

[2021-11-03 10:49] Willyfrog commented on #1601
try "trayIconTheme": "dark", although I'm not sure if that still affects the tray icon, but doesn't hurt to try :)

the docs you mention are about theming inside mattermost and that doesn't apply to the tray icon.

[2021-11-03 11:00] alexander-potemkin commented on #1844
@devinbinnie there is one major difference in how Mattermost restores from the tray vs Slack or Telegram: when I click on tray icon on Mattermost, I have to choose which workspace I would like to have opened; while on other messengers (and apps) - I get app window immediately, which is muuuuch more convenient.

[2021-11-03 11:02] alexander-potemkin commented on #1844
on top of that, on Slack I can click and restore window via normal icon and via tray icon, so tray icon is a way to stay at background.

[2021-11-03 13:14] biva commented on #1601
Thanks @Willyfrog and sorry for my confusion. In this case, where should I add this parameter about "trayIconTheme"? On the server installation? (_/opt/mattermost/config/config.json_) On the local installation of the desktop app on Windows? (in this case, which file should I edit?)

Thanks again!

[2021-11-03 13:16] devinbinnie commented on #1844
To clarify, do you mean which desktop workspace this opens on?

This is being fixed here: https://github.com/mattermost/desktop/pull/1848

[2021-11-03 13:21] Willyfrog commented on #1601
it is a parameter in the local installation of the desktop app.

for a windows machine it should be in `%userprofile%\AppData\Roaming\Mattermost\config.json`

[2021-11-03 13:26] #1825 closed

[2021-11-03 13:26] #1840 closed

[2021-11-03 13:35] biva commented on #1601
Thanks! I closed the app, edited it (with `"trayIconTheme": "dark"`), started the app → nothing changes :(
I didn't have the issue before my update to v5 (currently 5.0.1)

For reference, here is the content of `C:\Users\biva\AppData\Roaming\Mattermost\config.json`:

[code]

[2021-11-03 14:25] devinbinnie commented on #1850
I can reproduce this. Looks like Jitsi is expecting our Electron to support something it doesn't have. When I try to screenshare, this error appears in the console:
[code]

Currently, the embedded view for Jitsi in Mattermost is still experimental, so I'll create a ticket to address this at some point. For now, I'd recommend when using the Desktop App and Jitsi, if you need to screenshare, to open

[2021-11-03 15:17] jsg2021 commented on #1804
@devinbinnie

Here is the terminal output: (window crashes before dev tools can be brought up)

[code]

without the `no-sandbox` flag:
[code]

[2021-11-03 16:32] alexander-potemkin commented on #1844
By workspace I mean, not a desktop workspace - virtual desktops, I meant Mattermost workspace / chats I'm connected to (I have different servers I'm connected to).

[2021-11-04 10:53] biva opened #1851 "Freeze / unreactive app on Windows"
**Summary**
The desktop application is not reactive anymore: I click or write something, but nothing happens.

**Environment**
- Operating System: Windows 10
- Mattermost Desktop App version: 5.0.1
- Mattermost Server version: 6.0.2

**Steps to reproduce**
I'm not sure exactly when it happens, but I have the feeling that it happens when the app is reduced in the tray (see picture below)
![image](h

[2021-11-04 13:34] devinbinnie commented on #1851
@biva Does this also happen when you open the app from a notification? I get that bug too and I've never had anyone else reproduce it before. The app just freezes and then it works once you click on it or drag it around right?

[2021-11-04 13:41] devinbinnie commented on #1804
Thanks for the console output @jsg2021! I've made a ticket to look into this here: https://mattermost.atlassian.net/browse/MM-39874

[2021-11-04 13:49] devinbinnie commented on #1844
I see what you mean. On other OSes we're able to double-click on the tray icon to just open the window. Apparently on Linux (or Ubuntu at least) you can't. I think the same workflow should be possible using the task bar once the above fix mentioned is merged.

[2021-11-04 14:14] biva commented on #1851
I disabled all notifications, so I can't say :/ For me, it works again after a few seconds, I didn't notice anything about draging it around right, but I'll check.

Since when do you have this bug? Only since v5? (I didn't have it before this latest version)

[2021-11-04 15:16] alexander-potemkin commented on #1844
Yes, please

[2021-11-04 20:19] devinbinnie commented on #1851
Yeah it started around v5 for me. No one else has been able to reproduce so I assumed it was issue with my machine.

[2021-11-05 00:48] livwvil opened #1853 "Kubuntu can't see add server dialog"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-11-05 11:28] lostlont commented on #1851
Same here, did not have this issue in v4.x, started in v5.0, still happens in v5.0.1. It looks like it only happens when the app is opened from the systray. I've been using it in minimized mode for a few days and this way it seems to be not happening. Also it's quite easy to reproduce it by closing and opening the systray icon. If I do the same with a minimized window then it works properly.

[2021-11-05 13:09] biva commented on #1851
Haaaa, thanks for your report: @devinbinnie won't feel alone anymore 🤣

[2021-11-05 16:22] baskinsy commented on #1326
No it is the mattermost window when you try to attach a file. I have the same problem with the snap version on Opensuse Tumbleweed

![image](https://user-images.githubusercontent.com/1850894/140544156-5e8c285b-f770-419d-be1a-4d91739ac930.png)

[2021-11-07 18:25] hartescout opened #1854 "Windows 11 - MM Desktop Not Connecting"
I confirm (by marking "x" in the [ ] below: [x]):

- [x ] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
-

[2021-11-08 02:44] zhubeilife opened #1855 "change back to the old server tab"
Hi May I know can we change back to the old server tab? It seems more convenient

![image](https://user-images.githubusercontent.com/7824663/140676113-01d6da73-5545-4995-988a-7eaacf584dd5.png)

[2021-11-08 13:21] thorseye opened #1856 "Intermittent crashes (Linux Desktop App, rpm)"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-11-08 14:11] devinbinnie commented on #1855
@zhubeilife Apologies, but there's no way to change back to the original tab structure without reverting back to v4.7.
We have plans to look into an interface in the future for a single-tab, single-server view that will not show tabs or a dropdown, but going forward we will be sticking with the dropdown structure for multiple servers.

[2021-11-08 14:14] devinbinnie commented on #1854
@hartescout Mattermost Desktop v4.1.4 was built long before the release of Windows 11 and is therefore unsupported on that OS. You can upgrade to version v5.0.1 here which should work correctly on Windows 11: https://github.com/mattermost/desktop/releases/tag/v5.0.1

[2021-11-08 14:22] devinbinnie commented on #1851
@lostlont Does it happen when you open the app from a notification?

[2021-11-08 14:24] #1833 closed, assigned to nobody

[2021-11-08 15:57] iyampaul commented on #1856
I've also run into this `error 4 in libappindicator3.so.1.0.0` segfault on Fedora 34/Gnome 40 (and now F35/Gnome41) using the tar.gz package.  Difficult to consistently reproduce, however definitely occurs on/around client events that cause a desktop notification (channel message, etc).

[code]

[2021-11-08 16:06] hartescout commented on #1854
Oh wow. I didnt realize I was so far behind. Thanks

[2021-11-08 16:33] lostlont commented on #1851
It's hard to tell as I have notifications enabled but I rarely click on them instantly. I'll experiment with it and get back if I see anything.

[2021-11-09 01:43] zhubeilife commented on #1855
@devinbinnie ok thanks for feedback!

[2021-11-09 01:43] #1855 closed

[2021-11-09 10:10] rcaspart commented on #1856
Can confirm, this also occurs for me on F35.
At least behavior wise it seems to be similar/the same as #1235

[2021-11-09 10:11] ouafnico opened #1858 "5.x New server selector is not daily usuable"
Hi,

I'm using multiple mattermost servers on mattermost-deskop app.

Since 5.x release, the new selector imposes to the user to multiple clic for every notification.

When you receive a notification from a server, you don't know the source. You have to clic on the selector to see, and clic again to change server if needed.
Before it was fast and clear, each tab is a server, the notification appea

[2021-11-09 14:49] devinbinnie commented on #1858
@ouafnico For the notification portion, do your notifications not show the server name when they launch? If not, can you tell me which OS you're running on?

[2021-11-09 14:54] ouafnico commented on #1858
@devinbinnie I don't use notifications because of the number of them (using Arch/Gnome).

But I'm talking about the new selector on the client here :
![Capture d’écran de 2021-11-09 15-52-25](https://user-images.githubusercontent.com/807350/140947014-eff06add-af30-4edc-ae61-a4543acc8a4a.png)

When any server configured got a notification, you don't know what server is concerned until you click on

[2021-11-09 14:59] devinbinnie commented on #1858
@ouafnico Ahh okay, sorry for the misunderstanding.
Thanks for the feedback. We've decided to go with the dropdown for the ease of use of switching between the Channels view, as well as Boards and Playbooks. I understand that it adds more clicks but we've had to make that trade-off in this case.

We will continue to iterate on the design. One thing we're planning on doing is creating a view for si

[2021-11-09 15:40] devinbinnie commented on #1858
Not at the present, other than to downgrade to v4.7. Apologies.

[2021-11-09 17:11] lostlont commented on #1851
Confirmed, occasionally it happens with notifications too. In this case when the window open I see my last open channel, and not the channel or person from which the notification came. Minimising and reopening the window fixes it again.

[2021-11-09 18:30] michaelkozakovsc opened #1861 "Your session has expired errors"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-11-09 21:27] coltoneshaw commented on #1861
https://user-images.githubusercontent.com/46071821/141007535-3e91fa95-9d86-46ef-8d5e-b3c599a0f2d3.mov

Here is a video of the issue along with the workaround for it. This is a cloud server running with the playbooks and boards plugin manually deactivated / removed.

[2021-11-10 13:16] amyblais commented on #1861
@devinbinnie I opened a ticket: https://mattermost.atlassian.net/browse/MM-40025. Perhaps a candidate for 5.0.2?

[2021-11-10 16:58] LcHicks commented on #1648
This problem is still present in desktop client version 5.0.1 and server versions as follows:
Mattermost Version: 5.39.2
Database Schema Version: 5.38.2

[2021-11-10 22:28] devinbinnie commented on #1804
@jsg2021 Just giving you an update, I'm kinda confused why `electron-builder` has this bit hardcoded in there, since it's very very difficult to undo it if you want to. I've left a comment on that issue in order to see if we can make a change to `electron-builder` in order to make that optional.

[2021-11-14 09:46] distante opened #1862 "Mattermost breaks after creating a MacOs Monterrey Shortcut to launch it"
I confirm (by marking "x" in the [ ] below: [x]):

- [ ] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-11-15 11:33] Margrie commented on #1853
I have the same problem

- Ubutunu 20.04
- Mattermost Desktop App version: 5.0.1

[2021-11-16 08:35] nhp commented on #1853
Same problem resides with

- ubuntu 20.04
- Mattermost Desktop 5.0.2

Same workaround is still possible: resize the main window and it direclty works.

[2021-11-16 11:48] neufeind commented on #1834
same problem here with the official 5.0.2-rpm, installed on Fedora 34. Works fine after switching to flatpak. Hmm, why does that fail with the rpm-package?

[2021-11-16 14:29] amyblais commented on #1812
A ticket is open here: https://mattermost.atlassian.net/browse/MM-40145.

[2021-11-16 16:08] amyblais commented on #1853
cc @devinbinnie if we're able to test this.

[2021-11-16 16:35] razzeee commented on #1812
That ticket is windows specific, this one is for linux.

[2021-11-16 17:16] amyblais commented on #1812
I'll add a note in the ticket.

[2021-11-16 17:26] amyblais commented on #1812
I opened a separate ticket for Linux: https://mattermost.atlassian.net/browse/MM-40149.

[2021-11-16 19:29] devinbinnie commented on #1853
I've tested and can't reproduce it myself on Ubuntu 20.04 and v5.0.1
@nhp @Margrie @livwvil Can you reproduce this consistently? If so can you tell me what kind of hardware you're running? (CPU and RAM)

[2021-11-16 20:16] livwvil commented on #1853
Laptop (1600x900, Intel Core i7 4700MQ, 4x2.4 GHz, RAM 8 GB, SSD, GeForce GTX 850M)
Nothing else. I just installed it, launched, and try to connect to my job server, but dialog doesn't appeared after button was clicked. Then I resized the window and dialog appeared.
Now I have another laptop. I'll install kubuntu and try clean installation of mattermost.

[2021-11-17 14:20] devinbinnie commented on #1853
@livwvil I don't think there's a markup issue, I just tested the same thing with your screen resolution and everything worked fine. I'm using a VM with a 4-core processor as well. I'm wondering if something strange is happening with the timing of the application showing the modal, where it tries to show it but fails, yet the app still thinks it's there.

[2021-11-17 15:07] biva commented on #1851
Hello, I have also noticed that before 6.0, launching `mattermost.exe` was _reviving_ the desktop app from tray (I don't know how to say that: the application was displayed as if I click on the tray icon). It also worked when I clicked on a shortcut or on the Mattermost icon in the Windows start menu.

This doesn't work anymore: I have to click on the tray icon to revive the app.

As both issues a

[2021-11-17 15:08] devinbinnie commented on #1853
@livwvil Can I get you to try one of these builds on the affected machine? I'd like to see if this fixes your issue:
https://15075-43964563-gh.circle-artifacts.com/0/tmp/artifacts/mattermost-desktop-5.0.0-develop-linux-ia32.tar.gz
https://15075-43964563-gh.circle-artifacts.com/0/tmp/artifacts/mattermost-desktop-5.0.0-develop-linux-x64.tar.gz

[2021-11-17 15:31] livwvil commented on #1853
@devinbinnie Unfortunately, I have not my first laptop any more, and I can't help you with my initial problem reproducing. But on my second laptop I still can break modal window. Here are three screenshots:
1. Open modal - everything is OK.
2. Resize window from the bottom -  a white stripe appears at the bottom.
3. Resize the window from the left - a big white column appears on the right.
I do no

[2021-11-17 15:33] devinbinnie commented on #1853
@livwvil Thanks for checking, I'm not sure why the resizing still isn't working, it's working correctly for me.

@Margrie @nhp Would you be willing to try the above linked builds?

[2021-11-17 15:36] devinbinnie commented on #1851
@biva There was a fix made in v5.0.2 for the tray icon, can you try that version?

[2021-11-17 15:45] livwvil commented on #1853
@devinbinnie maybe it's because of the system drivers. I don't know. I have only clean kubuntu-20.04.3-desktop-amd64 installation and your build unpacked.

[2021-11-17 15:56] biva commented on #1851
Indeed! This works, thanks @devinbinnie !! :) I'll share here if I see improvements on the freeze issue as well with this new version.

[2021-11-17 20:29] devinbinnie commented on #1804
@jsg2021 I've opened an PR with `electron-builder` myself in order to attempt to make the `--no-sandbox` field optional, I think that's all we can do for the time being. I've looked into overriding it myself, but outside of working off of a fork of `electron-builder`, or attempting to completely rebuild the AppImage after the fact, I think this is the best course of action.

[2021-11-17 21:14] devinbinnie commented on #1861
@michaelkozakovsc Are you still able to reproduce this? Did @coltoneshaw's explanation help at all?

[2021-11-17 21:33] jsg2021 commented on #1804
Sounds good. Thanks!

[2021-11-18 03:13] joseph-henry opened #1866 "Application hangs when right clicking text or clicking drop-downs"
- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I have read [contributing guidelines](https://gi

[2021-11-18 08:22] 2019-05-10 opened #1867 "Nagging tip of the day cannot be disabled"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [ ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-11-18 08:28] 2019-05-10 opened #1868 "Client version cannot be selected/copied"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [ ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-11-18 13:42] amyblais commented on #1866
@joseph-henry Do you see the same issue with Mattermost Desktop App version v5.0.2?

[2021-11-18 13:43] amyblais commented on #1867
@2019-05-10 Do you see the same issue with Mattermost Desktop App version v5.0.2?

[2021-11-18 14:23] devinbinnie commented on #1867
@2019-05-10 Can you post a screenshot of what you're seeing? This isn't something that we've programmed into the Desktop App.

[2021-11-18 16:38] devinbinnie commented on #1851
I've had it happen regardless of window size unfortunately :(

[2021-11-18 17:33] AizatHawari commented on #1377
Still is an issue in Nov 2021.

[2021-11-18 19:10] joseph-henry commented on #1866
Unfortunately `5.0.2` via the snap store wont open. It installs but no window ever pops up. I've reverted back to `4.7.0` for the time being. If you push a new version to `edge` I can test that.

[2021-11-18 23:40] ressonix commented on #1861
I reproduced this on the Rocky Linux instance. Playbooks appear to be installed, so I'm not sure if this is the cause of the bug, but I was able to get logged in by clearing the app's cache and entering login info again.

[2021-11-19 02:45] BenAgner commented on #1861
I can confirm reproduce-ability for myself as well on a clean install.  Clearing the cache also fixed my issue.

[2021-11-19 08:35] 2019-05-10 commented on #1867
![screenshot nag screen](https://user-images.githubusercontent.com/50481865/142591460-657ebd64-936a-482d-a9f9-c48f3046a443.png)

[2021-11-19 08:54] 2019-05-10 opened #1871 "Debian amd64 package: systray: dark icon is light and vice versa"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [ ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-11-19 09:02] 2019-05-10 opened #1872 "consolidate settings"
Currently, the client has at least three (or four) different places where settings are to be configured:
a) `sandwich menu -> File -> Settings` / systray icon `rmc -> Settings`
b) `cog` symbol left of the account icon
c) `account icon -> Account Settings`

While separating c) may with some effort and squiniting may look ok, splitting a) and b) make no sense.
Additionally, `File -> Settings` is a p

[2021-11-19 09:05] 2019-05-10 commented on #1871
![settings_icon](https://user-images.githubusercontent.com/50481865/142594246-62bdc6d3-974c-4351-935c-c380346b6331.png)
![dark_icon](https://user-images.githubusercontent.com/50481865/142594266-63a6f1ea-de67-40ba-b270-985072efde63.png)

Additionally, the icons now are considerably smaller than before, and thus smaller than every other systray icon.

[2021-11-19 09:10] biva commented on #1851
On my side it continues to work: before using this trick, it was freezing almost every time I revived it from the tray, now it never freezes anymore (only 12 hours of experience though...). Are you also using 5.0.2 @devinbinnie ?

[2021-11-19 13:23] GuiGuiSoft commented on #1851
Hello,
I have the same problem but another workaround.
When I click on the tray icon and Mattermost freeze, then I **right**-click on the tray icon and Mattermost start to respond.
If I clicked on channels, I entered something on the keyboard, all is done after the right-click.
Regards

[2021-11-19 14:18] biva commented on #1851
Hahahaha, that's a fun one, congrats for having found it :D

[2021-11-19 14:27] devinbinnie commented on #1872
@2019-05-10 Thanks for the suggestion, unfortunately due to the way the Desktop App is designed (ie. a wrapper around our webapp) we are unable to consolidate these settings at this time. It will be looked into in the future if and when the architecture changes.

[2021-11-19 14:27] #1872 closed

[2021-11-19 14:31] devinbinnie commented on #1867
Ahh, that's a prompt made as part of the webapp, moving to server repo where we keep those issues.

[2021-11-19 14:35] devinbinnie commented on #1851
I am on v5.0.2, and funny enough I played with it a bit this morning and couldn't reproduce it anymore, regardless of window size :S

[2021-11-19 14:50] devinbinnie commented on #1871
@2019-05-10 I see what you mean by the icon setting being reversed. It definitely could get a little confusing, I think the intention was that the "Light" themed icon was for "Light" themed OSes and vice-versa for dark.

@esethna Is this something we should change?

[2021-11-19 17:23] the-glu commented on #1858
Hello,

I would like to support this issue: the new UI is really bad for people with multiple servers and it's really painful day-to-day.

At least an option to have the old behavior would be useful.

Thanks,

[2021-11-19 17:26] alvegh commented on #1858
Same as all before: With multiple servers, switching is really painful. The old tabbed UI was (almost) perfect

Regards
Alex

[2021-11-19 18:33] esethna commented on #1871
@devinbinnie ya perhaps we should reverse that, agree it's confusing

[2021-11-19 20:01] joseph-henry opened #1873 "Closing application window does not close application"
- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I have read [contributing guidelines](https://gi

[2021-11-22 11:31] t0r0X commented on #1858
Here an example.

I got a message on another Mattermost server:
![image](https://user-images.githubusercontent.com/9170345/142852300-d2404736-d6d5-4a57-b6da-ce3b12670da1.png)

To get there I have to open the drop-down, and select the server:
![image](https://user-images.githubusercontent.com/9170345/142852660-881dd5fe-4d29-402f-be56-a02146c6a2ec.png)

Well, this doesn't seem a lot, just one additi

[2021-11-22 14:40] devinbinnie commented on #1871
Created a ticket: https://mattermost.atlassian.net/browse/MM-40233

[2021-11-22 14:49] #1861 closed

[2021-11-22 15:52] slopyz commented on #1856
Hi, I still have the problem with these versions :
- Mattermost desktop : 5.0.2
- Mattermost Server : 5.37.0
- Window Manager : X11
- OS : Fedora 34 / Gnome 40.4

[2021-11-22 17:47] esethna commented on #1871
Thanks. @2019-05-10 if you want to contribute a fix feel free! ^

[2021-11-22 18:36] devinbinnie commented on #1873
Hi @joseph-henry, we have an outstanding issue to look at the Linux closing behaviour.
Currently what you can do is go to Settings and toggle the `Leave app running in notification area when application window is closed`. I think the setting might be backwards, but that's what you'll want to use.

Additionally, we are on version v5.0.2 now which will have some additional fixes. You can find it her

[2021-11-22 19:16] dshadow commented on #222
I would like to have a feature to disable animation at all. It will solve the issue.

https://mattermost.uservoice.com/forums/306457-general/suggestions/34520716-ability-to-disable-rendering-of-animated-emoji-or

[2021-11-23 10:06] nub999 commented on #1851
Same issue with 5.0.2 version. app randomly hangs on startup from notification or tray.

[2021-11-23 13:45] biva commented on #1851
@devinbinnie , in fact, the bug came back for me, even with the medium-size window. I have the feeling that the app is getting tired at some point, and needs a kind of refresh.

For example, after a computer restart, the trick works for several hours, and then doesn't work anymore. At this point, if I maximize the window (full screen), and go back to medium-size, the trick works again for a few ho

[2021-11-23 14:17] devinbinnie commented on #1851
@biva It is an odd bug, I'm wondering if it has to do with interaction with some other application, not sure what though. Funny enough it hasn't happened for me in a while, curious are you on the latest version of Windows 10?

[2021-11-23 14:30] biva commented on #1851
My windows 10 version is 10.0.19043 Build 19043.
This problem never happened before v6, and I had the same applications on Windows. I guess there are a lot of changes between v5 and v6, but would it be possible to investigate what could be the cause by analysing these changes?

[2021-11-23 14:43] devinbinnie commented on #1851
Ahh okay, I'm on build 19044 which I think is pretty recent. It also never happened to me before v5 but I'm not sure what could be causing it other than maybe an Electron upgrade?

[2021-11-24 11:50] Mannshoch commented on #865
In my opinion that request is important. Mattermost should automatic suggest https.

Only if https works in no way, inluding selfsigned certificate, it should warn and allow only after approofing to use http.

[2021-11-25 20:00] mattermod opened #1917 "Desktop E2E Test: MM-T4385 Select Tab from Menu"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:00] mattermod opened #1916 "Desktop E2E Test: MM-T4050 Long server name"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:00] mattermod opened #1915 "Desktop E2E Test: MM-T2827 Copy and Paste when connecting Jira plugin"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:00] mattermod opened #1914 "Desktop E2E Test: MM-T2637 Double-Clicking on the header should minimize/maximize the app"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:00] mattermod opened #1913 "Desktop E2E Test: MM-T2634/MM-T2635 Drag and Drop"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:00] mattermod opened #1912 "Desktop E2E Test: MM-T2633 Use back button to return to the desktop app login"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:00] mattermod opened #1911 "Desktop E2E Test: MM-T2465 Linux Dark Mode Toggle"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:00] mattermod opened #1910 "Desktop E2E Test: MM-T1659 Prevent browser back/forward from firing in OAuth windows"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:00] mattermod opened #1909 "Desktop E2E Test: MM-T1430 Clicking links to another configured server"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:00] mattermod opened #1908 "Desktop E2E Test: MM-T1315/MM-T1316/MM-T1317 Ensure focus is returned to Mattermost view"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:00] mattermod opened #1907 "Desktop E2E Test: MM-T1313 Open Settings modal using keyboard shortcuts"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:00] mattermod opened #1906 "Desktop E2E Test: MM-T1308 Check that external links don't open in the app"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:00] mattermod opened #1905 "Desktop E2E Test: MM-T1288 Keyboard Shortcuts in Settings Page"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:00] mattermod opened #1904 "Desktop E2E Test: MM-T827 Select Next/Previous Tab"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:00] mattermod opened #1903 "Desktop E2E Test: MM-T824/MM-T825 Minimize/Close in the Menu Bar"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:00] mattermod opened #1902 "Desktop E2E Test: MM-T820/MM-T821 Toggle Developer Tools in the Menu Bar"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:00] mattermod opened #1901 "Desktop E2E Test: MM-T817/MM-T818/MM-T819 Zooming in the Menu Bar"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:00] mattermod opened #1900 "Desktop E2E Test: MM-T816 Toggle Full Screen in the Menu Bar"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:00] mattermod opened #1899 "Desktop E2E Test: MM-T812 Select All in the Menu Bar"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:00] mattermod opened #1898 "Desktop E2E Test: MM-T809/MM-T810/MM-T811 Cut/Copy/Paste in the Menu Bar"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:15] mattermod opened #1897 "Desktop E2E Test: MM-T808 Redo in the Menu Bar"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:15] mattermod opened #1896 "Desktop E2E Test: MM-T807 Undo in the Menu Bar"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:15] mattermod opened #1895 "Desktop E2E Test: MM-T806 Exit in the Menu Bar"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:15] mattermod opened #1894 "Desktop E2E Test: MM-T805 Sign in to Another Server (or Mattermost)"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:15] mattermod opened #1893 "Desktop E2E Test: MM-T804 Preferences in the Menu Bar opens the Settings page"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:15] mattermod opened #1892 "Desktop E2E Test: MM-T822/MM-T823 History ➜ Back/Forward"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:15] mattermod opened #1891 "Desktop E2E Test: MM-T125 "Copy Link" can be used from channel LHS"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-29 11:38] matthbad opened #1882 "Crashes when `Quick reactions on messages` feature is enabled"
I confirm (by marking "x" in the [ ] below: [x]):

- [x ] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [ x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
-

[2021-11-29 14:55] devinbinnie commented on #1882
Moving to server repo as this is a webapp issue.

[2021-12-02 20:20] gabrielebndn commented on #1636
Hi @Willyfrog, thanks for your kind answer, the planned solution does look nice indeed, I'll follow this closely

[2021-12-02 21:52] devinbinnie commented on #1644
Sorry for the slow response.

Was able to reproduce, however I don’t think this is something we can fix.
Currently in order to make sure that focus returns back to whatever BrowserView we were last using (either one of the MattermostViews or a modal), we have to manually focus() the BrowserView, which is what causes this issue on Sloppy Focus, because calling that method seems to raise the window,

[2021-12-02 21:52] devinbinnie commented on #1827
Sorry for the slow response.

Was able to reproduce, however I don’t think this is something we can fix.
Currently in order to make sure that focus returns back to whatever BrowserView we were last using (either one of the MattermostViews or a modal), we have to manually focus() the BrowserView, which is what causes this issue on Sloppy Focus, because calling that method seems to raise the window,

[2021-12-02 21:53] devinbinnie commented on #1644
See my response here, I do believe these two issues are caused by the same thing: https://github.com/mattermost/desktop/issues/1827#issuecomment-985030561

[2021-12-03 06:52] jheidemann commented on #1827
On Thu, 02 Dec 2021 13:52:59 -0800, Devin Binnie wrote:

I'm glad you could reproduce the problem.

I don't know anything about Electron, but certainly other apps handle
sloppy focus without requiring autoraise.  But maybe Electron makes that hard.

I hope eventually the upstream ticket will get addressed, and perhaps
that will propagate down and fix my problem.

Thanks for following up.

[2021-12-03 08:47] dfun90 commented on #1851
Can confirm this bug happening for me as well, since a while now.
Running Windows 10 Pro 21H1 (19043.1348) on my work computer, which is also connected to an Active Directory Domain.

When exactly the bug started to occur I can not say for certain, but I think sometime around the Mattermost Desktop App v4,x. Since then I did several Mattermost Server updates (Currently on 6.0.2) and also Mattermos

[2021-12-03 09:52] runejuhl commented on #1827
@devinbinnie thanks for looking into this. As it is I'm stuck on Mattermost `4.6.2-7881`; anything later is in practice unusable, and the situation is slowly getting worse as server-side Mattermost is upgraded -- for instance the channel switcher now no longer sorts the entries by unread messages.

I agree with @jheidemann's observations --  Mattermost must be doing something radically different t

[2021-12-03 14:12] devinbinnie commented on #1827
@runejuhl We are making heavy use of BrowserView which I don't think a lot of other Electron apps do. We do this in order to support multi-servers and tabs simultaneously and seamlessly. In the future we're looking to migrate to getting rid of BrowserView but that's unfortunately a long way out at this point. Hopefully Electron can resolve the issue in time.

[2021-12-03 18:41] shurrman opened #1887 "libva sporadic desctop client crash"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-12-03 19:45] devinbinnie commented on #1887
@shurrman I have seen this once or twice, does it happen when you're doing something or is it completely random?

[2021-12-03 20:32] alex-taffe commented on #1410
This seems to be an issue with Electron as a whole as Slack is doing the same thing. Filed a bug on that project https://github.com/electron/electron/issues/32101

[2021-12-04 17:01] shurrman commented on #1887
@devinbinnie I faced it several times, and I think several times I even had another app active/in front of me. Then I was like: "ok, let me see what if going on in our MTM channel..." - and then I see that the app is gone.

[2021-12-06 07:50] ppodevin commented on #1858
Is there a way to have a configuration for the layout ?
This is bothering me too... Plus notification do not always appear in the taskbar.

[2021-12-06 10:31] ServerMonkey opened #1888 "quit unexpectitly (Render frame was disposed)"
- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I have read [contributing guidelines](https://gi

[2021-12-06 12:38] Georg311 commented on #1851
Can confirm, as soon as i right click the tray icon everything gets unstuck

Win 20H2 here

[2021-12-06 14:35] devinbinnie commented on #1851
Thanks for chiming in everyone. It stopped happening for me weeks ago, and I haven't seen it happen since. If anyone's able to reproduce while developing, I would love some help looking into this :)

[2021-12-06 14:36] devinbinnie commented on #1888
Hi @ServerMonkey, this is fixed in this PR: https://github.com/mattermost/desktop/pull/1886

[2021-12-06 14:56] biva commented on #1851
@devinbinnie it's still happening to me and my colleagues. Could you please specify how we can help investigate? How to share logs? Something else? What do you mean by _reproduce while developing? Thanks!

[2021-12-06 15:12] devinbinnie commented on #1887
@shurrman Looks like this is an issue in Electron: https://github.com/electron/electron/issues/30902
One commenter mentioned that changing off of the `nouveau` driver helped them, not sure if you're using that yourself?

Also looks like GPU acceleration could affect that, you can try turning that off in the Settings window and see if that helps.

[2021-12-06 19:04] shurrman commented on #1887
I am not using nouveau
Turned off GPU acceleration, sad that MTM is not able to use it :-(

[2021-12-06 21:56] devinbinnie commented on #1887
Let me know if it reproduces with GPU acceleration off.

[2021-12-07 07:55] Still34 commented on #1622
Ditto, I'm surprised this isn't a feature already.

[2021-12-07 15:35] shurrman commented on #1887
@devinbinnie just got it again. Acceleration is turned off:
[152392:1207/183235.064606:ERROR:gpu_init.cc(441)] Passthrough is not supported, GL is swiftshader
I know exactly what I was doing at that time - however, I was unable to reproduce, doing same things again

[2021-12-08 14:12] devinbinnie commented on #1887
Okay thanks, we can eliminate that as a workaround. I'm not sure what else could be causing it, it's likely an issue with the Electron internals at this point.

[2021-12-09 17:44] #1888 closed

[2021-12-09 18:54] devinbinnie commented on #90
Closing as we have other issues for this and a toggle checkbox to determine whether this should happen or not.

[2021-12-09 18:54] #90 closed

[2021-12-09 18:57] devinbinnie commented on #387
JIRA ticket was closing and this wasn't, so closing this as well.
We can look into this in the future if we deem necessary.

[2021-12-09 18:57] #387 closed

[2021-12-09 18:57] devinbinnie commented on #468
Closed in JIRA as Invalid.

[2021-12-09 18:57] #468 closed

[2021-12-09 18:59] devinbinnie commented on #473
JIRA ticket was closed

[2021-12-09 18:59] #473 closed

[2021-12-09 19:00] devinbinnie commented on #477
JIRA ticket was closed.

[2021-12-09 19:00] #477 closed

[2021-12-09 19:03] devinbinnie commented on #539
No longer valid, works correctly on macOS

[2021-12-09 19:03] #539 closed

[2021-12-09 19:05] devinbinnie commented on #560
Closing old issue, looks like this is working fine. Happy to re-open if we think this is still a problem.

[2021-12-09 19:05] #560 closed

[2021-12-09 19:06] devinbinnie commented on #569
Fixed as per JIRA ticket.

[2021-12-09 19:06] #569 closed

[2021-12-09 19:07] devinbinnie commented on #617
This issue is resolved.

[2021-12-09 19:07] #617 closed

[2021-12-09 19:12] devinbinnie commented on #668
This behaviour no longer happens, closing.

[2021-12-09 19:12] #668 closed

[2021-12-09 19:12] devinbinnie commented on #738
Closing as per JIRA ticket.

[2021-12-09 19:12] #738 closed

[2021-12-09 19:14] devinbinnie commented on #765
This is working on Ubuntu 20.04 LTS, closing for now.
Happy to re-open if this is still an issue.

[2021-12-09 19:14] #765 closed

[2021-12-09 19:14] devinbinnie commented on #794
Closing as per above.

[2021-12-09 19:14] #794 closed

[2021-12-09 19:15] devinbinnie commented on #800
Closing as inactive/cannot reproduce

[2021-12-09 19:15] #800 closed

[2021-12-09 19:16] devinbinnie commented on #811
Closing as inactive/cannot reproduce.

[2021-12-09 19:16] #811 closed

[2021-12-09 19:17] devinbinnie commented on #829
Closing as inactive

[2021-12-09 19:17] #829 closed

[2021-12-09 19:19] devinbinnie commented on #844
Closing as we now support dark mode integration with Windows/Mac and a toggle for Linux users.

[2021-12-09 19:19] #844 closed

[2021-12-09 19:24] devinbinnie commented on #852
Closing as this seems to work now, on Windows 10 with Mattermost Desktop v5.0.2

[2021-12-09 19:28] devinbinnie commented on #855
Closing as inactive, we done some work on external auth providers and this issue may be fixed.
Happy to re-open if it is not.

[2021-12-09 19:28] #855 closed

[2021-12-09 19:29] devinbinnie commented on #899
Closing as inactive/cannot reproduce

[2021-12-09 19:29] #899 closed

[2021-12-09 19:29] devinbinnie commented on #908
Closing as inactive.

[2021-12-09 19:29] #908 closed

[2021-12-09 19:30] devinbinnie commented on #920
Closing as inactive.

[2021-12-09 19:30] #920 closed

[2021-12-09 19:30] #921 closed

[2021-12-09 19:32] devinbinnie commented on #927
Duplicate of other ASLR issue which is resolved as well. Closing

[2021-12-09 19:32] #927 closed

[2021-12-09 19:33] devinbinnie commented on #932
Closing as inactive.

[2021-12-09 19:33] #932 closed

[2021-12-09 19:34] #852 closed

[2021-12-09 19:34] devinbinnie commented on #947
Closing as inactive

[2021-12-09 19:34] #947 closed

[2021-12-09 19:42] #962 closed

[2021-12-09 19:47] devinbinnie commented on #980
Closing as inactive. We have an open JIRA ticket to deal with Linux window behaviour that will address this.

[2021-12-09 19:47] #980 closed

[2021-12-09 19:52] devinbinnie commented on #984
Closing as inactive.

[2021-12-09 19:52] #984 closed

[2021-12-09 19:54] devinbinnie commented on #986
Closing as these repos are maintain by their owners. Happy to help any of them get a build up and running for their specific package distribution method if need be.

[2021-12-09 19:54] #986 closed

[2021-12-09 19:54] #992 closed

[2021-12-09 19:55] devinbinnie commented on #994
Closing as this is a server issue which has been resolved.

[2021-12-09 19:55] #994 closed

[2021-12-09 19:56] devinbinnie commented on #997
Is there anyone still experiencing high CPU usage on the latest Mattermost Desktop App? We've done a fair amount of work to reduce this.

[2021-12-09 19:58] devinbinnie commented on #950
This is working correctly for me on Kubuntu 20.04 using KDE Plasma and Desktop App v5.0.2.
Closing unless this issue is still relevant.

[2021-12-09 20:00] devinbinnie commented on #977
Closing as flushing drafts to the hard disk (or the browser store) is now throttled which reduces the disk thrashing.
If we're still seeing this, feel free to re-open.

[2021-12-09 20:00] #977 closed

[2021-12-09 20:06] devinbinnie commented on #1006
Closing as I can get it to appear in GNOME settings under Fedora 35. Might need to just have it send a message first.

[2021-12-09 20:06] #1006 closed

[2021-12-09 20:07] devinbinnie commented on #1007
Closing as this is a webapp issue.

[2021-12-09 20:07] #1007 closed

[2021-12-09 20:09] devinbinnie commented on #1067
Created a JIRA ticket: https://mattermost.atlassian.net/browse/MM-40568

[2021-12-09 20:11] devinbinnie commented on #1074
Closing as inactive.

[2021-12-09 20:11] #1074 closed

[2021-12-09 20:13] devinbinnie commented on #1075
Closing as inactive

[2021-12-09 20:13] #1075 closed

[2021-12-09 20:14] devinbinnie commented on #1082
Closing as this no longer reproduces.

[2021-12-09 20:14] #1082 closed

[2021-12-09 20:15] devinbinnie commented on #1085
Closing as we now integrate with the spellchecker provided by Electron.

[2021-12-09 20:15] #1085 closed

[2021-12-09 20:16] devinbinnie commented on #1094
Closing as this is now fixed.

[2021-12-09 20:16] #1094 closed

[2021-12-09 20:17] devinbinnie commented on #1101
Closing as this should now be working correctly with v5.0.2
Please re-open if you continue to experience this.

[2021-12-09 20:17] #1101 closed

[2021-12-09 20:17] devinbinnie commented on #1104
Closing as inactive.

[2021-12-09 20:17] #1104 closed

[2021-12-09 20:19] devinbinnie commented on #1109
Closing as inactive.

[2021-12-09 20:20] devinbinnie commented on #1122
Closing as this is unfortunately an issue with Electron and Mac. We do dismiss the notifications when clicked on, but they don't seem to close.

[2021-12-09 20:20] #1122 closed

[2021-12-09 20:22] devinbinnie commented on #1138
This would require some changes to the `electron-builder` config.

[2021-12-09 20:22] devinbinnie commented on #1144
Closing as we have already started an effort to bring back E2E tests (as well as add a bunch of unit tests!)

[2021-12-09 20:22] #1144 closed

[2021-12-09 20:23] #1150 closed

[2021-12-09 20:24] devinbinnie commented on #1153
Closing as I cannot reproduce on v5.0.2, this works as expected.
Feel free to re-open if you still experience this.

[2021-12-09 20:24] #1153 closed

[2021-12-09 20:27] devinbinnie commented on #1163
Closing as this no longer reproduces.

[2021-12-09 20:27] #1163 closed

[2021-12-09 20:31] devinbinnie commented on #1187
Created a JIRA ticket to investigate at some point: https://mattermost.atlassian.net/browse/MM-40569

[2021-12-09 20:32] devinbinnie commented on #1203
Just need to add some de-bouncing here.

[2021-12-09 20:32] #1204 closed

[2021-12-09 20:33] devinbinnie commented on #1210
Closing since we no longer directly support Windows 7 anymore and the icon has been changed since.

[2021-12-09 20:33] #1210 closed

[2021-12-09 20:36] devinbinnie commented on #1229
Created a JIRA ticket to look at this: https://mattermost.atlassian.net/browse/MM-40570
Definitely worth investigating at some point.

[2021-12-09 20:37] devinbinnie commented on #1231
Closing since we now use the native frame for Linux and will be look into a more permanent solution in the future.

[2021-12-09 20:37] #1231 closed

[2021-12-09 20:38] devinbinnie commented on #1232
Closing as this was fixed.

[2021-12-09 20:38] #1232 closed

[2021-12-09 20:40] devinbinnie commented on #1235
Closing as this appears to have been an upstream issue.

https://mattermost.atlassian.net/browse/MM-23228?focusedCommentId=104391

[2021-12-09 20:40] #1235 closed

[2021-12-09 20:41] devinbinnie commented on #1264
@esethna This design is a fair bit older. I'm definitely up for doing this feature, but maybe the design should be looked at a second time?

cc @matthewbirtch

[2021-12-09 20:42] devinbinnie commented on #1259
Closing as per JIRA ticket.

[2021-12-09 20:42] #1259 closed

[2021-12-09 20:42] esethna commented on #1264
Good question, I'll leave that up to @matthewbirtch if we want to revisit the design.

[2021-12-09 20:44] devinbinnie commented on #1265
Created a JIRA ticket: https://mattermost.atlassian.net/browse/MM-40571

[2021-12-09 20:48] devinbinnie commented on #1270
Closing for now as we don't support opening local files.
Happy to re-open if someone would like to help address this.

[2021-12-09 20:48] #1270 closed

[2021-12-09 20:52] devinbinnie commented on #1272
@wget Don't suppose you're still looking at this are you?

[2021-12-09 20:52] devinbinnie commented on #1284
Closing as inactive.

[2021-12-09 20:52] #1284 closed

[2021-12-09 20:54] devinbinnie commented on #1297
@patric42 Does this still reproduce for you on v5.0.2?

[2021-12-09 20:55] devinbinnie commented on #1298
Opening as HW.

Comment from JIRA ticket:

Some users might find useful to have a command line argument to force the app to start on fullscreen.

Flag should be fullscreen, with a short version of f. It should be a boolean flag, with false as default value.

In order to do so, we need to add the code for it on https://github.com/mattermost/desktop/blob/master/src/main/ParseArgs.js and make sure it

[2021-12-09 20:56] devinbinnie commented on #1314
Closing as this now exists.

[2021-12-09 20:56] #1314 closed

[2021-12-09 20:57] devinbinnie commented on #1320
Closing as inactive.

[2021-12-09 20:57] #1320 closed

[2021-12-09 20:58] devinbinnie commented on #1329
Closing as inactive. Feel free to re-open if this is still an issue.

[2021-12-09 20:58] #1329 closed

[2021-12-09 20:59] devinbinnie commented on #1330
Closing as this seems to be working with version v4.6.2
Feel free to re-open if this still exists in v5.0+

[2021-12-09 20:59] #1330 closed

[2021-12-09 21:03] devinbinnie commented on #1332
Closing as this no longer reproduces.

[2021-12-09 21:03] #1332 closed

[2021-12-09 21:05] devinbinnie commented on #1334
Closing as the slash commands are currently controlled by each individual Mattermost server, so we can't actually synchronize these unless the servers are linked.

We could look into something like this in the future when the Desktop App no longer relies on using the webapp within a `BrowserView`

[2021-12-09 21:05] #1334 closed

[2021-12-09 21:07] devinbinnie commented on #1336
Closing as per the above conversation. We can re-open if anyone else has further information/suggestions.

[2021-12-09 21:07] #1336 closed

[2021-12-09 21:10] devinbinnie commented on #1352
Closing as this is fixed now.

[2021-12-09 21:10] #1352 closed

[2021-12-09 21:11] devinbinnie commented on #1355
@michaelswope @teyeheimans Does this still reproduce for you on v5.0.2?

[2021-12-09 21:12] devinbinnie commented on #1361
Closing as I don't believe we support the tweak mentioned above.

[2021-12-09 21:12] #1361 closed

[2021-12-09 21:13] #1366 closed

[2021-12-09 21:14] #1368 closed

[2021-12-09 21:17] #1389 closed

[2021-12-09 21:18] devinbinnie commented on #1401
Closing as this has been fixed in the webapp.

[2021-12-09 21:18] #1401 closed

[2021-12-09 21:21] devinbinnie commented on #1408
Closing in favour of https://github.com/mattermost/desktop/issues/1918

[2021-12-09 21:21] #1408 closed

[2021-12-09 21:23] devinbinnie commented on #1412
Closing as inactive/cannot reproduce

[2021-12-09 21:23] #1412 closed

[2021-12-09 21:29] devinbinnie commented on #1446
@wck0 Does this reproduce for you on v5.0.2? This does not reproduce for me.

[2021-12-09 21:34] devinbinnie commented on #1478
Closing as this is the same issue solved here: https://github.com/mattermost/desktop/pull/1733

[2021-12-09 21:34] #1478 closed

[2021-12-09 21:35] devinbinnie commented on #1480
Closing in favour of https://github.com/mattermost/desktop/issues/1918

[2021-12-09 21:35] #1480 closed

[2021-12-09 21:36] devinbinnie commented on #1497
Closing as question was answered. There is a plan to start translating the Desktop App into languages starting next year :)

[2021-12-09 21:36] #1497 closed

[2021-12-09 21:54] devinbinnie commented on #1513
@matthewbirtch Any thoughts on what we could do here?

[2021-12-09 21:55] devinbinnie commented on #1521
@renchili Is this still an issue on v5.0.2?

[2021-12-09 22:00] devinbinnie commented on #1566
Closing as we have updated the icon. As for the mismatched colours, that depends on your OS's dark mode setting. We have an outstanding issue for some users on Windows 11 having this issue, but that appears to be an Electron problem.

[2021-12-09 22:00] #1566 closed

[2021-12-09 22:01] devinbinnie commented on #1588
@mahdiyari Can you tell us which OS you're running and if this still happens on v5.0.2?

[2021-12-09 22:07] devinbinnie commented on #1603
Closing as explanation is given. Feel free to re-open if you have further questions.

[2021-12-09 22:07] #1603 closed

[2021-12-09 22:09] devinbinnie commented on #1605
Closing as this was updated to v5.0.2 a while ago.
https://github.com/snapcrafters/mattermost-desktop/pull/48

[2021-12-09 22:09] #1605 closed

[2021-12-09 22:10] devinbinnie commented on #1624
Closing as this is fixed.

[2021-12-09 22:10] #1624 closed

[2021-12-09 22:12] devinbinnie commented on #1636
Closing as this feature is now present in v5.0.2 in the Settings modal.

[2021-12-09 22:12] #1636 closed

[2021-12-09 22:14] devinbinnie commented on #1642
Closing as we have resolved the issue where we force the user to connect to Google on startup in the above PR.

[2021-12-09 22:14] #1642 closed

[2021-12-09 22:15] devinbinnie commented on #1644
Closing this issue in favour of #1827

[2021-12-09 22:15] #1644 closed

[2021-12-09 22:16] devinbinnie commented on #1264
Yeah that works for me. Closing this.

[2021-12-09 22:16] #1264 closed

[2021-12-09 22:19] jowilkes commented on #997
Version 6.0.1 on Ubuntu 20.04 LTS is also good, low CPU usage (very much different from before).

[2021-12-09 22:19] devinbinnie commented on #1670
Closing as we have a ticket internally to deal with the clear data script. Thanks for the suggestions :)

[2021-12-09 22:19] #1670 closed

[2021-12-09 22:20] devinbinnie commented on #1677
@qupfer Does this reproduce with the latest version available from Snap? The version on Snap was outdated until recently. It should now be v5.0.2

[2021-12-09 22:20] devinbinnie commented on #1679
Closing as inactive, this is likely caused by an internal OS issue.
Feel free to re-open if this is still happening.

[2021-12-09 22:20] #1679 closed

[2021-12-09 22:21] devinbinnie commented on #1685
Closing as we have made the decision to synchronize our Desktop App with the OS's dark mode setting where available.
We have another issue open for the tray icon here: https://github.com/mattermost/desktop/issues/1601

[2021-12-09 22:21] #1685 closed

[2021-12-09 22:25] devinbinnie commented on #1690
Need to fix the regex for the Desktop App to make sure a space exists. Nice find!

[2021-12-09 22:30] devinbinnie commented on #1687
Created a JIRA ticket: https://mattermost.atlassian.net/browse/MM-40572

[2021-12-09 22:31] #1694 closed, assigned to nobody

[2021-12-09 22:31] devinbinnie commented on #1701
Closing as per above.

[2021-12-09 22:31] #1701 closed

[2021-12-09 22:35] devinbinnie commented on #1731
@esethna @matthewbirtch Thoughts?

[2021-12-09 22:35] gggeek commented on #1513
Here's a video, recorder with a phone to make sure cursor was part of the capture:

https://drive.google.com/file/d/1TrDwF58gFdlbtGm7vHu-KCFy_B2E10-i/view?usp=sharing

[2021-12-09 22:39] devinbinnie commented on #1799
@marcotuna Just to clarify, do you have a different certificate or one that expires quickly on your site? I'm not sure why we would be ignoring it if you've said it's trusted. Is there anything different about your URL?

[2021-12-09 22:45] devinbinnie commented on #1844
JIRA ticket here: https://mattermost.atlassian.net/browse/MM-30713

[2021-12-09 22:48] devinbinnie commented on #1853
I can reproduce sporadically, the app must not be waiting for the window to exist at some points.
Created a ticket: https://mattermost.atlassian.net/browse/MM-40574

[2021-12-09 22:48] devinbinnie commented on #1854
Closing as per above.

[2021-12-09 22:48] #1854 closed

[2021-12-09 22:52] devinbinnie commented on #1858
Closing as we have gathered feedback for this and will be contemplating what to do, but we won't be restoring the old behaviour as it existed. Sorry about that.

Thanks for the feedback from everyone, if you have any further feedback let us know here: https://community.mattermost.com/core/channels/user-feedback

[2021-12-09 22:52] #1858 closed

[2021-12-09 22:55] devinbinnie commented on #1862
@distante I can't reproduce this, does upgrading to v5.0.2 change anything?

[2021-12-09 22:57] devinbinnie commented on #1873
Ticket here: https://mattermost.atlassian.net/browse/MM-30713

[2021-12-09 22:58] devinbinnie commented on #1866
@joseph-henry Can you try with the app downloaded directly from https://github.com/mattermost/desktop/releases/tag/v5.0.2 and see if it reproduces?

[2021-12-10 05:04] inclementweather opened #1920 "Uploading then deleting a custom emoji causes the app to stop working."
I confirm (by marking "x" in the [ ] below: [x]):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-12-10 07:49] teyeheimans commented on #1355
I haven't had this issue anymore lately. I have also asked my team and there where no more complaints about this issue.

[2021-12-10 07:54] distante commented on #1862
Hi @devinbinnie, yes I still get the same behaviour with 5.0.2

[code]

[2021-12-10 07:57] datn commented on #1563
Thanks for this. Ideally a customizable title, but mainly this: a title should be as short as possible while distinguishing itself from others. I already know it's an app, and I don't need the desktop app distinguished from the mobile app because they run on separate platforms. So "Mattermost" is all that's needed.

[2021-12-10 08:35] 2019-05-10 commented on #950
Debian/Sid, MM Desktop 5.0.2 and the original issue still persists.
Please reopen.

[2021-12-10 08:51] marcoesposito1988 commented on #950
Same here on Kubuntu 20.04 with Plasma (fully up to date as of today, Dec. 10th) and 5.0.2. The issue still persists. Already deleted `~/.config/Mattermost`.

[2021-12-10 09:14] 2019-05-10 commented on #1074
What sort of "avctivity" am I supposed to provide?
Frequently asking whether there's any progress?

Please reopen and do not indiscriminately close tickets w/o asking the OP.

[2021-12-10 10:14] Willyfrog commented on #1355
Thanks! feel free to reopen if it starts happening again.

[2021-12-10 10:14] #1355 closed

[2021-12-10 10:30] #1635 closed

[2021-12-10 12:07] lkraav commented on #1329
Gentoo managed to take care of it on its own, so it might not have been an upstream problem after all.

[2021-12-10 12:43] kjetilho commented on #932
Uhm, this does not inspire confidence.  Checking if this bug is still present is easy to do.

[code]

[2021-12-10 13:56] amyblais commented on #1920
There is a fix queued for this for server v6.2.

[2021-12-10 13:56] #1920 closed

[2021-12-10 14:07] AizatHawari commented on #1377
Yes, in Windows 10 its fast and snappy.
Even running on the browser is snappy on Win 10.
Although I must say my Windows is i7 6700k and has 32GB, versus my MacBook is MBP 13 inch 2015 i5 processor with 16GB ram.
Should still be okay too actually.

Aizat

[2021-12-10 14:29] devinbinnie commented on #1862
Thanks, created a ticket to investigate: https://mattermost.atlassian.net/browse/MM-40584

[2021-12-10 14:30] devinbinnie commented on #1563
cc @esethna

[2021-12-10 14:31] devinbinnie commented on #950
@2019-05-10 @marcoesposito1988 How did you install Mattermost on your machines? I used the .deb and had no trouble.

[2021-12-10 14:34] marcoesposito1988 commented on #950
Thanks for reopening the issue @devinbinnie! I also used the deb. I already tried deleting the config, but if I can try something else (deleting some cache) or you need some logs or more information about my system, just please let me know.

In the weekend I may manage to test it in a fresh VM with a live Kubuntu

[2021-12-10 14:39] devinbinnie commented on #1377
@PontusTideman Is this still an issue for you as well?

[2021-12-10 14:39] devinbinnie commented on #950
@marcoesposito1988 That's what I used, a fresh Kubuntu VM and it works fine for me. Let me know what your findings are :)

[2021-12-10 14:47] devinbinnie commented on #932
@kjetilho Would you be willing to look into a fix for this? Unfortunately for us this is not a huge priority right now, apologies.

[2021-12-10 15:09] wget commented on #1272
@devinbinnie Thanks for the nudge. Last time I checked, it was indeed cumbersome to modify the way electron-builder was behaving. Let's seeif the situation changed one year later... or if this suid permission is still needed. Have scheduled this for the week-end.

I have commented for the other pending PR 1405 as well.

[2021-12-10 15:19] devinbinnie commented on #1272
@wget Awesome, let me know what you come up with :)

[2021-12-10 19:12] kjetilho commented on #932
I can take a look.  I managed to get a working npm setup and do a build, and the tarball made on my own workstation has the same problem, so that's a promising start - sort of :)

[2021-12-10 23:22] dllu opened #1921 "GPU process crash on Linux with nvidia"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-12-11 22:58] theriverman commented on #1187
At one point the conversation has been moved to the `Developers: Desktop App` channel: https://community.mattermost.com/core/pl/a7n48be13jfgu8ujquzm6yp9nw

[2021-12-12 16:00] patric42 commented on #1297
Yes, still :(

[2021-12-12 23:10] marcoesposito1988 commented on #950
The issue doesn't appear indeed in a fresh instance. I will try to find the root cause of the issue.

[2021-12-13 07:30] renchili commented on #1521
sorry we did not put this version into test.

[2021-12-13 14:20] #1918 closed

[2021-12-13 14:49] devinbinnie commented on #1921
@dllu Does this happen if you use Google Chrome or the Chromium browser as well? If you turn off GPU acceleration does it happen?

[2021-12-13 14:53] devinbinnie commented on #1521
@renchili Can you test that for us? If it's been fixed we can close this issue.

[2021-12-13 20:21] esethna commented on #1563
@datn makes sense. Are you open to submitting a PR to shorten the title to "Mattermost" instead of "Mattermost Desktop App"

[2021-12-13 21:21] esethna commented on #1513
@devinbinnie is this a valid bug or do we not have control over this behavior?

[2021-12-13 21:47] devinbinnie commented on #1513
@esethna We do, but from the video it looks like that might be part of the webapp instead of the Desktop App.

@gggeek Any chance we could get a screen capture recording of the same behaviour?

[2021-12-13 21:56] esethna commented on #1513
@devinbinnie it's a desktop only bug, here's chrome: https://gyazo.com/a0bf0a13d2ebb2d9ba8d1e63145f4c12

[2021-12-13 21:57] devinbinnie commented on #1513
@esethna It's likely still webapp code that needs to change.

[2021-12-13 22:03] esethna commented on #1513
Filed a bug here: https://mattermost.atlassian.net/browse/MM-40610

This has been brought up before and I think we should definitely address it if we have control over this behaviour

[2021-12-14 12:31] gggeek commented on #1513
If that might help: I checked how other messaging apps, based on Electron, behave.
It seems that, at least one well known app adds some padding pixels on the right-hand side of the scrollbar. Maybe those were added to work around this issue?

![image](https://user-images.githubusercontent.com/308634/145998829-c6c5593e-4942-44a3-8533-ad198b7c69ae.png)

[2021-12-14 14:49] devinbinnie commented on #1862
@distante Unfortunately no one else on our team has been able to reproduce this. Is it possible for you to try this on another machine?

[2021-12-14 14:51] distante commented on #1862
I will ask some of my colleagues @devinbinnie and I will come back to you.

[2021-12-15 08:04] kpy3no commented on #874
cannot open the url

[2021-12-15 08:58] fleXible commented on #874
@kpy3no I have no problems opening the URL.

[2021-12-15 12:06] sebalis commented on #874
For the record, I had no problems opening that URL in February 2019 when I added a comment to it with details from this Github issue, and I have no problems opening it now :-)

[2021-12-15 14:45] devinbinnie commented on #1380
@erkinalp Does this still reproduce for you on v5.0.2? You can toggle the icon colour in the Settings window as well if you need to change the theme, since it does appear that the icon is there, just not particularly visible.

[2021-12-15 15:47] erkinalp commented on #1380
I now see a grayi-ish icon with GNOME 40.

[2021-12-15 16:08] nmatt opened #1923 "Top bar (with "< Back" button) only shows content after reload"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-12-15 16:15] nmatt opened #1924 "New top bar with Back button is redundant"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-12-15 16:24] devinbinnie commented on #1924
@nmatt This shouldn't be showing when you're using Mattermost, it should only display when you're on an external site.

Can you confirm that the server URL you have configured explicitly matches the SiteURL configured on your Mattermost server?

[2021-12-15 16:28] nmatt commented on #1924
@devinbinnie You're right, we just had a server upgrade which apparently changed the URLs. It coincided with the desktop client upgrade which kept the existing configuration. So the issue is rather that the desktop client accepts an inappropriate server URL.

[2021-12-15 16:31] devinbinnie commented on #1924
@nmatt We can only verify that the URL is a valid URL in general at this time, not that it connects directly to a Mattermost server. We're looking into a way to make sure that the URL is valid when you configure it, but sounds like the configuration on your end just needed to be updated.

Let me know if I can be of any further help :)

[2021-12-15 16:31] devinbinnie commented on #1923
@nmatt The answer here should solve this issue as well: https://github.com/mattermost/desktop/issues/1924

[2021-12-15 16:34] nmatt commented on #1924
@devinbinnie: I'd open a new issue for that, but maybe it's better if you can provide the correct wording for that? I'm not really familiar with the different kinds of mattermost URLs.

[2021-12-15 16:36] devinbinnie commented on #1924
Not really sure what you mean, it seems to be that the URL was incorrect and by correcting it this issue is resolved, am I correct in saying that? Or is there a further issue?

[2021-12-15 16:37] #1923 closed

[2021-12-15 16:42] nmatt commented on #1924
Sorry, our comments intersected. This was about that the client should be checking that it has a correct server URL. I hadn't yet seen your comment that it's currently not possible. I didn't expect the architecture to allow the application to somehow work with arbitrary HTTP payloads... Closing, although I think it's a messed up situation. ;)

[2021-12-15 16:43] #1924 closed

[2021-12-15 16:44] devinbinnie commented on #1380
@erkinalp If you go into Settings and toggle the icon theme from Light to Dark, that might resolve your issue.

![image](https://user-images.githubusercontent.com/52460000/146228186-1907c9fb-6a97-4b7d-b936-6d44d058d696.png)

[2021-12-15 18:36] erkinalp commented on #1380
It works!

[2021-12-15 18:36] #1380 closed

[2021-12-15 21:58] tritium21 opened #1929 "Mattermost hoards media key control"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-12-16 15:17] devinbinnie commented on #1929
Thanks @tritium21, created a ticket: https://mattermost.atlassian.net/browse/MM-40711

[2021-12-16 16:57] devinbinnie commented on #1265
Looking into it, it looks like Windows disables badges when 'small taskbar icons' are enabled. Since this doesn't look like something we can fix, I'll have to close this.

[2021-12-16 16:57] #1265 closed

[2021-12-16 19:08] kipjunes commented on #794
@amyblais I was running v5.0.2 with no issues on my Windows 10 machine. Just upgraded to Windows 11. When I open MM, it initially shows the normal display with all of our teams and channels, but the entire screen goes white as soon as I move my mouse cursor. Have tried every troubleshooting step that I can think of and the same thing keeps happening. Not really sure what to do at this point - like

[2021-12-16 19:10] amyblais commented on #794
@kipjunes Would you be open to creating a new issue with details at https://github.com/mattermost/desktop/issues?

[2021-12-16 19:15] kipjunes commented on #794
Sure thing @amyblais will do so now

[2021-12-16 19:30] kipjunes opened #1930 "Blank white screen after upgrading to Windows 11"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-12-16 19:52] devinbinnie commented on #1930
@kipjunes Can you post a screenshot of what you're seeing?
Are you able to press `Ctrl+Shift+I` and see if you get a console window with any output?

[2021-12-17 11:40] kipjunes commented on #1930
This is what I see @devinbinnie:
![image](https://user-images.githubusercontent.com/96261448/146539365-3859a8e1-1a11-4237-8572-8a6734d5e8a3.png)

I am able to get the Developer Tools window by pressing Ctrl+Shift+I

[2021-12-17 11:57] kipjunes commented on #1930
Update: I got some feedback from our system admin who looked into this as the issue was also happening for other users in our company. Apparently the session expires somehow or somewhere within seconds or minutes (resulting in the white screen). It connects to the server successfully but the session is not starting. So, he thought perhaps the DB was not allowing the credentials (there were no othe

[2021-12-17 14:10] #1853 closed

[2021-12-17 14:36] devinbinnie commented on #1930
Thanks for the update @kipjunes! As long as you can see the top bar with the tabs and the dropdown, that means that the issue generally lies with the server.

I'm going to close this one for now, let me know if the issue persists for you and not other users.

[2021-12-17 14:36] #1930 closed

[2021-12-17 15:53] #1297 closed

[2021-12-17 22:57] livwvil commented on #1853
Can I get build for tests on my laptop?

[2021-12-23 19:25] Brettk80 opened #1935 "Mac Client Session keeps expiring - can't login"
For troubleshooting, see [https://www.mattermost.org/troubleshoot/](https://www.mattermost.org/troubleshoot/).

I've reviewed the troubleshooting and still cant get the Mac client Version 5.0.2to login. It still says session expired on a new install.
Server running on port 80
Latest self host build 6.2.1

Gets server error:
{"timestamp":"2021-12-23 19:14:01.667 Z","level":"warn","msg":"Error while

[2021-12-23 19:37] amyblais commented on #1935
You should be able to log in when you click on the “X” to dismiss the “Your session has expired…” message. We also have a ticket to look at fixing this.

[2021-12-23 19:40] Brettk80 commented on #1935
That worked. We will look forward to the next revision.

On Thu, Dec 23, 2021 at 12:37 PM Amy Blais ***@***.***> wrote:

--

--------------------------
Brett Kokinadis
***@***.***
+1-520-665-1945

[2021-12-23 20:38] Brettk80 commented on #1935
The dock icon badge also shows an indicator when no messages are unread.
Seems like this app still needs work.

On Thu, Dec 23, 2021 at 12:37 PM Amy Blais ***@***.***> wrote:

--

--------------------------
Brett Kokinadis
***@***.***
+1-520-665-1945

[2021-12-23 21:49] #1690 closed

[2021-12-27 07:31] altyne commented on #1039
" Your session has expired. Please log in again."
Same issue version 5.0.2

[2021-12-28 03:55] altyne commented on #1039
I tried right now, its working fine.

[2021-12-28 15:00] kamarado opened #1936 "Add the Default Clock Display option in System Console"
## Issue
This is a feature request for adding a new server-wide setting to self-hosted Mattermost servers aimed to set the default clock display format for new users (12h or 24h).

### Does it reproduce in a web browser?
Yes. Mattermost lacks such a setting regardless of desktop or web app.

### Try "Clear Cache and Reload"
Irrelevant.

### Write detailed information
 + How to reproduce:
   * Add

[2021-12-29 22:15] ucola commented on #1039
Same issue with MacBook, any ideas how to solve it?

[2021-12-30 12:18] c0deright opened #1937 "Tray Icon on Linux should raise/hide main window on left click and only show context menu on right click"
- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I have read [contributing guidelines](https://gi

[2021-12-30 16:04] amyblais commented on #1039
Please see https://github.com/mattermost/desktop/issues/1935#issuecomment-1000492394.

[2021-12-30 22:10] ucola commented on #1039
Thank you @amyblais I can confirm, that this solution works. Click on X and login again...  if it were always that easy, thank you!

[2022-01-03 17:52] EddyLB opened #1938 "macOS client unhides the dock when clicking the Mattermost icon in the menu bar"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2022-01-04 16:29] devinbinnie commented on #1937
This is a duplicate of [this](https://github.com/mattermost/desktop/issues/950) issue, closing.

[2022-01-04 16:29] #1937 closed

[2022-01-04 16:51] devinbinnie commented on #1938
Created a ticket: https://mattermost.atlassian.net/browse/MM-40822

[2022-01-04 20:00] #1601 closed

[2022-01-04 20:00] #1687 closed

[2022-01-06 02:48] yf639898 opened #1942 "Win7右上角没有关闭按钮"
Win7右上角没有关闭按钮
Windows 7 does not have a close button in the upper right corner

[2022-01-06 02:49] yf639898 opened #1943 "请添加中文语言Please add Chinese language"
Please add Chinese language

[2022-01-06 13:14] amyblais commented on #1942
@yf639898 We currently support Windows v8.1+ https://docs.mattermost.com/install/software-hardware-requirements.html#desktop-apps. Are you able to update your OS?

[2022-01-06 13:31] yf639898 commented on #1942
No, so I used versions 4.5.2 or 4.7.2 to install it
不行，所以我使用了4.5.2和4.7.2的版本去安装

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "mattermost/desktop"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年1月6日(星

[2022-01-06 13:40] amyblais commented on #1942
Do you see the same bug with the latest v5.0.2?

[2022-01-06 13:45] yf639898 commented on #1942
No, the old version of the natural perfect operation, but some Windows 7 running 4.5.2 will be black screen, so using 4.7.2 can work properly
However, the 4.7.2 title bar and the server title bar are not merged

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "mattermost

[2022-01-06 14:39] devinbinnie commented on #1942
@yf639898 We no longer support Windows 7 as it is no longer supported by Microsoft, so we ask that you upgrade your operating system to a supported version before we look into fixing any issues.

We are aware that the server bar and the top bar are not merged on Windows 7 as we only created the top bar style for Windows 10.

Closing this as won't fix. Let me know if you have further questions.

[2022-01-06 14:39] #1942 closed

[2022-01-06 14:41] devinbinnie commented on #1943
@yf639898 Currently the desktop app only supports spell checking in languages other than English. The webapp, however, does support Chinese I believe, which you can change under Account Settings.

We'll be looking into translating the Desktop App this year, so this will be addressed soon!

[2022-01-07 18:53] coltoneshaw commented on #1203
I don't believe this bug exists in the same way anymore with v5+. Now it seems the credentials are shared between all servers to the same `siteURL`. So, each time I add the same server a second time it auto logs it in when following the same steps.

Additionally, I'm wondering if the handling in here https://github.com/mattermost/desktop/pull/1637 helped this issue?

[code]

[2022-01-07 18:56] coltoneshaw commented on #1203
https://user-images.githubusercontent.com/46071821/148592959-a330da5c-5bd3-487e-90e4-ee5437b8c839.mov

Video didn't attach to my above comment. Here's following the repro steps

[2022-01-07 19:04] #1868 closed

[2022-01-07 19:07] coltoneshaw commented on #1298
@devinbinnie - I'm wondering if this could / should be just a setting in preferences to enable it to always start in full-screen mode.

In theory, there are three ways this could work:

- it could be ticked as a user enters full-screen mode to always open in full screen, and turned off if they exit full screen move.
- simply a setting that says "If last mode was full screen, open next time in full

[2022-01-07 19:09] devinbinnie commented on #1203
@coltoneshaw So this is different from Mattermost credentials, which yes are shared since all tabs exist within the same session so the cookies are shared.

Where this issue pops up is if the server is protected by Basic Auth, which is checked by the browser normally and is done by adding a header requiring basic auth. So to reproduce you'll have to set up a server that requires Basic Auth (it doe

[2022-01-07 19:11] devinbinnie commented on #1298
@coltoneshaw I'd be good with adding a setting for it. It also might make sense to never open the app in full screen in the first place (especially on Windows where it's not really a paradigm), though some people I assume use it.

[2022-01-07 19:12] coltoneshaw commented on #1203
Ahh, I misunderstood it. Let me play with that some to break it. Truth be told, I've never once seen a customer with basic auth setup in front of a Mattermost server.

[2022-01-07 20:27] devinbinnie commented on #1929
Seems to be an Electron bug, I've created a ticket here: https://github.com/electron/electron/issues/32385

[2022-01-07 21:57] coltoneshaw commented on #1203
Okay, setup a quick repro on this. When attempting to follow the above repro steps i'm not able to get it to crash by hitting enter after the second server gets logged in. Ignore the crazy amount of auth requests, it requests it on every call it seems.

https://user-images.githubusercontent.com/46071821/148612490-f26719d7-4365-4a87-b9b2-c7a23bfc9151.mov

[2022-01-09 07:51] gpt14 commented on #1912
There may be a minor issue with this workflow, please see the screenshot attached
Steps to reproduce
1. Click on OnLogin button
2. Click on the back button
3. Observe that the back button is still present on the login screen.
4. The behaviour on clicking on the back button on the login screen also differs. Sometimes clicking on it just refreshes the login page and the back button disappears other

[2022-01-09 22:22] johnnyasantoss commented on #1861
Still a bug on 5.0.2 on Linux running on Flatpak.

[2022-01-09 22:30] kcrawford commented on #855
Issue still exists here.  SSO login via Kerberos works in Safari and Google Chrome, but not Mattermost.

[2022-01-10 14:35] devinbinnie commented on #1861
@johnnyasantoss The fix will be released in v5.0.3

[2022-01-10 14:36] devinbinnie commented on #855
@kcrawford Are you able to reproduce consistently on v5.0.2?

[2022-01-10 14:43] devinbinnie commented on #1203
Okay thanks @coltoneshaw, I think we can say this one was fixed, so let's close this.

[2022-01-10 14:43] #1203 closed

[2022-01-10 19:03] kcrawford commented on #855
Yes I tested on 5.0.2. Is any config needed to enable use of Kerberos in the app?

[2022-01-11 15:49] JaxonWright commented on #1851
Since the v6.2.1 update, Mattermost has frozen for me when clicking on desktop notifications. I am on Windows 10.

[2022-01-11 20:11] dllu commented on #1921
Yes, I also use Google Chrome and Chromium. Both work perfectly fine with GPU acceleration.

I got some more crashes in Mattermost today.

[code]

I'll try without GPU acceleration and see if it keeps happening.

[2022-01-12 00:51] lathiat opened #1949 "Apple Silicon (M1/Arm64) downloads not listed on downloads page"
#### Summary

Apple Silicon M1/ARM64 builds are not offered on the download page, only the AMD64 build:
https://mattermost.com/download/

However if you manually change the URL to include 'm1' as per https://github.com/mattermost/desktop/issues/1365 the download works. For example https://releases.mattermost.com/desktop/5.0.2/mattermost-desktop-5.0.2-mac-m1.dmg?src=dl

Ideally it would be a univer

[2022-01-12 14:38] #1938 closed

[2022-01-13 05:40] pearj commented on #1851
I noticed this since 5.0.1 I think, we're also using v6.2.1 server.

I found a workaround to unfreeze it, if you maximize or restore, it seems to get the app unstuck.

I have also notice that while frozen you can actually type, because when the app became unstuck the characters I typed while frozen were actually there.

[2022-01-13 07:57] KlavsKlavsen commented on #1101
I seem to have this problem with 5.0.2 - except i see ZERO reaction in console or security tab of developer console for current tab, nor for application wrapper.. I tried applying above sysctl and chmod adjustments on Ubuntu 21.10 with no change.. nothing happens when I click a link.. I can copy link and paste in browser myself just fine..

[2022-01-13 11:30] TessDejaeghere commented on #1935
This worked for me!

[2022-01-14 07:38] pearj commented on #1851
@devinbinnie Do you mean to build a local copy of the desktop client and run it from VSCode with a debugger? Or do you mean attaching a Chrome Inspector and taking heap dumps or JavaScript CPU profiles?

I managed to attach a chrome inspector to mattermost by running: `Mattermost.exe --debug --inspect=5858`

Then open chrome go to `chrome://inspect/#devices`. Click configure and make sure `localho

[2022-01-14 10:28] M-ZubairAhmed commented on #1912
cc @devinbinnie

[2022-01-14 15:03] devinbinnie commented on #1912
@gpt14 I'm not able to reproduce what you're seeing using version 5.0.2. Are you using the same version?
If so, can you show me how you have your server configured?

[2022-01-14 15:08] devinbinnie commented on #1851
@pearj If you're able to reproduce it in development mode, so just built locally that would be helpful.

I'm doubtful that it's going to be a renderer process issue, though I could be incorrect. Unfortunately I don't have any indication of what it could be at this point, so anything that you can find might be helpful.

Thanks for your help in advance :)

[2022-01-14 15:11] devinbinnie commented on #1949
Thanks for the feedback @lathiat. At this point I think we can look into updating the releases when v5.1 is out, as we'll be doing a full test of the application upon that release.

[2022-01-14 15:17] devinbinnie commented on #1921
The issue you're showing here has since been fixed here: https://github.com/mattermost/desktop/issues/1888

If you're getting crashes in the GPU process (as shown in the original issue) then that might still be an issue, but if you'd like to avoid this error:
[code]
Then you can download v5.0.3-rc1, which should have a fix: https://github.com/mattermost/desktop/releases/tag/v5.0.3-rc1

[2022-01-15 10:57] gpt14 commented on #1912
Hi @devinbinnie I am running the server off of the latest pull from the master branch and running `make run-server`

[2022-01-16 16:47] jarek-jpa opened #1952 "linux (debian) desktop - Add server fails"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2022-01-17 15:15] devinbinnie commented on #1952
@jarek-jpa This bug should be fixed in v5.0.3, you can grab an RC version from the Releases page.

[2022-01-17 15:17] devinbinnie commented on #1912
@gpt14 Can you show me how you have the community server configured in the Desktop App?

[2022-01-17 15:30] imcitius commented on #1271
Observed this when MM servers is configured as http://, but GitLab login screen is accessed by http`S`://.

[2022-01-17 16:45] jarek-jpa commented on #1952
hi @devinbinnie - thanks for reaching out, I've just tried both .deb and .tar.gz of 5.0.3-rc1 and it still doesn't work. NB. the version displayed in ... -> Help -> still says Version 5.0.2

is there some workaround maybe for this? like editing some config file (since it's a one-time operation normally)

[2022-01-17 16:49] devinbinnie commented on #1952
@jarek-jpa Sounds like you downloaded the wrong version, the version number should Version 5.0.3-rc1.
You can get it here: https://github.com/mattermost/desktop/releases/tag/v5.0.3-rc1

[2022-01-17 18:56] jarek-jpa commented on #1952
@devinbinnie I've double checked it. the sha256sum says "aabd7aa82de36aeff39e1928d56ae37695bffed4394e800d079d0b1af9c1d117" - so it matches the 5.0.3-rc1. however, as described, the behaviour is the same and the Help -> Version says it's 5.0.2

can you verify it on your side?

[2022-01-17 19:34] leoniscsem opened #1954 "How to configure multilingual spellcheck?"
Since my system setting is German the desktop app automatically sets the spellcheck to German, but most of my conversations in Mattermost are English. When using Firefox or Chromium, I can configure the browser to do spellcheck in either English or German. I don't know where to look for (under the hood) to get to advanced settings or similar, so I could enable English spellchecking. Right now usin

[2022-01-17 20:01] esethna commented on #1954
Hey @leoniscsem. You can go to settings (...) on Windows or Preferences on Mac to add or change spell check languages:

![image](https://user-images.githubusercontent.com/14333569/149830785-c2480a69-d6c6-47b5-8055-5b887915e714.png)

[2022-01-17 21:28] leoniscsem commented on #1954
Unfortunately I can't see this fields on Ubuntu 20.04 in the latest snap install.
![Bildschirmfoto von 2022-01-18 05-27-27](https://user-images.githubusercontent.com/6514726/149838803-3370866a-825f-4806-9835-00e8b1fafcdf.png)

[2022-01-18 11:04] Willyfrog commented on #1954
Which version are you running? I know snap sometimes lags behind in versions, and the original 5.0 didn't allow to use different languages.

If you can't install a newer version, you could probably fiddle with the locales for starting mattermost so it uses that particular language instead.

[2022-01-18 14:28] devinbinnie commented on #1952
@jarek-jpa Yes, I can verify that downloading from the above link gives me version 5.0.3-rc1:
![image](https://user-images.githubusercontent.com/52460000/149956215-de2135f0-7263-4f70-b98a-3bc8d5b27570.png)

And the Add Server modal opens correctly on my instance:
![image](https://user-images.githubusercontent.com/52460000/149956354-3a38bbc4-2535-402e-9f30-1e0fd5c5dfd6.png)

[2022-01-18 14:34] devinbinnie commented on #1812
This has already been solved, you going to the Settings page and manually change the icon colour from Light to Dark (or vice-versa) if the icon contrasts with the menu bar.

Closing.

[2022-01-18 14:34] #1812 closed

[2022-01-18 14:43] jarek-jpa commented on #1952
@devinbinnie ok, good to hear it works for you. any ideas what might get wrong here?

![mattermost-desktop-5 0 3-bug](https://user-images.githubusercontent.com/28875393/149958563-f51f6105-14d8-4210-b466-b0ba6ac4cca6.png)

[2022-01-18 14:44] devinbinnie commented on #1952
@jarek-jpa Not sure really, maybe try downloading again?

[2022-01-18 14:50] devinbinnie commented on #1952
@jarek-jpa Also make sure that you fully quit the original app before launching the new one (use File > Quit)

[2022-01-18 14:55] jarek-jpa commented on #1952
@devinbinnie ok, that was it! I have quit the application, but `ps` showed quite a few mattermost processes in background. now it works, thanks!

[2022-01-18 14:56] devinbinnie commented on #1952
Great! Closing the issue.

[2022-01-18 14:56] #1952 closed

[2022-01-18 15:54] devinbinnie commented on #1954
@leoniscsem You can manually installed v5.0.2 from [here](https://github.com/mattermost/desktop/releases/tag/v5.0.2) using the `.deb` package if you'd like, it will provide the feature mentioned above.

[2022-01-18 17:57] #1907 closed

[2022-01-18 20:53] leoniscsem commented on #1954
Great to hear its on the roadmap anyway, I totally didn't check in with the Ubuntu snap store and just realised the 5.0.2 release is also there, just in the edge channel. Thanks a bunch for the help!

[2022-01-20 12:22] scsynergy opened #1958 "Mattermost-Desktop 5.0.2 on Debian Linux - Network service crashed, restarting service."
#### Summary
Mattermost-Desktop 5.0.2 will not start as root with flag "--no-sandbox" on Debian 11 bullseye

#### Steps to reproduce
1. Download and extract mattermost-desktop-5.0.2-linux-x64.tar.gz file
2. cd mattermost-desktop-5.0.2-linux-x64
3. ./mattermost-desktop --no-sandbox

#### Expected behavior
Mattermost-Desktop should open a window and display the chat as Mattermost-Desktop version 4.6

[2022-01-20 14:51] #1916 closed

[2022-01-20 15:08] dreua commented on #1067
Same thing on the Webapp, both Firefox and Chromium. Not sure where to report that.

[2022-01-21 07:39] scsynergy commented on #1958
Nope, that did not change anything - the same error occurs.

[2022-01-21 08:22] Profesor08 opened #1960 "Shift+Alt moves focus to top menu"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2022-01-21 13:45] codedsun commented on #1894
@devinbinnie As for using the settings we follow this shortcut
[code]
Now how do I know that to enter sign in to another server what to follow? I am on MacOS so these don't work for me. What should I do?

[2022-01-21 14:41] devinbinnie commented on #1958
Odd. Does the app work correctly if you login as another non-root user?

[2022-01-21 15:14] devinbinnie commented on #1960
Thanks @Profesor08, created a ticket here: https://mattermost.atlassian.net/browse/MM-41203

[2022-01-22 05:18] shadowshot-x commented on #1917
I would like to take this up.

[2022-01-22 17:00] shadowshot-x commented on #1917
I went through the code. I think there is a test already written for this. Isn't https://github.com/mattermost/desktop/blob/c43dfe6002ab56056ffc324d6339bf0ec58fdff6/e2e/specs/menu_bar/window_menu.test.js#L61 solving the exact same issue? I can see it is changing the tabs using keyboard shortcut and checking if the view has been change. @devinbinnie, am I right? Please do let me know if this is not

[2022-01-22 17:22] shadowshot-x commented on #1917
I am very sorry. Just understood. A server can have multiple tabs like `channels`, `playbook`, `focalboard` etc. Here we are talking about switching tabs and not server. But why do we need 3 active servers for this @devinbinnie?

[2022-01-22 19:14] Profesor08 opened #1961 "Expected linebreaks to be 'LF' but found 'CRLF'"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2022-01-23 08:59] codedsun commented on #1894
@devinbinnie On Linux, I am not able to open the menu when i click `alt`

<img width="1512" alt="image" src="https://user-images.githubusercontent.com/20026440/150671493-7ef05518-79c3-4fb5-9426-d0727efa4528.png">

[2022-01-23 12:12] shadowshot-x commented on #1904
I can take this on

[2022-01-23 13:28] codedsun commented on #1892
Working on this

[2022-01-23 17:40] codedsun commented on #1891
Working on this issue.

[2022-01-24 10:15] scsynergy commented on #1958
Yes, with a non-root user and without "--no-sandbox" it works. If I specify "--no-sandbox" with the non-root user the error occurs again.

[2022-01-24 10:27] daniellatsch opened #1967 "Tabs fail to load: "Error: ERR_ABORTED (-3) loading Tabs but retrying""
I confirm (by marking "x" in the [ ] below: [x]):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2022-01-24 14:26] devinbinnie commented on #1961
You need to set `core.autocrlf` to `false` when cloning, so that it will preserve the Unix-style line endings:
`git config --global core.autocrlf false`

[2022-01-24 14:37] devinbinnie commented on #1917
@shadowshot-x I'm not sure if it's absolutely necessary to have 3 servers, but having other servers configured adds potential points of failure, so it's helpful to make sure the functionality still works correctly when you have other servers.

[2022-01-24 14:43] devinbinnie commented on #1894
@codedsun On Linux, `alt` should be working correctly. It looks like the app didn't load correctly in your above screenshot. There should be a 3-dot menu. Sometimes that happens, if you reload the app it should work correctly.

[2022-01-24 14:57] Profesor08 commented on #1961
So, git itself replace line ending depending by system, that breaks linter tests. Thanks.

[2022-01-24 14:57] #1961 closed

[2022-01-24 15:00] devinbinnie commented on #1954
The latest version of Mattermost Desktop should be hitting Snap soon, we updated it here back in November: https://github.com/snapcrafters/mattermost-desktop

Closing this as will be fixed.

[2022-01-24 15:00] #1954 closed

[2022-01-24 15:29] devinbinnie commented on #1958
Seems like something odd is going on, I'm unable to reproduce your error but I get a different one on Kubuntu 20.04:
[code]

Created a ticket: https://mattermost.atlassian.net/browse/MM-41240

[2022-01-25 04:17] harika551 commented on #623
I would like to solve the issue

[2022-01-25 12:15] hlesesne commented on #634
I’m fairly certain you can open additional tabs (chrome or chromium) and I bet you could pin that with mattermost web client.

[2022-01-25 13:03] hlesesne commented on #634
I was able to do it using the Open In New Tab plugin, but I haven't figured out how to pin it.

[2022-01-25 15:02] #1891 closed

[2022-01-26 08:03] shadowshot-x commented on #1915
Wont we need to install the jira plugin for this?

[2022-01-26 08:17] shadowshot-x commented on #1908
I can take this up.

[2022-01-26 08:30] shadowshot-x commented on #1905
I would like to take this up. Just a short query @devinbinnie. Is this the spellchecker languages text box in settings (At the bottom of the image the last button)?
<img width="850" alt="Screenshot 2022-01-26 at 1 59 21 PM" src="https://user-images.githubusercontent.com/43992469/151128913-f3f2616f-16bf-4310-91df-3ae0f9924261.png">

[2022-01-26 09:26] maxmukhin88 commented on #520
I'm having this issue in Windows Desktop client 5.0.0-5.0.1 - very annoying.
Extra info: my Xiaomi laptop is heavy loaded in terms of CPU and RAM. Could it be that the client freezes similar to Chrome tabs and then can't properly reload upon opening the app?

[2022-01-26 10:50] bomas13 opened #1970 "Menubar Icon is bad visible on bright backgrounds on Mac OS"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2022-01-26 14:05] devinbinnie commented on #1905
@shadowshot-x You'll want to use the Settings window provided by the Desktop App, so if you go to 3-dot menu > File > Settings (or top menu > Mattermost > Preferences on Mac) you'll see where the spellchecker box is.

The test here is to validate that keyboard shortcuts like Cut/Copy/Paste are working correctly in that window.

[2022-01-26 14:09] devinbinnie commented on #1970
@bomas We'll be adding this feature into v5.1, but I guess it makes sense to turn on for macOS as well. I'll make a change.

[2022-01-26 14:14] bomas13 commented on #1970
Ah. On 5.0 it's already black... 👍

[2022-01-26 14:27] devinbinnie commented on #1970
@bomas13 Yeah, so apparently macOS works differently and doesn't allow us to override it. It does seem to work correctly in v5.0 so I think we can close this. Thanks for bringing this up :)

[2022-01-26 14:27] #1970 closed

[2022-01-26 15:41] devinbinnie commented on #1958
I've done some research and this appears to be an issue with Chromium, not just Electron: https://bbs.archlinux.org/viewtopic.php?id=268123

[2022-01-26 16:59] shadowshot-x commented on #1905
Oh Okay. Found it on Mac, I guess I will have to write separate tests using `if-else` for darwin and other processes. I will take this up.

[2022-01-27 12:14] codedsun commented on #1894
Working on this

[2022-01-27 12:49] srkgupta commented on #1903
I will grab this one

[2022-01-27 14:26] #1892 closed

[2022-01-27 15:15] codedsun commented on #1899
Working on this

[2022-01-27 17:59] francislavoie opened #1974 "Notification sounds trigger twice at the same time"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2022-01-28 14:47] #1894 closed

[2022-01-28 18:10] codedsun commented on #1900
Working on this

[2022-01-28 20:01] #1896 closed

[2022-01-29 12:19] codedsun commented on #1897
Working on it

[2022-01-29 14:52] codedsun commented on #1898
Working on this

[2022-01-30 09:59] chris-nee commented on #1902
Hi @devinbinnie , may i check if this issue has been taken ? If not, I would like to give this issue a try :D

[2022-01-30 10:38] M-ZubairAhmed commented on #1902
@chris-nee issue is assigned to you. Looking forward to your pr :D

[2022-01-30 10:40] M-ZubairAhmed commented on #1895
Will try this one out

[2022-01-30 10:50] M-ZubairAhmed commented on #1907
@codedsun

[2022-01-30 10:53] codedsun commented on #1893
Work on it

[2022-01-30 10:56] codedsun commented on #1907
Worked on this

[2022-01-30 11:16] codedsun commented on #1901
Working on this

[2022-01-31 01:20] codedsun commented on #1906
Working on this

[2022-01-31 10:04] gohyinhao commented on #1914
I would like to give this a try

[2022-01-31 14:20] #1893 closed

[2022-01-31 14:59] #1911 closed

[2022-01-31 15:40] #1895 closed

[2022-01-31 17:32] #1899 closed

[2022-01-31 20:04] #1917 closed

[2022-01-31 22:34] #1903 closed

[2022-02-01 08:49] mreymann opened #1984 "/code command prefixes code with whitespace"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2022-02-01 13:27] Grienauer opened #1985 "Simpler switch for spaces and better visibility of space notifications"
As a user with multiple servers/spaces connected, you do not see notification indicators directly per server.
They are hidden in a dropdown: Screenshot https://i.ibb.co/wcD1MBZ/Bildschirmfoto-2022-02-01-um-14-03-09.png
Also a user needs to click twice if he/she has multiple servers connected.

e.g. in Slack there is a small sidebar, on the far left, to give users a quick overview of their "servers

[2022-02-01 14:23] devinbinnie commented on #1984
This is a webapp issue, transferring to server repo.

[2022-02-01 23:09] pearj commented on #1851
Hi @devinbinnie,

So I've had the inspector attached for a few weeks, and it turns out that whenever it freezes I switch to the inspector and that fixes it. Which is pretty annoying, because it means I can't start the CPU profiler when it is frozen. I suppose I could leave profiling running for a few hours and catch it that way maybe.

To me it seems like the issue is related to repainting somehow

[2022-02-01 23:55] rpkoller opened #1986 "Unable to login to the very first server the first time in the desktop app while being already logged in via a safari browser window"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2022-02-01 23:58] amyblais commented on #1986
You should be able to log in when you click on the “X” to dismiss the “Your session has expired…” message. We are also currently in progress of fixing this bug for v5.0.3.

[2022-02-02 00:07] rpkoller commented on #1986
hmmm the x i haven't noticed. my attention was drawn to the macos notifications. therefor i havent noticed unfortunately. but good that it is an already known issue and being fixed in the next version. thanks! but unfortunately i am unable to reproduce now since closing the browser window already enabled me to login. so the issue could be closed i guess? :)

[2022-02-02 08:42] 2019-05-10 commented on #950
Why has this been closed?
Unless the issue is solved for existing installations, it certainly cannot be considered solved.
The MS Windows way ("reinstall everything") is definitely not a solution.

[2022-02-02 11:00] pandel opened #1987 "Question regarding milestone of https://github.com/mattermost/desktop/pull/1933"
Hi!

@amyblais marked the mentioned PR for milestone 5.1.0, but does that really mean we have to wait 5.0.2...5.1.0 until this will find its way into an official client? I have about 400 colleagues going totally mad about this problem after the last upgrade (because of our corporate Windows theme) and they'd love to see this showing up as soon as possible in an upcoming version.

Is there any reas

[2022-02-02 14:39] devinbinnie commented on #1987
@pandel Yes, the plan is to release this in version v5.1, which should be out in the coming months.

However, if you would like to use the fix now you can find nightly builds of our Desktop App (which will contain the fix) [here](https://community.mattermost.com/core/channels/desktop-builds). Please note however that these builds are not considered stable and are currently unsupported.

[2022-02-02 14:42] JtheBAB commented on #1987
I guess the main question is more why is that fix not included in 5.0.3? Also don’t see the point.

[2022-02-02 14:48] devinbinnie commented on #1986
Closing this issue as per @rpkoller's comment. Let us know if it pops up again :)

[2022-02-02 14:48] #1986 closed

[2022-02-02 14:51] devinbinnie commented on #1987
At the time we didn't think it was mission critical, sorry for the inconvenience. Unfortunately v5.0.3 final was cut yesterday so I'm unable to add it at this point.

[2022-02-02 14:53] JtheBAB commented on #1987
I am general in favor to add all available bigfixes into the next release. Why wait?

[2022-02-02 15:02] devinbinnie commented on #1851
@pearj Thanks for investigating :)

I'm wondering if at this point the issue is related to Chromium/Electron, as we don't fully control the rendering here. I would definitely try seeing if you can run the profiler for a long period and see if that reveals anything, otherwise it's possible that it could be fixed with an Electron upgrade? When I last checked I hadn't noticed any issues posted with t

[2022-02-02 15:09] devinbinnie commented on #950
This issue is not closed, we are awaiting investigation. @marcoesposito1988 Did you ever end up finding anything with your investigation?

[2022-02-02 15:16] amyblais commented on #1987
Normally we include regression fixes and high severity fixes to dot releases. We didn't realize this was critical, but we can take this into consideration if 5.0.4 gets scheduled.

[2022-02-02 15:30] pandel commented on #1987
@amyblais Many thanks for your clarification. I must admit that a visible taskbar icon is absolutely mission critical! I had over 100(!) phone calls only in the first two hours after upgrading Mattermost to 5.0.2 because of the missing icon! Our task bar is nearly black (corporate decision) and so the icon is invisible atm. People open and close Mattermost via this icon and we use minimize to task

[2022-02-02 21:02] #1906 closed

[2022-02-02 21:02] #1900 closed

[2022-02-02 22:26] devinbinnie commented on #1974
Thanks @francislavoie, created a ticket here: https://mattermost.atlassian.net/browse/MM-41544

[2022-02-02 22:55] francislavoie commented on #1974
regarding the labels, this is a Linux issue, not Windows

[2022-02-03 08:55] FiV0 opened #1989 "Unable to remove autostart for mattermost-desktop"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2022-02-03 09:54] mickmister commented on #1915
I'd like to work on this

[2022-02-03 11:04] shadowshot-x commented on #1915
Go Ahead

[2022-02-03 11:09] 2019-05-10 commented on #950
Uh, I apologize.
I got confused by the "Closed" label on the reference to #1937

[2022-02-03 14:16] shivadharmi commented on #1908
Hi @devinbinnie I would like to work on this.

[2022-02-03 19:30] phreaker0 opened #1992 "Desktop Toast notifications don't work in 5.0.3"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2022-02-03 20:57] jgilliam17 commented on #1992
@amyblais I can repro on 5.0.3.
Not reproducing on 5.0.2 and daily builds (master)
Ticket created: https://mattermost.atlassian.net/browse/MM-41567

[2022-02-03 21:48] amyblais commented on #1992
@devinbinnie We can plan a dot release for this and the other issue discussed yesterday https://github.com/mattermost/desktop/issues/1987.

@jgilliam17 Let me know if release tests can be added for this case (toast notifications).

[2022-02-04 04:14] babono commented on #1992
i'm having this issue as well, even there is no mattermost item on the system setting -> notification (mac os catalina) v.5.0.3

[2022-02-04 10:44] teger opened #1994 "Problem with notifications on mac client Desktop"
Hi,

I upgraded my mattermost server on 6.3.1 LTS version and my client mac to 5.02.
I have a problem with notifications and user's status.

Mattermost Desktop pass in offline when i change apps. And i have no notifications for Mattermost !!!!
And i click on Mattermost desktop app, the notifcations appears !!
It's a big problem beacause i don't see the urgent message

I test the mattermost desktop

[2022-02-04 11:45] pandel commented on #1987
@amyblais
FYI, I recompiled 5.0.3 from source with added #1933 . It works now :-) - hopefully you decide to integrate this patch before 5.1.0, so we don't have to recompile again for every new version.

[2022-02-04 13:35] amyblais commented on #1987
@pandel We're planning to fix this in v5.0.4 along with another fix. v5.0.4-rc1 will be cut soon.

[2022-02-04 14:06] devinbinnie commented on #1994
@teger I'm not sure I fully understand the issue. Are you saying you don't get notifications on the Desktop App? Do you get them when using the browser?

[2022-02-04 14:46] teger commented on #1994
Mattermost pass offline very fast and after, i don't have the notifications !
When i click on the app, the status come back online and the notifications appers ont the dock icon !

Impossible to control the status offline !

Thanks

[2022-02-04 15:36] daniellatsch commented on #1967
You nailed it.

[2022-02-04 15:37] #1967 closed

[2022-02-04 16:29] pandel commented on #1987
@amyblais WOW! Ok, that is faster than I expected. Many many thanks for taken this so seriously!

[2022-02-04 16:29] #1987 closed

[2022-02-04 16:54] mickmister commented on #1915
@devinbinnie It seems Playwright doesn't have full support of using the clipboard based on these two issues:
https://github.com/microsoft/playwright/issues/2511#issuecomment-641617914
https://github.com/microsoft/playwright/issues/8114

I'm able to get the Jira login dialog to show, but I think we're not able to complete this ticket since copy/paste is not properly supported.

We also have the iss

[2022-02-04 16:55] mickmister commented on #1909
I'd like to work on this one

[2022-02-04 17:13] devinbinnie commented on #1915
@mickmister

We can use RobotJS here to send Ctrl+A, Ctrl+C and Ctrl+V signals using the keyboard to the window that pops up to simulate keyboard events. This is the intent of the ticket, to test if those shortcuts work correctly as there were issues in the past where those events were suppressed.

This might not be that big of an issue, all we need to do for this test is simply have the window po

[2022-02-04 19:02] mickmister commented on #1915
@devinbinnie :+1: Makes sense

Even if we used GitHub or Jira Cloud as the integration, there still needs to be "configuration" on the external integration side before a `/github connect` or `/jira connect` command is available. For instance, you have to create an OAuth application in GitHub, and store the OAuth client id and secret

What's the value/effort tradeoff to this? Can we implement a sim

[2022-02-04 19:17] mickmister commented on #1909
@devinbinnie I'm not sure how to go about testing this given the current e2e test configuration. There are two "servers", one being the `localhost:8065` server, the other pointing to `https://github.com/`. Does there need to be a separate server to set up? Maybe we can add a third "server" in the config, and point it to `127.0.0.1` instead of `localhost`?

[2022-02-04 21:51] amyblais commented on #1992
This is being fixed for v5.0.4, to be released soon.

[2022-02-04 21:51] #1992 closed

[2022-02-07 12:42] devinbinnie commented on #1915
Hmm alright, I'm curious would the demo plugin have a popup window that we could test with? If not, could we add one? The reason is that I still want to test the plugin pop-up flow, and those only fire if the URL is of the form `http://myserver.com/plugins/<whatever>`.

[2022-02-07 12:45] devinbinnie commented on #1909
Hmm, I think we can cheat this one a little bit, and simply have a permalink from `http://github.com` posted on the test Mattermost server. As long as clicking that link opens the github tab and the correct link, that should suffice for the test.

[2022-02-07 14:58] 2019-05-10 opened #1997 "annoying and rather pointless error popup about dubious cert error"
**Summary**
Suddenly I get an error popup about a certificate issue. There are several things wrong with that popup:
a) I cannot copy the error message (to either search for it or send it on to the admin)
b) the message blocks everything -- it keeps appearing on and on and on. It's nearly impossible to even minimize Mattermost, and even after managing that the popup keeps popping up
c)  checking t

[2022-02-07 16:18] devinbinnie commented on #1997
@2019-05-10 Can you provide reproduction steps for us? A screenshot or a video of what you're seeing as well would be helpful :)

[2022-02-07 21:14] variable opened #1998 "5.0.2 Memory leak on OSX?"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [ ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2022-02-07 23:30] teger opened #1999 "No notification on mac"
Hi,

On mac, with application 5.0.3, i have no notifications in noifications center.
Why ?

Thanks

[2022-02-07 23:53] amyblais commented on #1999
@teger We fixed a bug related to this in v5.0.4. Do you see improvements in that version?

[2022-02-08 09:07] infacto commented on #1588
I can confirm. It's weird. Sometimes it randomly opens apps like calc or alarm. Mostly the calculator. Why?
Windows 20H2, Mattermost 4.6.1

[2022-02-08 09:17] infacto commented on #1588
I can confirm. It's weird. Sometimes random apps like Calc or Alarm open when I click X (close to systray). Mostly the calculator. Why? I haven't seen anything like that with other Electron apps. Not sure but I think it mostly happens after system startup. I cannot reproduce by show / hide (click on systray icon and X again). ...
Windows 20H2, Mattermost 4.6.1 - I've updated now to 5.0.4. Since th

[2022-02-08 13:28] Willyfrog commented on #1999
if you are using multiple displays and you are on the latest version of macos, make sure you enable showing notifications when having multiple displays attached.

[2022-02-08 14:31] #1898 closed

[2022-02-08 14:56] devinbinnie commented on #1989
@FiV0 I wasn't able to reproduce using Manjaro and the latest v5.0.4 from that repo. Did you go into Settings and uncheck "Start app on login"?

[2022-02-08 19:08] #1999 closed

[2022-02-09 00:35] pearj commented on #1601
Apparently https://mattermost.atlassian.net/browse/MM-36058 fixed this in 5.0.4, but it's still not fixed for me.

[2022-02-09 08:26] FiV0 commented on #1989
@davinbinnie Ok that did it for me. Still a bit confusing that it overrides the system level options.

[2022-02-09 08:26] #1989 closed

[2022-02-09 14:22] devinbinnie commented on #1601
@pearj What happens if you set it to Dark instead?

[2022-02-09 16:13] devinbinnie commented on #1998
@variable Do you experience similar behaviour running in Chrome? I'm trying to establish whether this is something the Desktop App is doing or if it's the web app.

[2022-02-09 16:14] mreymann commented on #1687
I'm on version 5.0.4 now but the issue remains.
I've enabled "Leave app running in notification area when application window is closed" an restarted the app.
When minimizing the app window, Mattermost still shows up both in the systray AND in the task bar!
The older behaviour was to show ONLY the systray icon when the app window was minimized.

[2022-02-09 17:38] devinbinnie commented on #1687
@mreymann The setting only applies to when you close the window, the `minimizeToTray` naming in the background is a bit misleading, sorry for the confusion.

What the setting does is make sure the app stays open when you close the window, instead of outright closing the entire application.

[2022-02-10 08:31] benj1m4n commented on #579
Hi @all Are there any news on this issue? The file:// protocol still doesn't seem to work.

[2022-02-10 09:26] mreymann commented on #1687
Is there a chance to get the original feature back?

[2022-02-10 12:33] sadohert commented on #1998
@devinbinnie * Recent upgrade from Mattermost Desktop `5.0.3` to `5.0.4`.
* MacBook Pro 16-inch, 16 GB RAM,
* MacOS Monterey/12.1
* See Mattermost Memory usage here:
![image](https://user-images.githubusercontent.com/260544/153408174-f7694c73-92ba-4142-b94d-a176e949f31f.png)
* See Mattermost CPU:
![image](https://user-images.githubusercontent.com/260544/153408324-92bf6cba-693f-4c0f-ac93-45dc494eb5

[2022-02-10 14:14] devinbinnie commented on #1687
@mreymann I don't think we have any plans to do that, sorry for the inconvenience.

[2022-02-10 14:18] Willyfrog commented on #1998
I've noticed this as well, I was waiting a bit more to confirm, but since I upgraded (2 days ago at most) I haven't seen any locks.

[2022-02-10 14:19] devinbinnie commented on #1998
My tests were performed on `master` using the latest version of Electron (v17). I'd be surprised if it didn't happen on v5.0.4.

[2022-02-10 15:10] sadohert commented on #1998
@devinbinnie

Is that usage growing for you?

[2022-02-10 15:35] devinbinnie commented on #1998
@sadohert Yes, Electron is now at 1506M and Chrome is now at 1412M. Both were sitting around 700ish when I signed off yesterday.

[2022-02-10 19:08] variable commented on #1998
Hi sorry for the late reply, I haven't managed to compared with browser, but I have had this issue for a long time even before 5.0.2, saying that my chrome is also having memory issue tho at a much longer timespan.

[2022-02-11 07:20] mileagainst commented on #1994
Same issue here, since the server upgrade clients are going offline randomly. Predominantly Windows Clients, i updated to latest 5.0.4 Version but the problem persists.

[2022-02-11 13:46] biva commented on #1851
Hello, I upgraded to 5.0.4 and the issue is still there. I also upgraded Evernote from the old version (maybe 7?, I'm not sure) to the totally different version 10.30.6, and I'm experiencing similar freezes. It might be a totally different issue, but maybe it helps understand it?

[2022-02-11 16:00] mreymann commented on #1687
That's too bad. The way it is now, the useless Mattermost item in the taskbar just adds to the clutter ... :-(

[2022-02-14 14:22] devinbinnie commented on #1997
@2019-05-10 We do have functionality for explicitly trusting or untrusting certificates. That should make the popup go away after the certificate has been explicitly trusted, so if there's an issue there I'd like to see the workflow with a screenshot, and understand a little more about what you mean. Otherwise there's not much we can do to fix it.

[2022-02-14 15:24] devinbinnie commented on #1851
Thanks @biva! Anything helps really :)

Looks like both issue you mentioned are both fixed in Electron v14 already, so I don't think that's the case. And for the main window, we actually aren't using `nativeWindowOpen: true` anyways, and I believe it's still defaulted to `false` in v14.

Really appreciate the investigation btw, if you have any other suggestions please let us know.

[2022-02-14 15:26] devinbinnie commented on #1994
@teger @mileagainst Does the issue reproduce in the web browser as well?

[2022-02-14 15:27] devinbinnie commented on #1998
Thanks @variable.

At this point, I think it's safe to say that this is a webapp issue, so I'm going to transfer the issue over.

[2022-02-14 18:23] ndgayan opened #2002 "Auto reconnect to Mattermost server after the VPN Connection established."
I set up the Mattermost client desktop application to start with windows and connect to our Mattermost server. Our Mattermost server can access through the VPN, and I need to manually log in to the VPN server after restarting my PC. Mattermost client desktop applications never retry to connect to the server after establishing the VPN connection (I set the Client app to start with Windows). I need

[2022-02-14 18:36] devinbinnie commented on #2002
Thanks for the suggestion @ndgayan! I like this idea, seems like a good QoL improvement. I'll have to investigate to make sure it's possible and we'll see if we can implement it at some point in the future.

[2022-02-14 18:56] ndgayan commented on #2002
Thank you for the quick reply. I appreciate It, and kudos to you guys and this fantastic project.

[2022-02-15 07:29] 2019-05-10 commented on #1997
The message told me the certificate was invalid without _any_ reason at all, "Details" gave a very short and pointless message and the choice to "Trust" or "Cancel".
At no point I was able to see the certificate in question, let alone get _any_ information at all, what made MM distrust the certificate.
How am I supposed to trust blindly a certificate MM chokes on?

If MM has reason to distrust a c

[2022-02-15 18:20] bbodenmiller commented on #2002
By the way this used to happen before the 5.0 desktop update so I think this is actually a bug.

[2022-02-16 08:19] iwittkau commented on #1862
Not sure if this is related, but I have a list of applications I start everyday via Shortcuts for macOS. Mattermost crashed every single time and will not start after it crashed once.

I have to delete these three files to make the App start again:

[code]

I'm using `Version 5.0.3 (5.0.3.17017)` on macOS `12.2 (21D49)` on a M1 Pro MacBook.

[2022-02-16 14:34] devinbinnie commented on #1997
@2019-05-10 Thanks for the feedback. Based on what I'm reading, it sounds like we have 2 issues to look at:
1) The message about why the certificate is untrusted is unclear.
2) The user should be able to view the certificate in question.

Is there anything else I'm missing?

[2022-02-16 15:48] maxmukhin88 commented on #1851
happens all the time. i've noticed it's likelier when CPU/RAM usage on my PC is high. i had to switch to browser window due to this annoying bug. TS, thanks for posting this

[2022-02-16 22:43] ekimd commented on #1827
Just want to +1 on this.
I tried looking through the Electron issues but couldn't find anything related to this.  We should probably raise an issue if there isn't one already there, but someone else may want to have a look just in case I'm mistaken.

[2022-02-18 08:54] batonPiotr opened #2006 "Crash on app launch"
#### Summary
Crash directly upon opening the app

#### Steps to reproduce
1. Open the app, v 5.0.4
2. App crashes

Observed on macOS 12.1 on intel CPU

#### Expected behavior
The app runs

#### Observed behavior (that appears unintentional)
The app crashes without even drawing the GUI

#### Possible fixes
Found none, temporarily using web mattermost.

[Crashlog](https://github.com/mattermost/matte

[2022-02-18 14:37] devinbinnie commented on #2006
@batonPiotr Is this consistently reproducible for you?

[2022-02-18 14:46] batonPiotr commented on #2006
@devinbinnie yes, I deleted and reinstalled the app multiple times with no success.

[2022-02-19 09:41] pearj commented on #1601
Oh, that's embarrassing. I was thinking the icon is too dark so I want it lighter. As opposed to my toolbar being in dark mode so I need the icon in dark mode.

So yes, it works fine now that I have the right mode.

[2022-02-20 21:18] biva commented on #1851
Hello! I don't know which other apps might use Electron on my PC, but maybe Evernote? WhatsApp? How can I know which apps are using it?

Anyway, I removed Evernote and I don't use WhatsApp on the PC anymore, I'll see if it has an impact. If anybody knows other app, or can do similar test, maybe it can help understanding the source of the issue?

[2022-02-21 04:29] mickmister commented on #1915
Yes we can add a popup to https://github.com/mattermost/mattermost-plugin-test to use here, which is usually used for automated tests like this.

[2022-02-21 08:51] infacto commented on #1588
Just happened: I closed Mattermost window (sent to systray) and the Windows settings overview window opened. (v.5.0.4) Why?

[2022-02-21 09:40] batonPiotr commented on #2006
@devinbinnie I have more information: it happens, when I start mattermost through shortcuts. It's a macOS app where you can automatise some actions. If I try to open mattermost through it, it will crash. To fix it, I have to restart the system and then launch the app (through finder).

[2022-02-21 15:11] teger commented on #1994
Hi,

yes in the browser, all is OK !
The problem is only on the desktop app (in my case, on mac !)

Thanks

[2022-02-22 04:15] smilekison opened #2007 "Unable to import client certificate on Mattermost-Desktop"
Hello everyone, I have installed the Mattermost-Desktop application from snap store on Ubuntu 20.04. I have a site which requires me to import a certificate so that i can access it. The Mattermost-Desktop app on windows is working fine and it prompts a certificate popup box for choosing certificate but Ubuntu Mattermost-Desktop is not prompting me to such pop up. It directly redirects me to unauth

[2022-02-22 14:19] devinbinnie commented on #2007
@smilekison Have you tried with the latest v5.0.4 directly from the Mattermost website? Also I think the latest version on snap should be v5.0.2 (if you'd prefer to try that)

[2022-02-22 15:25] biva commented on #1851
Hello, a few more research:
1. https://stackoverflow.com/questions/56083523/electron-js-app-freezes-after-an-hour-unused

`app.disableHardwareAcceleration();`
by adding above code in the background process file the app runs and work very fast
2. Try to launch with `C:\Users\Bob\AppData\Local\Programs\mattermost-desktop\mattermost.exe --disable-gpu`

[2022-02-22 17:24] devinbinnie commented on #1994
Thanks @teger, created a ticket to investigate: https://mattermost.atlassian.net/browse/MM-42016

[2022-02-22 20:53] 2019-05-10 commented on #1997
Uhm, I think, I alreday enumerated twice what other issues are there.
Please, see the initial issue and my first answer.

[2022-02-23 14:09] #1914 closed

[2022-02-23 14:38] ekimd commented on #1827
@devinbinnie Would you be able to open a ticket with Electron regarding this?  I'm sure you'd be able to provide a lot better detail than if I try to open a ticket with them.  Thank you!

[2022-02-23 14:53] tschlue commented on #1851
Hi,

this works on my side. No freeze today with this way to start.

Thanks for working this out.

[2022-02-23 14:54] Georg311 commented on #1851
This fixes the stutters for me as well

[2022-02-23 23:20] devinbinnie commented on #1974
Fixed by https://github.com/mattermost/mattermost-webapp/pull/9778

[2022-02-23 23:20] #1974 closed

[2022-02-23 23:22] devinbinnie commented on #2007
@smilekison Which version of the Mattermost Desktop App are you using? Your initial post says v4.7, but we are currently on v5.0.4 and have made many improvements. If you upgrade it's possible that your issue has already been resolved.

If not, i'll be happy to look into it for you :)

[2022-02-23 23:25] devinbinnie commented on #1997
A ticket has been created: https://mattermost.atlassian.net/browse/MM-42066

[2022-02-23 23:26] devinbinnie commented on #2002
Created a ticket here: https://mattermost.atlassian.net/browse/MM-42065

[2022-02-23 23:27] devinbinnie commented on #2006
Created a ticket to investigate: https://mattermost.atlassian.net/browse/MM-42067

[2022-02-24 04:07] smilekison commented on #2007
@devinbinnie.. While posting the question, i installed v4.7.0 from snapstore and after you provided your insights, I tried it installing the v5.0.2 version from snapstore. To import the client certificate i followed the correct steps of the following QA.

https://askubuntu.com/questions/73287/how-do-i-install-a-root-certificate

[2022-02-24 14:51] #1902 closed

[2022-02-24 21:01] devinbinnie commented on #2006
@batonPiotr Did some investigation and was able to reproduce. The app seems to be crashing while calling `app.requestSingleInstanceLock()`, without any logs being reported (and isn't catchable), so it must have been a bug in Electron or Node.

This seems to be resolved in v17.0.1, so we will resolve this issue when we do our Electron upgrade for v5.1

[2022-02-24 21:21] batonPiotr commented on #2006
@devinbinnie Interesting, thanks for taking care of it. Is there any ETA on the upgrade of Electron?

[2022-02-24 21:24] devinbinnie commented on #2006
It will happen for v5.1, which is the next version planned, but doesn't currently have a release date.

In the meantime, I would suggest avoiding Shortcuts for now and just launching the app from the Finder or from the Dock. It may have issues after trying to launch from Shortcuts, so just restart the machine and it should work correctly from there.